{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
<!-- page.spinner -->
<aside aria-labelledby="page-spinner" aria-hidden="true">
  {{ componentSpinner({
    "text": "Espera por favor, la página se está cargando",
    "classes": "hidden fixed inset-0 z-50 h-screen text-6xl text-neutral-base",
    "attributes": {
      "id": "page-spinner"
    }
  })  }} {# aria-hidden and .hidden must dissapear when showing the spinner in page #}{# When new content is loaded, the text must change to "Se ha cargado la página _título de la página_"... #}
  {# Habría que validar una vez que se carga el contenido: qué anuncia el lector (si se ha previsto algún mensaje de "página cargada") y qué elemento coge el foco (puesto que se está cargando la página entera, lo esperable sería el primer elemento, esto es, el botón Ir al contenido principal). #}
</aside>
<!-- /page.spinner -->