{% include "pages/_page.head-blank.njk" %}

<!-- template.blank -->
<body>
  <main id="content">
    <!-- contentBlock -->
    {% block contentBlock %}

    {% endblock %}
    <!-- /contentBlock -->
  </main>
  
{% include "pages/_page.foot.njk" %}
