{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "/",
       "subnav": {
        "text": "MiA"
      },
      "dropdown": {
        "text": "Hola, Tomás",
        "contentHtml": '<div class="p-base">
                          <dl>
                            <dt class="text-base font-bold">Tomás Pérez Palacios</dt>
                            <dd class="text-sm text-neutral-dark">234556789N</dd>
                          </dl>
                        </div>
                        <nav class="text-sm" id="id-dropdown-nav" aria-label="Menú de usuario">
                          <ul>
                            <li>
                              <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="header-dropdown-nav-item">
                                Ver perfil
                              </a>
                            </li>
                            <li>
                              <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="header-dropdown-nav-item-2">
                                Cerrar sesión
                              </a>
                            </li>
                          </ul>
                        </nav>',
        "classesTooltip": "w-64 max-h-48 overflow-y-auto"
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base pb-0 text-base font-bold">Usuario/a: Tomás Pérez Palacios</h3>
        <p class="p-base pt-0 text-sm text-neutral-dark">234556789N</p>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Ver perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
