{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

{% set menuHeader %}
<div class="flex flex-wrap flex-1 gap-base">  
  <!-- menu-navigation -->
  <nav class="hidden lg:block w-full" aria-label="Navegación principal">  
    <ul data-module="c-menu-navigation" class="ml-sm flex flex-wrap">    
      <li class="relative">        
        <a id="header-custom-nav-item-0" href="#" class="c-menu-navigation__button c-menu-navigation__button--header">          
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none font-bold">Inicio</span>        
        </a>    
      </li>    
      <li class="relative">
        <a id="header-custom-nav-item-1" href="#" class="c-menu-navigation__button c-menu-navigation__button--header">          
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none">Notificaciones</span>
        </a>
      </li>
      <li class="relative">
        <a id="header-custom-nav-item-2" href="#" class="c-menu-navigation__button c-menu-navigation__button--header">          
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none">Trámites</span>
        </a>
      </li>
      <li class="relative">
        <a id="header-custom-nav-item-3" href="#" class="c-menu-navigation__button c-menu-navigation__button--header">          
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none">Citas previas</span>
        </a>
      </li>
      <li class="relative">        
        <button aria-expanded="true" aria-controls="header-custom-nav-item-4-sub-list" id="header-custom-nav-item-4" class="c-menu-navigation__button c-menu-navigation__button--header">
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none">Más</span>            
          <svg class="inline-block -mr-2  align-middle -my-px pointer-events-none" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
        </button>        
        <div class="c-menu-navigation__sub absolute bottom-0 left-0 z-50">          
          <ul id="header-custom-nav-item-4-sub-list" class="c-menu-navigation__tooltip w-max max-w-64 border border-neutral-base shadow-md bg-white text-sm" aria-labelledby="header-custom-nav-item-4">              
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-1">Tarjetas y carnets</a></li>              
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-2">Vehículos y transportes</a></li>              
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-3">Viviendas e inmuebles</a></li> 
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-4">Educación y formación</a></li> 
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-5">Oposiciones</a></li> 
            <li><a href="#" class="flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="sub-header-custom-nav-item-4-6">Deudas y pagos</a></li> 
          </ul>        
        </div>    
      </li> 
    </ul>
  </nav>
  <!-- /menu-navigation -->
</div>
{% endset %}

<!-- template.logged -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "/",
      "mobileTitle": {
        "text": "MiA"
      },
      "subnav": {
        "text": "MiA"
      },
      "customNavigationHtml": menuHeader,
      "dropdown": {
        "text": "Hola, Tomás",
        "contentHtml": '<div class="p-base">
                          <dl>
                            <dt class="text-base font-bold">Tomás Pérez Palacios</dt>
                            <dd class="text-sm text-neutral-dark">234556789N</dd>
                          </dl>
                        </div>
                        <nav class="text-sm" id="id-dropdown-nav" aria-label="Menú de usuario">
                          <ul>
                            <li>
                              <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="header-dropdown-nav-item">
                                Ver perfil
                              </a>
                            </li>
                            <li>
                              <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="header-dropdown-nav-item-2">
                                Cerrar sesión
                              </a>
                            </li>
                          </ul>
                        </nav>',
        "classesTooltip": "w-64 max-h-48 overflow-y-auto"
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">Páginas de MiA</h3>
        <!-- mobile-menu-navigation -->
        <ul class="text-sm" aria-label="Lista de páginas">
          <li>
            <span class="flex items-center px-base py-sm font-semibold" aria-current="page" id="nav-mobile-pages-0">Inicio</span>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-1">Notificaciones</a>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-2">Trámites</a>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-3">Citas previas</a>
          </li>
          <li>
            <span class="flex items-center px-base py-sm" id="nav-mobile-pages-4">Más:</span>
            <ul class="text-sm ml-base" aria-label="Submenú de Más">
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-1">Tarjetas y carnets</a>
              </li>
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-2">Vehículos y transportes</a>
              </li>
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-3">Viviendas e inmuebles</a>
              </li>
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-4">Educación y formación</a>
              </li>
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-5">Oposiciones</a>
              </li>
              <li>
                <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-4-6">Deudas y pagos</a>
              </li>
            </ul>            
          </li>
          <li class="my-sm border-b border-neutral-base" aria-hidden="true">
            <div class="sr-only">Separador</div>
          </li>
        </ul>        
        <!-- /mobile-menu-navigation -->
        <h3 class="p-base pb-0 text-base font-bold">Usuario/a: Tomás Pérez Palacios</h3>
        <p class="p-base pt-0 text-sm text-neutral-dark">234556789N</p>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Ver perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
