{% set title = "Accesibilidad. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Accesibilidad</h1>
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg">El Gobierno de Aragón se ha comprometido a hacer accesible la herramienta MiA (Mi Aragón), de conformidad con el <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a>.</p>
    <p class="c-paragraph-base lg:c-paragraph-lg">La presente declaración de accesibilidad se aplica al <a href="https://mia.aragon.es/" class="c-link">sitio web MiA</a> bajo el dominio https://mia.aragon.es/ (versión 1.45.0) </p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Situación de cumplimiento</h2>
    <p class="c-paragraph-base">Este sitio web es <strong>parcialmente</strong> conforme con el Real Decreto 1112/2018, de 7 de septiembre, debido a las excepciones y falta de conformidad de los aspectos que se indican a continuación.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Contenido no accesible</h2>
    <p class="c-paragraph-base">Estamos trabajando para que el portal alcance el máximo nivel de accesibilidad, pero algunos contenidos todavía no son plenamente accesibles por las razones que se recogen a continuación.</p>
    <h3 class="c-h3">A. Falta de conformidad con el Real Decreto 1112/2018</h3>
    <ul class="c-ul ml-sm">
      <li>Existe algún contenido no textual que tiene una alternativa que no es adecuada [requisito número 9.1.1.1 Contenido no textual de UNE-EN 301549:2022].</li>
      <li>Existen errores puntuales al aumentar el tamaño de texto de las páginas o al hacer zoom en las mismas [requisitos número 11.7, 9.1.4.4 y 9.1.4.10 de UNE-EN 301549:2022].</li>
      <li>Existen errores de acceso mediante el teclado [requisitos número 9.2.1.1 y 2.4.7 de UNE-EN 301549:2022]</li>
      <li>Existen errores puntuales de mensajes de resultado que no todos los usuarios tendrán tiempo de leer [requisitos número 9.2.2.1 y 9.2.2.2 de UNE-EN 301549:2022]</li>
      <li>El propósito de los enlaces, encabezados o etiquetas del portal puede no ser siempre lo suficientemente descriptivo y consistente para todos los usuarios [requisitos número 9.2.4.4, 9.2.4.6 y 9.3.2.4 de UNE-EN 301549:2022].</li>
      <li>Existen errores asociados a los formularios [requisitos número 9.1.3.5, 9.3.3.1 y 9.3.3.2 de UNE-EN 301549:2022].</li>
      <li>Existen errores en el uso de un etiquetado semántico que refleje la información y las relaciones del contenido, así como el nombre, función y valor de todos los componentes de las páginas [requisitos número 9.1.3.1 y 9.4.1.2 de UNE-EN 301549:2022].</li>
      <li>Existen errores puntuales de procesamiento del código HTML [requisito número 9.4.1.1 Procesamiento de UNE-EN 301549:2022].</li>
      <li>Existe algún mensaje de estado que no es anunciado a los usuarios que acceden con productos de apoyo [requisito número 9.4.1.3 Mensajes de estado de UNE-EN 301549:2022].</li>
    </ul>
    <p class="c-paragraph-base">Actualmente contamos con un equipo de revisión que está subsanando estos errores.</p>
    <p class="c-paragraph-base">Podrían existir archivos ofimáticos publicados después del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.</p>
    <p class="c-paragraph-base">Si algún ciudadano o ciudadana necesita alguno de estos documentos en versión accesible, puede solicitarlo en el email <a href="mailto:portalpublico@aragon.es" class="c-link">portalpublico@aragon.es</a> y se lo enviaremos con la mayor brevedad posible.</p>
    <h3 class="c-h3">B. Carga desproporcionada</h3>
    <p class="c-paragraph-base">No aplica.</p>
    <h3 class="c-h3">C. El contenido no entra dentro del ámbito de la legislación aplicable</h3>
    <p class="c-paragraph-base">Podrían existir archivos ofimáticos en PDF, u otros formatos, publicados antes del 20 de septiembre de 2018, que no cumplan en su totalidad con todos los requisitos de accesibilidad.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Preparación de la presente declaración de accesibilidad</h2>
    <p class="c-paragraph-base">La presente declaración fue preparada el 20 de mayo de 2024 tras una auditoría externa mediante la evaluación manual y automática de las páginas a las que aplica.</p>
    <p class="c-paragraph-base">Última revisión de la declaración: 20/05/2024.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Observaciones y datos de contacto</h2>
    <p class="c-paragraph-base">Puede realizar <strong>comunicaciones</strong> sobre requisitos de accesibilidad (artículo 10.2.a) del Real Decreto 1112/2018, de 7 de septiembre) como, por ejemplo:</p>
    <ul class="c-ul ml-sm">
      <li>Informar sobre cualquier posible <strong>incumplimiento</strong> por parte de este sitio web.</li>
      <li>Transmitir otras <strong>dificultades de acceso</strong> al contenido.</li>
      <li>Formular cualquier otra <strong>consulta o sugerencia de mejora</strong> relativa a la accesibilidad del sitio web.</li>
    </ul>
    <p class="c-paragraph-base">A través de las siguientes vías:</p>
    <ul class="c-ul ml-sm">
      <li>Correo electrónico: <a href="mailto:portalpublico@aragon.es" class="c-link">portalpublico@aragon.es</a>.</li>
      <li><a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón.</li>
      <li>Teléfono: 976 713 728.</li>
    </ul>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Procedimiento de aplicación</h2>
    <p class="c-paragraph-base">Si una vez realizada una solicitud de información accesible o queja, ésta hubiera sido desestimada, no se estuviera de acuerdo con la decisión adoptada, o la respuesta no cumpliera los requisitos contemplados en el artículo 12.5 del Real Decreto 1112/2018, la persona interesada podrá iniciar una reclamación. Igualmente se podrá iniciar una reclamación en el caso de que haya trascurrido el plazo de veinte días hábiles sin haber obtenido respuesta.</p>
    <p class="c-paragraph-base">La reclamación puede ser presentada través del <a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón, así como en el resto de opciones recogidas en la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>
    <p class="c-paragraph-base">Las reclamaciones serán recibidas y tratadas por el Servicio de Información y Documentación Administrativa.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Acciones de mejora de la accesibilidad</h2>
    <p class="c-paragraph-base">El Gobierno de Aragón quiere mejorar la accesibilidad de la Carpeta ciudadana más allá del nivel de exigido por el Real Decreto 1112/2018, por ello se han dado los siguientes pasos:</p>  
    <h3 class="c-h3">1. Selección de estilos visuales</h3>
    <p class="c-paragraph-base">La programación del portal se ha realizado utilizando hojas de estilo (CSS). Si el navegador o dispositivo de navegación no soporta hojas de estilo, la página web sigue siendo legible gracias a su marcación estructural.</p>  
    <h3 class="c-h3">2. Visualización Responsive</h3>
    <p class="c-paragraph-base">El portal ha sido diseñado para su óptima visualización en los dispositivos tablet y móvil.</p>  

</div>
{% endblock %}