{% set title = "Acceso. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1 mb-sm">MiA</h1>
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg">Mi Aragón (MiA) es un espacio digital, seguro y accesible que reúne en solo lugar la relación digital entre el Gobierno de Aragón y la ciudadanía.</p>
    
    <dl class="grid grid-cols-1 lg:grid-cols-3 gap-lg lg:gap-xl">
      <div>
        <dt class="font-bold lg:text-lg flex lg:block lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-9 lg:h-9 lg:mb-xs mr-sm" aria-hidden="true" focusable="false"><path d="M22 1.5H5.5a2 2 0 0 0-2 2V17a2 2 0 0 0 2 2H22a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2Zm-.5 2a.5.5 0 0 1 .5.5v.19a.5.5 0 0 1-.22.42l-7.52 5a.52.52 0 0 1-.55 0l-8-5a.5.5 0 0 1-.23-.42V4A.5.5 0 0 1 6 3.5ZM6 17a.5.5 0 0 1-.5-.5V7.72a.51.51 0 0 1 .26-.44.49.49 0 0 1 .51 0l7.2 4.54A.92.92 0 0 0 14 12a1 1 0 0 0 .55-.17l6.67-4.45a.5.5 0 0 1 .78.42v8.7a.51.51 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"/><path d="M19.5 20.5h-17A.5.5 0 0 1 2 20V6a1 1 0 0 0-2 0v14.5a2 2 0 0 0 2 2h17.5a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"/></svg>
          Notificaciones
        </dt>
        <dd>Consulta y gestiona tus notificaciones y comunicaciones administrativas.</dd>
      </div>
      <div>
        <dt class="font-bold lg:text-lg flex lg:block lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 lg:w-9 lg:h-9 lg:mb-xs mr-sm" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"></path><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"></path></g></svg>
          Trámites
        </dt>
        <dd>Consulta y gestiona tus trámites con la administración.</dd>
      </div>
      <div>
        <dt class="font-bold lg:text-lg flex lg:block lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-9 lg:h-9 lg:mb-xs mr-sm" aria-hidden="true" focusable="false"><path d="M7.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"/><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/></svg>
          Citas previas
        </dt>
        <dd>Coge cita para ir a registro, conseguir tu certificado electrónico y otros.</dd>
      </div>
    </dl>

    <!-- iframe Firma -->
    <hr class="border-t border-neutral-base my-xl">
    <div class="mt-xl">
      <iframe src="acceso-mfe-iframe-content.html" class="w-full"></iframe>
    </div>
    <!-- /iframe Firma -->

    <!-- preguntas frecuentes -->
    <hr class="border-t border-neutral-base my-xl">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es <span aria-label="Clave">Cl@ve</span>?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Cl@ve es una plataforma de verificación de identidades electrónicas para la identificación y autenticación de la ciudadanía. Nos permite identificarnos ante las Administraciones Públicas con plenas garantías de seguridad.</p>
            <p>
              Más información en el <a class="c-link" href="https://clave.gob.es/clave_Home/clave/queEs.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Para acceder con <span aria-label="Clave">Cl@ve</span> necesito estar registrado. ¿Cómo registrarme?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Hay 3 vías para registrarse en <span aria-label="Clave">Cl@ve</span>:
            </p>
            <ul>
              <li>A través de Internet sin certificado electrónico.</li>
              <li>A través de Internet con certificado electrónico o DNIe.</li>
              <li>Presencialmente en una Oficina de Registro.</li>
            </ul>
            <p>
              Lee la explicación completa paso a paso en el <a class="c-link" href="https://clave.gob.es/clave_Home/registro/Como-puedo-registrarme.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo accedo a la aplicación con <span aria-label="Clave">Cl@ve</span>?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              En la primera pantalla podrás elegir tu método de identificación: DNIe o certificado electrónico, <span aria-label="Clave">Cl@ve</span> PIN o <span aria-label="Clave">Cl@ve</span> Permanente. Recuerda que para acceder con <span aria-label="Clave">Cl@ve</span> necesitas estar <a class="c-link" href="https://clave.gob.es/clave_Home/registro/Como-puedo-registrarme.html">registrado</a>, y que <span aria-label="Clave">Cl@ve</span> PIN sólo permite identificarse, no firmar electrónicamente.
            </p>
            <p>
              Una vez seleccionado tu método de identificación, deberás:
            </p>
            <ul>
              <li>Si usas DNIe o certificado, pulsa en Acceder, selecciona tu certificado y accede a la aplicación.</li>
              <li>Si usas <span aria-label="Clave">Cl@ve</span> PIN, pulsa en Acceder, introduce el DNI o NIE y selecciona la opción para generar el PIN.</li>
              <li>Si usas <span aria-label="Clave">Cl@ve</span> Permanente, deberás introducir tu usuario y contraseña para acceder a la aplicación.</li>
            </ul>
            <p>
              Si la identificación ha sido correcta, entrarás en la aplicación. Si la identificación no es válida, deberás salir y comenzar de nuevo.
            </p>
            <p>
              El vídeo <a class="c-link" href="https://youtu.be/Cz0y75Bg-sE?t=46">Ciudadanos: métodos de identificación y firma para trámites electrónicos</a> te muestra los métodos más utilizados para acceder con <span aria-label="Clave">Cl@ve</span>: DNI electrónico o certificado electrónico y con <span aria-label="Clave">Cl@ve</span> permanente.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Ambas opciones permiten certificado electrónico ¿Qué opción he de elegir?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              La opción recomendada es <span aria-label="Clave">Cl@ve</span>. El sistema unificado <span aria-label="Clave">Cl@ve</span> permite el acceso con certificado electrónico y es el método de acceso estándar. En caso de que el sistema <span aria-label="Clave">Cl@ve</span> no esté disponible, ofrecemos un segundo método alternativo <em>"Con certificado electrónico"</em> para acceder sin necesidad de usar el sistema <span aria-label="Clave">Cl@ve</span>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo saber qué certificado tengo instalado?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Encontrarás una explicación breve y clara en el vídeo <a class="c-link" href="https://youtu.be/FAzV53Actlw">Ciudadanos: cómo saber qué certificado tengo instalado</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo obtener <span aria-label="Clave">Cl@ve</span> permanente?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Encontrarás una explicación breve y clara en los vídeos: <a class="c-link" href="https://youtu.be/PmNKu3hZ8S8">Ciudadanos: cómo obtener <span aria-label="Clave">Cl@ve</span> permanente. Parte 1</a> y  <a class="c-link" href="https://youtu.be/gdPM7RsRSM4">Ciudadanos: cómo obtener <span aria-label="Clave">Cl@ve</span> permanente. Parte 2</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Soy ciudadano/a y no puedo acceder. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Trabajo para el Gobierno de Aragón y no puedo acceder. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número interno de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un problema relativo a trámites, plazos y otros temas no técnicos. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Si tus dudas o problemas son relativos a temas no técnicos sino de la administración, puedes contactar con nosotros:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Información: <a href="tel:+34976714111" class="c-link">976 71 41 11</a>. <br>Horario de lunes a viernes de 9:00 a 14:00</li>
              <li>Escribir un email a: <a href="mailto:infoyregistro@aragon.es" class="c-link">infoyregistro@aragon.es</a></li>
            </ul>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué inconvenientes tiene el acceder sin certificado electrónico?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Si accedes sin certificado electrónico, tienes los siguientes inconvenientes:
            </p>
            <ul>
              <li>No se guardará la información que hayas introducido en la aplicación para futuras sesiones.</li>
              <li>No podrás firmar ni presentar electrónicamente.</li>
              <li>No podrás actuar en nombre de otras personas físicas o jurídicas.</li>
            </ul>
          </div>
        {% endcall %}
      </li>
    </ul>
    <!-- /preguntas frecuentes -->
  </div>
{% endblock %}

<!-- notificationFooterBlock -->
{% block notificationFooterBlock %}
  <section id="notification-footer-container" aria-labelledby="notification-footer-heading" class="fixed z-10 inset-x-0 bottom-base w-full">
    <div class="container mx-auto px-base">
      <h2 id="notification-footer-heading" class="sr-only">Avisos importantes a pie de página</h2>
        {{ componentNotification({
          "title": {
            "html": 'USO DE COOKIES'
          },
          "description": {
            "html": 'Usamos cookies para que la aplicación funcione. <a class="c-link" href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon" target="_blank">Para más información consulta nuestra política de cookies</a>.'
          },
          "id": "notificacion-cookies",
          "isDismissible": true
        })  }}
    </div>
  </section>
{% endblock %}
<!-- /notificationFooterBlock -->



{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}