{% set title = "Acceso MFE. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentRadios({
    "idPrefix": "identificacion",
    "name": "identificacion",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres acceder a la aplicación?</h2>',
        "classes": "c-h2"
      }
    },
    "hint": {
      "text": "Por favor, selecciona una opción para poder acceder a la aplicación.",
      "classes": "sr-only"
    },
    "items": [
      {
        "value": "clave",
        "html": 'Con <span aria-label="Clave">Cl@ve</span>',
        "hint": {
          "html": 'Esta es la opción recomendada tanto si tienes <span aria-label="Clave">Cl@ve</span> permanente, <span aria-label="Clave">Cl@ve</span> PIN, DNIe o certificado electrónico.'
        },
        "checked": true
      },
      {
        "value": "certificado",
        "text": "Con certificado electrónico",
        "hint": {
          "html": 'Puedes usar esta opción si el acceso con <span aria-label="Clave">Cl@ve</span> no está disponible.'
        }
      }
    ]
  })  }}
  {{ componentButton({
    "text": "Acceder",
    "classes": "c-button--primary"
  })  }}
  <!-- 
  <p class="c-paragraph-sm mt-xl mb-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>
  -->
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}