{% set title = "Bienvenida paso 1 ADVERTENCIA. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


<!-- notificationHeaderBlock -->
{% block notificationHeaderBlock %}
  <section id="notification-inner-content-container" aria-labelledby="notification-inner-content-heading" class="sticky top-base z-10 w-full"> 
    <h2 id="notification-inner-content-heading" class="sr-only">Avisos importantes en contenido central</h2>
    {{ componentNotification({
      "title": {
        "text": "El teléfono que has introducido no es un móvil nacional, esto implica que no te podremos mandar mensajes al móvil con avisos."
      },
      "type": "info",
      "id": "info-notificacion",
      "isDismissible": true,
      "classes": "c-notification--primary mt-base"
    })  }}
  </section>
{% endblock %}
<!-- /notificationHeaderBlock -->

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1 mb-sm">Te damos la bienvenida a MiA</h1>
  <p class="c-paragraph-lg">Estás identificado como <span class="font-bold">Tomás Pérez Palacios - 234556789N</span></p>
  <div class="w-full lg:w-3/4">
    <div class="flex flex-col-reverse">
      <h2 id="datos-contacto" class="c-h2">Datos de contacto</h2>
      <p class="c-paragraph-base mb-0 text-neutral-dark">Paso 1 de 2</p>
    </div>
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Necesitamos estos datos para enviarte avisos puntuales sobre tus trámites y notificaciones.
    </p>
    {{ componentInput({
      "label": {
        "text": "Correo electrónico (Obligatorio)"
      },
      "id": "input-email",
      "name": "email",
      "classes": "w-full lg:w-2/5 c-anchor-scroll-edit",
      "value": "tomasperez@gmail.com"
    })  }}
    {{ componentInput({
      "label": {
        "text": "Teléfono móvil (Obligatorio)"
      },
      "id": "input-telefono",
      "name": "telefono",
      "attributes": {
          "size": "19"
      },
      "value": "976 00 11 22"
    })  }}
    {{ componentCheckboxes({
      "idPrefix": "politicas-rgpd",
      "name": "check-politicas",
      "fieldset": {
        "legend": {
          "text": "Política de privacidad y protección de datos",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "si",
          "html": 'Acepto la <a href="#" class="c-link">política de privacidad y la protección de datos</a>',
          "checked": true
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Guardar",
      "classes": "c-button--primary"
    })  }}          
  </div>
{% endblock %}

