{% set title = "Bienvenida paso 1. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1 mb-sm">Te damos la bienvenida a MiA</h1>
  <p class="c-paragraph-lg">Estás identificado como <span class="font-bold">Tomás Pérez Palacios - 234556789N</span></p>
  <div class="w-full lg:w-3/4">
    <div class="flex flex-col-reverse">
      <h2 id="datos-contacto" class="c-h2">Datos de contacto</h2>
      <p class="c-paragraph-base mb-0 text-neutral-dark">Paso 1 de 2</p>
    </div>
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Necesitamos estos datos para enviarte avisos puntuales sobre tus trámites y notificaciones.
    </p>
    {{ componentInput({
      "label": {
        "text": "Correo electrónico (Obligatorio)"
      },
      "id": "input-email",
      "name": "email",
      "classes": "w-full lg:w-2/5"
    })  }}
    {{ componentInput({
      "label": {
        "text": "Teléfono móvil (Obligatorio)"
      },
      "id": "input-movil",
      "name": "movil",
      "attributes": {
          "size": "19"
      }
    })  }}
    {{ componentCheckboxes({
      "idPrefix": "politicas-rgpd",
      "name": "check-politicas",
      "fieldset": {
        "legend": {
          "text": "Política de privacidad y protección de datos",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "si",
          "html": 'Acepto la <a href="#" class="c-link">política de privacidad y la protección de datos</a>',
          "checked": true
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Guardar",
      "classes": "c-button--primary"
    })  }}          
  </div>
{% endblock %}

