{% set title = "Bienvenida paso 2. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1 mb-sm">Te damos la bienvenida a MiA</h1>
  <p class="c-paragraph-lg">Estás identificado como <span class="font-bold">Tomás Pérez Palacios - 234556789N</span></p>
  <div class="w-full lg:w-3/4 mt-xl">
    <div class="flex flex-col-reverse">
      <h2 id="datos-contacto" class="c-h2">Dirección postal</h2>
      <p class="c-paragraph-base mb-0 text-neutral-dark">Paso 2 de 2</p>
    </div>
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Si lo deseas, indica tu dirección habitual para que no te preguntemos por ella cada vez que la necesitemos.
    </p>
    {% include "includes/_campos-direccion-postal.njk" %}
    <ul class="flex flex-wrap gap-sm mt-base">
      <li>
        {{ componentButton({
          "text": "Guardar",
          "classes": "c-button--primary"
        })  }}  
      </li>
      <li>  
        {{ componentButton({
          "text": "Saltar",
          "classes": "c-button--transparent"
        })  }}
      </li>
    </ul>
  </div>
{% endblock %}

