{% set title = "Citas previas - Personas a las que representas. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  
  <div class="w-full lg:w-3/4">
    
    <h1 id="page-title" class="c-h1">Citas previas</h1>
    <p class="c-paragraph-base mb-0">Consulta la citas que tienes con organismos del Gobierno de Aragón.</p>
    <p class="c-paragraph-base"><strong>Las citas con Salud no se muestran aquí</strong>, pero se pueden consultar en aplicación de <a href="#" class="c-link">Salud Informa</a>.</p>
    {{ componentButton({
      "text": "Solicitar una nueva cita",
      "classes": "c-button--primary"
    })  }}
  
    <div class="pb-xl"></div><!--espaciador-->
  
    {# Listado de mis citas #}
    <section aria-labelledby="mis-citas">
      <h2 id="mis-citas" class="c-h2">Mis citas</h2> 
      <p class="c-paragraph-base italic p-base bg-neutral-lighter">No tienes ninguna cita previa próxima.</p>
    </section>

    <div class="pb-lg"></div><!--espaciador-->

    {# Listado de citas de personas a las que representa #}
    <section aria-labelledby="citas-personas">
      <h2 id="citas-personas" class="c-h2">Citas de personas a las que representas</h2> 
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M1.75 2.25a1.75 1.75 0 1 1 3.5 0 1.75 1.75 0 0 1-3.5 0ZM.5 7.5a3 3 0 0 1 6 0A.5.5 0 0 1 6 8H1a.5.5 0 0 1-.5-.5Zm8.25.25a1.75 1.75 0 1 1 3.5 0 1.75 1.75 0 0 1-3.5 0ZM7.5 13a3 3 0 1 1 6 0 .5.5 0 0 1-.5.5H8a.5.5 0 0 1-.5-.5ZM6.75 2a.75.75 0 0 1 .75-.75h2A2.75 2.75 0 0 1 12.25 4v.5a.75.75 0 0 1-1.5 0V4c0-.69-.56-1.25-1.25-1.25h-2A.75.75 0 0 1 6.75 2ZM2.5 8.75a.75.75 0 0 1 .75.75v.5c0 .69.56 1.25 1.25 1.25h1a.75.75 0 0 1 0 1.5h-1A2.75 2.75 0 0 1 1.75 10v-.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Tomás Perez Ruiz - 729838838Q  |  Cita de valoración - Discapacidad</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Martes, 3 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": '10:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Modalidad'
                  },
                  "definition": {
                    "html": 'Presencial'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>Centro de Atención a la Discapacidad de Zaragoza</p>
                            <p>Paseo de los Rosales, 28 duplicado, 50008 Zaragoza</p>
                            <p>Si necesitas cambiar la cita llama al 976 74 28 23 o escribe a <a class="c-link" href="mailto:cadzaragoza@aragon.es">cadzaragoza@aragon.es</a></p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M1.75 2.25a1.75 1.75 0 1 1 3.5 0 1.75 1.75 0 0 1-3.5 0ZM.5 7.5a3 3 0 0 1 6 0A.5.5 0 0 1 6 8H1a.5.5 0 0 1-.5-.5Zm8.25.25a1.75 1.75 0 1 1 3.5 0 1.75 1.75 0 0 1-3.5 0ZM7.5 13a3 3 0 1 1 6 0 .5.5 0 0 1-.5.5H8a.5.5 0 0 1-.5-.5ZM6.75 2a.75.75 0 0 1 .75-.75h2A2.75 2.75 0 0 1 12.25 4v.5a.75.75 0 0 1-1.5 0V4c0-.69-.56-1.25-1.25-1.25h-2A.75.75 0 0 1 6.75 2ZM2.5 8.75a.75.75 0 0 1 .75.75v.5c0 .69.56 1.25 1.25 1.25h1a.75.75 0 0 1 0 1.5h-1A2.75 2.75 0 0 1 1.75 10v-.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Tomás Perez Ruiz - 729838838Q  |  Cita de revisión - Dependencia</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Persona interesada'
                  },
                  "definition": {
                    "html": 'Tomás Perez Ruiz - 729838838Q'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Miércoles, 4 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": 'Entre 10:00 y 12:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>El personal de valoración de dependencia acudirá a tu domicilio en la franja horaria indicada. Se recomienda la presencia de una persona de la familia o del entorno cercano.</p>
                            <p>Si necesitas cambiar la cita llama al 976 701 705. </p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
    </section>

  </div>

{% endblock %}


<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-anular-cita.njk" %}
{% endblock %}
<!-- /modalBlock -->