{% set title = "Citas previas - Mis citas. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  
  <div class="w-full lg:w-3/4">
    
    <h1 id="page-title" class="c-h1">Citas previas</h1>
    <p class="c-paragraph-base mb-0">Consulta la citas que tienes con organismos del Gobierno de Aragón.</p>
    <p class="c-paragraph-base"><strong>Las citas con Salud no se muestran aquí</strong>, pero se pueden consultar en aplicación de <a href="#" class="c-link">Salud Informa</a>.</p>
    {{ componentButton({
      "text": "Solicitar una nueva cita",
      "classes": "c-button--primary"
    })  }}
  
    <div class="pb-xl"></div><!--espaciador-->
  
    {# Listado de mis citas #}
    <section aria-labelledby="mis-citas">
      <h2 id="mis-citas" class="c-h2 sr-only">Mis citas</h2> 
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Altas Sistema Cl@ve- Zaragoza</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Lunes, 2 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": 'Entre 10:00 y 13:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'LSO92'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>Registro general - Zaragoza. Diputación General de Aragón</p>
                            <p>Paseo María Agustín, 36. 50004 Zaragoza </p>
                            <p>976 555 555</p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
          <div class="mt-lg mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">
            <ul class="flex flex-wrap gap-sm"><li><button id="btn-cita-1" class="c-button c-button--sm" aria-labelledby="btn-cita-1 cita-1" onclick="openDialog('modal-anular-cita', this, 'anular-cita')">Anular cita</button></li></ul>
          </div>
        </div>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Cita de valoración - Discapacidad</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Martes, 3 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": 'Entre 8:00 y 15:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Modalidad'
                  },
                  "definition": {
                    "html": 'Telefónica'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>Centro de Atención a la Discapacidad de Zaragoza</p>
                            <p>Paseo de los Rosales, 28 duplicado, 50008 Zaragoza</p>
                            <p>Si necesitas cambiar la cita llama al 976 74 28 23 o escribe a <a class="c-link" href="mailto:cadzaragoza@aragon.es">cadzaragoza@aragon.es</a></p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Cita de valoración - Discapacidad</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Martes, 3 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": '10:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Modalidad'
                  },
                  "definition": {
                    "html": 'Presencial'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>Centro de Atención a la Discapacidad de Zaragoza</p>
                            <p>Paseo de los Rosales, 28 duplicado, 50008 Zaragoza</p>
                            <p>Si necesitas cambiar la cita llama al 976 74 28 23 o escribe a <a class="c-link" href="mailto:cadzaragoza@aragon.es">cadzaragoza@aragon.es</a></p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Cita de revisión - Discapacidad</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Martes, 3 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": '10:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Modalidad'
                  },
                  "definition": {
                    "html": 'Presencial'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>Centro de Atención a la Discapacidad de Zaragoza</p>
                            <p>Paseo de los Rosales, 28 duplicado, 50008 Zaragoza</p>
                            <p>Si necesitas cambiar la cita llama al 976 74 28 23 o escribe a <a class="c-link" href="mailto:cadzaragoza@aragon.es">cadzaragoza@aragon.es</a></p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
        <p class="flex px-sm lg:px-base py-sm bg-warning-light text-sm lg:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-top mt-xs" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path></svg>
          <span class="flex-1"><strong>Importante: Si no acudes a esta cita, tu reconocimiento de discapacidad dejará de tener validez. </strong></span>
        </p>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Cita de valoración - Dependencia</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Miércoles, 4 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": 'Entre 10:00 y 13:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>El personal de valoración de dependencia acudirá a tu domicilio en la franja horaria indicada. Se recomienda la presencia de una persona de la familia o del entorno cercano.</p>
                            <p>Si necesitas cambiar la cita llama al 976 701 705. </p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
      {# cita #}
      <div class="mb-base bg-white border border-neutral-base rounded">
        <div class="lg:flex lg:flex-wrap w-full p-base pb-xs ">
          <div class="flex flex-1 mb-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3" aria-hidden="true" focusable="false"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z" fill="currentColor" transform="scale(2)"/></svg>
            <p id="cita-1" class="flex-1 text-lg font-bold">Cita de revisión - Dependencia</p>
          </div>
          <div class="lg:order-3 w-full">
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Fecha'
                  },
                  "definition": {
                    "html": 'Miércoles, 4 septiembre 2024'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Hora'
                  },
                  "definition": {
                    "html": '10:00'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Localizador'
                  },
                  "definition": {
                    "html": 'Sin localizador'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}     
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Detalles'
                  },
                  "definition": {
                    "html": '<p>El personal de valoración de dependencia acudirá a tu domicilio en la franja horaria indicada. Se recomienda la presencia de una persona de la familia o del entorno cercano.</p>
                            <p>Si necesitas cambiar la cita llama al 976 701 705. </p>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
          </div>
        </div>
        <p class="flex px-sm lg:px-base py-sm bg-warning-light text-sm lg:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-top mt-xs" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path></svg>
          <span class="flex-1"><strong>Importante: Si no estás en el domicilio, tu reconocimiento dependencia dejará de tener validez. </strong></span>
        </p>
      </div>
    </section>

  </div>
{% endblock %}


<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-anular-cita.njk" %}
{% endblock %}
<!-- /modalBlock -->