{% set title = "Comunicación detalle. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>

  <div class="w-full lg:w-3/4">
    {# Titulo #}
    <div class="flex flex-col-reverse">
      <h1 id="page-title" class="c-h2 mb-lg">Depósito de fianzas de contrato de arrendamiento en Régimen General</h1>
      <p class="c-paragraph-base mb-0">Comunicación</p>
    </div>

    {# Contenido #}
    <h2 class="font-bold mb-sm">Contenido</h2>
    {% call componentItem({
      "title": {
        "text": "Contenido de la comunicación está en formato PDF",
        "attributes": {
          "id": "contenido-1"
        }
      },
      "classes": "mb-lg"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-contenido-1" class=" c-button c-button--primary " aria-labelledby="btn-contenido-1 contenido-1">Leer comunicación</button></li></ul>
    {% endcall %}

    {# Adjuntos #}
    <h2 class="font-bold mb-sm">Documentos adjuntos</h2>
    {% call componentItem({
      "title": {
        "text": "Adjunto de la comunicación (PDF)",
        "attributes": {
          "id": "adjuntos-1"
        }
      },
      "description": {
        "html": "CSV91238912373182",
        "classes": "text-sm text-neutral-dark"
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-adjuntos-1" class=" c-button c-button--transparent " aria-labelledby="btn-adjuntos-1 adjuntos-1">Descargar</button></li></ul>
    {% endcall %}

    {# Detalles #}
    {% call componentDetails({
      "summary": {
        "html": "Mostrar detalles"
      },
      "classes": "mt-lg text-sm"
    })  %}
      {# Detalles DescriptionList #}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Enviado desde'
            },
            "definition": {
              "html": 'Servicio Provincial de Transportes'
            },
            "classes": "order-1 w-full lg:w-2/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": 'Tomás Pérez (yo)'
            },
            "classes": "order-2 lg:order-3 w-full lg:w-2/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Trámite'
            },
            "definition": {
              "html": '<a href="#" class="c-link">Contrato de arrendamiento en Régimen General</a>'
            },
            "classes": "order-3 lg:order-5 w-full lg:w-2/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Puesta a disposición'
            },
            "definition": {
              "html": '15 diciembre 2020, 10:35'
            },
            "classes": "order-4 lg:order-6 w-full lg:w-2/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Leída'
            },
            "definition": {
              "html": '15 diciembre 2021, 12:30'
            },
            "classes": "order-5 lg:order-7 w-full lg:w-2/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'CSV de comunicación'
            },
            "definition": {
              "html": 'CSV91238912373182'
            },
            "classes": "order-6 lg:order-2 w-full lg:w-1/3 mb-base lg:pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> de expediente asociado'
            },
            "definition": {
              "html": 'WER1231654'
            },
            "classes": "order-7 lg:order-4 w-full lg:w-1/3 mb-base lg:pr-base"
          }
        ]
      })  }}
      {# Detalles Justificantes #}
      <div class="text-base mt-base">
        <h2 class="font-bold mb-sm">Justificante de la comunicación</h2>
        {% call componentItem({
          "title": {
            "text": "Justificante de puesta a disposición",
            "attributes": {
              "id": "justificante-1"
            }
          },
          "description": {
            "html": "CSV91238912373182",
            "classes": "text-sm text-neutral-dark"
          },
          "icon": {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
          },
          "classes": "mb-base"
        })  %}
            <ul class="flex flex-wrap gap-sm">
              <li>
                {% call componentDropdown({
                  "text": "Más",
                  "classes": "c-dropdown--transparent"
                })  %}
                  {{ componentNav({
                    "hasNav": false,
                    "idPrefix": "mas-acciones-justificante-1",
                    "items": [
                      {
                        "href": "#",
                        "text": "Acción 1"
                      },
                      {
                        "href": "#",
                        "text": "Acción 2"
                      },
                      {
                        "href": "#",
                        "text": "Acción 3"
                      }
                    ],
                    "classes": "w-max max-w-64",
                    "attributes": {
                      "aria-label": "Más acciones"
                    }
                  })  }}
                {% endcall %}                
              </li>
              <li><button id="btn-justificante-1" class=" c-button c-button--transparent " aria-labelledby="btn-justificante-1 justificante-1">Descargar</button></li>
            </ul>
        {% endcall %} 
      </div>
    {% endcall %}        

  </div>
{% endblock %}

