{% set title = "Condiciones de Uso. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Condiciones de Uso</h1>
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg">El acceso a Mi Aragón (MiA) supone que estás informado sobre el uso que vamos a hacer de tus datos personales y que entiendes y aceptas las condiciones de uso de esta aplicación.</p>
    <p class="c-paragraph-base lg:c-paragraph-lg">Las condiciones de uso de MiA explican la información que contiene la aplicación, cuál es la forma adecuada de utilizar MiA y cómo debe tratarse la información obtenida.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Información que ofrece la herramienta</h2>
    <p class="c-paragraph-base">MiA intenta agrupar en un único sitio la información de tu interés que tiene la Administración sobre ti. Iremos incrementando contenidos gradualmente. En estos momentos, te ofrece:</p>
    <ul class="c-ul ml-sm">
      <li><strong>Consulta de notificaciones y comunicaciones.</strong> Puedes acceder a las notificaciones y comunicaciones emitidas por organismos de la Administración de la Comunidad Autónoma; es decir, por sus departamentos y por los organismos públicos vinculados o dependientes. Solo podrás ver aquellas en los que figures como persona destinataria. Una vez recibida la notificación o comunicación podrás aceptarla para ver su contenido o rechazarla.
        <ul class="mt-base mb-lg ml-base text-sm">
          <li>La información de este apartado se obtiene del Servicio de Notificaciones Telemáticas.</li>
          <li>En el momento que un organismo de la Administración pone a disposición de una persona una notificación o comunicación, esta se muestra en MiA sin que exista ningún tipo de demora en el tiempo.</li>
          <li>Si quieres saber más sobre cómo recogemos tu voluntad de aceptar o rechazar una notificación puedes consultar la Resolución que lo <a href="#" class="c-link break-words" target="_blank" title="Este enlace se abre en pestaña nueva"> regula accediendo a este enlace.</a></li>
        </ul>
      </li>
      <li><strong>Consulta de trámites.</strong> Puedes acceder al listado de los trámites que has realizado con la administración autonómica. En este apartado, podrás consultar el estado de tramitación de tus solicitudes en el apartado «seguimiento» y acceder a los documentos aportados por ti y a los que forman parte del expediente tramitado, en el apartado «documentos».
        <ul class="mt-base mb-lg ml-base text-sm">
          <li>Los expedientes y documentos de tu interés, podrán verse en MiA, en función de la visibilidad asignada por el órgano que tramita el expediente y del momento en que se vayan añadiendo al expediente durante la tramitación. Puede ser que veas documentos en el apartado de «documentos» y no los veas en el apartado «seguimiento». Esto se debe a que el gestor del expediente no ha asociado esos documentos a una fase de la tramitación y, por tanto, o podemos mostrarte esa información en MiA.</li>
          <li>La información de este apartado MiA la obtiene de la Plataforma de Gobernanza de Datos que, a su vez, la obtiene de los órganos que gestionan los diferentes servicios.</li>
          <li>La Plataforma de Gobernanza de Datos consume la información directamente de las bases de datos de los órganos gestores y actualiza la información cada 24 horas. MiA consume los datos de la Plataforma a demanda de la persona usuaria y no almacena los datos.</li>
        </ul>
      </li>
      <li><strong>Consultar citas previas.</strong> Puedes acceder a la información de las citas previas que has solicitado ante órganos de la Administración, así como solicitar una nueva cita o cancelar aquellas citas existentes. Se excluye de esta información, las citas sanitarias a las que se debe acceder a través de la aplicación propia de Salud informa, así como la de aquellos organismos que no se encuentren todavía integrados con del Servicio de Cita Previa del Gobierno de Aragón.
        <ul class="mt-base mb-lg ml-base text-sm">
          <li>La información se obtiene del Servicio de Cita Previa del Gobierno de Aragón.</li>
        </ul>
      </li>
      <li><strong>Consulta de información de distintos organismos.</strong> Esto se conoce dentro de la aplicación como «áreas temáticas». MiA te va a mostrar los datos que la Administración tiene de ti agrupados en áreas temáticas. Estas áreas irán creciendo conforme los diferentes organismos se vayan integrando en este espacio. En un primer momento, te podemos ofrecer tus datos de discapacidad y dependencia, agrupados en el área temática de «servicios sociales». Y próximamente te ofreceros tus datos de «oposiciones» y de «deudas y pagos» con la Administración.
        <ul class="mt-base mb-lg ml-base text-sm">
          <li>La información de este apartado se obtiene de la Plataforma de Gobernanza de Datos, que a su vez se obtiene de los órganos que gestionan los diferentes servicios.</li>
          <li>La Plataforma de Gobernanza de Datos consume la información directamente de las bases de datos de los órganos gestores y actualiza la información cada 24 horas. MiA consume los datos de la Plataforma a demanda de la persona usuaria y no almacena los datos.</li>
        </ul>
        <p class="c-paragraph-base mt-sm p-base bg-neutral-light rounded"><strong>Importante:</strong> Toda la información suministrada en estos apartados se ofrece por los organismos responsables de la información. Por ejemplo, la información que ofrecemos sobre discapacidad se obtiene directamente de las bases de datos del Instituto Aragonés de Servicios Sociales que tramita los expedientes de discapacidad. Estas consultas se realizan siguiendo los protocolos de seguridad de la información y protección de datos de carácter personal. <strong>Es decir, MiA sólo sirve de canal de comunicación entre las personas y los organismos responsables de los servicios.</strong> Cualquier incorrección en los datos, debe comunicarse al organismo responsable a fin de que se actualice y no pueda ser tomado como referencia en actos de la Administración.</p>
        <p class="c-paragraph-base">En este apartado también podrás ver algunos de los servicios que presta la Administración y que te pueden resultar de interés vinculados a tus datos. Estos se encuentran dentro de las áreas temáticas de «vehículos y transportes» y «educación y formación». Para crear este apartado, MiA ha tomado de referencia datos que tiene de ti la Administración y que se comparten entre las Administraciones a través de la plataforma de intermediación. Por otro lado, ha buscado en qué servicios de los que prestamos se consultan estos datos. Y, de esta forma, hemos podido relacionar servicios que prestamos con datos tuyos que podemos consultar para mostrarte servicios que pueden interesarte. Poco a poco iremos afinando esta oferta proactiva de servicios más adecuada a tu perfil.</p>
        <p class="c-paragraph-base p-base bg-neutral-light rounded"><strong>Importante:</strong> En este caso, MiA también sirve solo de canal de comunicación entre las personas y los órganos de nuestra Administración o de otras Administraciones Públicas responsables de los servicios. Aquí vas a poder acceder a información sobre tus títulos universitarios e información sobre los vehículos de tu titularidad y tus permisos de conducción suministrada por la Dirección General de Tráfico. La relación con los servicios se ha hecho sobre la base de la información del Catálogo de Servicios sin realizar ninguna acción de perfilado sobre tus datos personales.</p>
      </li>
      <li><strong>Tus datos:</strong> Podrás consultar los datos que has rellenado en el momento de acceder a MiA y que configuran tu perfil en la herramienta. Estos datos sí que se almacenan en MiA y es responsable de su calidad.</li>
      <li><strong>Comprobación y verificación de documentos.</strong>El Código Seguro de Verificación (CSV) es un código único que identifica un documento electrónico. Este código se encuentra incluido en todas y cada una de las páginas de los documentos electrónicos. Permite comprobar la integridad, la autenticidad y la no manipulación posterior del documento firmado electrónicamente mediante su cotejo con el documento electrónico depositado en el gestor documental de la Administración de la Comunidad Autónoma de Aragón. A través de MiA se va a posibilitar el cotejo de los documentos almacenados en el gestor documental de la Administración de la Comunidad Autónoma de Aragón. Los documentos que se encuentren almacenados en otros gestores documentales (por ejemplo, en que se hayan generado por un Ayuntamiento o por la Agencia Tributaria) se deberán verificar en las correspondientes sedes electrónicas de estos organismos. Es necesario tener en cuenta que:
        <ul class="mt-base mb-lg ml-base text-sm">
          <li>Este servicio conlleva estar en posesión legítima de un documento que tiene en su banda lateral un CSV generado por el gestor documental del Gobierno de Aragón o de su CSV.</li>
          <li>El sistema te permite, al introducir el CSV en la casilla correspondiente, visualizar el documento - electrónico al que está vinculado dicho código. Asimismo, te informará sobre la validez de la firma o firmas electrónicas del citado documento.</li>
          <li>En caso de que el CSV introducido no coincida con ningún documento publicado, el sistema te mostrará un mensaje diciéndote que no se ha podido recuperar ningún documento asociado a ese código de verificación. En caso de que el CSV corresponda con un documento que se ha informado como de acceso limitado, se te informará si tienes o no permisos de acceso. En caso de que el documento haya sido ANULADO se informará de esta circunstancia debiendo ponerse en contacto con el organismo que le ha suministrado el documento.</li>
          <li>El sistema llevará un registro de los accesos efectuados sobre todos aquellos documentos y expedientes que no tengan la calificación de públicos.</li>
        </ul>
      </li>
    </ul>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Forma de acceso a MiA</h2>
    <p class="c-paragraph-base">Para el acceso a cualquier información disponible en MiA se te requerirá que te identifiques electrónicamente de forma que ninguna persona que no seas tú, pueda acceder a tus datos personales.</p>
    <p class="c-paragraph-base">Para acceder a MiA, se exige que te identifiques previamente porque consideramos importante garantizar la seguridad y privacidad en el acceso a tus datos. En este momento, podrás identificarte a través de los siguientes medios:</p>
    <ul class="c-ul ml-sm">
      <li>Cl@ve PIN</li>
      <li>Cl@ve permanente</li>
      <li>DNIe o certificado electrónico</li>
    </ul>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Información sobre el tratamiento de datos personales</h2>
    <p class="c-paragraph-base">MiA solo almacena los datos de contacto facilitados en el apartado “Tu perfil en MiA” para trasladarlos a la Plataforma de Gobernanza de Datos corporativa.</p>
    <p class="c-paragraph-base">Te informamos que los datos personales que nos suministras en MiA a través del apartado de “Tu perfil en MiA” serán tratados por la DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN.</p>
    <p class="c-paragraph-base">La finalidad de este tratamiento es la gestión de tus datos de contacto para el envío de notificaciones y comunicaciones por parte de la Administración. La legitimación para realizar el tratamiento nos la da una obligación legal y no vamos a comunicar tus datos personales a terceros destinatarios salvo que una Ley nos lo diga.</p>
    <p class="c-paragraph-base">Se pueden ejercitar los derechos de acceso, rectificación, supresión , portabilidad de los datos , y los de limitación y oposición a los tratamientos , así como a no ser objeto de decisiones individuales automatizadas , a través de la sede electrónica de la Administración de la Comunidad Autónoma de Aragón con los formularios normalizados disponibles.</p>
    <p class="c-paragraph-base">Puedes obtener información adicional en el Registro de Actividades de Tratamiento del Gobierno de Aragón, en el siguiente enlace <a class="c-link break-words" href="https://protecciondatos.aragon.es/registro-actividades/1080" target="_blank" title="Este enlace se abre en pestaña nueva">https://protecciondatos.aragon.es/registro-actividades/1080</a></p>
    <p class="c-paragraph-base">Por otra parte, el correo electrónico que se aporta será utilizado para el envío de los avisos de las notificaciones y comunicaciones.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Derecho de oposición</h2>
    <p class="c-paragraph-base"> Como te hemos explicado, uno de los servicios de MiA es la consulta parte de los datos que tiene de ti la Administración de forma que te los pueda informar. Para ello, MiA consulta a través de los mecanismos técnicos habilitados para ello a los órganos que los tienen. Los titulares de los datos o sus representantes legales (caso de menores de catorce años o incapacitados) podrán ejercer su derecho de oposición conforme al modelo específico para el ejercicio de este derecho, disponible en <a class="c-link break-words" href="https://www.aragon.es/en/tramitador/-/tramite/proteccion-datos-ejercicio-derecho-oposicion" target="_blank" title="Este enlace se abre en pestaña nueva">https://www.aragon.es/en/tramitador/-/tramite/proteccion-datos-ejercicio-derecho-oposicion</a></p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Requisitos técnicos</h2>
    <p class="c-paragraph-base">Por razones de seguridad, solo se garantiza el correcto funcionamiento de MiA con navegadores compatibles con HTML5 cuyas versiones están soportadas por sus propios fabricantes en cada momento.</p>
    <p class="c-paragraph-base">El uso de navegadores no compatibles con HTML5 o de versiones no soportadas por sus propios fabricantes podría permitir el acceso a MiA, pero no se garantiza la visualización de todo el contenido o disponibilidad de todas las funcionalidades. Pueden descargarse las actualizaciones de los navegadores en las páginas web de los proveedores de estos programas.</p>
    <p class="c-paragraph-base">Para el correcto funcionamiento de MiA se requiere que el navegador tenga habilitado el uso de Javascript y de cookies.</p>
    <p class="c-paragraph-base">Desde el momento en el que te auténticas en MiA se inicia tu sesión. Esa sesión tiene una duración determinada. Esto quiere decir que si no interactúas con la herramienta durante este periodo de tiempo la sesión caducará y necesitarás autenticar de nuevo tu identidad para poder seguir navegando.</p>

    <hr class="border-t border-neutral-base my-xl">

    <h2 class="c-h2">Tu responsabilidad en el uso de MiA</h2>
    <p class="c-paragraph-base">Los datos que se incluyan en MiA deben ser ciertos. Ten en cuenta que serán tenidos en cuenta para la tramitación de los servicios administrativos, se va a quedar traza de las acciones que realices y es tu responsabilidad que los datos que nos suministres sean exactos y veraces, igual que es responsabilidad nuestra tratarlos para cuestiones que te interesen y te afecten a ti.</p>
    <p class="c-paragraph-base">El uso que hagas de la información de MiA debe ser legítimo y responsable. Y en ningún caso debes suplantar la identidad de otra persona para acceder a sus datos de forma ilícita.</p>
  </div>
{% endblock %}

<!-- notificationFooterBlock -->
{% block notificationFooterBlock %}
  <section id="notification-footer-container" aria-labelledby="notification-footer-heading" class="fixed z-10 inset-x-0 bottom-base w-full">
    <div class="container mx-auto px-base">
      <h2 id="notification-footer-heading" class="sr-only">Avisos importantes a pie de página</h2>
        {{ componentNotification({
          "title": {
            "html": 'USO DE COOKIES'
          },
          "description": {
            "html": 'Usamos cookies para que la aplicación funcione. <a class="c-link" href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon" target="_blank">Para más información consulta nuestra política de cookies</a>.'
          },
          "id": "notificacion-cookies",
          "isDismissible": true
        })  }}
    </div>
  </section>
{% endblock %}
<!-- /notificationFooterBlock -->
