{% set title = "Documentos y Expedientes de CSV - Mensajes verificación - Sustituido. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}

{# Definiciones #}
{% set Firmas %}
  <ul>
    <li>Tomás Pérez Palacios, 4 septiembre 2021, 10:30h.</li>
    <li>Ana Montreal Bertolí, 3 septiembre 2021, 12:00h.</li>
  </ul>
  <ul class="flex flex-wrap gap-base">
    <li><a href="" class="text-sm text-neutral-dark underline focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus hover:text-primary-base">Verificar firma</a></li>
    <li><a href="" class="text-sm text-neutral-dark underline focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus hover:text-primary-base">Descargar firma</a></li>
  </ul>
{% endset %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1">Comprobación y verificación de documentos</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base">
      Cualquier documento o expediente que se haya generado por el Gobierno de Aragón se puede comprobar a través de su Código Seguro de Verificación (CSV).
    </p>
    <p class="c-paragraph-base">
      El CSV es un código único que identifica a cada documento o expediente que se encuentre en el gestor documental del Gobierno de Aragón y nos permita descargarlo, verificar su contenido o comprobar la autenticidad de sus firmas. Por lo general este código, se encuentra en los márgenes de los documentos. <a href="https://www.aragon.es/tramites/servicio-de-verificacion-de-documentos-electronicos" class="c-link">Más información</a>.
    </p>
    {# Verificacion #}
    <div class="md:flex md:flex-wrap gap-x-3 pt-base items-end">
      {{ componentInput({
        "label": {
          "html": 'Introduce el CSV del documento o expediente'
        },
        "id": "csv",
        "name": "csv",
        "value": "CSV91238912373182",
        "classes": "w-full md:w-96"
      })  }} 
      {{ componentButton({
        "text": "Verificar",
        "classes": "c-button--primary mb-8"
      })  }}    
    </div>
    {# Resultados #}
    <h2 class="c-paragraph-base">Resultados de la consulta</h2>
    {{ componentNotification({
      "title": {
        "html": 'El documento "CSV91238912373182" ha sido anulado y ha sido sustituido por "CSV91238912373199".'
      },
      "id": "notif-sustituido"
    })  }}
    <div class="pb-base"></div><!--espaciador-->
    <h3 class="c-paragraph-sm">Documento sustituto</h3>
    <div class="p-base pb-xs mb-base bg-white border border-neutral-base">
      <div class="lg:flex lg:flex-wrap">
        <div class="flex flex-wrap flex-1 mb-base lg:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3 mt-0.5" aria-hidden="true" focusable="false"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>
          <p id="doc-1" class="flex-1 text-lg font-semibold">
            Solicitud de teletrabajo Tomás Pérez Palacios
            <span class="block font-normal pt-sm">CSV91238912373199</span>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm lg:ml-auto lg:pl-base">
          <li>
            {{ componentButton({
              "html": 'Descargar<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="self-center ml-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5 5.75a.75.75 0 0 0-.586 1.219l2 2.5a.75.75 0 0 0 1.172 0l2-2.5A.75.75 0 0 0 9 5.75H8V1a1 1 0 0 0-2 0v4.75H5ZM2 11a1 1 0 1 0-2 0v.5A2.5 2.5 0 0 0 2.5 14h9a2.5 2.5 0 0 0 2.5-2.5V11a1 1 0 1 0-2 0v.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V11Z" clip-rule="evenodd"/></svg>'
            })  }}
          </li>
        </ul>
        </div>
      <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
      <div class="w-full">
        {{ componentDescriptionList({
          "items": [
            {
              "term": {
                "text": "Procedimiento"
              },
              "definition": {
                "html": 'Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Tipo de documento"
              },
              "definition": {
                "html": 'Requerimiento...'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Órgano responsable"
              },
              "definition": {
                "html": 'ORG000123 - Dirección General de Vivienda'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Firmado por"
              },
              "definition": {
                "html": Firmas
              },
              "classes": "mb-base"
            }
          ]
        })  }}
      </div>
    </div>
  </div>
{% endblock %}

