{% set title = "Documentos y Expedientes de CSV - Detalle de expedientes. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1">Comprobación y verificación de documentos</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base">
      Cualquier documento o expediente que se haya generado por el Gobierno de Aragón se puede comprobar a través de su Código Seguro de Verificación (CSV).
    </p>
    <p class="c-paragraph-base">
      El CSV es un código único que identifica a cada documento o expediente que se encuentre en el gestor documental del Gobierno de Aragón y nos permita descargarlo, verificar su contenido o comprobar la autenticidad de sus firmas. Por lo general este código, se encuentra en los márgenes de los documentos. <a href="https://www.aragon.es/tramites/servicio-de-verificacion-de-documentos-electronicos" class="c-link">Más información</a>.
    </p>
    {# Verificacion #}
    <div class="md:flex md:flex-wrap gap-x-3 pt-base items-end">
      {{ componentInput({
        "label": {
          "html": 'Introduce el CSV del documento o expediente'
        },
        "id": "csv",
        "name": "csv",
        "value": "CSV91238912373182",
        "classes": "w-full md:w-96"
      })  }} 
      {{ componentButton({
        "text": "Verificar",
        "classes": "c-button--primary mb-8"
      })  }}    
    </div>
    {# Resultados #}
    <h2 class="c-paragraph-base">Resultados de la consulta</h2>
    <div class="p-base mb-base bg-white border border-neutral-base">
      <div class="lg:flex lg:flex-wrap">
        <div class="flex flex-wrap flex-1 mb-base lg:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.5em" height="1.5em" class="mr-3 mt-0.5" aria-hidden="true" focusable="false"><path d="M14 5.5a2 2 0 0 0-2-2H6.93a.24.24 0 0 1-.21-.12L5.49 1.25A.52.52 0 0 0 5.06 1H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2Z" fill="currentColor" transform="scale(3.42857)"/></svg>
          <p id="doc-1" class="flex-1 text-lg font-semibold">
            Expediente - <abbr title="Número">Nº</abbr> WER123456
            <span class="block font-normal">Tramitación beca de Adolfo Domínguez</span>
            <span class="block font-normal text-neutral-dark pt-sm">CSV91238912373182</span>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm lg:ml-auto lg:pl-base">
          <li>
            {{ componentButton({
              "html": 'Descargar índice<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="self-center ml-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5 5.75a.75.75 0 0 0-.586 1.219l2 2.5a.75.75 0 0 0 1.172 0l2-2.5A.75.75 0 0 0 9 5.75H8V1a1 1 0 0 0-2 0v4.75H5ZM2 11a1 1 0 1 0-2 0v.5A2.5 2.5 0 0 0 2.5 14h9a2.5 2.5 0 0 0 2.5-2.5V11a1 1 0 1 0-2 0v.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V11Z" clip-rule="evenodd"/></svg>'
            })  }}
          </li>
        </ul>
        </div>
      <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
      <div class="w-full">
        {{ componentDescriptionList({
          "items": [
            {
              "term": {
                "text": "Fecha de creación"
              },
              "definition": {
                "html": '4 septiembre 2021, 10:30h.'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Estado"
              },
              "definition": {
                "html": 'Activo'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Procedimiento asociado"
              },
              "definition": {
                "html": 'Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "text": "Órgano responsable"
              },
              "definition": {
                "html": 'ORG000123 - Dirección General de Vivienda'
              },
              "classes": "mb-base"
            }
          ]
        })  }}
      </div>
      <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
      <p class="text-neutral-dark">Documentos del expediente</p>
      {# Barra de Acciones documentos #}
      <section class="lg:flex lg:flex-wrap lg:w-full mb-sm" aria-labelledby="acciones-documentos">
        <h3 id="acciones-documentos" class="sr-only">Selección múltiple y Acciones sobre el listado de documentos</h3>
        <div class="lg:flex sm:flex-1">
          {{ componentCheckboxes({
            "idPrefix": "todos-documentos",
            "name": "todos-documentos",
            "classes": "-mb-xl ml-sm",
            "items": [
              {
                "value": "todos",
                "text": "Seleccionar todos"
              }
            ]
          })  }}
        </div>
        <ul class="flex flex-wrap gap-sm lg:ml-auto lg:pl-base">
          <li>
            {{ componentButton({
              "html": 'Descargar seleccionados<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="self-center ml-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5 5.75a.75.75 0 0 0-.586 1.219l2 2.5a.75.75 0 0 0 1.172 0l2-2.5A.75.75 0 0 0 9 5.75H8V1a1 1 0 0 0-2 0v4.75H5ZM2 11a1 1 0 1 0-2 0v.5A2.5 2.5 0 0 0 2.5 14h9a2.5 2.5 0 0 0 2.5-2.5V11a1 1 0 1 0-2 0v.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V11Z" clip-rule="evenodd"/></svg>'
            })  }}
          </li>
        </ul>
      </section>          
      {# Listado de documentos #}
      <section aria-labelledby="docs-expediente">
        <h3 id="docs-expediente" class="sr-only">Listado de carpetas y documentos del expediente</h3>
        <ul>
          <li id="doc-expediente1" class="flex flex-wrap py-sm px-base border border-neutral-base rounded mb-sm">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes mr-base">
              <label id="doc-expediente1-label" for="doc-expediente1-checkbox" class="sr-only">Selecciona</label>
              <input x-model="isChecked" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="doc-expediente1-checkbox" name="doc-expediente1-checkbox" type="checkbox" value="item-checkbox" aria-labelledby="doc-expediente1-label doc-expediente1-title" disabled>
            </div>
            <div class="flex-1">
              <div class="flex flex-wrap">
                {# Icono #}
                <div class="lg:self-center h-full mr-base mt-xs lg:mt-0">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6" aria-hidden="true" focusable="false"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>
                </div>
                <div class="lg:flex flex-1 self-center">
                  {# Descripcion documento #}
                  <div class="lg:flex-1 lg:self-center">
                      <p id="doc-expediente1-title">Justificante de registro de aportación (PDF)</p>
                      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">CSV91238912373182</li>
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">Justificante</li>
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">Acceso no permitido</li>
                      </ul>
                  </div>
                  {# Acciones #}
                  <div class="flex self-center w-full lg:w-auto lg:text-right mt-xs lg:mt-0 lg:ml-base">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="lg:mr-base" aria-label="Bloqueado" focusable="false" role="img"><path d="M115 55.86V45a45 45 0 00-90 0v10.86A15 15 0 0015 70v55a15 15 0 0015 15h80a15 15 0 0015-15V70a15 15 0 00-10-14.14zM70 110a12.5 12.5 0 1112.5-12.5A12.5 12.5 0 0170 110zm25-55H45V45a25 25 0 0150 0z" fill="currentColor"/></svg> <span class="text-sm ml-xs lg:hidden">Bloqueado</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="doc-expediente2" class="flex flex-wrap py-sm px-base border border-neutral-base rounded mb-sm">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes mr-base">
              <label id="doc-expediente2-label" for="doc-expediente2-checkbox" class="sr-only">Selecciona</label>
              <input x-model="isChecked" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base" id="doc-expediente2-checkbox" name="doc-expediente2-checkbox" type="checkbox" value="item-checkbox" aria-labelledby="doc-expediente2-label doc-expediente2-title">
            </div>
            <div class="flex-1">
              <div class="flex flex-wrap">
                {# Icono #}
                <div class="lg:self-center h-full mr-base mt-xs lg:mt-0">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6" aria-hidden="true" focusable="false"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>
                </div>
                <div class="lg:flex flex-1 self-center">
                  {# Descripcion documento #}
                  <div class="lg:flex-1 lg:self-center">
                      <p id="doc-expediente2-title">Solicitud de trabajo de Tomás Pérez Palacios (PDF)</p>
                      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">CSV91238912373182</li>
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">Solicitud</li>
                      </ul>
                  </div>
                  {# Acciones #}
                  <div class="w-full lg:w-auto lg:text-right mt-xs lg:mt-0 lg:ml-base">
                    <ul class="flex flex-wrap gap-sm">
                      <li><button id="doc-expediente2-btn-a" class="c-button c-button--transparent" aria-labelledby="doc-expediente2-btn-a doc-expediente2-title">Ver</button></li>
                      <li><button id="doc-expediente2-btn-b" class="c-button c-button--transparent" aria-labelledby="doc-expediente2-btn-b doc-expediente2-title">Descargar</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="doc-expediente3" class="flex flex-wrap py-sm px-base border border-neutral-base rounded mb-sm">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes mr-base">
              <label id="doc-expediente3-label" for="doc-expediente3-checkbox" class="sr-only">Selecciona</label>
              <input x-model="isChecked" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="doc-expediente3-checkbox" name="doc-expediente3-checkbox" type="checkbox" value="item-checkbox" aria-labelledby="doc-expediente3-label doc-expediente3-title" checked>
            </div>
            <div class="flex-1">
              <div class="flex flex-wrap">
                {# Icono #}
                <div class="lg:self-center h-full mr-base mt-xs lg:mt-0">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6" aria-hidden="true" focusable="false"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>
                </div>
                <div class="lg:flex flex-1 self-center">
                  {# Descripcion documento #}
                  <div class="lg:flex-1 lg:self-center">
                      <p id="doc-expediente3-title">Solicitud de trabajo de Tomás Pérez Palacios (PDF)</p>
                      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">CSV91238912373182</li>
                        <li class="lg:inline-block px-sm text-sm text-neutral-dark">Requerimiento</li>
                      </ul>
                  </div>
                  {# Acciones #}
                  <div class="w-full lg:w-auto lg:text-right mt-xs lg:mt-0 lg:ml-base">
                    <ul class="flex flex-wrap gap-sm">
                      <li><button id="doc-expediente3-btn-a" class="c-button c-button--transparent" aria-labelledby="doc-expediente3-btn-a doc-expediente3-title">Ver</button></li>
                      <li><button id="doc-expediente3-btn-b" class="c-button c-button--transparent" aria-labelledby="doc-expediente3-btn-b doc-expediente3-title">Descargar</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
{% endblock %}

