{% set title = "Documentos y Expedientes de CSV - Mensajes verificación - Necesario login. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1">Comprobación y verificación de documentos</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base">
      Cualquier documento o expediente que se haya generado por el Gobierno de Aragón se puede comprobar a través de su Código Seguro de Verificación (CSV).
    </p>
    <p class="c-paragraph-base">
      El CSV es un código único que identifica a cada documento o expediente que se encuentre en el gestor documental del Gobierno de Aragón y nos permita descargarlo, verificar su contenido o comprobar la autenticidad de sus firmas. Por lo general este código, se encuentra en los márgenes de los documentos. <a href="https://www.aragon.es/tramites/servicio-de-verificacion-de-documentos-electronicos" class="c-link">Más información</a>.
    </p>
    {# Verificacion #}
    <div class="md:flex md:flex-wrap gap-x-3 pt-base items-end">
      {{ componentInput({
        "label": {
          "html": 'Introduce el CSV del documento o expediente'
        },
        "id": "csv",
        "name": "csv",
        "value": "CSV91238912373182",
        "classes": "w-full md:w-96"
      })  }} 
      {{ componentButton({
        "text": "Verificar",
        "classes": "c-button--primary mb-8"
      })  }}    
    </div>
    {# Resultados #}
    <h2 class="c-paragraph-base">Resultados de la consulta</h2>
    {{ componentNotification({
      "title": {
        "html": 'El documento "CSV91238912373182" tiene acceso limitado.'
      },
      "description": {
        "html": 'Debes identificarte para ver su contenido.'
      },
      "items": [
        {
          "text": "Identifícate",
          "href": "#"
        }
      ],
      "classes": "c-notification--alert",
      "id": "notif-acceso-limitado"
    })  }}
    <div class="pb-lg"></div><!--espaciador-->
    {{ componentNotification({
      "title": {
        "html": 'El documento "CSV91238912373182" tiene acceso restringido.'
      },
      "description": {
        "html": 'Debes identificarte para ver su contenido.<br> Solo puedes acceder al documento si tienes los permisos necesarios.'
      },
      "items": [
        {
          "text": "Identifícate",
          "href": "#"
        }
      ],
      "classes": "c-notification--alert",
      "id": "notif-acceso-restringido"
    })  }}
    <div class="pb-lg"></div><!--espaciador-->
    {{ componentNotification({
      "title": {
        "html": 'El documento "CSV91238912373182" tiene acceso restringido.'
      },
      "description": {
        "html": 'No tienes los permisos necesarios para verlo.'
      },
      "items": [
        {
          "text": "Más información",
          "href": "#"
        }
      ],
      "classes": "c-notification--alert",
      "id": "notif-acceso-sin-permisos"
    })  }}
  </div>
{% endblock %}

