{# Titulo de pagina #}
{% set title = "Métodos de acceso. DIGA. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{# fin Dependencias #}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1 mb-xs">Acceder a MiA</h1>
    <p class="c-paragraph-base">Al acceder a esta aplicación, aceptas las <a href="#" class="c-link">condiciones de uso</a>.</p>

    <div class="pb-xl"></div><!--espaciador-->
    
    <h2 class="c-h2 mb-sm">Indica como quieres acceder</h2>

    {{ componentLinksList({
      "idPrefix": "tipos-accesos",
      "listClasses": "border border-transparent",
      "items": [
        {
          "href": "#",
          "containerClasses": "my-base p-base border border-neutral-base rounded",
          "html": 'Con PIN Salud. <span class="block text-black font-normal text-base">Si estás dado de alta en Salud Aragón.</span>',
          "classes": "flex justify-between items-center px-sm text-xl font-semibold no-underline",
          "icon": {
            "html": '<div class="flex items-center justify-center p-2.5 -ml-sm bg-neutral-light rounded-full text-4xl"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.85em" width="0.85em" class="inline-block align-middle text-black" aria-label="Acceso con PIN Salud"><path fill="currentColor" d="M17 0H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3Zm-5 22.47a1 1 0 1 1 1-1 1 1 0 0 1-1 1ZM18 18a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V3.53a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1Z"/></svg></div>'
          }
        },
        {
          "href": "#",
          "containerClasses": "my-base p-base border border-neutral-base rounded",
          "html": 'Con Cl@ve. <span class="block text-black font-normal text-base">Cl@ve móvil, Cl@ve permanente, Cl@ve PIN, DNIe o certificado electrónico.</span>',
          "classes": "flex justify-between items-center px-sm text-xl font-semibold no-underline",
          "icon": {
            "html": '<div class="flex items-center justify-center p-2.5 -ml-sm bg-neutral-light rounded-full text-4xl"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.85em" width="0.85em" class="inline-block align-middle text-black" aria-label="Acceso con Cl@ve"><path fill="currentColor" d="M12 .5A11.64 11.64 0 0 0 .26 12 11.64 11.64 0 0 0 12 23.5a11.85 11.85 0 0 0 6.62-2 1.25 1.25 0 1 0-1.39-2.08A9.32 9.32 0 0 1 12 21a9.14 9.14 0 0 1-9.24-9A9.14 9.14 0 0 1 12 3a9.14 9.14 0 0 1 9.24 9v.89a1.95 1.95 0 0 1-3.89 0V12A5.35 5.35 0 1 0 12 17.26a5.37 5.37 0 0 0 3.86-1.63 4.44 4.44 0 0 0 7.88-2.74V12A11.64 11.64 0 0 0 12 .5Zm0 14.26A2.76 2.76 0 1 1 14.85 12 2.81 2.81 0 0 1 12 14.76Z"/></svg></div>'
          }
        },
        {
          "href": "#",
          "containerClasses": "my-base p-base border border-neutral-base rounded",
          "html": 'Con certificado electrónico. <span class="block text-black font-normal text-base">Si tienes un certificado instalado en tu ordenador o dispositivo.</span>',
          "classes": "flex justify-between items-center px-sm text-xl font-semibold no-underline",
          "icon": {
            "html": '<div class="flex items-center justify-center p-2.5 -ml-sm bg-neutral-light rounded-full text-4xl"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.85em" width="0.85em" class="inline-block align-middle text-black" aria-label="Acceso con certificado electrónico"><g fill="currentColor"><path d="M24 6.25a2 2 0 0 0-2-2h-6a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 1-1 0v-2.5a3 3 0 0 0-6 0v2.5a.5.5 0 0 1-1 0v-1.5a.5.5 0 0 0-.5-.5H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm-8 17.75a.5.5 0 0 1-.5-.5v-10.5a.5.5 0 0 1 .5-.5h19a.5.5 0 0 1 .5.5v10.5a.5.5 0 0 1-.5.5Z"/><path d="M19.25 13.5H14.5a.75.75 0 0 0 0 1.5h4.75a.75.75 0 0 0 0-1.5ZM18 16.5h-3.5a.75.75 0 0 0 0 1.5H18a.75.75 0 0 0 0-1.5ZM6 13.75a2 2 0 1 0 4 0 2 2 0 1 0-4 0M8 16.75a3.6 3.6 0 0 0-3.3 2.32.5.5 0 0 0 .47.68h5.65a.5.5 0 0 0 .47-.68A3.58 3.58 0 0 0 8 16.75Z"/></g></svg></div>'
          }
        }
      ],
      "attributes": {
        "aria-label": "Menú destacado"
      }
    }) }}

    <!-- preguntas frecuentes -->
    <hr class="border-t border-neutral-base my-2xl"/>
    <h2 class="c-h3 mb-base">Preguntas frecuentes</h2>
    <ul>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es <span aria-label="Clave">Cl@ve</span>?'
          }
        })  %}
          <div class="ml-base">
            <p>Cl@ve es una plataforma de verificación de identidades electrónicas para la identificación y autenticación de la ciudadanía. Nos permite identificarnos ante las Administraciones Públicas con plenas garantías de seguridad.</p>
            <p>
              Más información en el <a class="c-link" href="https://clave.gob.es/clave_Home/clave/queEs.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": 'Hay dos opciones que permiten certificado electrónico ¿Qué opción he de elegir?'
          }
        })  %}
          <div class="ml-base">
            <p>
              La opción recomendada es <span aria-label="Clave">Cl@ve</span>. El sistema unificado <span aria-label="Clave">Cl@ve</span> permite el acceso con certificado electrónico y es el método de acceso estándar. En caso de que el sistema <span aria-label="Clave">Cl@ve</span> no esté disponible, ofrecemos un segundo método alternativo <em>"Con certificado electrónico"</em> para acceder sin necesidad de usar el sistema <span aria-label="Clave">Cl@ve</span>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo saber qué certificado electrónico tengo instalado?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Encontrarás una explicación breve y clara en el vídeo <a class="c-link" href="https://youtu.be/FAzV53Actlw">Ciudadanos: cómo saber qué certificado tengo instalado</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
            </p>
          </div>
        {% endcall %}
      </li>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": 'No consigo acceder a MiA ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un problema relativo a trámites, plazos y otros temas no técnicos. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Si tus dudas o problemas son relativos a temas no técnicos sino de la administración, puedes contactar con nosotros:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Información: <a href="tel:+34976714111" class="c-link">976 71 41 11</a>. <br>Horario de lunes a viernes de 9:00 a 14:00</li>
              <li>Escribir un email a: <a href="mailto:infoyregistro@aragon.es" class="c-link">infoyregistro@aragon.es</a></li>
            </ul>
          </div>
        {% endcall %}
      </li>
    </ul>
    <!-- /preguntas frecuentes -->
  </div>
{% endblock %}