{# Titulo de pagina #}
{% set title = "Acceso con PIN Salud- Doble autenticación Paso 1. DIGA. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{# fin Dependencias #}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1 mb-xs">Acceder a MiA</h1>
    
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Ir a métodos de acceso',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>

    <div class="pb-base"></div><!--espaciador-->
    
    <h2 class="c-h2 mb-lg">Acceso con PIN Salud</h2>

    <p class="c-paragraph-base mb-base text-neutral-dark">Paso 1 de 2</p>
    <h3 class="c-h3 mb-xs">Indica tus datos del PIN Salud</h3>
    <div class="pb-lg"></div><!--espaciador-->

    {{ componentInput({
      "id": "input-num-ar",
      "name": "num-ar",
      "label": {
        "text": "Número de tarjeta sanitaria AR"
      },
      "hint": {
        "text": "Puedes encontrar este número en tu tarjeta sanitaria."
      },
      "placeholder": "AR0000000A",
      "classes": "w-full lg:w-2/5"
    })  }}
    {{ componentInput({
      "id": "input-pin",
      "name": "pin",
      "label": {
        "text": "Indica tu PIN Salud"
      }
    })  }}
    {{ componentButton({
      "html": "Siguiente<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' class='self-center ml-2' aria-hidden='true' focusable='false' width='1em' height='1em'><path d='M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z' fill='currentColor'></path></svg>",
      "classes": "mt-base"
    })  }}        

    <hr class="border-t border-neutral-base mt-2xl mb-xl"/>
    <ul>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": '¿No tengo Pin Salud que puedo hacer?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida, diam in mattis malesuada, dui mi eleifend lacus, sed elementum arcu neque vestibulum sapien. Aenean elementum magna eu bibendum porta. Sed interdum nulla ut pulvinar varius. Fusce facilisis felis urna, eu bibendum dui gravida nec..
            </p>
          </div>
        {% endcall %}
      </li>
    </ul>

  </div>
{% endblock %}