{# Titulo de pagina #}
{% set title = "Acceso con PIN Salud. DIGA. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{# fin Dependencias #}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1 mb-xs">Acceder a MiA</h1>
    
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Ir a métodos de acceso',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>

    <div class="pb-base"></div><!--espaciador-->
    
    <h2 class="c-h2 mb-lg">Acceso con PIN Salud</h2>
    {{ componentInput({
      "id": "input-num-ar",
      "name": "num-ar",
      "label": {
        "text": "Indica tu Número AR"
      },
      "hint": {
        "text": "Puedes encontrar este número en tu tarjeta sanitaria."
      },
      "placeholder": "AR0000000A",
      "classes": "w-full lg:w-2/5"
    })  }}
    {{ componentInput({
      "id": "input-pin",
      "name": "pin",
      "label": {
        "text": "Indica tu PIN Salud"
      }
    })  }}
    {{ componentButton({
      "text": "Acceder",
      "classes": "c-button--primary"
    })  }}        

    <p class="mt-xl"><a href="#" class="c-link">¿No tienes Pin Salud?</a></p>

  </div>
{% endblock %}