{# Titulo de pagina #}
{% set title = "Acceso con PIN Salud- Doble autenticación Paso 2 botón spinner. DIGA. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{# fin Dependencias #}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1 mb-xs">Acceder a MiA</h1>
    
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver a métodos de identificación',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>

    <div class="pb-base"></div><!--espaciador-->
    
    <h2 class="c-h2 mb-lg">Acceso con PIN Salud</h2>

    <p class="c-paragraph-base mb-base text-neutral-dark">Paso 2 de 2</p>
    <h3 class="c-h3 mb-xs">Introduce el código enviado por SMS al teléfono 637****93</h3>
    <p>
      Hemos enviado un SMS al teléfono que tenemos registrado. <a href="#" class="c-link">Volver a mandar SMS</a>
    </p>
    <div class="pb-lg"></div><!--espaciador-->

    {{ componentInput({
      "id": "input-codigo-sms",
      "name": "codigo-sms",
      "label": {
        "text": "Código de verificación"
      }
    })  }}
   
    {{ componentButtonLoader({
      "name": "loading",
      "text": "Cargando",
      "state": "is-loading",
      "classes": "c-button-loader--is-loading c-button-loader--primary mt-base",
      "loader": {
        "text": "Acción en curso"
      }
    }) }}      

    <hr class="border-t border-neutral-base mt-2xl mb-xl"/>
    <ul>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": '¿Qué hago si no tengo acceso a ese teléfono móvil?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida, diam in mattis malesuada, dui mi eleifend lacus, sed elementum arcu neque vestibulum sapien. Aenean elementum magna eu bibendum porta. Sed interdum nulla ut pulvinar varius. Fusce facilisis felis urna, eu bibendum dui gravida nec..
            </p>
          </div>
        {% endcall %}
      </li>
      <li class="mb-sm">
        {% call componentDetails({
          "summary": {
            "html": '¿Qué hago si no llega el SMS?'
          }
        })  %}
          <div class="ml-base">
            <p>
              Texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida, diam in mattis malesuada, dui mi eleifend lacus, sed elementum arcu neque vestibulum sapien. Aenean elementum magna eu bibendum porta. Sed interdum nulla ut pulvinar varius. Fusce facilisis felis urna, eu bibendum dui gravida nec..
            </p>
          </div>
        {% endcall %}
      </li>
    </ul>

  </div>
{% endblock %}