{% set title = "Educación y formación - Portada vacía. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Educación y formación
  </h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg pb-base">
      Consulta servicios de educación que te pueden interesar y algunos datos relacionados con ellos.
    </p>

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Quizá te pueda interesar</h2>
    <ul class="mb-xl">
      <li class="mb-base">
        <a href="#" class="c-link">Escolarización de alumnado en centros docentes públicos y privados concertados. Curso 2023/2024</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 20 Abril 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Becas de movilidad en los campus universitarios de Aragón</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 3 febrero 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Ayudas para estudios de Máster Universitario Estratégico</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 1 enero 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Becas salario para la realización de estudios oficiales de Grado en el Sistema Universitario de Aragón</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 2 diciembre 2022</div>
      </li>
    </ul>

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Títulos de estudios universitarios</h2>
    <p class="c-paragraph-base mb-sm">Más información en el portal web del <a href="https://www.universidades.gob.es/" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ministerio de Universidades</a>. Es posible que los títulos anteriores a 1996 no se visualicen.</p>
    <p class="c-paragraph-base italic border px-base py-sm border-neutral-light bg-neutral-lighter">No se han encontraron títulos registrados.</p>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Títulos de estudios no universitarios</h2>
    <p class="c-paragraph-base mb-sm">Más información en el portal web del <a href="https://www.educacionyfp.gob.es/portada.html" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ministerio de Educación y Formación Profesional</a>. Es posible que los título anteriores a 1996 no se visualicen.</p>
    <p class="c-paragraph-base italic border px-base py-sm border-neutral-light bg-neutral-lighter">No se han encontraron títulos registrados.</p>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Consulta tus becas, ayudas y premios</h2>
    <p class="c-paragraph-base">Consulta las convocatorias de becas, ayudas y premios en las que has recibido. Si la convocatoria es anterior al 2014 es posible que sus datos no puedan visualizarse automáticamente.</p>
    <div class="mb-base pt-sm">    
      {{ componentSearchbar({
        "id": "searchbar-6",
        "label": {
          "text": "Indica el año de consulta",
          "classes": "not-sr-only font-semibold mb-sm"
        },
        "button": {
          "text": "Buscar",
          "type": "submit",
          "classes": "c-button--primary ml-sm"
        },
        "classes": "w-20 pr-2",
        "value": "2022"
      })  }}
    </div>
    <p class="c-paragraph-base italic border px-base py-sm border-neutral-light bg-neutral-lighter">No se encontraron becas registradas en el año consultado.</p>


  </div>
{% endblock %}
