{% set title = "Educación y formación - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Educación y formación
  </h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg pb-base">
      Consulta servicios de educación que te pueden interesar y algunos datos relacionados con ellos.
    </p>

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Quizá te pueda interesar</h2>
    <ul class="mb-xl">
      <li class="mb-base">
        <a href="#" class="c-link">Escolarización de alumnado en centros docentes públicos y privados concertados. Curso 2023/2024</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 20 Abril 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Becas de movilidad en los campus universitarios de Aragón</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 3 febrero 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Ayudas para estudios de Máster Universitario Estratégico</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 1 enero 2023</div>
      </li>
      <li class="mb-base">
        <a href="#" class="c-link">Becas salario para la realización de estudios oficiales de Grado en el Sistema Universitario de Aragón</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 2 diciembre 2022</div>
      </li>
    </ul>

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Títulos de estudios universitarios</h2>
    <p class="c-paragraph-base">Más información en el portal web del <a href="https://www.universidades.gob.es/" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ministerio de Universidades</a>. Es posible que los títulos anteriores a 1996 no se visualicen.</p>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg mb-px">Doctor en ingeniería en diseño industrial y desarrollo de producto</h3>
      <p class="c-paragraph-base text-sm lg:text-base">Universidad Nacional de Educación a Distancia U.N.E.D.</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-4 gap-base",
        "items": [
          {
            "term": {
              "html": 'Número de título'
            },
            "definition": {
              "html": '2020005236'
            }
          },
          {
            "term": {
              "html": 'Fecha de finalización'
            },
            "definition": {
              "html": '21 septiembre 2018'
            }
          },
          {
            "term": {
              "html": 'Fecha de expedición'
            },
            "definition": {
              "html": '10 septiembre 2019'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
    </div>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg mb-px">Master en ingeniería en diseño industrial y desarrollo de producto</h3>
      <p class="c-paragraph-base text-sm lg:text-base">Universidad Nacional de Educación a Distancia U.N.E.D.</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-4 gap-base",
        "items": [
          {
            "term": {
              "html": 'Número de título'
            },
            "definition": {
              "html": '2020005236'
            }
          },
          {
            "term": {
              "html": 'Fecha de finalización'
            },
            "definition": {
              "html": '21 septiembre 2018'
            }
          },
          {
            "term": {
              "html": 'Fecha de expedición'
            },
            "definition": {
              "html": '10 septiembre 2019'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
    </div>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg mb-px">Grado en ingeniería en diseño industrial y desarrollo de producto</h3>
      <p class="c-paragraph-base text-sm lg:text-base">Universidad Nacional de Educación a Distancia U.N.E.D.</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-4 gap-base",
        "items": [
          {
            "term": {
              "html": 'Número de título'
            },
            "definition": {
              "html": '2020005236'
            }
          },
          {
            "term": {
              "html": 'Fecha de finalización'
            },
            "definition": {
              "html": '21 septiembre 2018'
            }
          },
          {
            "term": {
              "html": 'Fecha de expedición'
            },
            "definition": {
              "html": '10 septiembre 2019'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
    </div>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Títulos de estudios no universitarios</h2>
    <p class="c-paragraph-base">Más información en el portal web del <a href="https://www.educacionyfp.gob.es/portada.html" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ministerio de Educación y Formación Profesional</a>. Es posible que los título anteriores a 1996 no se visualicen.</p>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg mb-px">Bachiller en la modalidad de Ciencias y Tecnología</h3>
      <p class="c-paragraph-base text-sm lg:text-base">I.E.S. Bajo Aragón</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-6 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Provincia'
            },
            "definition": {
              "html": 'Teruel'
            }
          },
          {
            "term": {
              "html": 'Fecha de finalización'
            },
            "definition": {
              "html": '21 septiembre 2018'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Fecha de expedición'
            },
            "definition": {
              "html": '10 septiembre 2019'
            },
            "classes": "md:col-span-3"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-6 gap-base",
        "items": [
          {
            "term": {
              "html": 'Libro'
            },
            "definition": {
              "html": '10202'
            }
          },
          {
            "term": {
              "html": 'Orden'
            },
            "definition": {
              "html": '4399'
            }
          },
          {
            "term": {
              "html": 'Folio'
            },
            "definition": {
              "html": '177'
            },
            "classes": "md:col-span-4"
          }
        ]
      })  }}
    </div>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg mb-px">Educación Secundaria Obligatoria</h3>
      <p class="c-paragraph-base text-sm lg:text-base">I.E.S. Bajo Aragón</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-6 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Provincia'
            },
            "definition": {
              "html": 'Teruel'
            }
          },
          {
            "term": {
              "html": 'Fecha de finalización'
            },
            "definition": {
              "html": '21 septiembre 2018'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Fecha de expedición'
            },
            "definition": {
              "html": '10 septiembre 2019'
            },
            "classes": "md:col-span-3"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-6 gap-base",
        "items": [
          {
            "term": {
              "html": 'Libro'
            },
            "definition": {
              "html": '10202'
            }
          },
          {
            "term": {
              "html": 'Orden'
            },
            "definition": {
              "html": '4399'
            }
          },
          {
            "term": {
              "html": 'Folio'
            },
            "definition": {
              "html": '177'
            },
            "classes": "md:col-span-4"
          }
        ]
      })  }}
    </div>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Consulta tus becas, ayudas y premios</h2>
    <p class="c-paragraph-base">Consulta las convocatorias de becas, ayudas y premios en las que has recibido. Si la convocatoria es anterior al 2014 es posible que sus datos no puedan visualizarse automáticamente.</p>
    <div class="mb-base pt-sm">    
      {{ componentSearchbar({
        "id": "searchbar-6",
        "label": {
          "text": "Indica el año de consulta",
          "classes": "not-sr-only font-semibold mb-sm"
        },
        "button": {
          "text": "Buscar",
          "type": "submit",
          "classes": "c-button--primary ml-sm"
        },
        "classes": "w-20 pr-2",
        "value": "2022"
      })  }}
    </div>
    {# titulo #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3 text-base lg:text-lg">Beca - AE1 - Convocatoria General Universitaria - curso 2022</h3>
      <p class="text-sm text-neutral-dark mb-xs pt-xs">Ayudas recibidas</p>
      {{ componentDescriptionList({
        "classes": "w-full",
        "items": [
          {
            "term": {
              "html": '4702 - Fija por residencia',
              "classes": "lg:w-1/3 pr-base pt-sm lg:pb-sm"
            },
            "definition": {
              "html": '<a href="#" class="c-link inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
                        <span class="flex-1">Certificado (PDF 332 Kb)</span>
                      </a>',
              "classes": "lg:w-2/3 pr-base py-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": '0902 - Tasas',
              "classes": "lg:w-1/3 pr-base pt-sm lg:pb-sm"
            },
            "definition": {
              "html": '',
              "classes": "lg:w-2/3 pr-base py-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": '4703 - Variable',
              "classes": "lg:w-1/3 pr-base pt-sm lg:pb-sm"
            },
            "definition": {
              "html": '<a href="#" class="c-link inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
                        <span class="flex-1">Certificado (PDF 332 Kb)</span>
                      </a>',
              "classes": "lg:w-2/3 pr-base py-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": '4704 - Variable',
              "classes": "lg:w-1/3 pr-base pt-sm lg:pb-sm"
            },
            "definition": {
              "html": '<a href="#" class="c-link inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
                        <span class="flex-1">Certificado (PDF 332 Kb)</span>
                      </a>',
              "classes": "lg:w-2/3 pr-base py-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          }
        ]
      })  }}
    </div>

  </div>
{% endblock %}
