{% set title = "Firma de documentos - Detalle documento - Firmado cargando documento. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Firma de documentos",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1 mb-base">Requerimiento de subsanación</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base mb-base lg:c-paragraph-lg lg:mb-base"><strong class="bg-success-light px-xs py-px">Has firmado</strong> el documento el <strong>20 enero 2023</strong>.</p>

    <!-- firmantes y detalles -->
    {% call componentDetails({
      "summary": {
        "html": "Ver firmantes y detalles adicionales"
      }
    }) %}
      <h2 class="c-h3">Firmantes</h2>
      <div class="lg:table w-full border-t border-neutral-base">
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Marta Perez (Tú)</p>
                <p class="text-sm text-neutral-dark">En representacion de Manuela Hernandez Ruiz</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 12 enero 2023, 12:33</span>
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M6.412.662a1.149 1.149 0 0 1 1.197.013l5.455 3.62.002.002c.402.268.52.73.367 1.12-.148.379-.524.637-.977.637h-.59v4.327h.673c.543 0 .961.449.961.974v1.171a.968.968 0 0 1-.962.974H1.462a.968.968 0 0 1-.962-.974v-1.17c0-.526.418-.975.962-.975h.673V6.054h-.59c-.454 0-.83-.258-.978-.636a.925.925 0 0 1 .368-1.121l.001-.001L6.391.676a.498.498 0 0 1 .02-.014ZM4.135 6.054v4.327H6V6.054H4.135Zm3.865 0v4.327h1.865V6.054H8Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Jose Antonio Ruiz de Barbosa</p>
                <p class="text-sm text-neutral-dark">Director del Departamento de Innovación, Investigación y Universidad</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <strong class="bg-warning-base px-xs py-px">Pendiente de firma</strong>
          </div>
        </div>
      </div>
      <div class="pb-lg"></div><!--espaciador-->
      <h2 class="c-h3">Detalles adicionales</h2>
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Disponible desde',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '15 diciembre 2020, 10:35',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'CSV de documento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": 'CSV91238912373182',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'Procedimiento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '<a href="#" class="c-link font-semibold">Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional </a>',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          }
        ]
      }) }}
    {% endcall  %}

    <!-- info firma -->
    {% call componentDetails({
      "summary": {
        "html": "Información y ayuda sobre la firma de documentos"
      }
    }) %}
    <p class="c-paragraph-base">Una firma digital se utiliza para autenticar la identidad de un usuario o entidad y garantizar la integridad de un documento digital. Funciona de manera similar a una firma manuscrita, pero se aplica a documentos electrónicos.</p>
    <p class="c-paragraph-base">Es importante realizar la firmar de este documento desde esta aplicación, no se puede presentar ni firmar este documento por ningún otro medio, ya que no tendrá validez.</p>
    <p class="c-paragraph-base">Para firmar documentos, es necesario contar con la aplicación <a href="https://firmaelectronica.gob.es/Home/Descargas.html" class="c-link" target="_blank" title="Se abre en ventana nueva">AutoFirma</a>, que permite utilizar nuestro certificado personal para la firma, o haberse registrado y tener un nivel avanzado en Cl@ve. <a href="https://aplicaciones.aragon.es/mfe_core/rest/help/MFE_SIGNATURE_TEST_DESY" class="c-link" target="_blank" title="Se abre en ventana nueva">Comprueba el nivel de tu Cl@ve</a>.</p>
    <p class="c-paragraph-base">El archivo o documento electrónico resultante de la firma electrónica es el documento válido legalmente y el que se debe conservar.</p>
    <p class="c-paragraph-base">Si se detecta que un documento tiene errores y no corresponde firmarlo, se puede rechazar. Para ello se pedirá introducir el motivo del rechazo. </p>
    <p class="c-paragraph-base">La firma de un documento no se considera finalizada hasta que hayan firmado todos los firmantes mínimos necesarios.</p>
    <p class="c-paragraph-base"><a href="#" class="c-link">Más información de proceso de firma</a></p>
    {% endcall  %}    

    <div class="pb-xl"></div><!--espaciador-->

    <hr class="mb-xl">
    <h2 class="c-h2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8 inline align-middle -mt-xs mr-sm text-success-dark" aria-hidden="true" focusable="false"><path fill="currentcolor" d="M12 0a12 12 0 1 0 12 12A12 12 0 0 0 12 0Zm6.93 8.2-6.85 9.29a1 1 0 0 1-1.43.19l-4.89-3.91a1 1 0 0 1-.15-1.41A1 1 0 0 1 7 12.21l4.08 3.26L17.32 7a1 1 0 0 1 1.39-.21 1 1 0 0 1 .22 1.41Z"/></svg>
      Documento firmado correctamente
    </h3>
    <p class="c-paragraph-base mb-base lg:c-paragraph-lg lg:mb-base">El documento puede tardar unos instantes en aparecer como firmado.</p>
    <div class="flex text-lg">
      {{ componentSpinner({
        "classes": "text-lg left-2.5"
      }) }}
      <span class="ml-7">Cargando...</span>
    </div>
  </div>
{% endblock %}