{% set title = "Firma de documentos - Listado de Firmas - Firmar en bloque - Firmando. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h2 mb-base lg:c-h1 lg:mb-base">Firma de documentos en bloque</h1>
  
  <p class="c-paragraph-base mb-sm lg:c-paragraph-lg lg:mb-sm font-semibold">Se está realizando la firma de 12 documentos.</p>
  <p class="c-paragraph-base mb-xs lg:c-paragraph-lg lg:mb-xs">4 documentos restantes</p>
  <p class="c-paragraph-base mb-xs lg:c-paragraph-lg lg:mb-xs"><span class="bg-success-light px-xs py-px">5 firmas correctas</span></p>
  <p class="c-paragraph-base lg:c-paragraph-lg"><span class="bg-alert-light px-xs py-px">1 error</span></p>
  
  <div class="pb-base"></div><!--espaciador-->
  
  {# Listado de Documentos #}
  <h2 class="sr-only">Listado de documentos</h2>
  <div class="lg:table w-full border-t border-neutral-base">
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-alert-light px-xs py-px font-semibold">Error</span> 
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-alert-light px-xs py-px font-semibold">Error</span> 
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <p class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="1.1em" height="1.1em" class="mt-0.5 mr-base" aria-label="Firmando" focusable="false" role="img"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m7.769 6.385 1.385-.347.346 1.385"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M9.012 6.074A4.17 4.17 0 0 1 5 9.154a4.17 4.17 0 0 1-3.9-2.735M2.231 3.615l-1.385.347L.5 2.577"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M.988 3.926A4.17 4.17 0 0 1 5 .846v0A4.17 4.17 0 0 1 8.9 3.58"/></svg>
          <span class="font-semibold">Firmando...</span>
        </p>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <p class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-label="En espera" focusable="false" role="img"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.25 1a4 4 0 1 1-2.769 1.114"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m.75 2.5 1.731-.386.387 1.547M5.25 3.5V5l1 1"/></svg>
          <span class="font-semibold">En espera</span> 
        </p>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <p class="inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-label="En espera" focusable="false" role="img"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.25 1a4 4 0 1 1-2.769 1.114"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m.75 2.5 1.731-.386.387 1.547M5.25 3.5V5l1 1"/></svg>
          <span class="font-semibold">En espera</span> 
        </p>
      </div>
    </div>
  </div>  

{% endblock %}