{% set title = "Firma de documentos - Detalle documento - Firmado por todos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Firma de documentos",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1 mb-base">Requerimiento de subsanación</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg"><strong class="bg-success-light px-xs py-px">Has firmado</strong> el documento el <strong>20 enero 2023</strong>.</p>

    <!-- firmantes y detalles -->
    {% call componentDetails({
      "summary": {
        "html": "Ver firmantes y detalles adicionales"
      }
    }) %}
      <h2 class="c-h3">Firmantes</h2>
      <div class="lg:table w-full border-t border-neutral-base">
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Marta Perez (Tú)</p>
                <p class="text-sm text-neutral-dark">En representacion de Manuela Hernandez Ruiz</p>
                <ul class="flex flex-wrap gap-sm">
                  <li>
                    <a href="#" class="c-link text-sm">Validar firma</a>
                  </li>
                  <li>
                    <a href="#" class="c-link text-sm">Descargar firma</a> 
                  </li>
                </ul>                
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 12 enero 2023, 12:33</span>
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M6.412.662a1.149 1.149 0 0 1 1.197.013l5.455 3.62.002.002c.402.268.52.73.367 1.12-.148.379-.524.637-.977.637h-.59v4.327h.673c.543 0 .961.449.961.974v1.171a.968.968 0 0 1-.962.974H1.462a.968.968 0 0 1-.962-.974v-1.17c0-.526.418-.975.962-.975h.673V6.054h-.59c-.454 0-.83-.258-.978-.636a.925.925 0 0 1 .368-1.121l.001-.001L6.391.676a.498.498 0 0 1 .02-.014ZM4.135 6.054v4.327H6V6.054H4.135Zm3.865 0v4.327h1.865V6.054H8Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Jose Antonio Ruiz de Barbosa</p>
                <p class="text-sm text-neutral-dark">Director del Departamento de Innovación, Investigación y Universidad</p>
                <ul class="flex flex-wrap gap-sm">
                  <li>
                    <a href="#" class="c-link text-sm">Validar firma</a>
                  </li>
                  <li>
                    <a href="#" class="c-link text-sm">Descargar firma</a> 
                  </li>
                </ul>  
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 24 enero 2023, 10:10</span>
          </div>
        </div>
      </div>
      <div class="pb-lg"></div><!--espaciador-->
      <h2 class="c-h3">Detalles adicionales</h2>
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Disponible desde',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '15 diciembre 2020, 10:35',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'CSV de documento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": 'CSV91238912373182',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'Enviado desde',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": 'Departamento de Innovación, Investigación y Universidad',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'Procedimiento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '<a href="#" class="c-link font-semibold">Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional </a>',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          }
        ]
      }) }}
    {% endcall  %}

    <div class="pb-xl"></div><!--espaciador-->
    
    <!-- botonera -->
    <ul class="flex flex-wrap gap-sm mb-base">
      <li>
        {{ componentButton({
          "text": "Descargar documento firmado",
          "classes": "c-button--primary"
        })  }}  
      </li>
    </ul>
    
    <!-- documento pdf -->
    <embed src="../../files/doc_prueba.pdf" type="application/pdf" class="w-full h-screen pb-base" title="Visor de PDF" />
    <!-- /documento pdf -->

  </div>
{% endblock %}