{% set title = "Firma de documentos - Listado de Firmas - Firmar en bloque - Finalizado. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h2 mb-base lg:c-h1 lg:mb-base">Firma de documentos en bloque</h1>
  
  <p class="c-paragraph-base mb-sm lg:c-paragraph-lg lg:mb-sm font-semibold">Se han firmado 12 documentos.</p>
  <p class="c-paragraph-base mb-xs lg:c-paragraph-lg lg:mb-xs">0 documentos restantes</p>
  <p class="c-paragraph-base mb-xs lg:c-paragraph-lg lg:mb-xs"><span class="bg-success-light px-xs py-px">11 firmas correctas</span></p>
  <p class="c-paragraph-base lg:c-paragraph-lg"><span class="bg-alert-light px-xs py-px">1 error</span> | <a href="#" class="c-link font-semibold">Reintentar</a></p>

  {{ componentButton({
    "text": "Volver al listado de documentos",
    "classes": "mb-lg"
  }) }}
  
  <div class="pb-base"></div><!--espaciador-->
  
  {# Listado de Documentos #}
  <h2 class="sr-only">Listado de documentos</h2>
  <div class="lg:table w-full border-t border-neutral-base">
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <a href="#" class="c-link font-semibold">Reintentar</a> | <span class="bg-alert-light px-xs py-px font-semibold">Error</span> 
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
    <!--docuemnto-->
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <a href="#" class="c-link"><strong>Requerimiento de subsanación</strong></a>
        <p class="-mt-xs">
          CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
        </p>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
        <span class="bg-success-light px-xs py-px font-semibold">Firmado correctamente</span>
      </div>
    </div>
  </div>  

{% endblock %}