{% set title = "Firma de documentos - Listado de Firmas - Gestión de muchas firmas - documentos seleccionados. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1 mb-base">Firma de documentos</h1>
  <p class="c-paragraph-base lg:w-3/4">Documentos que la administración te ha mandado para que firmes.</p>

  {# Filtros #}
  <div data-module="c-toggle" class="relative c-toggle">
    <ul class="flex flex-wrap gap-sm">
      <li>
        <button aria-expanded="false" type="button" class="c-toggle__button c-button c-button--sm no-underline" aria-controls="panel-filtros" onclick="toggleFilter()">
          <span class="c-button--is-not-pressed pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm6.5-3.25a.75.75 0 0 1 .75.75v1.75H9a.75.75 0 0 1 0 1.5H7.25V9a.75.75 0 0 1-1.5 0V7.25H4a.75.75 0 0 1 0-1.5h1.75V4a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>
          <span class="c-button--is-pressed hidden pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm4-.75a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5H4Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>
        </button>
      </li>
      <li>
        {% call componentDropdown({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M7 0a1 1 0 0 1 1 1v5.5h1.5a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 4.5 6.5H6V1a1 1 0 0 1 1-1ZM2.5 11a1 1 0 1 0-2 0 3 3 0 0 0 3 3h7a3 3 0 0 0 3-3 1 1 0 1 0-2 0 1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1Z" clip-rule="evenodd"/></svg>
                  Descargar listado',
          "classes": "c-dropdown--sm pb-1.5"
        }) %}
              {{ componentNav({
                "isMenu": true,
                "idPrefix": "descargar-listado",
                "classes": "w-max max-w-64",
                "attributes": {
                  "id": "nav-descargar-listado",
                  "aria-label": "Descargar listado en diferente formato"
                },
                "items": [
                  {
                    "href": "#",
                    "text": "Descargar Excel"
                  },
                  {
                    "href": "#",
                    "text": "Descargar CSV"
                  }
                ]
              })  }}
        {% endcall  %}
      </li>
    </ul>
  </div>
  <script>
    function toggleFilter() {
      var elements = document.querySelectorAll('[data-module="hint-filtro"]');
      for (var i = 0; i < elements.length; i++) {
        elements[i].classList.toggle('hidden')
      }
    }
  </script>
  <div class="hidden" data-module="hint-filtro" id="panel-filtros">
    {# Buscador #}
    <div class="my-base lg:w-2/5">
      {{ componentSearchbar({
        "id": "buscador-resultados",
        "label": {
          "text": "Buscar"
        },
        "button": {
          "text": "Buscar",
          "type": "submit",
          "classes": "c-button--primary ml-sm"
        },
        "classes": "flex-1 pr-2",
        "placeholder": "Introduce un término de búsqueda"
      })  }}
    </div>    
    <!-- menubar -->
    <div id="menu-filtros" class="c-menubar">
      <ul data-module="c-menubar" id="menu-filtros-menubar" class="lg:flex lg:flex-wrap" role="menubar" aria-label="Menú de filtros">
        <li class="relative" role="none">
          <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="c-menubar__button c-menubar__button--sm mb-sm mr-sm" id="menu-estados" tabindex="-1">
            <span class="inline-flex self-center max-w-xs align-middle truncate">Estados</span>
            <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"></path></g></svg></a>
          <ul role="menu" class="c-menubar__tooltip w-max max-w-64 hidden border border-neutral-base shadow-md bg-white text-sm" aria-label="Estados" tabindex="-1" style="display: none; z-index: 0;">
            <li role="menuitemcheckbox" aria-checked="true" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-estados" data-option="sub-menu-estados" tabindex="-1">
              Todos los estados
            </li>
            <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-estados-2" data-option="sub-menu-estados-2" tabindex="-1">
              Estado 1
            </li>
            <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-estados-3" data-option="sub-menu-estados-3" tabindex="-1">
              Estado 2
            </li>
            <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-estados-4" data-option="sub-menu-estados-4" tabindex="-1">
              Estado 3
            </li>
          </ul>
        </li>
        <li class="relative" role="none">
          <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="c-menubar__button c-menubar__button--sm mb-sm mr-sm" id="menu-fecha" tabindex="-1">
            <span class="inline-flex self-center max-w-xs align-middle truncate">Fecha</span>
            <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"></path></g></svg></a>
          <ul role="menu" class="c-menubar__tooltip w-max max-w-64 hidden border border-neutral-base shadow-md bg-white text-sm" aria-label="Fecha" tabindex="-1" style="display: none; z-index: 0;">
            <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-fecha" data-option="sub-menu-fecha" tabindex="-1">
              Último mes
            </li>
            <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-fecha-2" data-option="sub-menu-fecha-2" tabindex="-1">
              Último año
            </li>
            <li role="menuitemcheckbox" aria-checked="true" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-menu-fecha-3" data-option="sub-menu-fecha-3" tabindex="-1">
              Rango de fechas...
            </li>
          </ul>
        </li>
        <li class="relative" role="none">
          <a role="menuitem" id="menu-eliminar-filtros" href="#" class="c-menubar__button c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm" tabindex="-1">
            Eliminar filtros
          </a>
        </li>
      </ul>
    </div>
    <!-- /menubar -->
  </div>

 
  {# Firmas pendientes #}
  <div class="pb-xl"></div><!--espaciador-->
  <h2 class="c-h3">Firmas pendientes</h2>
  <p class="c-paragraph-base mb-sm">Tienes 10 documentos pendientes de firma - <a href="#" class="c-link font-semibold">cancelar firmar en bloque</a></p>
  <p class="c-paragraph-base">Debes firmar estos documentos antes de que caduquen.</p>
  <div class="lg:flex lg:flex-wrap lg:w-full py-sm pr-sm -mt-xs bg-warning-light">
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-documentos",
        "name": "todos-documentos",
        "classes": "-mb-xl -mt-sm",
        "items": [
          {
            "value": "todos",
            "text": "3 seleccionados de esta página",
            "checked": true
          }
        ]
      })  }}
      <a href="#" class="inline-block c-link font-semibold ml-xl lg:ml-lg place-self-center">Seleccionar los 10 documentos pendientes</a>
    </div>
    <ul class="flex flex-wrap gap-sm ml-xl lg:ml-auto mt-sm lg:mt-0 lg:pl-base">
      <li>
        {{ componentButton({
          "html": 'Rechazar seleccionados',
          "classes": "c-button--transparent"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Firmar seleccionados'
        })  }}
      </li>
    </ul>
  </div> 
  <div class="lg:table w-full border-t border-neutral-base">
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <div class="flex">
          <div class="self-center h-full mr-base">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes">
              <label id="doc-firma1-label" for="doc-firma1-checkbox" class="sr-only">Selecciona</label>
              <input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base" id="doc-firma1-checkbox" name="doc-firma1-checkbox" type="checkbox" value="item-checkbox1" aria-labelledby="doc-firma1-label doc-firma1-title" checked>
            </div>            
          </div>
          <div class="flex-1 self-center">
            <a href="#" class="c-link" id="doc-firma1-title"><strong>Requerimiento de subsanación</strong></a>
            <p class="-mt-xs">
              CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
            </p>
          </div>
        </div>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap ml-xl lg:ml-0 mt-xs align-middle">
        <span class="bg-warning-base px-xs py-px font-semibold">Pendiente</span>
        <span class="block">Caduca 12 enero 2024<span>
      </div>
    </div>
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <div class="flex">
          <div class="self-center h-full mr-base">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes">
              <label id="doc-firma2-label" for="doc-firma2-checkbox" class="sr-only">Selecciona</label>
              <input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base" id="doc-firma2-checkbox" name="doc-firma2-checkbox" type="checkbox" value="item-checkbox2" aria-labelledby="doc-firma2-label doc-firma2-title" checked>
            </div> 
          </div>
          <div class="flex-1 self-center">
            <a href="#" class="c-link" id="doc-firma2-title"><strong>Requerimiento de subsanación</strong></a>
            <p class="-mt-xs">
              CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
            </p>
          </div>
        </div>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap ml-xl lg:ml-0 mt-xs align-middle">
        <span class="bg-warning-base px-xs py-px font-semibold">Pendiente</span>
        <span class="block font-semibold text-alert-base">Caduca en 2 días<span>
      </div>
    </div>
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <div class="flex">
          <div class="self-center h-full mr-base">
            {# Checkbox #}
            <div class="flex lg:self-center h-full mt-xs lg:mt-0 c-checkboxes">
              <label id="doc-firma3-label" for="doc-firma3-checkbox" class="sr-only">Selecciona</label>
              <input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base" id="doc-firma3-checkbox" name="doc-firma3-checkbox" type="checkbox" value="item-checkbox3" aria-labelledby="doc-firma3-label doc-firma3-title" checked>
            </div> 
          </div>
          <div class="flex-1 self-center">
            <a href="#" class="c-link" id="doc-firma3-title"><strong>Requerimiento de subsanación</strong></a>
            <p class="-mt-xs">
              CSV91238912373182 <span class="text-2xl text-neutral-dark">|</span> Autorizacción definitiva de funcionamiento de centro de trabajo
            </p>
          </div>
        </div>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap ml-xl lg:ml-0 mt-xs align-middle">
        <span class="bg-warning-base px-xs py-px font-semibold">Pendiente</span>
      </div>
    </div>
  </div>  
  {# Paginacion firmas #}  
  <div class="pb-sm"></div><!--espaciador-->
  {{ componentPagination({
    "id": "page-table-notificaciones",
    "hasSelect": true,
    "idPrefix": "pagination-results",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "attributes": {
      "aria-label": "Paginación"
    }
  })  }}
  
  {# Historial #}
  <div class="pb-2xl"></div><!--espaciador-->
  <h2 class="c-h3">Historial</h2>
  <div class="lg:table w-full border-t border-neutral-base">
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <div class="flex">
          <div class="self-center h-full mr-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 0A1.5 1.5 0 0 0 2 1.5v8.622l.519.349 1.97-2.877.03-.043a2 2 0 0 1 3.219 2.375L4.913 14H12.5a1.5 1.5 0 0 0 1.5-1.5V4a.5.5 0 0 0-.146-.354l-3.5-3.5A.5.5 0 0 0 10 0H3.5Zm3.22 9.2a.75.75 0 0 0-1.2-.9l-2.67 3.9-1.65-1.11a.75.75 0 1 0-.9 1.2l2.25 1.56a.75.75 0 0 0 1.05-.15l3.12-4.5Z" clip-rule="evenodd"/></svg>
          </div>
          <div class="flex-1 self-center">
            <a href="#" class="c-link" id="doc1"><strong>Requerimiento de subsanación</strong></a>
            <p>
              Autorizacción definitiva de funcionamiento de centro de trabajo
            </p>
          </div>
        </div>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap ml-xl lg:ml-0 mt-xs align-middle">
        <span class="px-xs py-px bg-success-dark text-white fomt-semibold">Firmado</span> el 30 diciembre 2023
        <button id="btn-doc1" class="c-button mt-sm lg:mt-0 sm:ml-sm" aria-labelledby="btn-doc1 doc1">Descargar</button>
      </div>
    </div>
    <div class="lg:table-row py-sm border-b border-neutral-base">
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
        <div class="flex">
          <div class="self-center h-full mr-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 0A1.5 1.5 0 0 0 2 1.5v8.622l.519.349 1.97-2.877.03-.043a2 2 0 0 1 3.219 2.375L4.913 14H12.5a1.5 1.5 0 0 0 1.5-1.5V4a.5.5 0 0 0-.146-.354l-3.5-3.5A.5.5 0 0 0 10 0H3.5Zm3.22 9.2a.75.75 0 0 0-1.2-.9l-2.67 3.9-1.65-1.11a.75.75 0 1 0-.9 1.2l2.25 1.56a.75.75 0 0 0 1.05-.15l3.12-4.5Z" clip-rule="evenodd"/></svg>
          </div>
          <div class="flex-1 self-center">
            <a href="#" class="c-link" id="doc2"><strong>Requerimiento de subsanación</strong></a>
            <p>
              Autorizacción definitiva de funcionamiento de centro de trabajo
            </p>
          </div>
        </div>
      </div>
      <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap ml-xl lg:ml-0 mt-xs align-middle">
        <span class="px-xs py-px bg-success-dark text-white fomt-semibold">Firmado</span> el 30 diciembre 2023
        <button id="btn-doc2" class="c-button mt-sm lg:mt-0 sm:ml-sm" aria-labelledby="btn-doc2 doc2">Descargar</button>
      </div>
    </div>
  </div>
  {# Paginacion historial #}  
  <div class="pb-sm"></div><!--espaciador-->
  {{ componentPagination({
    "id": "page-table-notificaciones2",
    "hasSelect": true,
    "idPrefix": "pagination-results2",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "attributes": {
      "aria-label": "Paginación"
    }
  })  }}

{% endblock %}