{% set title = "Firma de documentos - Detalle documento - Firmado por quorum. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Firma de documentos",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h1 mb-base">Requerimiento de subsanación</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg"><strong class="bg-success-light px-xs py-px">Documento firmado</strong> el <strong>20 enero 2023</strong>.</p>

    <!-- firmantes y detalles -->
    {% call componentDetails({
      "summary": {
        "html": "Ver firmantes y detalles adicionales"
      }
    }) %}
      <h2 class="c-h3">Firmantes</h2>
      <p class="flex px-base py-sm bg-primary-light c-paragraph-sm lg:c-paragraph-base mb-0 lg:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-2 mt-1" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path></svg>
        <span class="flex-1">Se han realizado <strong>3 de las 3 firmas requeridas</strong>. <span class="block">Este documento se considera firmado porque han firmado 3 de los 5 firmantes.</span></span>
      </p>
      <div class="lg:table w-full border-t border-neutral-base">
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                1
              </div>
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Marta Perez (Tú)</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                2
              </div>
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Juan Arnedo Biorreta</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 12 enero 2023, 12:33</span>
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                3
              </div>
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Tomasa Valverde Ruiz</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 20 enero 2023, 10:10</span>
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                4
              </div>
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Genoveva Biorreta Arnedo</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
            <span class="bg-success-light px-xs py-px"><strong>Firmado</strong> el 24 enero 2023, 13:25</span>
          </div>
        </div>
        <div class="lg:table-row py-sm border-b border-neutral-base">
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base">
            <div class="flex">
              <div class="self-center h-full mr-base">
                5
              </div>
              <div class="self-center h-full mr-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M3.5 4a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0ZM7 8.5a7.002 7.002 0 0 0-6.463 4.308.5.5 0 0 0 .461.692h12.004a.5.5 0 0 0 .461-.692A7.002 7.002 0 0 0 7 8.5Z" clip-rule="evenodd"/></svg>
              </div>
              <div class="flex-1 self-center">
                <p>Juan Ruiz Perez</p>
              </div>
            </div>
          </div>
          <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base lg:text-right lg:whitespace-nowrap mt-xs align-middle">
          </div>
        </div>
      </div>
      <div class="pb-lg"></div><!--espaciador-->
      <h2 class="c-h3">Detalles adicionales</h2>
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Disponible desde',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '15 diciembre 2020, 10:35',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'CSV de documento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": 'CSV91238912373182',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'Enviado desde',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": 'Departamento de Innovación, Investigación y Universidad',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          },
          {
            "term": {
              "html": 'Procedimiento',
              "classes": "lg:w-1/4 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
            },
            "definition": {
              "html": '<a href="#" class="c-link font-semibold">Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional </a>',
              "classes": "lg:w-3/4 px-base pb-sm lg:pt-sm"
            },
            "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
          }
        ]
      }) }}
    {% endcall  %}

    <div class="pb-xl"></div><!--espaciador-->
    
    <!-- botonera -->
    <ul class="flex flex-wrap gap-sm mb-base">
      <li>
        {{ componentButton({
          "text": "Descargar documento firmado",
          "classes": "c-button--primary"
        })  }}  
      </li>
    </ul>
    
    <!-- documento pdf -->
    <embed src="../../files/doc_prueba.pdf" type="application/pdf" class="w-full h-screen pb-base" title="Visor de PDF" />
    <!-- /documento pdf -->

  </div>
{% endblock %}