{% set title = "IASS Dependencia y Discapacidad - Con datos sin representados - Sin grado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <h1 class="c-h1">Dependencia y discapacidad</h1>
    <p class="c-paragraph-base">Aquí puedes acceder a los reconocimientos de dependencia y discapacidad que has solicitado y que han sido reconocidos para ti o para alguien a quien representes. Si tienes alguna solicitud en tramitación puedes consultarla en el apartado <a class="c-link" href="#">trámites</a>.</p>
    
    <div class="pb-base"></div>
    <h2 class="c-h2">Dependencia</h2>
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Reconocimiento',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Sin grado',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Número de expediente',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">DPSS_123456</a>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <hr class="border-neutral-base">
      <div class="p-base">
        {% call componentDetails({
          "summary": {
            "html": "Ver documentos"
          }
        })  %}
          <div>
            {% call componentItem({
              "title": {
                "text": "Resolución (PDF 53 kb)",
                "attributes": {
                  "id": "resolucion-1"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-resolucion-1" class=" c-button c-button--transparent" aria-labelledby="btn1-resolucion-1 resolucion-1">Descargar</button></li>
                  <li><button id="btn2-resolucion-1" class=" c-button c-button--transparent" aria-labelledby="btn2-resolucion-1 resolucion-1">Ver</button></li>
                </ul>
            {% endcall %}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver datos adicionales"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Dirección principal',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección para notificaciones',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>978 87 89 48</li><li>976 78 98 84</li><li>correo@gmail.com</li></ul>',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Personas autorizadas a ver estos datos',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>Ana Pérez Pérez</li><li>Andrés Vicente López</li><li>José Pedro Vicente López</li></ul>',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
          </div>
        {% endcall %}
      </div>
    </div>

    <div class="pb-lg"></div>
    <h2 class="c-h2">Discapacidad</h2>
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Grado',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '25%',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Número de expediente',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">DPSS_123456</a>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <hr class="border-neutral-base">
      <div class="p-base">
        {% call componentDetails({
          "summary": {
            "html": "Ver documentos"
          }
        })  %}
          <div>
            {% call componentItem({
              "title": {
                "text": "Resolución (PDF 53 kb)",
                "attributes": {
                  "id": "resolucion-2"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-resolucion-2" class=" c-button c-button--transparent " aria-labelledby="btn1-resolucion-2 resolucion-2">Descargar</button></li>
                  <li><button id="btn2-resolucion-2" class=" c-button c-button--transparent " aria-labelledby="btn2-resolucion-2 resolucion-2">Ver</button></li>
                </ul>
            {% endcall %}
            {% call componentItem({
              "title": {
                "text": "Dictamen propuesta (PDF 53 kb)",
                "attributes": {
                  "id": "dictamen-1"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-dictamen-1" class=" c-button c-button--transparent " aria-labelledby="btn1-dictamen-1 dictamen-1">Descargar</button></li>
                  <li><button id="btn2-dictamen-1" class=" c-button c-button--transparent " aria-labelledby="btn2-dictamen-1 dictamen-1">Ver</button></li>
                </ul>
            {% endcall %}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver centro de referencia"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Nombre',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Centro de Atención a la Discapacidad de Zaragoza (CADZA)',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Paseo Rosales, 28 Bloque duplicado, 50008 Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>976 742 823</li><li>cadzaragoza@aragon.es</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver datos adicionales"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Dirección principal',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección para notificaciones',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>978 87 89 48</li><li>976 78 98 84</li><li>correo@gmail.com</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Personas autorizadas',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>Ana Pérez Pérez</li><li>Andrés Vicente López</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
            <p class="c-paragraph-base px-base">Si tus datos personales no son correctos contacta con tu centro de atención a la discapacidad de referencia.</p>
          </div>
        {% endcall %}
      </div>
    </div>

    
    <div class="pb-xl"></div>
    <h2 class="c-h2">Quizá te pueda interesar</h2>
    <p class="c-paragraph-base">Te recomendamos algunos servicios y recursos de carácter preventivo para cuidar de tu autonomía personal:</p>
    <ul class="list-disc ml-lg mb-base">
      <li class="mb-xs"><a class="c-link" href="#">Hogares de mayores</a></li>
      <li class="mb-xs"><a class="c-link" href="#">Servicio de prevención de la dependencia, teleasistencia y servicio de ayuda a domicilio preventiva</a></li>
      <li class="mb-xs"><a class="c-link" href="#">Activos para la salud en Aragón</a></li>
    </ul>
    <p class="c-paragraph-base">Si experimentas cambios significativos en tu situación de dependencia y/o discapacidad puedes solicitar una revisión de tu reconocimiento. Cuando te encuentres en esa situación, te recomendamos utilizar nuestro simulador para valorar tu situación de manera orientativa.</p>
    <p class="c-paragraph-base"><a class="c-link" href="#">Acceder al simulador de dependencia y discapacidad</a></p>
    
    <!--soporte técnico-->
    <div class="pb-2xl"></div>
    {% include "includes/_servicio-ayuda-iass.njk" %}
    <!--/soporte técnico-->
  </div>
{% endblock %}

