{% set title = "IASS Dependencia y Discapacidad - Sin datos ni representados. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <h1 class="c-h1">Dependencia y discapacidad</h1>
    <p class="c-paragraph-base">Aquí puedes acceder a los reconocimientos de dependencia y discapacidad que has solicitado y que han sido reconocidos para ti o para alguien a quien representes. Si tienes alguna solicitud en tramitación puedes consultarla en el apartado <a class="c-link" href="#">trámites</a>.</p>
    
    {% call componentDetails({
      "classes": "mb-base",
      "summary": {
        "html": "Información sobre el reconocimiento de la situación de dependencia y discapacidad"
      }
    })  %}
      <div class="pl-base">
        <h2 class="c-h4">¿Qué se considera situación de dependencia?</h2>
        <p class="c-paragraph-base">Una persona en situación de dependencia es aquella que tiene una falta o pérdida de autonomía física, mental, intelectual o sensorial por razones derivadas de la edad, la enfermedad o la discapacidad y que precisa la atención de otras personas, apoyos o ayudas para realizar actividades básicas de la vida diaria y favorecer su autonomía personal.</p>
        <p class="c-paragraph-base">Existen 3 grados de dependencia, y se acredita con la resolución que se recibe:</p>
        <ul class="list-disc ml-lg mb-base">
          <li class="mb-xs">Grado I. Dependencia moderada.</li>
          <li class="mb-xs">Grado II. Dependencia severa.</li>
          <li class="mb-xs">Grado III. Gran dependencia.</li>
        </ul>
        <p class="c-paragraph-base"><a class="c-link" href="#">Guía para solicitar el reconocimiento de dependencia por primera vez</a></p>
        <div class="pb-lg"></div>
        <h2 class="c-h4">¿Qué se considera situación de discapacidad?</h2>
        <p class="c-paragraph-base">Una persona está en situación de discapacidad cuando presenta limitaciones físicas, mentales, intelectuales o sensoriales permanentes, que le impidan participar de manera plena y efectiva en la sociedad en igualdad de condiciones con las demás.</p>
        <p class="c-paragraph-base">El reconocimiento de discapacidad se mide en grados y se expresa en porcentaje y se otorga cuando se alcanza un porcentaje igual o superior al 33% en la valoración. Se acredita con la tarjeta de discapacidad que se recibe junto a la resolución.</p>
        <p class="c-paragraph-base"><a class="c-link" href="#">Más información sobre cómo solicitar el reconocimiento de discapacidad</a></p>
        <div class="pb-lg"></div>
        <h2 class="c-h4">¿Cómo saber si estoy en situación de dependencia y/o discapacidad?</h2>
        <p class="c-paragraph-base">Una persona puede estar en situación de dependencia o en situación de discapacidad o en ambas. Te recomendamos utilizar el simulador de dependencia y discapacidad, para valorar de manera orientativa tu situación actual. </p>
        <p class="c-paragraph-base"><a class="c-link" href="#">Acceder al simulador de dependencia y discapacidad</a></p>
        <div class="pb-lg"></div>
        <h2 class="c-h4">¿Cuándo puedo actualizar mi reconocimiento de dependencia y/o discapacidad?</h2>
        <p class="c-paragraph-base">Cuando hayan transcurrido dos años desde la fecha de resolución del grado anterior, y si cree que su situación ha cambiado, puede solicitar la revisión de su reconocimiento. Excepcionalmente, puede hacerlo antes de este plazo si se producen cambios importantes, por empeoramiento o mejora, en su situación.</p>
        <ul class="list-disc ml-lg mb-base">
          <li class="mb-xs"><a class="c-link" href="#">Cómo solicitar revisión del reconocimiento de dependencia</a></li>
          <li class="mb-xs"><a class="c-link" href="#">Cómo solicitar revisión del reconocimiento de discapacidad</a></li>
        </ul>
        <p class="c-paragraph-base">En el caso de dependencia, las personas también pueden solicitar una revisión de los servicios y/o prestaciones económicas concedidas (Programa Individual de Atención), cuando estimen que se ha producido una variación considerable en su situación de salud o de su entorno. </p>
        <ul class="list-disc ml-lg mb-base">
          <li class="mb-xs"><a class="c-link" href="#">Cómo modificar mis preferencias del Programa Individual de Atención.</a></li>
        </ul>
        <p class="c-paragraph-base">Es importante mantener los datos personales actualizados para garantizar la comunicación. Si cambia la dirección del domicilio, cambia de teléfono, cambia el representante/autorizado, o cambia el número de cuenta bancaria.</p>
        <div class="pb-lg"></div>
        <p class="c-paragraph-base"><a class="c-link font-semibold" href="#">Ver más información sobre dependencia</a></p>
        <p class="c-paragraph-base"><a class="c-link font-semibold" href="#">Ver más información sobre discapacidad</a></p>
      </div>
    {% endcall %}

    <p class="c-paragraph-base italic p-base bg-neutral-lighter">Actualmente no tenemos datos tuyos sobre dependencia y discapacidad.</p>
    
    <div class="pb-xl"></div>
    <h2 class="c-h2">Quizá te pueda interesar</h2>
    <p class="c-paragraph-base">Es importante <strong>prestar atención a los signos de alerta que indican falta o disminución de la autonomía personal</strong>, como necesitar ayuda de otra persona para realizar actividades de la vida diaria, por ejemplo: acceder a la bañera o ducha, vestirse, decidir sobre la alimentación, tomarse la medicación, salir a la calle o tomar decisiones del día a día.</p>
    <p class="c-paragraph-base"><strong>Si te identificas con estos signos de alerta te aconsejamos utilizar nuestro simulador</strong> para valorar de manera orientativa tu situación y conocer qué recursos y ayudas existen.</p>
    <p class="c-paragraph-base"><a class="c-link" href="#">Acceder al simulador de dependencia y discapacidad</a></p>
    <p class="c-paragraph-base">Si no identificas estas alertas pero quieres cuidar la autonomía personal, te recomendamos algunos servicios y recursos de carácter preventivo como:</p>
    <ul class="list-disc ml-lg mb-base">
      <li class="mb-xs"><a class="c-link" href="#">Hogares de mayores</a></li>
      <li class="mb-xs"><a class="c-link" href="#">Servicio de teleasistencia o ayuda a domicilio preventiva de ayuntamientos y comarcas</a></li>
      <li class="mb-xs"><a class="c-link" href="#">Activos para la salud en Aragón</a></li>
    </ul>
    
    <!--soporte técnico-->
    <div class="pb-2xl"></div>
    {% include "includes/_servicio-ayuda-iass.njk" %}
    <!--/soporte técnico-->
  </div>
{% endblock %}

