{% set title = "IASS Dependencia y Discapacidad - Detalle Persona representada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Dependencia y discapacidad",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <h1 class="c-h1">
      María del Carmen Martínez González | 70000000X
      <strong class="text-base block mt-xs"><span class="bg-primary-light px-xs py-px">Eres representante</span></strong>
    </h1>
    
    <div class="pb-base"></div>
    <h2 class="c-h2">Dependencia</h2>
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Reconocimiento',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<span class="bg-success-light px-xs py-px">Grado I - Dependencia moderada</span>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Número de expediente',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">DPSS_123456</a>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <hr class="border-neutral-base">
      <div class="p-base">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Puntos'
              },
              "definition": {
                "html": '64',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Carácter'
              },
              "definition": {
                "html": '<!-- tooltip -->
                        <div id="provisional-info" data-module="c-tooltip">
                          <div id="provisional-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="provisional-info-button provisional-info-tooltip">
                            <p>
                              Provisional
                            </p>
                            <span class="inline-block w-1.5"></span>
                            <span class="inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                              </svg>
                            </span>
                          </div>
                          <div id="provisional-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                            <p class="c-paragraph-base mb-0">El grado reconocido es de carácter provisional por lo que será la Administración quien se ponga en contacto con usted y le cite para la revisión de su caso. Su reconocimiento seguirá siendo válido hasta que se emita una nueva resolución tras la revisión.</p>
                          </div>
                        </div>
                        <!-- /tooltip -->',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Fecha estimada de próxima revisión'
              },
              "definition": {
                "html": '10 diciembre 2023',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
        {% call componentDetails({
          "summary": {
            "html": "Ver servicios y prestaciones económicas - Programa Individual de Atención"
          }
        })  %}
          <div>
            <hr class="border-neutral-base mb-base">
            <p class="mb-xs"><strong>Prestación económica para cuidados en el entorno</strong></p>
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Estado'
                  },
                  "definition": {
                    "html": '<!-- tooltip -->
                            <div id="activo-info" data-module="c-tooltip">
                              <div id="activo-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="activo-info-button activo-info-tooltip">
                                <p>
                                  <span class="bg-success-light px-xs py-px">Activo</span>
                                </p>
                                <span class="inline-block w-1.5"></span>
                                <span class="inline-block">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                    <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                                  </svg>
                                </span>
                              </div>
                              <div id="activo-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                                <p class="c-paragraph-base mb-0">Estado “Activo”: percibirá el servicio o recibirá el ingreso de las cantidades indicadas cada mes y, en su caso, atrasos.</p>
                              </div>
                            </div>
                            <!-- /tooltip -->'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Desde'
                  },
                  "definition": {
                    "html": '28 diciembre 2023'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Cuantía a recibir'
                  },
                  "definition": {
                    "html": '290 € al mes'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Persona cuidadora'
                  },
                  "definition": {
                    "html": 'Marta Pérez Martínez (tú) - <a class="c-link" href="#">Descargar certificado</a>'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
            <hr class="border-neutral-base mb-base">
            <p class="mb-xs">Servicio de ayuda a domicilio complementario</p>
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Estado'
                  },
                  "definition": {
                    "html": '<!-- tooltip -->
                            <div id="espera-info" data-module="c-tooltip">
                              <div id="espera-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="espera-info-button espera-info-tooltip">
                                <p>
                                  <span class="bg-neutral-light px-xs py-px">En lista de espera</span>
                                </p>
                                <span class="inline-block w-1.5"></span>
                                <span class="inline-block">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                    <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                                  </svg>
                                </span>
                              </div>
                              <div id="espera-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                                <p class="c-paragraph-base mb-0">Estado “En lista de espera ”: cuando haya disponibilidad del servicio, la entidad prestadora o el IASS se pondrá en contacto con usted vía telefónica.</p>
                              </div>
                            </div>
                            <!-- /tooltip -->'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Desde'
                  },
                  "definition": {
                    "html": '1 julio 2023 '
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'A pagar por el intersado/a'
                  },
                  "definition": {
                    "html": '100 € al mes'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
            <hr class="border-neutral-base mb-base">
            <p class="mb-xs">Servicio de residencia para personas mayores</p>
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Estado'
                  },
                  "definition": {
                    "html": '<!-- tooltip -->
                            <div id="espera-info2" data-module="c-tooltip">
                              <div id="espera-info2-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="espera-info2-button espera-info2-tooltip">
                                <p>
                                  <span class="bg-neutral-light px-xs py-px">En lista de espera</span>
                                </p>
                                <span class="inline-block w-1.5"></span>
                                <span class="inline-block">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                    <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                                  </svg>
                                </span>
                              </div>
                              <div id="espera-info2-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                                <p class="c-paragraph-base mb-0">Estado “En lista de espera ”: cuando haya disponibilidad del servicio, la entidad prestadora o el IASS se pondrá en contacto con usted vía telefónica.</p>
                              </div>
                            </div>
                            <!-- /tooltip -->'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Centros de preferencia'
                  },
                  "definition": {
                    "html": '<ul class="list-decimal ml-base">
                              <li class="mb-xs">Romareda</li>
                              <li class="mb-xs">Nuestra señora de los Ángeles</li>
                              <li class="mb-xs">Movera</li>
                            </ul>'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'A pagar por el intersado/a'
                  },
                  "definition": {
                    "html": '1.246,70 € al mes'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
            <hr class="border-neutral-base mb-base">
            <p class="mb-xs">Prestación económica vinculada a un servicio - Servicio de Promoción de Autonomía Personal</p>
            {{ componentDescriptionList({
              "classes": "lg:flex lg:flex-wrap w-full",
              "items": [
                {
                  "term": {
                    "html": 'Estado'
                  },
                  "definition": {
                    "html": '<!-- tooltip -->
                            <div id="pendiente-info" data-module="c-tooltip">
                              <div id="pendiente-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="pendiente-info-button pendiente-info-tooltip">
                                <p>
                                  <span class="bg-warning-light px-xs py-px">Pendiente de activar</span>
                                </p>
                                <span class="inline-block w-1.5"></span>
                                <span class="inline-block">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                    <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                                  </svg>
                                </span>
                              </div>
                              <div id="pendiente-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                                <p class="c-paragraph-base mb-0">Estado “Pendiente de activar”: Diríjase a una entidad o empresa autorizada para prestar el servicio. Cuando la empresa comience a prestarlo se le comenzará a abonar las correspondientes mensualidades.</p>
                              </div>
                            </div>
                            <!-- /tooltip -->'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Desde'
                  },
                  "definition": {
                    "html": '1 julio 2023'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Cuantía a recibir'
                  },
                  "definition": {
                    "html": '100 € al mes'
                  },
                  "classes": "mb-base lg:pr-xl"
                },
                {
                  "term": {
                    "html": 'Servicio vinculado'
                  },
                  "definition": {
                    "html": 'Fundación Aragonesa de Alzheimer'
                  },
                  "classes": "mb-base lg:pr-xl"
                }
              ]
            })  }}
            <hr class="border-neutral-base mb-base">
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver documentos"
          }
        })  %}
          <div>
            {% call componentItem({
              "title": {
                "text": "Resolución (PDF 53 kb)",
                "attributes": {
                  "id": "resolucion-1"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-resolucion-1" class=" c-button c-button--transparent" aria-labelledby="btn1-resolucion-1 resolucion-1">Descargar</button></li>
                  <li><button id="btn2-resolucion-1" class=" c-button c-button--transparent" aria-labelledby="btn2-resolucion-1 resolucion-1">Ver</button></li>
                </ul>
            {% endcall %}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver datos adicionales"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Dirección principal',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección para notificaciones',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>978 87 89 48</li><li>976 78 98 84</li><li>correo@gmail.com</li></ul>',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Personas autorizadas a ver estos datos',
                    "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>Ana Pérez Pérez</li><li>Andrés Vicente López</li><li>José Pedro Vicente López</li></ul>',
                    "classes": "lg:w-3/5 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
          </div>
        {% endcall %}
        <ul class="flex flex-wrap gap-sm mt-base mb-xs">
          <li>
            {{ componentButton({
              "text": "Descargar certificado",
              "href": "/"
            }) }}
          </li>
        </ul>
      </div>
    </div>

    <div class="pb-lg"></div>
    <h2 class="c-h2">Discapacidad</h2>
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Grado',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<span class="bg-success-light px-xs py-px">35%</span>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Número de expediente',
                "classes": "text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">DPSS_123456</a>',
                "classes": "text-2xl font-semibold"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <hr class="border-neutral-base">
      <div class="p-base">
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": '<!-- tooltip -->
                        <div id="movilidad-info" data-module="c-tooltip">
                          <div id="movilidad-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="movilidad-info-button movilidad-info-tooltip">
                            <p>
                              Dificultad de movilidad
                            </p>
                            <span class="inline-block w-1.5"></span>
                            <span class="inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                              </svg>
                            </span>
                          </div>
                          <div id="movilidad-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                            <p class="c-paragraph-base mb-0">Se determina cuando el porcentaje de limitación obtenido en la valoración de dominio de movilidad sea igual o superior al 25%.</p>
                          </div>
                        </div>
                        <!-- /tooltip -->'
              },
              "definition": {
                "html": 'Sí - 67% ',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": '<!-- tooltip -->
                        <div id="asistencia-info" data-module="c-tooltip">
                          <div id="asistencia-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="asistencia-info-button asistencia-info-tooltip">
                            <p>
                              Necesidad de asistencia de otra persona
                            </p>
                            <span class="inline-block w-1.5"></span>
                            <span class="inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                              </svg>
                            </span>
                          </div>
                          <div id="asistencia-info-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                            <p class="c-paragraph-base">Se reconoce cuando se obtiene un Grado de Discapacidad igual o superior al 75% y se alcanza un mínimo de 25 puntos en el baremo correspondiente de reconocimiento de la situación de dependencia. </p>
                            <p class="c-paragraph-base mb-0">Para más información consulta la resolución.</p>
                          </div>
                        </div>
                        <!-- /tooltip -->'
              },
              "definition": {
                "html": 'No',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Carácter'
              },
              "definition": {
                "html": '<!-- tooltip -->
                        <div id="provisional-info2" data-module="c-tooltip">
                          <div id="provisional-info2-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="provisional-info2-button provisional-info2-tooltip">
                            <p>
                              Provisional
                            </p>
                            <span class="inline-block w-1.5"></span>
                            <span class="inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                                <path fill="currentcolor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14Zm0-9.875a1 1 0 0 0-1 1 .75.75 0 0 1-1.5 0 2.5 2.5 0 1 1 3.25 2.386v.114a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75 1 1 0 0 0 0-2Zm0 5.25a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" clip-rule="evenodd"/>
                              </svg>
                            </span>
                          </div>
                          <div id="provisional-info2-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                            <p class="c-paragraph-base mb-0">El grado reconocido es de carácter provisional por lo que será la Administración quien se ponga en contacto con usted y le cite para la revisión de su caso. Su reconocimiento seguirá siendo válido hasta que se emita una nueva resolución tras la revisión.</p>
                          </div>
                        </div>
                        <!-- /tooltip -->',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Válido desde'
              },
              "definition": {
                "html": '10 octubre 2023',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Válido hasta'
              },
              "definition": {
                "html": '10 diciembre 2023',
                "classes": "text-lg"
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
        {% call componentDetails({
          "summary": {
            "html": "Ver documentos"
          }
        })  %}
          <div>
            {% call componentItem({
              "title": {
                "text": "Resolución (PDF 53 kb)",
                "attributes": {
                  "id": "resolucion-2"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-resolucion-2" class=" c-button c-button--transparent " aria-labelledby="btn1-resolucion-2 resolucion-2">Descargar</button></li>
                  <li><button id="btn2-resolucion-2" class=" c-button c-button--transparent " aria-labelledby="btn2-resolucion-2 resolucion-2">Ver</button></li>
                </ul>
            {% endcall %}
            {% call componentItem({
              "title": {
                "text": "Dictamen propuesta (PDF 53 kb)",
                "attributes": {
                  "id": "dictamen-1"
                }
              },
              "items": [
                {
                  "text": "CSV91238912373182"
                },
                {
                  "text": "Publicado 18 noviembre 2022"
                }
              ],
              "icon": {
                "type": "document",
                "containerClasses": "self-start h-full mr-base mt-xs"
              },
              "classes": "mb-base"
            })  %}
                <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0">
                  <li><button id="btn1-dictamen-1" class=" c-button c-button--transparent " aria-labelledby="btn1-dictamen-1 dictamen-1">Descargar</button></li>
                  <li><button id="btn2-dictamen-1" class=" c-button c-button--transparent " aria-labelledby="btn2-dictamen-1 dictamen-1">Ver</button></li>
                </ul>
            {% endcall %}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver centro de referencia"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Nombre',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Centro de Atención a la Discapacidad de Zaragoza (CADZA)',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Paseo Rosales, 28 Bloque duplicado, 50008 Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>976 742 823</li><li>cadzaragoza@aragon.es</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
          </div>
        {% endcall %}
        {% call componentDetails({
          "summary": {
            "html": "Ver datos adicionales"
          }
        })  %}
          <div>
            {{ componentDescriptionList({
              "classes": "w-full mb-base",
              "items": [
                {
                  "term": {
                    "html": 'Dirección principal',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Dirección para notificaciones',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Calle Andrés Vicente, s/n, 50018 - Zaragoza',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Datos de contacto',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>978 87 89 48</li><li>976 78 98 84</li><li>correo@gmail.com</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                },
                {
                  "term": {
                    "html": 'Personas autorizadas',
                    "classes": "lg:w-2/6 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                  },
                  "definition": {
                    "html": '<ul><li>Ana Pérez Pérez</li><li>Andrés Vicente López</li></ul>',
                    "classes": "lg:w-4/6 px-base pb-sm lg:pt-sm"
                  },
                  "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
                }
              ]
            }) }}
            <p class="c-paragraph-base px-base">Si tus datos personales no son correctos contacta con tu centro de atención a la discapacidad de referencia.</p>
          </div>
        {% endcall %}
        <ul class="flex flex-wrap gap-sm mt-base mb-xs">
          <li>
            {{ componentButton({
              "text": "Ver tarjeta de discapacidad",
              "href": "/"
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Descargar certificado",
              "href": "/"
            }) }}
          </li>
        </ul>
      </div>
    </div>

  </div>
{% endblock %}

