{% set title = "IASS Nivel de identificación insuficiente. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1">Servicios Sociales - IASS</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg">Aquí se muestran los servicios y prestaciones que has solicitado y que han sido reconocidas para ti o para alguien a quien representes. Sí tienes alguna solicitud en tramitación puedes consultarla en el apartado trámites.</p>


    {{ componentNotification({
      "title": {
        "text": "Nivel de identificación con Cl@ve insuficiente."
      },
      "description": {
        "html": '<ul class="c-ul mt-sm">
                  <li>Si tienes Cl@ve avanzada (calidad autenticación 3) vuelve a identificarte.</li>
                  <li>Si tienes Clave básica (calidad autenticación 2) deberás identificarte con otro medio como Certificado o DNI electrónico</li>
                </ul>
                <p><a class="c-link" href="https://aplicaciones.aragon.es/mfe_core/rest/help/MFE_IDENTIFICACION_CLAVE_TEST_DESY">Comprobar calidad de auteticación de mi Cl@ve</a></p>
                <p><a class="c-link" href="#">¿Cómo conseguir clave avanzada?</a></p>'
      },
      "type": "info",
      "id": "type-info"
    })  }}
    
    <!-- iframe Firma -->
    <hr class="border-t border-neutral-base my-xl">
    <div class="mt-xl">
      <iframe src="acceso-mfe-iframe-content.html" class="w-full"></iframe>
    </div>
    <hr class="border-t border-neutral-base my-xl">
    <!-- /iframe Firma -->
  </div>
{% endblock %}




{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}