{% set title = "IASS Dependencia y Discapacidad - Con datos sin representados - Tramitación inicial. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <h1 class="c-h1">Dependencia y discapacidad</h1>
    <p class="c-paragraph-base">Aquí puedes acceder a los reconocimientos de dependencia y discapacidad que has solicitado y que han sido reconocidos para ti o para alguien a quien representes. Si tienes alguna solicitud en tramitación puedes consultarla en el apartado <a class="c-link" href="#">trámites</a>.</p>
    
    <div class="pb-base"></div>
    <h2 class="c-h2">Dependencia</h2>
    <div class="p-base mb-base bg-white border border-neutral-base rounded">
      <p class="c-paragraph-lg mb-xs"><strong class="bg-primary-light py-px">EN FASE DE INICIO</strong></p>
      <p class="c-paragraph-base mb-lg">Has <strong>iniciado un trámite de solicitud</strong> del reconocimiento de la situación de dependencia.</p>
      <p class="c-paragraph-base mb-0 text-neutral-dark">Seguimiento del trámite: <a class="c-link font-semibold" href="#">Solicitud del reconocimiento de dependencia</a>  |  Expediente: <span class="text-black font-semibold">DPSS_123456</span></p>
    </div>

    <div class="pb-lg"></div>
    <h2 class="c-h2">Discapacidad</h2>
    <div class="p-base mb-base bg-white border border-neutral-base rounded">
      <p class="c-paragraph-lg mb-xs"><strong class="bg-warning-light py-px">EN TRAMITACIÓN: PENDIENTE DE VALORACIÓN</strong></p>
      <p class="c-paragraph-base mb-xs">Próximamente tienes una cita de valoración:</p>
      <p class="c-paragraph-base mb-sm text-2xl">Cita presencial, 22 diciembre 2023, 12:30</p>
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Lugar:',
              "classes": "font-semibold text-base"
            },
            "definition": {
              "html": 'Centro de Atención a la Discapacidad de Zaragoza. Paseo de los Rosales, 28 duplicado, 50008 Zaragoza'
            }
          }
        ],
        "classes": "mb-sm"
      }) }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Más información:',
              "classes": "font-semibold text-base"
            },
            "definition": {
              "html": '<p>Si necesitas cambiar la cita llama al 976 74 28 23 o escribe a <a class="c-link" href="mailto:cadzaragoza@aragon.es">cadzaragoza@aragon.es</a>.</p>
                       <p>Si lo consideras necesario, lleva a la cita informes médicos actualizados, para valorar el caso.</p>'
            }
          }
        ],
        "classes": "mb-lg"
      }) }}
      <p class="c-paragraph-base mb-0 text-neutral-dark">Seguimiento del trámite: <a class="c-link font-semibold" href="#">Solicitud del reconocimiento de discapacidad</a>  |  Expediente: <span class="text-black font-semibold">DPSS_123456</span></p>
    </div>

    
    <div class="pb-xl"></div>
    <h2 class="c-h2">Quizá te pueda interesar</h2>
    <p class="c-paragraph-base"><a class="c-link" href="#">Simulador de dependencia y discapacidad</a></p>
    <p class="c-paragraph-base"><a class="c-link" href="#">Guía de recursos para personas con discapacidad en Aragón</a></p>
    
    <!--soporte técnico-->
    <div class="pb-2xl"></div>
    {% include "includes/_servicio-ayuda-iass.njk" %}
    <!--/soporte técnico-->
  </div>
{% endblock %}

