{% set title = "IASS portada - Prestaciones. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1">Servicios Sociales - IASS</h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg">Aquí se muestran los servicios y prestaciones que has solicitado y que han sido reconocidas para ti o para alguien a quien representes. Sí tienes alguna solicitud en tramitación puedes consultarla en el apartado trámites.</p>
    <h2 class="c-h2">Prestaciones</h2>
    <!-- bloque dependencia -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="dependencia">
      <h3 id="dependencia" class="c-h3 mb-base">Dependencia | <span class="bg-success-light px-xs">Grado II</span> | DPSS_123456</h3>
      
      {{ componentTable({
        "caption": "Prestaciones de dependencia",
        "captionClasses": "sr-only mb-base font-bold text-left text-lg",
        "head": [
          {
            "text": "Servicios/Prestaciones económicas"
          },
          {
            "text": "Prestación económica/Copago",
            "classes": "hidden lg:table-cell"
          },
          {
            "text": "Estado",
            "classes": "hidden lg:table-cell"
          }
        ],
        "rows": [
          [
            {
              "html": 'Servicio de Promoción a la Autonomía Personal <span class="block text-sm text-neutral-dark">PROMOCIÓN RESIDENCIA SIERRA DE ALCUBIERRE</span>
                      <!-- para mobile -->
                      <p class="lg:hidden my-sm">
                        <span class="block text-sm text-neutral-dark">Prestación económica/Copago</span> 
                        0,00 €/mes
                      </p>
                      <p class="lg:hidden my-sm">
                        <span class="block text-sm text-neutral-dark">Estado</span> 
                        Activa
                      <p>
                      <!-- /para mobile -->
                      ',
              "classes": "align-top"
            },
            {
              "html": '0,00 €/mes',
              "classes": "align-top hidden lg:table-cell"
            },
            {
              "html": 'Activa',
              "classes": "align-top hidden lg:table-cell"
            }
          ],
          [
            {
              "html": 'Servicio Atención Residencial (S.A.R.) <span class="block text-sm text-neutral-dark">RESIDENCIA SIERRA DE ALCUBIERRE</span>
                      <!-- para mobile -->
                      <p class="lg:hidden my-sm">
                        <span class="block text-sm text-neutral-dark">Prestación económica/Copago</span> 
                        606,66 €/mes
                      </p>
                      <p class="lg:hidden my-sm">
                        <span class="block text-sm text-neutral-dark">Estado</span> 
                        Activa
                      <p>
                      <!-- /para mobile -->
                      ',
              "classes": "align-top"
            },
            {
              "html": '606,66 €/mes',
              "classes": "align-top hidden lg:table-cell"
            },
            {
              "html": 'Activa',
              "classes": "align-top hidden lg:table-cell"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "w-full"
      })  }}

      {% call componentDetails({
        "summary": {
          "html": "Ver detalles"
        }
      })  %}
          <h4 class="font-bold mb-sm">Datos personales</h4>
          {{ componentDescriptionList({
            "classes": "w-full mb-lg",
            "items": [
              {
                "term": {
                  "html": 'Dirección principal',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": 'Calle Andrés Vicente, 18, 50008 - Zaragoza',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              },
              {
                "term": {
                  "html": 'Dirección para notificaciones',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": 'Calle Mayor, 20, Sos del Rey Católico, 50017 - Zaragoza',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              },
              {
                "term": {
                  "html": 'Datos de contacto',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": '976 488 602<br>651 445 556<br>correo@gmail.es',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              }
            ]
          })  }}
          <p><a class="c-link" href="#">Ver expediente</a></p>
      {% endcall %}
    </section>
    <!-- /bloque dependencia -->
    <!-- bloque discapacidad -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="discapacidad">
      <h3 id="discapacidad" class="c-h3 mb-base">Discapacidad | <span class="bg-success-light px-xs">75%</span> | DPSS_123456</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Dificultad de movilidad'
            },
            "definition": {
              "html": 'Sí'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Asistencia de tercera persona'
            },
            "definition": {
              "html": 'Sí'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Fecha de caducidad de la valoración'
            },
            "definition": {
              "html": '25 noviembre 2023'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          }
        ]
      })  }}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles"
        }
      })  %}
          {# Resultado de la valoración #}
          <h4 class="font-bold mb-sm">Resultado de la valoración</h4>
          {{ componentDescriptionList({
            "classes": "w-full py-sm border-t border-b border-neutral-base",
            "items": [
              {
                "term": {
                  "text": "Grado total de discapacidad",
                  "classes": "lg:w-1/3"
                },
                "definition": {
                  "text": "75%",
                  "classes": "lg:flex-1 ml-sm"
                },
                "classes": "flex lg:py-xs"
              },
              {
                "term": {
                  "text": "Grado de limitación de la actividad",
                  "classes": "lg:w-1/3 pl-base"
                },
                "definition": {
                  "text": "65%",
                  "classes": "lg:flex-1 ml-sm"
                },
                "classes": "flex lg:py-xs text-neutral-dark text-sm lg:text-base"
              },
              {
                "term": {
                  "text": "Factores sociales",
                  "classes": "lg:w-1/3 pl-base"
                },
                "definition": {
                  "text": "10%",
                  "classes": "lg:flex-1 ml-sm"
                },
                "classes": "flex lg:py-xs text-neutral-dark text-sm lg:text-base"
              }
            ]
          })  }}
          {% call componentDetails({
            "classes": "mb-base pl-base",
            "summary": {
              "html": "¿Cómo se calcula el grado total de discapacidad?"
            }
          })  %}
              <p class="c-paragraph-base">El grado total de discapacidad es la suma del grado de limitación de la actividad más la valoración por factores sociales.</p>
              <p class="c-paragraph-base">El grado de limitación de la actividad no resulta de una suma artimética. Para obtenerlo, se utiliza una tabla de valores combinados fijada normativamente. El grado mínimo de limitación de la actividad sobre el que se podrá sumar la valoración de factores sociales no podrá ser inferior al 25%.</p>
          {% endcall %}  
          {# Datos personales #}
          <h4 class="font-bold mb-sm">Datos personales</h4>
          {{ componentDescriptionList({
            "classes": "w-full mb-lg",
            "items": [
              {
                "term": {
                  "html": 'Dirección principal',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": 'Calle Andrés Vicente, 18, 50008 - Zaragoza',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              },
              {
                "term": {
                  "html": 'Dirección para notificaciones',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": 'Calle Mayor, 20, Sos del Rey Católico, 50017 - Zaragoza',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              },
              {
                "term": {
                  "html": 'Datos de contacto',
                  "classes": "lg:w-1/3 pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
                },
                "definition": {
                  "html": '976 488 602<br>651 445 556<br>correo@gmail.es',
                  "classes": "lg:w-2/3 pb-sm lg:py-sm"
                },
                "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
              }
            ]
          })  }}
          <p><a class="c-link" href="#">Ver expediente</a></p>
      {% endcall %}
    </section>
    <!-- /bloque discapacidad -->
    <!--soporte técnico-->
    <div class="pb-xl"></div>
    {% include "includes/_servicio-ayuda-iass.njk" %}
    <!--/soporte técnico-->

  </div>
{% endblock %}

