{% set title = "IASS Dependencia y Discapacidad - Sin datos con representados. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <h1 class="c-h1">Dependencia y discapacidad</h1>
    <p class="c-paragraph-base">Aquí puedes acceder a los reconocimientos de dependencia y discapacidad que has solicitado y que han sido reconocidos para ti o para alguien a quien representes. Si tienes alguna solicitud en tramitación puedes consultarla en el apartado <a class="c-link" href="#">trámites</a>.</p>
    
    <div class="pb-base"></div>
    <h2 class="c-h2">Tus reconocimientos</h2>
    <p class="c-paragraph-base italic p-base bg-neutral-lighter">Actualmente no tenemos datos tuyos sobre dependencia y discapacidad.</p>

    <div class="pb-base"></div>
    <h2 class="c-h2">Personas relacionadas</h2>
    {{ componentListbox({
      "id": "orden-personas-relacionadas",
      "text": "Orden: Alfabético de A a Z",
      "label": {
        "text": "Orden:",
        "classes": "sr-only"
      },
      "doesChangeButtonText": true,
      "classes": "c-listbox--sm mb-base",
      "items": [
        {
          "href": "#",
          "html": "Orden: Alfabético de A a Z"
        },
        {
          "href": "#",
          "text": "Orden: Alfabético de Z a A"
        },
        {
          "href": "#",
          "text": "DNI o NIE"
        }
      ]
    })  }}    
    {# persona #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <h3 class="text-lg mb-sm"><a href="#" class="c-link font-semibold">María del Carmen Martínez González</a> - <span class="bg-primary-light px-xs py-px">Eres representante</span></h3>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'DNI o NIE'
              },
              "definition": {
                "html": '70000000X'
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Dependencia'
              },
              "definition": {
                "html": 'Pendiente'
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Discapacidad'
              },
              "definition": {
                "html": 'Pendiente'
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <p class="flex px-sm lg:px-base py-sm bg-warning-light text-sm lg:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-top mt-xs" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path></svg>
        <span class="flex-1">Solicitud del reconocimiento de <strong>dependencia: En tramitación - Valoración</strong>.<span class="block">Solicitud del reconocimiento de <strong>discapacidad: En fase de inicio</strong>.</span></span>
      </p>
    </div>
    {# persona #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <h3 class="text-lg mb-sm"><a href="#" class="c-link font-semibold">Juan José Pérez Giménez</a> - Eres autorizado/a</h3>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'DNI o NIE'
              },
              "definition": {
                "html": '70000000X'
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Dependencia'
              },
              "definition": {
                "html": 'Grado II - Dependencia severa'
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Discapacidad'
              },
              "definition": {
                "html": '35%'
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
      <p class="flex px-sm lg:px-base py-sm bg-warning-light text-sm lg:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-top mt-xs" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path></svg>
        <span class="flex-1">Reconocimiento de <strong>discapacidad en revisión: En tramitación</strong>.</span>
      </p>
    </div>
    {# persona #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <h3 class="text-lg mb-sm"><a href="#" class="c-link font-semibold">Ana Sánchez Pérez</a> - <span class="bg-primary-light px-xs py-px">Eres representante</span></h3>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'DNI o NIE'
              },
              "definition": {
                "html": '70000000X'
              },
              "classes": "mb-base lg:pr-xl"
            },
            {
              "term": {
                "html": 'Dependencia'
              },
              "definition": {
                "html": 'Grado II - Dependencia severa'
              },
              "classes": "mb-base lg:pr-xl"
            }
          ]
        })  }}
      </div>
    </div>
    
    <div class="pb-xl"></div>
    <h2 class="c-h2">Quizá te pueda interesar</h2>
    <p class="c-paragraph-base"><a class="c-link" href="#">Simulador de dependencia y discapacidad</a></p>
    <p class="c-paragraph-base"><a class="c-link" href="#">Guía de recursos para personas con discapacidad en Aragón</a></p>
    
    <!--soporte técnico-->
    <div class="pb-2xl"></div>
    {% include "includes/_servicio-ayuda-iass.njk" %}
    <!--/soporte técnico-->
  </div>
{% endblock %}

