{% set title = "Inicio sin avisos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}
  <div class="flex mt-lg">
    <h1 class="c-h1 flex-1">Hola, Tomás</h1>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>

  <!--buscador-->
  <p id="datos-generales" class="c-h2 c-anchor-scroll">¿Qué necesitas?</p>
  <div class="mb-xl lg:w-1/2">
    {{ componentSearchbar({
      "id": "buscador-inicio",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "placeholder": "Buscar en este sitio..."
    })  }}    
  </div>
  <!--/buscador-->  

  <div class="lg:flex">
    <div class="w-full lg:w-3/4">
      <!--acceso notificaciones-->
      <div class="flex flex-wrap p-base bg-white border border-neutral-base rounded mb-base">
        <div class="lg:self-center h-full mr-xs lg:mr-base mt-1 lg:mt-0 px-sm">
          <a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mb-xs" aria-hidden="true" focusable="false"><path d="M22 1.5H5.5a2 2 0 0 0-2 2V17a2 2 0 0 0 2 2H22a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2Zm-.5 2a.5.5 0 0 1 .5.5v.19a.5.5 0 0 1-.22.42l-7.52 5a.52.52 0 0 1-.55 0l-8-5a.5.5 0 0 1-.23-.42V4A.5.5 0 0 1 6 3.5ZM6 17a.5.5 0 0 1-.5-.5V7.72a.51.51 0 0 1 .26-.44.49.49 0 0 1 .51 0l7.2 4.54A.92.92 0 0 0 14 12a1 1 0 0 0 .55-.17l6.67-4.45a.5.5 0 0 1 .78.42v8.7a.51.51 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"></path><path d="M19.5 20.5h-17A.5.5 0 0 1 2 20V6a1 1 0 0 0-2 0v14.5a2 2 0 0 0 2 2h17.5a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"></path></svg>
          </a>
        </div>
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
              <p class="text-lg font-bold mb-xs" id="notificaciones"><a class="c-link text-lg font-bold" href="#">Mis notificaciones y comunicaciones</a></p>
              <p class="text-neutral-dark">
                  Acepta y consulta las notificaciones telemáticas.
              </p>
              <p class="text-base">
                  Tienes <span class="text-alert-base"><strong>1</strong></span> notificación <span class="text-alert-base"><strong>sin leer</strong></span>.
              </p>
          </div>
        </div>
      </div>
      <!--acceso tramites-->
      <div class="flex flex-wrap p-base bg-white border border-neutral-base rounded mb-base">
        <div class="lg:self-center h-full mr-xs lg:mr-base mt-1 lg:mt-0 px-sm">
          <a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mb-xs" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"/><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"/></g></svg>
          </a>
        </div>
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
              <p class="text-lg font-bold mb-xs" id="tramites"><a class="c-link text-lg font-bold" href="#">Mis trámites</a></p>
              <p class="text-neutral-dark">
                  Consulta tus trámites con el Gobierno de Aragon.
              </p>
              <p class="text-base">
                  Tienes <strong>2</strong> trámites con <strong>actualizaciones</strong>.
              </p>
          </div>
        </div>
      </div>
      <!--acceso citas-->
      <div class="flex flex-wrap p-base bg-white border border-neutral-base rounded mb-base">
        <div class="lg:self-center h-full mr-xs lg:mr-base mt-1 lg:mt-0 px-sm">
          <a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mb-xs" aria-hidden="true" focusable="false"><path d="M7.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"></path><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"></path></svg>
          </a>
        </div>
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
              <p class="text-lg font-bold mb-xs" id="citas"><a class="c-link text-lg font-bold" href="#">Mis citas previas</a></p>
              <p class="text-neutral-dark">
                  Solicita, consulta y gestiona tus citas previas.
              </p>
              <p class="text-base">
                  <strong>No</strong> tienes citas previas activas.
              </p>
          </div>
        </div>
      </div>
      <!--acceso tarjetas-->
      <div class="flex flex-wrap p-base bg-white border border-neutral-base rounded mb-base">
        <div class="lg:self-center h-full mr-xs lg:mr-base mt-1 lg:mt-0 px-sm">
          <a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mb-xs" aria-hidden="true" focusable="false"><path d="M24,3.8A3.5,3.5,0,0,0,20.5.3H3.5A3.52,3.52,0,0,0,0,3.8v13A4.52,4.52,0,0,0,3.31,21C15.44,23.83,14.7,23.7,15.24,23.7A2.67,2.67,0,0,0,17,23.11,2.84,2.84,0,0,0,18,20.8V11.11A4.27,4.27,0,0,0,14.89,7L4.06,4a.75.75,0,0,1,.39-1.45c3.73,1,3.52,1,3.57,1H20.5a.75.75,0,0,1,0,1.5H15.26a.25.25,0,0,0-.24.22.25.25,0,0,0,.18.28,5.72,5.72,0,0,1,3,1.91.25.25,0,0,0,.2.09H20.5a.75.75,0,0,1,0,1.5h-1a.24.24,0,0,0-.2.11.25.25,0,0,0,0,.22,5.55,5.55,0,0,1,.28,1.73v6.94a.25.25,0,0,0,.25.25h.75A3.5,3.5,0,0,0,24,14.8ZM15.5,15.3a2,2,0,1,1-2-2A2,2,0,0,1,15.5,15.3Z" fill="currentColor"></path></svg>
          </a>
        </div>
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
              <p class="text-lg font-bold mb-xs" id="mis-datos"><a class="c-link text-lg font-bold" href="#">Mis carnets, certificados y documentos</a></p>
              <p class="text-neutral-dark">
                  Consulta tus carnets, licencias, certificados y documentos favoritos
              </p>
          </div>
        </div>
      </div>
      <!--acceso firma-->
      <div class="flex flex-wrap p-base bg-white border border-neutral-base rounded mb-base">
        <div class="lg:self-center h-full mr-xs lg:mr-base mt-1 lg:mt-0 px-sm">
          <a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mb-xs" aria-hidden="true" focusable="false"><path fill="currentcolor" fill-rule="evenodd" d="M7.646.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-6.5 6.5a.5.5 0 0 1-.256.136l-2.5.5a.5.5 0 0 1-.588-.588l.5-2.5a.5.5 0 0 1 .136-.256l6.5-6.5ZM7.25 9.664c0-1.195.969-2.164 2.164-2.164h.172a2.164 2.164 0 0 1 1.53 3.695l-.548.547c.217.167.484.258.76.258h1.422a.75.75 0 0 1 0 1.5h-1.422a2.75 2.75 0 0 1-1.828-.696 2.75 2.75 0 0 1-1.828.696H1.25a.75.75 0 0 1 0-1.5h6.422c.276 0 .543-.091.76-.258l-.548-.547a2.164 2.164 0 0 1-.634-1.53ZM9.414 9a.664.664 0 0 0-.47 1.134l.556.555.555-.555A.665.665 0 0 0 9.585 9h-.17Z" clip-rule="evenodd"/></svg>
          </a>
        </div>
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
              <p class="text-lg font-bold mb-xs" id="mis-datos"><a class="c-link text-lg font-bold" href="#">Firma de documentos</a></p>
              <p class="text-neutral-dark">
                  Consulta y firma documentos enviados por el Gobierno de Aragón.
              </p>
              <p class="text-base">
                  Tienes <span class="text-alert-base"><strong>1</strong></span> documento <span class="text-alert-base"><strong>pendiente de firmar</strong></span>.
              </p>
          </div>
        </div>
      </div>

      <!--areas tematicas-->
      <div class="pb-xl"></div>
      <h2 class="c-h3">Áreas temáticas</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
        <!--deudas y pagos-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M.123 5.583v1.703c0 .968 1.55 1.782 3.627 1.962V6.714l.003-.12C2.6 6.512 1.55 6.267.727 5.9a5.147 5.147 0 0 1-.604-.317Zm9-3.583v1.47c-1.236.041-2.397.28-3.313.688-.502.223-.986.522-1.362.916-.085.09-.168.188-.244.293-1.187-.044-2.223-.277-2.967-.609-.416-.185-.714-.39-.899-.585a.826.826 0 0 1-.215-.348V2c0-1.105 2.014-2 4.5-2 2.485 0 4.5.895 4.5 2Zm-4.5.931c1.735 0 3.142-.404 3.142-.903 0-.5-1.407-.904-3.143-.904-1.735 0-3.142.405-3.142.904s1.407.903 3.142.903ZM5 12v-1.703c.188.116.391.222.605.317 1.025.458 2.4.725 3.895.725 1.494 0 2.87-.267 3.895-.725.214-.095.417-.2.605-.317V12c0 1.1-2 2-4.5 2S5 13.1 5 12Zm.216-3.113A.826.826 0 0 1 5 8.54V6.714c0-1.104 2.015-2 4.5-2s4.5.896 4.5 2V8.54a.825.825 0 0 1-.216.348c-.185.195-.482.4-.898.586-.83.37-2.025.616-3.386.616-1.361 0-2.555-.246-3.386-.616-.416-.186-.713-.39-.898-.586Zm7.426-2.145c0 .5-1.407.904-3.142.904-1.736 0-3.142-.405-3.142-.904s1.406-.904 3.142-.904c1.735 0 3.142.405 3.142.904Z" clip-rule="evenodd"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Deudas y pagos</a></p>
            </div>
            <p>Consulta deudas, pagos realizados y certificados corriente de pago.</p>
        {% endcall %}
        <!--oposiciones-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" d="M4.5 1a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v.5a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V1Z"/><path fill="currentColor" fill-rule="evenodd" d="M3 1h.25v.5A2.25 2.25 0 0 0 5.5 3.75h3a2.25 2.25 0 0 0 2.25-2.25V1H11a1.5 1.5 0 0 1 1.5 1.5v10A1.5 1.5 0 0 1 11 14H3a1.5 1.5 0 0 1-1.5-1.5v-10A1.5 1.5 0 0 1 3 1Zm1.5 4.375a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5ZM3.875 8.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625Zm.625 1.876a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Oposiciones</a></p>
            </div>
            <p>Busca y consulta del estado de mis oposiciones.</p>
        {% endcall %}
        <!--dependencia y discapacidad-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M8.75 1.078C8.049.41 7.31.068 6.59.015 5.738-.048 4.99.3 4.452.84c-1.05 1.06-1.379 2.984-.056 4.313l.014.014 4 3.7a.5.5 0 0 0 .68 0l4-3.7.011-.011c1.342-1.324 1.012-3.25-.043-4.309-.539-.541-1.29-.887-2.142-.826-.722.051-1.462.391-2.165 1.057ZM4.673 8.172l1.727 1.727a.86.86 0 0 1-1.307 1.11l-1.45-1.45a.625.625 0 0 0-.884.883l1.45 1.45A2.11 2.11 0 0 0 7.723 11H10.5a1.5 1.5 0 0 1 0 3H4.657a4 4 0 0 1-2.829-1.171L0 11V7h1.843a4 4 0 0 1 2.829 1.172Z" clip-rule="evenodd"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Servicios sociales</a></p>
            </div>
            <p>Información de discapacidad, dependencia y hogares.</p>
        {% endcall %}
        <!--vivienda-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path d="M23.71,11.29l-11-11a1,1,0,0,0-1.42,0l-11,11a1,1,0,0,0-.21,1.09A1,1,0,0,0,1,13H2.25a.25.25,0,0,1,.25.25V23a1,1,0,0,0,1,1H9.25a.25.25,0,0,0,.25-.25V19a2.5,2.5,0,0,1,5,0v4.75a.25.25,0,0,0,.25.25H20.5a1,1,0,0,0,1-1V13.25a.25.25,0,0,1,.25-.25H23a1,1,0,0,0,.92-.62A1,1,0,0,0,23.71,11.29ZM12,12a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,12,12Z" fill="currentColor"></path></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Vivienda e inmuebles</a></p>
            </div>
            <p>Servicios y datos de mis viviendas e inmuebles.</p>
        {% endcall %}
        <!--educacion-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path d="M20.15,4a.5.5,0,0,1-.4-.49V2a2,2,0,0,0-2-2H5.25a3,3,0,0,0-3,3V21a3,3,0,0,0,3,3h14.5a2,2,0,0,0,2-2V6A2,2,0,0,0,20.15,4Zm-2.9,9.25a.26.26,0,0,1-.43.18l-1.89-1.9a.27.27,0,0,0-.36,0l-1.89,1.9a.26.26,0,0,1-.28,0,.25.25,0,0,1-.15-.23V5.75a.25.25,0,0,1,.25-.25H17a.25.25,0,0,1,.25.25Zm.5-9.54A.25.25,0,0,1,17.5,4H5.25a1,1,0,0,1,0-2H17.5a.25.25,0,0,1,.25.25Z" fill="currentColor"></path></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Educación y formación</a></p>
            </div>
            <p>Servicios de educación, títulos y becas.</p>
        {% endcall %}
        <!--transportes-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentcolor" d="M22.24 10a.28.28 0 0 1-.07-.21.27.27 0 0 1 .13-.18l.8-.47a1.5 1.5 0 1 0-1.5-2.59l-1.07.61a.23.23 0 0 1-.23 0 .26.26 0 0 1-.14-.16l-.4-2.39a3 3 0 0 0-3-2.51H7.19a3 3 0 0 0-2.95 2.53L3.84 7a.26.26 0 0 1-.14.18.23.23 0 0 1-.23 0l-1.07-.6A1.5 1.5 0 1 0 .9 9.17l.8.47a.27.27 0 0 1 .13.18.28.28 0 0 1-.07.21A4.41 4.41 0 0 0 .5 13.12v2a2.49 2.49 0 0 0 1.59 2.32.25.25 0 0 1 .16.23v1.95a2.25 2.25 0 1 0 4.5 0v-1.74a.26.26 0 0 1 .25-.26h10a.26.26 0 0 1 .25.26v1.74a2.25 2.25 0 1 0 4.5 0v-1.95a.25.25 0 0 1 .16-.23 2.49 2.49 0 0 0 1.59-2.32v-2A4.41 4.41 0 0 0 22.24 10Zm-15-5.91h9.62a1 1 0 0 1 1 .84l.48 2.87a.26.26 0 0 1-.06.21.24.24 0 0 1-.19.08H6A.28.28 0 0 1 5.78 8a.3.3 0 0 1 0-.21L6.21 5a1 1 0 0 1 .98-.88Zm12.31 11a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.55 1.53ZM3 13.62a1.5 1.5 0 1 1 1.5 1.5 1.5 1.5 0 0 1-1.5-1.5Z"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Vehículos y transportes</a></p>
            </div>
            <p>Servicios e Información de mis vehículos y permisos de conducir.</p>
        {% endcall %}
        <!--juventud-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM7.5,7a2,2,0,1,1-2,2A2,2,0,0,1,7.5,7Zm-.44,8.71a.43.43,0,0,1,.38-.22h9.12a.43.43,0,0,1,.38.22.43.43,0,0,1,0,.44,5.71,5.71,0,0,1-9.88,0A.43.43,0,0,1,7.06,15.71ZM16.5,11a2,2,0,1,1,2-2A2,2,0,0,1,16.5,11Z" fill="currentColor"></path></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Juventud</a></p>
            </div>
            <p>Actividades tiempo libre, carnet joven y residencias juveniles.</p>
        {% endcall %}
        <!--justicia-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M10.018.468A1.585 1.585 0 0 0 7.776.46L3.873 4.34a1.585 1.585 0 0 0-.007 2.241L5.58 8.307a1.585 1.585 0 0 0 2.242.007l1.426-1.417 3.472 3.472a.75.75 0 0 0 1.06-1.06l-3.468-3.47 1.413-1.405a1.585 1.585 0 0 0 .007-2.242L10.018.468ZM1 11a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 .5.5v1.5h.25a.75.75 0 0 1 0 1.5h-7a.75.75 0 0 1 0-1.5H1V11Z" clip-rule="evenodd"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Justicia</a></p>
            </div>
            <p>Certificados de delitos.</p>
        {% endcall %}
        <!--inaga-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path d="M23.74,3.16a1,1,0,0,0-.6-.76,1,1,0,0,0-1,.1,13.5,13.5,0,0,1-7.66,2C8.34,4.45,5.76,7,5.71,7a8.11,8.11,0,0,0-3.28,6.49A8,8,0,0,0,3,16.57a.51.51,0,0,1-.1.53L.27,20a1,1,0,0,0,0,1.42,1,1,0,0,0,1.32.05C3.35,19.9,6.15,15.2,14,11.91a1,1,0,0,1,.78,1.86,26.18,26.18,0,0,0-8.43,5.54h0l-.24.25A.51.51,0,0,0,6,20a.5.5,0,0,0,.24.36,8,8,0,0,0,4.26,1.22A12.21,12.21,0,0,0,16.27,20h0C25,15.17,24.2,5.89,23.74,3.16Z" fill="currentColor"></path></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">INAGA</a></p>
            </div>
            <p>Licencia de caza y pesca.</p>
        {% endcall %}
        <!--banco sangre-->
        {% call componentCard({
          "classes": "p-base border border-neutral-base rounded"
        })  %}
            <div class="flex mb-sm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-2 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M23.62 10.537a5.432 5.432 0 0 1-1.701 3.927 5.95 5.95 0 0 1-4.109 1.626 5.95 5.95 0 0 1-4.108-1.626A5.433 5.433 0 0 1 12 10.536C12 5.817 16.977.264 17.81.264c.834 0 5.81 5.554 5.81 10.274Zm-4.915-3.81H17.06a.5.5 0 0 0-.5.5v1.345h-1.417a.5.5 0 0 0-.5.5v1.646a.5.5 0 0 0 .5.5h1.417v1.346a.5.5 0 0 0 .5.5h1.646a.5.5 0 0 0 .5-.5v-1.346h1.274a.5.5 0 0 0 .5-.5V9.072a.5.5 0 0 0-.5-.5h-1.274V7.227a.5.5 0 0 0-.5-.5Zm-6.65-1.906.046.047c-.36.69-.689 1.421-.953 2.177a2.144 2.144 0 0 0-2.024-1.438H4.41a2.143 2.143 0 0 0-2.143 2.144v4.156c1.97-.495 3.715.073 5.223.564l.066.022c1.28.417 2.366.756 3.464.654a7.04 7.04 0 0 0 2.226 2.899 4.143 4.143 0 0 1-3.12 3.584v.694a1 1 0 0 1-1 1h-1.36v1.603a1 1 0 1 1-2 0v-1.603H4.409a1 1 0 0 1-1-1v-.694a4.143 4.143 0 0 1-3.143-4.021V7.751A4.143 4.143 0 0 1 4.41 3.607h4.715c1.1 0 2.153.437 2.93 1.214Z" clip-rule="evenodd"/></svg>
              <p class="flex-1 text-lg font-semibold"><a href="#" class="c-link">Banco de sangre</a></p>
            </div>
            <p>Información de donante de sangre e historial de donaciones.</p>
        {% endcall %}
      </div>

      <!--mis favoritos-->
      <div class="pb-xl"></div>
      <h2 class="c-h3">Mis Favoritos</h2>
      {# favorito #}
      <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
        <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2.75 0A1.75 1.75 0 0 0 1 1.75v8.5a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5ZM5 2.5h3.875V6c0 .345.28.625.625.625H13V12.5a1.5 1.5 0 0 1-1.5 1.5H5a1.5 1.5 0 0 1-1.5-1.5V4A1.5 1.5 0 0 1 5 2.5Zm7.854 2.646a.5.5 0 0 1 .13.229h-2.859v-2.86a.5.5 0 0 1 .229.131l2.5 2.5Z" clip-rule="evenodd"/></svg>
          <p class="flex-1 text-lg font-semibold">
            <a href="#" class="c-link">Documento - Solicitud de beca complementaria (PDF)</a>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm">
          <li>  
            {{ componentButton({
              "text": "Quitar de favoritos",
              "classes": "c-button--transparent"
            })  }}
          </li>
        </ul>
      </div>
      {# favorito #}
      <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
        <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2.75 0A1.75 1.75 0 0 0 1 1.75v8.5a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5ZM5 2.5h3.875V6c0 .345.28.625.625.625H13V12.5a1.5 1.5 0 0 1-1.5 1.5H5a1.5 1.5 0 0 1-1.5-1.5V4A1.5 1.5 0 0 1 5 2.5Zm7.854 2.646a.5.5 0 0 1 .13.229h-2.859v-2.86a.5.5 0 0 1 .229.131l2.5 2.5Z" clip-rule="evenodd"/></svg>
          <p class="flex-1 text-lg font-semibold">
            <a href="#" class="c-link">Documento - Anexo 1 (PDF)</a>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm">
          <li>  
            {{ componentButton({
              "text": "Quitar de favoritos",
              "classes": "c-button--transparent"
            })  }}
          </li>
        </ul>
      </div>
      {# favorito #}
      <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
        <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M24 6.25a2 2 0 0 0-2-2h-6a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 1-1 0v-2.5a3 3 0 0 0-6 0v2.5a.5.5 0 0 1-1 0v-1.5a.5.5 0 0 0-.5-.5H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm-8 17.75a.5.5 0 0 1-.5-.5v-10.5a.5.5 0 0 1 .5-.5h19a.5.5 0 0 1 .5.5v10.5a.5.5 0 0 1-.5.5Z"/><path d="M19.25 13.5H14.5a.75.75 0 0 0 0 1.5h4.75a.75.75 0 0 0 0-1.5ZM18 16.5h-3.5a.75.75 0 0 0 0 1.5H18a.75.75 0 0 0 0-1.5ZM9.46 16.62a.89.89 0 0 1 0-.39 4 4 0 0 0 .86-2.77 2.29 2.29 0 1 0-4.58 0 4 4 0 0 0 .83 2.73c0 .09 0 .35.07.38-1.54.58-2.39 1-2.73 1.71a4.08 4.08 0 0 0-.37 1.15.47.47 0 0 0 .11.41A.49.49 0 0 0 4 20h8a.49.49 0 0 0 .38-.18.47.47 0 0 0 .11-.41 4.08 4.08 0 0 0-.37-1.15c-.34-.69-1.19-1.11-2.66-1.64Z"/></g></svg>
          <p class="flex-1 text-lg font-semibold">
            <a href="#" class="c-link">Carnet de familia numerosa</a>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm">
          <li>  
            {{ componentButton({
              "text": "Quitar de favoritos",
              "classes": "c-button--transparent"
            })  }}
          </li>
        </ul>
      </div>
      {# favorito #}
      <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
        <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M0 2.469A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.469L7.225 7.55c-.133.1-.317.1-.45 0L0 2.469Zm0 1.562V11.5A1.5 1.5 0 0 0 1.5 13h11a1.5 1.5 0 0 0 1.5-1.5V4.031L7.975 8.55a1.625 1.625 0 0 1-1.95 0L0 4.031Z" clip-rule="evenodd"/></svg>
          <p class="flex-1 text-lg font-semibold">
            <a href="#" class="c-link">Notificación - Solicitud de carne de familia numerosa</a>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm">
          <li>  
            {{ componentButton({
              "text": "Quitar de favoritos",
              "classes": "c-button--transparent"
            })  }}
          </li>
        </ul>
      </div>
      {# favorito #}
      <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
        <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.88 3.5a3.51 3.51 0 0 0-3.5-3.5h-9.5a1 1 0 0 0 0 2h6.33a4.39 4.39 0 0 0-.33 1.5v17a1.5 1.5 0 1 1-1.5-1.5 1 1 0 0 0 0-2h-9.5v-1.5a1 1 0 0 0-2 0v1.66a3.49 3.49 0 0 0 1 6.84h10.5a3.51 3.51 0 0 0 3.5-3.5V6.65a3.41 3.41 0 0 0 1.5.35 3.51 3.51 0 0 0 3.5-3.5ZM12.07 21.67a.22.22 0 0 1 0 .22.23.23 0 0 1-.2.11h-7a1.5 1.5 0 1 1 0-3h7a.23.23 0 0 1 .2.11.22.22 0 0 1 0 .22 3.7 3.7 0 0 0 0 2.34ZM20.38 5a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5Z"/><path d="M2.38 9.17V13a.75.75 0 0 0 1.2.6l1.54-1.16 1.55 1.16a.75.75 0 0 0 .79.07.77.77 0 0 0 .42-.67V9.17a5 5 0 1 0-5.5 0ZM5.12 1.5A3.5 3.5 0 1 1 1.62 5a3.5 3.5 0 0 1 3.5-3.5Z"/><path d="M3.38 5a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0"/></g></svg>
          <p class="flex-1 text-lg font-semibold">
            <a href="#" class="c-link">Certificado de discapacidad</a>
          </p>
        </div>
        <ul class="flex flex-wrap gap-sm">
          <li>  
            {{ componentButton({
              "text": "Quitar de favoritos",
              "classes": "c-button--transparent"
            })  }}
          </li>
        </ul>
      </div>
      {# Paginacion #}
      <div class="mt-base">
        <h2 id="paginacion-favoritos" class="sr-only">Paginación favoritos</h2>
        {{ componentPagination({
          "id": "paginacion-listado-favoritos",
          "idPrefix": "paginador-favoritos",
          "hasSelect": true,
          "totalItems": "64",
          "itemsPerPage": "5",
          "items": [
            {
              "value": "1",
              "text": "1",
              "selected": true
            },
            {
              "value": "2",
              "text": "2"
            },
            {
              "value": "3",
              "text": "3"
            },
            {
              "value": "4",
              "text": "4"
            },
            {
              "value": "5",
              "text": "5"
            },
            {
              "value": "6",
              "text": "6"
            },
            {
              "value": "7",
              "text": "7"
            },
            {
              "value": "8",
              "text": "8"
            },
            {
              "value": "9",
              "text": "9"
            },
            {
              "value": "10",
              "text": "10"
            },
            {
              "value": "11",
              "text": "11"
            },
            {
              "value": "12",
              "text": "12"
            },
            {
              "value": "13",
              "text": "13"
            },
            {
              "value": "14",
              "text": "14"
            }
          ],
          "hasPrevious": false,
          "previousText": "Anterior",
          "nextText": "Siguiente",
          "showFirst": true,
          "showLast": true,
          "hasFirst": false,
          "firstText": "Primera",
          "lastText": "Última",
          "attributes": {
            "aria-label": "Paginación"
          }
        }) }}
      </div>         
    </div>

    {# otros servcicios #}
    <div class="w-full lg:w-1/4 mt-xl lg:mt-0 lg:pl-xl">
      <h2 class="c-h3">Otros servicios</h2>
      <ul>
        <li class="mb-sm text-lg font-semibold"><a href="#" class="c-link">Consulta y verificación de documentos y expedientes con CSV</a></li>
      </ul>
    </div>
  </div>

  <div class="w-full lg:w-3/4">
    <!--soporte técnico-->
    <div class="pb-2xl"></div>
    {% include "includes/_servicio-ayuda.njk" %}
    <!--/soporte técnico-->
  </div>
{% endblock %}

