{% set title = "Inicio búsqueda vacía. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h2">Resultados de la búsqueda</h1>
  <!--buscador-->
  <div class="mb-lg lg:w-2/4">
    {{ componentSearchbar({
      "id": "buscador-resultados",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "value": "registro"
    })  }}
  </div>
  <!--/buscador-->
  <p class="c-paragraph-base"><strong>No hay resultados</strong> para "registro". Inténtalo con otras palabras.</p>
 
{% endblock %}