{% set title = "Inicio búsqueda. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>  
  <h1 class="c-h2">Resultados de la búsqueda</h1>
  
  {# Buscador #}
  <div class="w-full lg:w-2/4 mb-lg">
    {{ componentSearchbar({
      "id": "buscador-resultados",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "value": "registro"
    })  }}
  </div>

<div class="w-full lg:w-3/4">
  <p class="c-paragraph-base mb-sm"><strong>4 resultados</strong> encontrados para "registro"</p>
  {# resultado notificacion #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Notificación- Subsanación - Depósito de fianzas de contrato de arrendamiento en Régimen General</a>'
    },
    "items": [
      {
        "text": "18 septiembre 2020"
      },
      {
        "text": "Rechazada"
      },
      {
        "text": "Servicio provincial de transportes"
      }
    ],
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><path d="M22 1.5H5.5a2 2 0 0 0-2 2V17a2 2 0 0 0 2 2H22a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2Zm-.5 2a.5.5 0 0 1 .5.5v.19a.5.5 0 0 1-.22.42l-7.52 5a.52.52 0 0 1-.55 0l-8-5a.5.5 0 0 1-.23-.42V4A.5.5 0 0 1 6 3.5ZM6 17a.5.5 0 0 1-.5-.5V7.72a.51.51 0 0 1 .26-.44.49.49 0 0 1 .51 0l7.2 4.54A.92.92 0 0 0 14 12a1 1 0 0 0 .55-.17l6.67-4.45a.5.5 0 0 1 .78.42v8.7a.51.51 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"></path><path d="M19.5 20.5h-17A.5.5 0 0 1 2 20V6a1 1 0 0 0-2 0v14.5a2 2 0 0 0 2 2h17.5a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado tramite #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Trámite - Registro de solicitud de admisión a pruebas selectivas y liquidación de la tasa por derechos de examen en la Administración de la Comunidad Autónoma de Aragón</a>'
    },
    "items": [
      {
        "text": "22 septiembre 2021"
      },
      {
        "text": "En tramitación"
      },
      {
        "text": "Instituto Aragonés de Adminsitración Pública"
      }
    ],
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"/><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"/></g></svg>
      </a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado cita #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Cita previa - Presentación de documentación en registro - Zaragoza</a>'
    },
    "items": [
      {
        "text": "Martes 2 septiembre 2020, 10:00"
      },
      {
        "text": "LSO25"
      }
    ],
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><path d="M7.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"></path><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z" fill="currentColor" transform="scale(2)"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado comunicacion #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Comunicación - Depósito de fianzas de contrato de arrendamiento en Régimen General</a>'
    },
    "items": [
      {
        "text": "25 septiembre 2022"
      },
      {
        "text": "Leída"
      },
      {
        "text": "Servicio provincial de transportes"
      }
    ],
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><path d="M22 1.5H5.5a2 2 0 0 0-2 2V17a2 2 0 0 0 2 2H22a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2Zm-.5 2a.5.5 0 0 1 .5.5v.19a.5.5 0 0 1-.22.42l-7.52 5a.52.52 0 0 1-.55 0l-8-5a.5.5 0 0 1-.23-.42V4A.5.5 0 0 1 6 3.5ZM6 17a.5.5 0 0 1-.5-.5V7.72a.51.51 0 0 1 .26-.44.49.49 0 0 1 .51 0l7.2 4.54A.92.92 0 0 0 14 12a1 1 0 0 0 .55-.17l6.67-4.45a.5.5 0 0 1 .78.42v8.7a.51.51 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"></path><path d="M19.5 20.5h-17A.5.5 0 0 1 2 20V6a1 1 0 0 0-2 0v14.5a2 2 0 0 0 2 2h17.5a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado vivienda #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Vivienda e inmuebles > Mis inmuebles</a>'
    },
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><path d="M23.71,11.29l-11-11a1,1,0,0,0-1.42,0l-11,11a1,1,0,0,0-.21,1.09A1,1,0,0,0,1,13H2.25a.25.25,0,0,1,.25.25V23a1,1,0,0,0,1,1H9.25a.25.25,0,0,0,.25-.25V19a2.5,2.5,0,0,1,5,0v4.75a.25.25,0,0,0,.25.25H20.5a1,1,0,0,0,1-1V13.25a.25.25,0,0,1,.25-.25H23a1,1,0,0,0,.92-.62A1,1,0,0,0,23.71,11.29ZM12,12a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,12,12Z" fill="currentColor"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado deudas #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Deudas y pagos > Deudas</a>'
    },
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 m-auto" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M.123 5.583v1.703c0 .968 1.55 1.782 3.627 1.962V6.714l.003-.12C2.6 6.512 1.55 6.267.727 5.9a5.147 5.147 0 0 1-.604-.317Zm9-3.583v1.47c-1.236.041-2.397.28-3.313.688-.502.223-.986.522-1.362.916-.085.09-.168.188-.244.293-1.187-.044-2.223-.277-2.967-.609-.416-.185-.714-.39-.899-.585a.826.826 0 0 1-.215-.348V2c0-1.105 2.014-2 4.5-2 2.485 0 4.5.895 4.5 2Zm-4.5.931c1.735 0 3.142-.404 3.142-.903 0-.5-1.407-.904-3.143-.904-1.735 0-3.142.405-3.142.904s1.407.903 3.142.903ZM5 12v-1.703c.188.116.391.222.605.317 1.025.458 2.4.725 3.895.725 1.494 0 2.87-.267 3.895-.725.214-.095.417-.2.605-.317V12c0 1.1-2 2-4.5 2S5 13.1 5 12Zm.216-3.113A.826.826 0 0 1 5 8.54V6.714c0-1.104 2.015-2 4.5-2s4.5.896 4.5 2V8.54a.825.825 0 0 1-.216.348c-.185.195-.482.4-.898.586-.83.37-2.025.616-3.386.616-1.361 0-2.555-.246-3.386-.616-.416-.186-.713-.39-.898-.586Zm7.426-2.145c0 .5-1.407.904-3.142.904-1.736 0-3.142-.405-3.142-.904s1.406-.904 3.142-.904c1.735 0 3.142.405 3.142.904Z" clip-rule="evenodd"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
  {# resultado vehiculos #}
  {{ componentItem({
    "title": {
      "html": '<a class="c-link font-bold" href="#">Vehículos y transportes</a>'
    },
    "icon": {
      "html": '<a href="#" class="block focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-5 h-5 m-auto"" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5.062 4c-.572 0-1.073.39-1.213.95l-.39 1.562h7.081l-.389-1.562c-.14-.56-.64-.95-1.213-.95H5.062Zm-2.668.588a2.751 2.751 0 0 1 2.668-2.089h3.876c1.264 0 2.363.863 2.668 2.089l.622 2.493a.97.97 0 0 1 .006.029A2.501 2.501 0 0 1 14 9.5v1a1.5 1.5 0 0 1-1.5 1.5v1a1 1 0 1 1-2 0v-1h-7v1a1 1 0 1 1-2 0v-1A1.5 1.5 0 0 1 0 10.5v-1c0-1.125.743-2.077 1.766-2.39a.732.732 0 0 1 .006-.03l.622-2.492ZM2.375 9.5c0-.345.28-.625.625-.625h1a.625.625 0 1 1 0 1.25H3a.625.625 0 0 1-.625-.625ZM10 8.875a.625.625 0 1 0 0 1.25h1a.625.625 0 1 0 0-1.25h-1Z" clip-rule="evenodd"></path></svg></a>'
    },
    "classes": "mb-base"
  })  }}
</div>
{% endblock %}