{% set title = "Justicia - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Justicia
  </h1>
  <p class="c-paragraph-base lg:c-paragraph-lg">
    Obtén certificados de delitos y consulta otros datos relacionados.
  </p>
  <div class="pb-base"></div><!--espaciador-->

  <div class="w-full lg:w-3/4">

    <h2 class="c-h3 mb-base">Quizá te pueda interesar</h2>
    <ul>
      <li class="mb-sm"><a href="https://sedejudicial.aragon.es/" class="c-link" target="_blank" title="Se abre en ventana nueva">Sede judicial</a></li>
      <li class="mb-sm"><a href="https://subastas.boe.es/" class="c-link" target="_blank" title="Se abre en ventana nueva">Subastas judiciales</a></li>
      <li class="mb-sm"><a href="https://www.aragon.es/-/asistencia-juridica-gratuita-1" class="c-link" target="_blank" title="Se abre en ventana nueva">Asistencia jurídica gratuita</a></li>
    </ul>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h3 mb-base">Certificados</h2>
    {# certificado #}
    <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
      <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.88 3.5a3.51 3.51 0 0 0-3.5-3.5h-9.5a1 1 0 0 0 0 2h6.33a4.39 4.39 0 0 0-.33 1.5v17a1.5 1.5 0 1 1-1.5-1.5 1 1 0 0 0 0-2h-9.5v-1.5a1 1 0 0 0-2 0v1.66a3.49 3.49 0 0 0 1 6.84h10.5a3.51 3.51 0 0 0 3.5-3.5V6.65a3.41 3.41 0 0 0 1.5.35 3.51 3.51 0 0 0 3.5-3.5ZM12.07 21.67a.22.22 0 0 1 0 .22.23.23 0 0 1-.2.11h-7a1.5 1.5 0 1 1 0-3h7a.23.23 0 0 1 .2.11.22.22 0 0 1 0 .22 3.7 3.7 0 0 0 0 2.34ZM20.38 5a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5Z"/><path d="M2.38 9.17V13a.75.75 0 0 0 1.2.6l1.54-1.16 1.55 1.16a.75.75 0 0 0 .79.07.77.77 0 0 0 .42-.67V9.17a5 5 0 1 0-5.5 0ZM5.12 1.5A3.5 3.5 0 1 1 1.62 5a3.5 3.5 0 0 1 3.5-3.5Z"/><path d="M3.38 5a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0"/></g></svg>
        <p class="flex-1 text-lg font-semibold">
          Certificado de delitos
        </p>
      </div>
      <ul class="flex flex-wrap gap-sm">
        <li>  
          {{ componentButton({
            "text": "Generar certificado",
            "classes": "c-button--transparent"
          })  }}
        </li>
      </ul>
    </div>
    {# certificado #}
    <div class="xl:flex items-center px-base py-sm border border-neutral-base rounded mb-sm">
      <div class="flex-1 flex items-center mb-sm lg:mb-0 mr-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 inline-flex mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.88 3.5a3.51 3.51 0 0 0-3.5-3.5h-9.5a1 1 0 0 0 0 2h6.33a4.39 4.39 0 0 0-.33 1.5v17a1.5 1.5 0 1 1-1.5-1.5 1 1 0 0 0 0-2h-9.5v-1.5a1 1 0 0 0-2 0v1.66a3.49 3.49 0 0 0 1 6.84h10.5a3.51 3.51 0 0 0 3.5-3.5V6.65a3.41 3.41 0 0 0 1.5.35 3.51 3.51 0 0 0 3.5-3.5ZM12.07 21.67a.22.22 0 0 1 0 .22.23.23 0 0 1-.2.11h-7a1.5 1.5 0 1 1 0-3h7a.23.23 0 0 1 .2.11.22.22 0 0 1 0 .22 3.7 3.7 0 0 0 0 2.34ZM20.38 5a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5Z"/><path d="M2.38 9.17V13a.75.75 0 0 0 1.2.6l1.54-1.16 1.55 1.16a.75.75 0 0 0 .79.07.77.77 0 0 0 .42-.67V9.17a5 5 0 1 0-5.5 0ZM5.12 1.5A3.5 3.5 0 1 1 1.62 5a3.5 3.5 0 0 1 3.5-3.5Z"/><path d="M3.38 5a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0"/></g></svg>
        <div class="flex-1">
          <p class="text-lg font-semibold">
            Certificado de delitos de naturaleza sexual
          </p>
          <ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
            <li class="lg:inline-block px-sm text-sm text-neutral-dark">CSV91238912373182</li>
            <li class="lg:inline-block px-sm text-sm text-neutral-dark">Generado el 23 enero 2022 hace 25 días</li>
          </ul>
        </div>
      </div>
      <ul class="flex flex-wrap gap-sm">
        <li>
          {% call componentDropdown({
            "text": "Más",
            "classes": "c-dropdown--transparent"
            })  %}
              {{ componentNav({
                "isMenu": true,
                "idPrefix": "mas-opciones",
                "classes": "w-max max-w-64",
                "attributes": {
                  "id": "nav-mas-opciones",
                  "aria-label": "Más opciones del documento"
                },
                "items": [
                  {
                    "href": "#",
                    "text": "Marcar como Favorito"
                  },
                  {
                    "href": "#",
                    "text": "Descargar"
                  },
                  {
                    "href": "#",
                    "text": "Volver a generar"
                  }
                ]
              })  }}
          {% endcall %}          
        </li>
        <li>  
          {{ componentButton({
            "text": "Ver",
            "classes": "c-button--transparent"
          })  }}
        </li>
      </ul>
    </div>

  </div>
{% endblock %}