{% set title = "Juventud - Portada con carnet. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Inicio',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div> 
    <h1 class="c-h1">Juventud</h1>
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl">
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <h2 class="c-h3 pb-xs c-anchor-scroll">Ciudadanía</h2>
        {{ componentLinksList({
          "idPrefix": "items-ciudadania",
          "items": [
            {
              "href": "#",
              "html": '<strong>Carné Joven</strong>',
              "classes": "flex justify-between items-center py-base text-lg"
            },
            {
              "href": "#",
              "html": '<strong>Residencias juveniles</strong>',
              "classes": "flex justify-between items-center py-base text-lg"
            }
          ],
          "classes": "mb-sm",
          "attributes": {
            "aria-label": "Menu ciudadania"
          }
        })  }}
        <div class="pb-xl"></div>
        <h2 class="c-h3 pb-xs">Empresas o entidades</h2>
        {{ componentLinksList({
          "idPrefix": "items-entidades",
          "items": [
            {
              "href": "#",
              "html": '<strong>Actividades de tiempo libre</strong>',
              "classes": "flex justify-between items-center py-base text-lg",
              "sub": {
                "html": '<p class="c-paragraph-base mb-0">Declaración en <strong>tramitación</strong></p>'
              }
            }
          ],
          "classes": "mb-sm",
          "attributes": {
            "aria-label": "Menu entidades"
          }
        })  }}
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <div class="mb-base">
          <h3 class="c-h3 pb-xs">Carné Joven</h3>
          <div class="relative">
            <img src="../../images/carne-JovenEuropeo.png" class="max-w-none" alt="Carné Joven Europeo" aria-label="Carné Joven Europeo" width="282" height="177">
            <p class="absolute top-24 left-4 w-64 -mt-2 text-xs uppercase"><span class="sr-only">Nombre:</span> Francisco Javier pérez Silvestre</p>
            <p class="absolute top-32 left-4 w-24 text-xs uppercase"><span class="sr-only">Fecha nacimiento:</span> 03/02/1996</p>
            <p class="absolute top-32 left-28 w-36 ml-2 text-xs uppercase"><span class="sr-only">Válido:</span> 30/04/2023</p>
            <p class="absolute top-40 left-4 w-64 -mt-2 text-xs uppercase"><span class="sr-only">Número de carnet:</span> X987-G587-F245-P057</p>
          </div>
        </div>
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
  </div>
{% endblock %}

