{% set title = "Landing MiA. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.landing.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}

  <!-- slide MiA -->
  <section style="background-color: #FFD700;" aria-labelledby="mia">
    <div class="container h-full mx-auto px-base">
      <div class="relative h-full bg-cover bg-center bg-no-repeat">
        <div class="pt-lg lg:flex items-end">
          <div class="lg:w-1/3 mb-xl lg:mb-xl xl:mb-2xl">
            <h1 id="mia" class="c-h1 mb-sm lg:text-4xl">MiA</h1>
            <div class="text-base mb-0">
              <p class="c-paragraph-lg leading-6 lg:text-2xl lg:leading-8 xl:w-11/12">Mi espacio único de relación digital con el Gobierno de Aragón. Tus datos, notificaciones y trámites en un solo lugar.</p>
              {{ componentButton({
                "html": 'Accede a MiA<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
                "classes": "c-button--primary",
                "href": "/"
              })  }} 
            </div>
          </div>
          <div class="lg:w-2/3 lg:pr-2xl">
            <img src="../../images/pic-MiA-03-1.png" alt="Mano sostiene aplicación móvil MiA - Mi Aragón digital" class="sm:w-2/3 lg:w-11/12 xl:w-auto mx-auto">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /slide a MiA -->

  <!-- que puedo hacer con MiA -->
  <section class="container mx-auto px-base py-xl lg:py-2xl" aria-labelledby="puedohacer">
    <h2 id="puedohacer" class="c-h3 lg:c-h2 pb-base">¿Qué puedo hacer con MiA?</h2>
    <dl class="grid grid-cols-1 lg:grid-cols-3 gap-lg lg:gap-xl">
      <div>
        <dt class="font-bold lg:text-lg mb-xs lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-10 h-10 mb-xs lg:mb-sm mr-sm" aria-hidden="true" focusable="false"><path d="M22 1.5H5.5a2 2 0 0 0-2 2V17a2 2 0 0 0 2 2H22a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2Zm-.5 2a.5.5 0 0 1 .5.5v.19a.5.5 0 0 1-.22.42l-7.52 5a.52.52 0 0 1-.55 0l-8-5a.5.5 0 0 1-.23-.42V4A.5.5 0 0 1 6 3.5ZM6 17a.5.5 0 0 1-.5-.5V7.72a.51.51 0 0 1 .26-.44.49.49 0 0 1 .51 0l7.2 4.54A.92.92 0 0 0 14 12a1 1 0 0 0 .55-.17l6.67-4.45a.5.5 0 0 1 .78.42v8.7a.51.51 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"/><path d="M19.5 20.5h-17A.5.5 0 0 1 2 20V6a1 1 0 0 0-2 0v14.5a2 2 0 0 0 2 2h17.5a1 1 0 0 0 0-2Z" fill="currentColor" transform="scale(2)"/></svg>
          Aceptar y leer mis notificaciones
        </dt>
        <dd class="lg:text-lg">Consulta tus notificaciones y comunicaciones administrativas.</dd>
      </div>
      <div>
        <dt class="font-bold lg:text-lg mb-xs lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-10 h-10 mb-xs lg:mb-sm mr-sm" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M10.17 19.79a.26.26 0 0 1 0-.31 5.5 5.5 0 1 0-10-1.7 5.45 5.45 0 0 0 4.08 4.11 5.51 5.51 0 0 0 4.23-.72.24.24 0 0 1 .3 0l2.51 2.51a1 1 0 0 0 1.41 0 1 1 0 0 0 0-1.42ZM5.5 20A3.5 3.5 0 1 1 9 16.53 3.5 3.5 0 0 1 5.5 20ZM20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.3a.24.24 0 0 0 .22.24 7.62 7.62 0 0 1 1.45.31.24.24 0 0 0 .33-.23V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-9.12a.26.26 0 0 0-.24.17 6.33 6.33 0 0 1-.37.94.39.39 0 0 0 .06.39l.37.37a.35.35 0 0 0 .26.13H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/></g></svg>
          Hacer un seguimiento de mis trámites
        </dt>
        <dd class="lg:text-lg">Podrás consultar cuándo hiciste la solicitud,  las notificaciones, los documentos asociados y el estado en que se encuentra.</dd>
      </div>
      <div>
        <dt class="font-bold lg:text-lg mb-xs lg:mb-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-10 h-10 mb-xs lg:mb-sm mr-sm" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z"/><path d="M12 10.5a5 5 0 1 0 5 5 5 5 0 0 0-5-5Zm2.83 4-2.42 3.22a1.38 1.38 0 0 1-2.08.15l-1.25-1.25a.75.75 0 1 1 1.06-1.06l1.15 1.15 2.34-3.11a.75.75 0 0 1 1.2.9Z"/></g></svg>
          Gestionar mis citas previas
        </dt>
        <dd class="lg:text-lg">Para ir al registro, pedir tu certificado electrónico y otras citas con la administración. </dd>
      </div>
    </dl>
  </section>
  <!-- /que puedo hacer con MiA -->
  
  <!-- consulta tus datos -->
  <section class="container mx-auto px-base pb-xl lg:pb-2xl" aria-labelledby="consultadatos">
    <hr class="border-t border-neutral-base mb-lg">
    <h2 id="consultadatos" class="c-h3 lg:c-h2">Consulta tus datos</h2>
    <p class=" lg:w-3/4 c-paragraph-base lg:c-paragraph-lg mb-base">Actualmente, puedes consultar algunos datos, ordenados en áreas temáticas. Estamos trabajando en incorporar más información relevante para ti.</p>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-base mt-base">
      {% call componentCard({
        "classes": "p-base border border-neutral-base rounded"
      })  %}
          <div class="flex mb-sm">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.5em" height="1.5em" class="mr-3 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M8.75 1.078C8.049.41 7.31.068 6.59.015 5.738-.048 4.99.3 4.452.84c-1.05 1.06-1.379 2.984-.056 4.313l.014.014 4 3.7a.5.5 0 0 0 .68 0l4-3.7.011-.011c1.342-1.324 1.012-3.25-.043-4.309-.539-.541-1.29-.887-2.142-.826-.722.051-1.462.391-2.165 1.057ZM4.673 8.172l1.727 1.727a.86.86 0 0 1-1.307 1.11l-1.45-1.45a.625.625 0 0 0-.884.883l1.45 1.45A2.11 2.11 0 0 0 7.723 11H10.5a1.5 1.5 0 0 1 0 3H4.657a4 4 0 0 1-2.829-1.171L0 11V7h1.843a4 4 0 0 1 2.829 1.172Z" clip-rule="evenodd"/></svg>
            <p class="flex-1 text-lg font-bold">Servicios sociales</p>
          </div>
          <p>Información de discapacidad, depencia y hogares.</p>
      {% endcall %}
      {% call componentCard({
        "classes": "p-base border border-neutral-base rounded  border-dashed text-neutral-dark"
      })  %}
          <div class="flex mb-sm">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.5em" height="1.5em" class="mr-3 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" d="M4.5 1a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v.5a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V1Z"/><path fill="currentColor" fill-rule="evenodd" d="M3 1h.25v.5A2.25 2.25 0 0 0 5.5 3.75h3a2.25 2.25 0 0 0 2.25-2.25V1H11a1.5 1.5 0 0 1 1.5 1.5v10A1.5 1.5 0 0 1 11 14H3a1.5 1.5 0 0 1-1.5-1.5v-10A1.5 1.5 0 0 1 3 1Zm1.5 4.375a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5ZM3.875 8.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625Zm.625 1.876a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
            <p class="flex-1 text-lg font-bold">Oposiciones</p>
          </div>
          <p>Busca y consulta el estado de mis oposiciones.</p>
          <p class="mt-sm text-black">Próximamente</p>
      {% endcall %}
      {% call componentCard({
        "classes": "p-base border border-neutral-base rounded  border-dashed text-neutral-dark"
      })  %}
          <div class="flex mb-sm">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.5em" height="1.5em" class="mr-3 mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M.123 5.583v1.703c0 .968 1.55 1.782 3.627 1.962V6.714l.003-.12C2.6 6.512 1.55 6.267.727 5.9a5.147 5.147 0 0 1-.604-.317Zm9-3.583v1.47c-1.236.041-2.397.28-3.313.688-.502.223-.986.522-1.362.916-.085.09-.168.188-.244.293-1.187-.044-2.223-.277-2.967-.609-.416-.185-.714-.39-.899-.585a.826.826 0 0 1-.215-.348V2c0-1.105 2.014-2 4.5-2 2.485 0 4.5.895 4.5 2Zm-4.5.931c1.735 0 3.142-.404 3.142-.903 0-.5-1.407-.904-3.143-.904-1.735 0-3.142.405-3.142.904s1.407.903 3.142.903ZM5 12v-1.703c.188.116.391.222.605.317 1.025.458 2.4.725 3.895.725 1.494 0 2.87-.267 3.895-.725.214-.095.417-.2.605-.317V12c0 1.1-2 2-4.5 2S5 13.1 5 12Zm.216-3.113A.826.826 0 0 1 5 8.54V6.714c0-1.104 2.015-2 4.5-2s4.5.896 4.5 2V8.54a.825.825 0 0 1-.216.348c-.185.195-.482.4-.898.586-.83.37-2.025.616-3.386.616-1.361 0-2.555-.246-3.386-.616-.416-.186-.713-.39-.898-.586Zm7.426-2.145c0 .5-1.407.904-3.142.904-1.736 0-3.142-.405-3.142-.904s1.406-.904 3.142-.904c1.735 0 3.142.405 3.142.904Z" clip-rule="evenodd"/></svg>
            <p class="flex-1 text-lg font-bold">Deudas y pagos</p>
          </div>
          <p>Consulta deudas, pagos realizados y certificados de pago.</p>
          <p class="mt-sm text-black">Próximamente</p>
      {% endcall %}
    </div>
  </section>
  <!-- /consulta tus datos -->

  <!-- identificacion -->
  <section class="bg-neutral-light py-xl lg:py-2xl" aria-labelledby="identificacion">
    <div class="container h-full mx-auto px-base">
      <div class="grid grid-cols-3 gap-xl">
        <div class="col-span-3 lg:col-span-2">
          <h2 id="identificacion" class="c-h3 lg:c-h2">¿Cómo puedo acceder?</h2>
          <p class="c-paragraph-base lg:c-paragraph-lg mb-base">MiA tiene varios servicios que requieren identificación digital para acceder, así garantizamos la seguridad y privacidad de tus datos. Para acceder puedes usar cualquiera de los siguientes medios de identificación:</p>
          <ul>
            <li class="flex mb-xs">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="mr-sm lg:mt-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
              <span class="flex-1 lg:text-lg">Cl@ve PIN</span>
            </li>
            <li class="flex mb-xs">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="mr-sm lg:mt-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
              <span class="flex-1 lg:text-lg">Cl@ve permanente</span>
            </li>
            <li class="flex mb-xs">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="mr-sm lg:mt-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
              <span class="flex-1 lg:text-lg">DNIe o certificado electrónico</span>
            </li>
          </ul>
          {{ componentButton({
            "html": 'Ver vídeo de cómo acceder a MiA<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
            "classes": "c-button--transparent mt-base lg:text-lg whitespace-normal",
            "href": "/"
          })  }} 
        </div>
        <div class="col-span-3 lg:col-span-1">
          <h2 class="c-h3 lg:c-h2">Servicios sin identificación</h2>
          <p class="c-paragraph-base lg:c-paragraph-lg mb-base">MiA integra algunos servicios de la administración que no requieren identificación digital.</p>
          <ul>
            <li>
              {{ componentButton({
                "html": 'Buscar oposiciones<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
                "classes": "c-button--transparent lg:text-lg whitespace-normal",
                "href": "/"
              })  }} 
            </li>
            <li>
              {{ componentButton({
                "html": 'Documentos y expedientes por CSV<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
                "classes": "c-button--transparent lg:text-lg whitespace-normal",
                "href": "/"
              })  }} 
            </li>    
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /identificacion -->

  <!-- preguntas frecuentes -->
  <section class="container mx-auto px-base py-xl lg:pt-2xl lg:pb-0" aria-labelledby="faqs">
    <h2 id="faqs" class="c-h3 lg:c-h2">Encuentra las respuestas que necesitas</h2>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl">
      <div class="col-span-2 lg:col-span-3">
        {{ componentAccordion({
          "idPrefix": "preguntas-frecuentes",
          "allowToggle": true,
          "items": [
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿Qué es MiA?</span>',
              "html": '<p class="my-sm">MiA es el espacio digital creado por el Gobierno de Aragón para que encuentres agrupada la información de tu interés que tiene la Administración sobre ti. MiA permite acceder a las solicitudes que has tramitado y conocer el estado en el que se encuentran tus expedientes. Los datos que encontrarás en MiA irán aumentando progresivamente.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿Qué dispositivos puedo usar para acceder a MiA?</span>',
              "html": '<p class="my-sm">Cualquier dispositivo que tenga un navegador web, como un ordenador, una tablet o un teléfono, se puede utilizar para acceder a MiA. En tu primera visita desde un dispositivo móvil, la herramienta te ofrecerá crear un acceso directo en tu pantalla de inicio para acceder más rápidamente.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿De dónde se obtienen los datos y cada cuánto se actualizan?</span>',
              "html": '<p class="my-sm">Los datos de MiA se obtienen de diferentes fuentes y departamentos, y cada órgano es responsable de la información que maneja, con diferentes políticas internas de actualización definidas por sus responsables. MiA actúa como un intermediario de esos datos. En las <a href="#" class="c-link">condiciones de uso</a>  se detalla la periodicidad con la que se consumen los datos desde el origen hasta la visualización a través de MiA.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿Puedo acceder a MiA en nombre de otra persona o como representante?</span>',
              "html": '<p class="my-sm">Para poder acceder a través de MiA a los datos de otra persona, empresa o entidad a la que representas, puedes hacerlo de dos maneras. </p>
                      <p class="my-sm">La primera es usando un certificado de representante. En este caso, MiA te mostrará la información de la empresa o entidad a la que representas. </p>
                      <p class="my-sm">La segunda es accediendo con un certificado de persona física (particular). MiA te mostrará los trámites y documentos en los que constes como representante ante el órgano responsable del trámite.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿Qué trámites puedo consultar en MiA?</span>',
              "html": '<p class="my-sm">Podrás ver las solicitudes que hayas realizado en la sede electrónica a través del tramitador online del Gobierno de Aragón. Cuando la administración recibe una solicitud, inicia su tramitación creando un expediente. En una primera fase, MiA mostrará los expedientes integrados en la herramienta de tramitación corporativa, y progresivamente se irán incorporando otras herramientas de tramitación específicas de cada Departamento.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">¿Qué datos se van a incorporar a MiA?</span>',
              "html": '<p class="my-sm">Los responsables de tus datos en el Gobierno de Aragón los van a ir poniendo a tu disposición poco a poco dentro de MiA. En un primer momento, encontrarás los relativos al reconocimiento de grado de discapacidad y los incluidos dentro del sistema de dependencia. Próximamente podremos ofrecerte los datos sobre oposiciones, así como tus deudas y pagos realizados al Gobierno de Aragón.  Progresivamente, se incorporarán a este espacio los datos de otras áreas temáticas.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">No me aparece información de una solicitud o expediente: ¿a qué se debe?</span>',
              "html": '<p class="my-sm">Puede ser que el expediente se esté gestionando con una herramienta de tramitación todavía no integrada en MiA, o bien que no constes en el expediente como persona interesada o representante en el trámite. En ambos casos, puedes contactar con el órgano responsable del trámite, cuya información está en la Sede electrónica,  para obtener más detalle.</p>'
            },
            {
              "headerHtml": '<span class="block pr-2xl pointer-events-none lg:text-lg">Veo mis datos, pero contienen algún error: ¿cómo lo resuelvo?</span>',
              "html": '<p class="my-sm">A excepción de tus datos de contacto, MiA muestra diferentes tipos de datos de los que no es responsable, sólo es canal de comunicación.  Cualquier incorrección debe comunicarse al organismo responsable a fin de que se actualice y no pueda ser tomado como referencia en actos de la Administración. Puedes encontrar la información de contacto con el órgano responsable en los detalles del trámite en la Sede electrónica.</p>   
                      <p class="my-sm">Si no tienes un medio para contactar con ese órgano, puedes contactar con el equipo de soporte técnico y haremos llegar tu comentario. Sin embargo, la corrección o actualización del dato dependerá del responsable de los datos.<p>'
            }
          ],
          "classes": "mb-base"
        })  }}
        <div class="pb-xl"></div>
        <h3 class="c-h3">Información adicional</h3>
        <p><a href="#" class="c-link font-semibold">Condiciones de uso y privacidad</a></p>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <!-- ayuda -->
        <div class="p-base border border-neutral-base rounded mb-base">
          <h2 class="c-h3">Documentación y ayuda</h2>
          <p class="c-paragraph-base mb-sm">Si tienes dudas sobre funcionalidades de MiA puedes consultar nuestro manual:</p>
          <ul>
            <li>
              {{ componentButton({
                "html": 'Manual de uso<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
                "classes": "c-button--transparent whitespace-normal",
                "href": "/"
              })  }} 
            </li>
            <li>
              {{ componentButton({
                "html": 'Vídeos de ayuda<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
                "classes": "c-button--transparent whitespace-normal",
                "href": "/"
              })  }} 
            </li>    
          </ul>
        </div>
        <!-- /ayuda -->
        <!-- soporte técnico -->
        <div class="pb-base"></div>
        {% include "includes/_servicio-ayuda-blanco.njk" %}
        <!-- /soporte técnico -->
      </div>
    </div>
  </section>
  <!-- /preguntas frecuentes -->
  
{% endblock %}


<!-- notificationFooterBlock -->
{% block notificationFooterBlock %}
  <section id="notification-footer-container" aria-labelledby="notification-footer-heading" class="fixed z-10 inset-x-0 bottom-base w-full">
    <div class="container mx-auto px-base">
      <h2 id="notification-footer-heading" class="sr-only">Avisos importantes a pie de página</h2>
        {{ componentNotification({
          "title": {
            "html": 'USO DE COOKIES'
          },
          "description": {
            "html": 'Usamos cookies para que la aplicación funcione. <a class="c-link" href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon" target="_blank">Para más información consulta nuestra política de cookies</a>.'
          },
          "id": "notificacion-cookies",
          "isDismissible": true
        })  }}
    </div>
  </section>
{% endblock %}
<!-- /notificationFooterBlock -->


