{% set title = "Logout. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1 mb-sm">Tu sesión ha caducado por inactividad</h1>
  <div class="w-full lg:w-3/4">
    <p class="mb-lg">Vuelve a identificarte para acceder a Carpeta Ciudadana.</p>
    {{ componentButton({
      "text": "Identificarme",
      "classes": "c-button--primary"
    })  }}        
  </div>
{% endblock %}








{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}