{% set title = "Mapa web. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Mapa web</h1>
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg">Colección de las secciones principales de este sitio web y sus subsecciones.</p>
    <div class="py-base"></div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Perfil</a></h2>
      <div class="mb-base">
        <p>Gestiona tus datos personales.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Notificaciones y comunicaciones</a></h2>
      <div class="mb-base">
        <p>Aquí recibirás las notificaciones de manera telemática.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Trámites</a></h2>
      <div class="mb-base">
        <p>Consulta y gestiona en este apartado todos tus trámites con el Gobierno de Aragón.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Citas previas y avisos</a></h2>
      <div class="mb-base">
        <p>Gestiona tus citas para realizar un trámite de manera presencial, como ir al registro, renovar tu certificado electrónico y otros.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">IASS - Servicios Sociales</a></h2>
      <div class="mb-base">
        <p>Consulta tus datos sobre dependencia y discapacidad.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Comprobación y verificación de documentos con CSV</a></h2>
      <div class="mb-base">
        <p>Consulta documentos y expedientes utilizando su CSV.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Accesibilidad</a></h2>
      <div class="mb-base">
        <p>Conoce el nivel de accesibilidad de la web y obtén información adicional al respecto.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
    <div class="mb-xl">
      <h2 class="c-h2 group"><a href="#" class="c-link">Mapa web</a></h2>
      <div class="mb-base">
        <p>Colección de las secciones principales de este sitio web y sus subsecciones.</p>
      </div>
      <ul>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
        <li class="mb-base">
          <a class="c-link" href="#">Subapartado</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}