{% set title = "Mi perfil - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="pb-lg"></div><!--espaciador-->
  <h1 class="c-h1 text-2xl lg:text-3xl">Mi perfil</h1>

  <div class="w-full lg:w-1/2">
    <h2 class="c-h2 text-lg lg:text-2xl">Marta Pérez Ruiz <span class="block text-base lg:text-lg font-normal">NIF 72988584Q</span></h2>
    <div class="pb-base"></div><!--espaciador-->
    
    <h3 class="c-h3">Datos de contacto</h3>
    <p class="c-paragraph-base">Necesitamos estos datos para enviarte avisos puntuales sobre tus trámites y notificaciones.</p>
    {{ componentDescriptionList({
      "classes": "flex flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Correo Electrónico'
          },
          "definition": {
            "html": 'nombreusuario@aragon.es'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Teléfono móvil'
          },
          "definition": {
            "html": '638344328'
          },
          "classes": "mb-base pr-xl"
        }
      ]
    })  }}

    <div class="pb-lg"></div><!--espaciador-->

    <h3 class="c-h3">Dirección postal</h3>
    <p class="c-paragraph-base">Tu dirección para que la rellenemos de manera automática cuando sea necesario.</p>
    {{ componentDescriptionList({
      "classes": "flex flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Tipo de vía'
          },
          "definition": {
            "html": 'Paseo'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Vía'
          },
          "definition": {
            "html": 'María Agustín'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Número'
          },
          "definition": {
            "html": '114'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Escalera'
          },
          "definition": {
            "html": '2'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Piso'
          },
          "definition": {
            "html": '3'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Puerta'
          },
          "definition": {
            "html": 'A'
          },
          "classes": "mb-base pr-xl"
        }
      ]
    })  }}
    {{ componentDescriptionList({
      "classes": "flex flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Indicaciones adicionales'
          },
          "definition": {
            "html": 'Ninguna'
          },
          "classes": "mb-base pr-xl"
        }
      ]
    })  }}
    {{ componentDescriptionList({
      "classes": "flex flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Códgo postal '
          },
          "definition": {
            "html": '40005'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Provincia'
          },
          "definition": {
            "html": 'Zaragoza'
          },
          "classes": "mb-base pr-xl"
        },
        {
          "term": {
            "html": 'Muncicipio'
          },
          "definition": {
            "html": 'Zaragoza'
          },
          "classes": "mb-base pr-xl"
        }
      ]
    })  }}

    <div class="pb-lg"></div><!--espaciador-->

    <h3 class="c-h3">Consentimiento de avisos y servicios personalizados</h3>
    <p class="c-paragraph-base">Para poder ofrecerte tramites y servicios que te puedan interesar o recibir avisos personalizados necesitamos que aceptes que utilicemos tus datos para saber que trámites te pueden interesar.</p>
    <p class="c-paragraph-base flex">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
      <span class="flex-1">Si doy consentimiento</span>
    </p>

    <div class="pb-lg"></div><!--espaciador-->

    {{ componentButton({
      "text": "Modificar datos",
      "href": "#"
    }) }}

    <div class="pb-2xl"></div><!--espaciador-->

    <h3 class="c-h3">Información adicional</h3>
    <ul>
      <li class="mb-sm font-semibold"><a href="#" class="c-link">Historial de consulta de datos</a></li>
      <li class="mb-sm font-semibold"><a href="#" class="c-link">Actividad de tratamiento</a></li>
      <li class="mb-sm font-semibold"><a href="#" class="c-link">Condiciones de uso</a></li>
      <li class="mb-sm font-semibold"><a href="#" class="c-link">Vincular con NIE</a></li>
    </ul>

  </div>
{% endblock %}