{% set title = "Mi perfil - Historial de consulta. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table/_macro.table.njk" import componentTable %}

{# Definiciones #}
{% set contentTable1Row1Cell1 %}
  <div class="py-sm lg:py-0">
    <p class="hidden lg:table-cell">Discapacidad limitada <span class="block text-sm">Responsable: IASS - Instituto Aragonés de Servicios Sociales</span></p>
    <!-- para mobile -->
    <div class="lg:hidden">
      <p class="text-sm text-neutral-dark">Dato consultado y responsable</p>
      <p class="mb-sm">Discapacidad limitada <span class="block text-sm">IASS - Instituto Aragonés de Servicios Sociales</span></p>
      <p class="text-sm text-neutral-dark">Consultado por</p>
      <p class="mb-sm">Dirección General de Función Pública</p>
      <p class="text-sm text-neutral-dark">Para procedimiento</p>
      <p class="mb-sm">23 - Solicitudes de compatibilidad</p>
      <p class="text-sm text-neutral-dark">Fecha consulta</p>
      <p>18 noviembre 2021</p>
    </div>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row2Cell1 %}
  <div class="py-sm lg:py-0">
    <p class="hidden lg:table-cell">Pertenencia a colectivo vulnerable <span class="block text-sm">Responsable: Unidad de Apoyo a la Administración Electrónica y Gobernanza de Datos - Vertebración del Territorio, Movilidad y Vivienda </span></p>
    <!-- para mobile -->
    <div class="lg:hidden">
      <p class="text-sm text-neutral-dark">Dato consultado y responsable</p>
      <p class="mb-sm">Pertenencia a colectivo vulnerable <span class="block text-sm">Unidad de Apoyo a la Administración Electrónica y Gobernanza de Datos - Vertebración del Territorio, Movilidad y Vivienda </span></p>
      <p class="text-sm text-neutral-dark">Consultado por</p>
      <p class="mb-sm">Dirección General de Vivienda</p>
      <p class="text-sm text-neutral-dark">Para procedimiento</p>
      <p class="mb-sm">575 - 	Ayudas al alquiler</p>
      <p class="text-sm text-neutral-dark">Fecha consulta</p>
      <p>22 enero 2021</p>
    </div>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row3Cell1 %}
  <div class="py-sm lg:py-0">
    <p class="hidden lg:table-cell">Datos biométricos <span class="block text-sm">Responsable: Banco de Sangre y Tejidos</span></p>
    <!-- para mobile -->
    <div class="lg:hidden">
      <p class="text-sm text-neutral-dark">Dato consultado y responsable</p>
      <p class="mb-sm">Datos biométricos <span class="block text-sm">Banco de Sangre y Tejidos</span></p>
      <p class="text-sm text-neutral-dark">Consultado por</p>
      <p class="mb-sm">Instituto Nacional de Estadística</p>
      <p class="text-sm text-neutral-dark">Para procedimiento</p>
      <p class="mb-sm">819 - Donación</p>
      <p class="text-sm text-neutral-dark">Fecha consulta</p>
      <p>9 septiembre 2021</p>
    </div>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row4Cell1 %}
  <div class="py-sm lg:py-0">
    <p class="hidden lg:table-cell">Discapacidad limitada <span class="block text-sm">Responsable: IASS - Instituto Aragonés de Servicios Sociales</span></p>
    <!-- para mobile -->
    <div class="lg:hidden">
      <p class="text-sm text-neutral-dark">Dato consultado y responsable</p>
      <p class="mb-sm">Discapacidad limitada <span class="block text-sm">IASS - Instituto Aragonés de Servicios Sociales</span></p>
      <p class="text-sm text-neutral-dark">Consultado por</p>
      <p class="mb-sm">Dirección General de Función Pública</p>
      <p class="text-sm text-neutral-dark">Para procedimiento</p>
      <p class="mb-sm">23 - Solicitudes de compatibilidad</p>
      <p class="text-sm text-neutral-dark">Fecha consulta</p>
      <p>21 agosto 2021</p>
    </div>
    <!-- /para mobile -->
  </div>
{% endset %}



{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mi perfil",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl">Historial de consulta de datos</h1>
  <p class="c-paragraph-base mb-0">Aqui se muestran los datos sobre ti que han consultado los organismos del Gobierno de Aragón en los últimos 60 días.</p>
  <p class="c-paragraph-base mb-lg">También puedes <a href="#" class="c-link font-semibold">solicitar el historial completo de consultas</a>.</p>

  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "idPrefix": "datos-consultados",
      "caption": "Lista de datos consultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": '<span class="text-base text-black font-semibold">Dato consultado</span>',
          "classes": "hidden lg:table-cell w-2/5"
        },
        {
          "html": '<span class="text-base text-black font-semibold">Consultado por</span>',
          "classes": "hidden lg:table-cell w-2/5"
        },
        {
          "html": '<span class="text-base text-black font-semibold">Fecha  consulta</span>',
          "classes": "hidden lg:table-cell w-1/5 text-right"
        }
      ],
      "rows": [
        [
          {
            "html": contentTable1Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": 'Dirección General de Función Pública <span class="block text-sm">Para procedimiento: 23 - Solicitudes de compatibilidad</span>',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '18 noviembre 2021',
            "classes": "align-top hidden lg:table-cell text-right"
          }
        ],
        [
          {
            "html": contentTable1Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": 'Dirección General de Vivienda <span class="block text-sm">Para procedimiento: 575 - 	Ayudas al alquiler</span>',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '22 enero 2021',
            "classes": "align-top hidden lg:table-cell text-right"
          }
        ],
        [
          {
            "html": contentTable1Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": 'Instituto Nacional de Estadística <span class="block text-sm">Para procedimiento: 819 - Donación</span>',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '9 septiembre 2021',
            "classes": "align-top hidden lg:table-cell text-right"
          }
        ],
        [
          {
            "html": contentTable1Row4Cell1,
            "classes": "align-top"
          },
          {
            "html": 'Dirección General de Función Pública <span class="block text-sm">Para procedimiento: 23 - Solicitudes de compatibilidad</span>',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '21 agosto 2021',
            "classes": "align-top hidden lg:table-cell text-right"
          }
        ]
      ],
      "classes": "w-full mb-base"
    })  }}
  </div>

  <!-- paginacion -->
  {{ componentPagination({
    "id": "paginacion-datos",
    "hasSelect": true,
    "idPrefix": "paginacion-lista-datos",
    "totalItems": "100",
    "itemsPerPage": "25",
    "items": [
      {
        "href": "#",
        "text": 1
      },
      {
        "href": "#",
        "text": 2,
        "active": true
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "showFirst": true,
    "showLast": true,
    "firstText": "Primera",
    "lastText": "Última",
    "attributes": {
      "aria-label": "Paginación"
    }
  }) }}
{% endblock %}