{% set title = "Mis carnets, certificados y documentos - Carnets de representados. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mis carnets, certificados y documentos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Carnets y licencias de personas a las que represento
  </h1>
  <div class="pb-base"></div><!--espaciador-->

  {# Filtro #}
  <div class="mb-base">
    {{ componentToggle({
      "classes": "c-button",
      "offState": {
        "classes": "",
        "html": '<span class="c-button--is-not-pressed pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm6.5-3.25a.75.75 0 0 1 .75.75v1.75H9a.75.75 0 0 1 0 1.5H7.25V9a.75.75 0 0 1-1.5 0V7.25H4a.75.75 0 0 1 0-1.5h1.75V4a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>'
      },
      "onState": {
        "classes": "c-button--has-selection",
        "html": '<span class="c-button--is-pressed hidden pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm4-.75a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5H4Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>'
      },
      "attributes": {
        "aria-controls": "panel-filtros",
        "onclick": "toggleFilter()"
      }
    }) }}
        <script>
          function toggleFilter() {
            var elements = document.querySelectorAll('[data-module="hint-filtro"]');
            for (var i = 0; i < elements.length; i++) {
              elements[i].classList.toggle('hidden')
            }
          }
        </script>
        <div class="hidden" data-module="hint-filtro" id="panel-filtros">
          <div class="lg:w-1/2 my-base ">
            {{ componentSearchbar({
              "id": "buscador-resultados",
              "label": {
                "text": "Buscar"
              },
              "button": {
                "text": "Buscar",
                "type": "submit",
                "classes": "c-button--primary ml-sm"
              },
              "classes": "flex-1 pr-2",
              "placeholder": "Buscar por nombre, dirección, expediente ..."
            })  }}
          </div>
          {{ componentMenubar({
            "id": "menu-filtros",
            "idPrefix": "filter-menu",
            "ariaLabel": "Menú de filtros",
            "items": [
              {
                "text": "Estado",
                "ariaLabel": "Estado",
                "id": "menu-estado",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Estado del carnet",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Todos los estados",
                          "checked": true
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 1"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 2"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 3"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Tipo",
                "ariaLabel": "Tipo",
                "id": "menu-tipo",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Tipo del carnet",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Todos los tipos",
                          "checked": true
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Tipo 1"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Tipo 2"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Tipo 3"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Titular",
                "ariaLabel": "Titular",
                "id": "menu-titular",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Titular del carnet",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Todos los titulares",
                          "checked": true
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Titular 1"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Titular 2"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Titular 3"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Fecha caducidad",
                "ariaLabel": "Fecha caducidad",
                "id": "menu-fecha",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [          
                    {
                      "role": "group",
                      "ariaLabel": "Fechas",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Último mes"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Último año"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Rango de fechas...",
                          "checked": true
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Eliminar filtros",
                "ariaLabel": "Eliminar filtros",
                "id": "menu-eliminar-filtros",
                "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
                "href": "#"
              }
            ]
          })  }}              
        </div>   
  </div>

  {# Listado mobile #}
  <div class="lg:hidden -mx-base border-t border-neutral-base">
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Carnet - Banco de sangre</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Fractal Strategy (B99333333)'
            }
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Caducidad',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '30 septiembre 2024'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.72.732A2.504 2.504 0 0 1 5.49 0h6.257A2.254 2.254 0 0 1 14 2.25V3a1 1 0 0 1-1 1H11.74V2.707c0-.168.023-.33.059-.468a.95.95 0 0 1 .102-.262.625.625 0 0 0-1.04-.694c-.23.345-.371.89-.371 1.424v2.087c0 .024.001.048.004.07V11.5a2.499 2.499 0 0 1-2.291 2.491.751.751 0 0 1-.636-.741V11.5a1.749 1.749 0 0 0-1.752-1.75h-2.83V2.5c0-.663.264-1.3.734-1.768ZM6.317 13.25V11.5a.5.5 0 0 0-.501-.5H.5a.501.501 0 0 0-.501.5v.5a1.999 1.999 0 0 0 2.003 2h4.46a1.997 1.997 0 0 1-.146-.75ZM5.375 4c0-.345.28-.625.625-.625h1.5a.625.625 0 1 1 0 1.25H6A.625.625 0 0 1 5.375 4ZM6 6.375a.625.625 0 1 0 0 1.25h1.5a.625.625 0 1 0 0-1.25H6Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Licencia - Caza y pesca</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Ana Molina Estrada (9884839A)'
            }
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Caducidad',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '20 diciembre 2022'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap text-white bg-alert-base px-xs py-px">Caducado</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.72.732A2.504 2.504 0 0 1 5.49 0h6.257A2.254 2.254 0 0 1 14 2.25V3a1 1 0 0 1-1 1H11.74V2.707c0-.168.023-.33.059-.468a.95.95 0 0 1 .102-.262.625.625 0 0 0-1.04-.694c-.23.345-.371.89-.371 1.424v2.087c0 .024.001.048.004.07V11.5a2.499 2.499 0 0 1-2.291 2.491.751.751 0 0 1-.636-.741V11.5a1.749 1.749 0 0 0-1.752-1.75h-2.83V2.5c0-.663.264-1.3.734-1.768ZM6.317 13.25V11.5a.5.5 0 0 0-.501-.5H.5a.501.501 0 0 0-.501.5v.5a1.999 1.999 0 0 0 2.003 2h4.46a1.997 1.997 0 0 1-.146-.75ZM5.375 4c0-.345.28-.625.625-.625h1.5a.625.625 0 1 1 0 1.25H6A.625.625 0 0 1 5.375 4ZM6 6.375a.625.625 0 1 0 0 1.25h1.5a.625.625 0 1 0 0-1.25H6Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Licencia - Caza y pesca</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Juan Estrada Molina (98912391B)'
            }
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Caducidad',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '-'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-warning-base px-xs py-px">Pendiente de pago</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Carnet - Banco de sangre</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'María Medina López (25612437N)'
            }
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Caducidad',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '30 septiembre 2024'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Carnet - Banco de sangre</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "w-full mb-sm",
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Luis Moreno Hernández (17912323A)'
            }
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Caducidad',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '30 septiembre 2024'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
  </div>
  {# fin Listado mobile #}
  {# Listado desktop #}
  <div class="hidden lg:block">
    {{ componentTableAdvanced({
      "idPrefix": "listado-carnets",
      "caption": "Listado de carnets y licencias",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "text": "Carnet o licencia",
          "orderBy": "none"
        },
        {
          "text": "Titular",
          "orderBy": "none"
        },
        {
          "text": "Estado",
          "orderBy": "none"
        },
        {
          "text": "Caducidad",
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Carnet - Banco de sangre</a>
                    </div>'
          },
          {
            "html": 'Fractal Strategy (B99333333)'
          },
          {
            "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
          },
          {
            "html": '30 septiembre 2024'
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.72.732A2.504 2.504 0 0 1 5.49 0h6.257A2.254 2.254 0 0 1 14 2.25V3a1 1 0 0 1-1 1H11.74V2.707c0-.168.023-.33.059-.468a.95.95 0 0 1 .102-.262.625.625 0 0 0-1.04-.694c-.23.345-.371.89-.371 1.424v2.087c0 .024.001.048.004.07V11.5a2.499 2.499 0 0 1-2.291 2.491.751.751 0 0 1-.636-.741V11.5a1.749 1.749 0 0 0-1.752-1.75h-2.83V2.5c0-.663.264-1.3.734-1.768ZM6.317 13.25V11.5a.5.5 0 0 0-.501-.5H.5a.501.501 0 0 0-.501.5v.5a1.999 1.999 0 0 0 2.003 2h4.46a1.997 1.997 0 0 1-.146-.75ZM5.375 4c0-.345.28-.625.625-.625h1.5a.625.625 0 1 1 0 1.25H6A.625.625 0 0 1 5.375 4ZM6 6.375a.625.625 0 1 0 0 1.25h1.5a.625.625 0 1 0 0-1.25H6Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Licencia - Caza y pesca</a>
                    </div>'
          },
          {
            "html": 'Ana Molina Estrada (9884839A)'
          },
          {
            "html": '<span class="text-nowrap text-white bg-alert-base px-xs py-px">Caducado</span>'
          },
          {
            "html": '20 diciembre 2022'
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.72.732A2.504 2.504 0 0 1 5.49 0h6.257A2.254 2.254 0 0 1 14 2.25V3a1 1 0 0 1-1 1H11.74V2.707c0-.168.023-.33.059-.468a.95.95 0 0 1 .102-.262.625.625 0 0 0-1.04-.694c-.23.345-.371.89-.371 1.424v2.087c0 .024.001.048.004.07V11.5a2.499 2.499 0 0 1-2.291 2.491.751.751 0 0 1-.636-.741V11.5a1.749 1.749 0 0 0-1.752-1.75h-2.83V2.5c0-.663.264-1.3.734-1.768ZM6.317 13.25V11.5a.5.5 0 0 0-.501-.5H.5a.501.501 0 0 0-.501.5v.5a1.999 1.999 0 0 0 2.003 2h4.46a1.997 1.997 0 0 1-.146-.75ZM5.375 4c0-.345.28-.625.625-.625h1.5a.625.625 0 1 1 0 1.25H6A.625.625 0 0 1 5.375 4ZM6 6.375a.625.625 0 1 0 0 1.25h1.5a.625.625 0 1 0 0-1.25H6Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Licencia - Caza y pesca</a>
                    </div>'
          },
          {
            "html": 'Juan Estrada Molina (98912391B)'
          },
          {
            "html": '<span class="text-nowrap bg-warning-base px-xs py-px">Pendiente de pago</span>'
          },
          {
            "html": '-'
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Carnet - Banco de sangre</a>
                    </div>'
          },
          {
            "html": 'María Medina López (25612437N)'
          },
          {
            "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
          },
          {
            "html": '30 septiembre 2024'
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Carnet - Banco de sangre</a>
                    </div>'
          },
          {
            "html": 'Luis Moreno Hernández (17912323A)'
          },
          {
            "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vigente</span>'
          },
          {
            "html": '30 septiembre 2024'
          }
        ]
      ],
      "classes": "w-full mt-base"
    })  }}
  </div>
  {# fin Listado desktop #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado",
      "idPrefix": "paginador",
      "hasSelect": true,
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": "1",
          "selected": true
        },
        {
          "value": "2",
          "text": "2"
        },
        {
          "value": "3",
          "text": "3"
        },
        {
          "value": "4",
          "text": "4"
        },
        {
          "value": "5",
          "text": "5"
        },
        {
          "value": "6",
          "text": "6"
        },
        {
          "value": "7",
          "text": "7"
        },
        {
          "value": "8",
          "text": "8"
        },
        {
          "value": "9",
          "text": "9"
        },
        {
          "value": "10",
          "text": "10"
        },
        {
          "value": "11",
          "text": "11"
        },
        {
          "value": "12",
          "text": "12"
        },
        {
          "value": "13",
          "text": "13"
        },
        {
          "value": "14",
          "text": "14"
        }
      ],
      "hasPrevious": false,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "showFirst": true,
      "showLast": true,
      "hasFirst": false,
      "firstText": "Primera",
      "lastText": "Última",
      "attributes": {
        "aria-label": "Paginación"
      }
    }) }}
  </div>

{% endblock %}