{% set title = "Mis tarjetas y carnets - Discapacidad carnet impresión a color. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank-position-absolute.njk" %}


{% block contentBlock %}
  
  
  <div class="absolute" style="left: 11.7mm; top: 37.5mm;">
    <div class="float-left">
        <div style="width:300px;">
          <div class="float-left" style="width:108px;">
            <img src="../../images/qr-mia.png" style="width:95px;"/>
            <p class="text-center break-words" style="width:95px; font-size:10px;">c469952480941bfb</p>
          </div>
          <div class="float-left" style="width:192px;">
            <p class="font-semibold mb-sm" style="font-size:13.5px; line-height:1.2;">
              María del Carmen <br>
              Fernández Rodríguez
              <span class="font-normal block pt-px">73230503K</span>
            </p>
            <p class="text-right" style="font-size:9.5px; line-height:1.8;">33%</p>
            <p class="text-right" style="font-size:9.5px; line-height:1.8;">Sí</p>
            <p class="text-right" style="font-size:9.5px; line-height:1.8;">No</p>
          </div>          
        </div>
    </div>
    <div class="float-left" style="font-size:12px; line-height:1.3; padding-top:8.1mm; padding-left:20.5mm;">
      <strong>DPSS_116012 00F9 DPSS</strong>
      <span class="block">Alba Martínez Sueiro</span>
      <span class="block">Pª Sagasta Nº 45, Pl. 6, Pta. C </span>
      <span class="block">50007 Zaragoza, Zaragoza</span>
    </div>
  </div>


{% endblock %}