{% set title = "Mis tarjetas y carnets - Detalle familia numerosa caducado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mis tarjetas y carnets",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  
  <div class="flex flex-col-reverse">
    <h1 id="page-title" class="c-h1 text-2xl lg:text-3xl mb-sm">Carnet colectivo de familia numerosa</h1>
    <p class="hidden lg:block c-paragraph-base mb-0">Carnet</p>
  </div>
  <div class="pb-base"></div><!--espaciador-->



  {# DESKTOP #}
  <div class="hidden lg:block">
    {{ componentDescriptionList({
      "classes": "flex flex-wrap gap-14 mb-lg",
      "items": [
        {
          "term": {
            "html": 'Estado Actual'
          },
          "definition": {
            "html": '<span class="bg-alert-light px-xs"><strong>Caducado</strong> desde 3 diciembre 2023</span>'
          }
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Dirección General de Igualdad y familias</a>'
          }
        }
      ]
    })  }}   
    <ul class="flex flex-wrap gap-4 pb-xl mb-xl border-b border-neutral-base">
      <li>
        {{ componentButton({
          "html": 'Renovar',
          "href": "/"
        })  }}
      </li>
    </ul>
    <div class="grid grid-cols-2 gap-10 items-start">
      <div>
        <h2 class="c-h3">Titulares</h2>
        {{ componentDescriptionList({
          "classes": "mb-xl",
          "items": [
            {
              "term": {
                "text": "María Jesús Rodriguez García",
                "classes": "text-base text-black font-semibold"
              },
              "definition": {
                "text": "NIF: 73230503K",
                "classes": "text-neutral-dark"
              },
              "classes": "p-sm -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "text": "Pedro Antonio del Prado Rodriguez Manuel",
                "classes": "text-base text-black font-semibold"
              },
              "definition": {
                "text": "NIF: 48230520N",
                "classes": "text-neutral-dark"
              },
              "classes": "p-sm -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Datos adicionales</h2>
        {{ componentDescriptionList({
          "classes": "w-full mb-xl",
          "items": [
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> de Beneficiarios <span class="text-black float-right">6</span>',
                "classes": "px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '<ul>
                          <li class="mb-xs"><span class="mr-base">1234567</span> Francisco Javier Fernandez-Carrion Rubio</li>
                          <li class="mb-xs"><span class="mr-base">7654322</span> Javier del Amo Mostazo</li>
                          <li class="mb-xs"><span class="mr-base">1122334</span> Ana Perez Ruiz</li>
                          <li class="mb-xs"><span class="mr-base">2211335</span> Carlos Moya Alarcón</li>
                          <li class="mb-xs"><span class="mr-base">1112223</span> Susana Rubio Adón</li>
                          <li class="mb-xs"><span class="mr-base">3456789</span> Beatriz Hernández Freiras</li>
                        </ul>',
                "classes": "px-base py-sm border-t border-neutral-base border-dashed"
              },
              "classes": "-mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Fecha de emisión',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '10 Julio 2008',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Última renovación',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '12 julio 2016',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Resolución',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSV2134134123546365</a>',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Expediente',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSV4525435243654654</a>',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Datos entidad emisora</h2>
        {{ componentDescriptionList({
          "classes": "mb-xl",
          "items": [
            {
              "term": {
                "text": "Dirección General de Igualdad y familias",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<span class="block">Plaza de Nuestra Señora del Pilar, 3</span> 
                        <span class="block">50071 Zaragoza (Zaragoza)</span>
                        <span class="block">976 716 739</span>
                        <span class="block">mail@mail.com</span>'
              },
              "classes": "p-sm -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
      </div>
      <div class="p-base border border-neutral-base rounded-xl mb-base">
        <div class="grid grid-cols-2 gap-5">
          <img src="../../images/qr-mia-caducado.png" alt="QR carnet" aria-label="QR carnet">
          <div class="pt-sm">
            <p class="c-paragraph-base">ID: 0929 3470 9546 4785 6241</p>
            <p class="c-paragraph-base"><a href="#" class="c-link">Aprende como usar el certificado impreso</a></p>
            <p class="c-paragraph-base">Si no puedes leer el QR, puedes verificarlo con su código a través de <a href="#" class="c-link">mía.aragon.es/validarQR</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# /desktop #}



  {# MOBILE #}
  <div class="lg:hidden">
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Estado Actual'
          },
          "definition": {
            "html": '<span class="bg-alert-light px-xs"><strong>Caducado</strong> desde 3 diciembre 2023</span>'
          }
        }
      ]
    })  }}  
    <ul class="flex flex-wrap gap-4 pb-sm">
      <li>
        {{ componentButton({
          "html": 'Renovar',
          "href": "/"
        })  }}
      </li>
    </ul>    
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Titulares'
          },
          "definition": {
            "html": '<ul>
                      <li class="mb-sm"><span class="block font-semibold">María del Carmen Jarque Rodriguez</span> 73230503K</li>
                      <li class="mb-sm"><span class="block font-semibold">Antonio Ruiz Dominguez</span> 37203305N</li>
                    </ul>'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Dirección General de Igualdad y familias</a>'
          },
          "classes": "mb-base"
        }
      ]
    })  }}  
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Ver datos adicionales"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "grid md:grid-cols-2 gap-base xl:w-4/5",
          "items": [
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> de Beneficiarios <span class="text-black float-right">6</span>'
              },
              "definition": {
                "html": '<ul class="mt-sm">
                          <li class="mb-xs"><span class="mr-sm">1234567</span> Francisco Javier Fernandez Rubio</li>
                          <li class="mb-xs"><span class="mr-sm">7654322</span> Javier del Amo Mostazo</li>
                          <li class="mb-xs"><span class="mr-sm">1122334</span> Ana Perez Ruiz</li>
                          <li class="mb-xs"><span class="mr-sm">2211335</span> Carlos Moya Alarcón</li>
                          <li class="mb-xs"><span class="mr-sm">1112223</span> Susana Rubio Adón</li>
                          <li class="mb-xs"><span class="mr-sm">3456789</span> Beatriz Hernández Freiras</li>
                        </ul>'
              }
            },
            {
              "term": {
                "html": 'Fecha de emisión'
              },
              "definition": {
                "html": '10 Julio 2008'
              }
            },
            {
              "term": {
                "html": 'Última renovación'
              },
              "definition": {
                "html": '12 julio 2016'
              }
            },
            {
              "term": {
                "html": 'Resolución'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSV2134134123546365</a>'
              }
            },
            {
              "term": {
                "html": 'Expediente'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSV4525435243654654</a>'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Ver datos entidad emisora"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "grid md:grid-cols-2 gap-base xl:w-4/5",
          "items": [
            {
              "term": {
                "text": "Dirección General de Igualdad y familias",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<span class="block">Plaza de Nuestra Señora del Pilar, 3</span> 
                        <span class="block">50071 Zaragoza (Zaragoza)</span>
                        <span class="block">976 716 739</span>
                        <span class="block">mail@mail.com</span>'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
  </div>
  {# /mobile #}


{% endblock %}