{% set title = "Mis tarjetas y carnets - Validación de documentos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}


{% block contentBlock %}
  <div class="pb-lg"></div><!--espaciador-->
  <h1 class="c-h1 text-2xl lg:text-3xl mb-base">Validación de documentos</h1>

  <div class="w-full lg:w-2/3">
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Esta plataforma permite verifica la autenticidad y validez de los carnets, tarjetas y licencias emitidas por el Gobierno de Aragón.
    </p>

    <h2 class="c-h3 lg:c-h2">¿Cómo quieres validar el carnet?</h2>
    {# Escaneo #}
    <div class="p-base mb-base bg-white border border-neutral-base">
      <div class="lg:flex lg:flex-wrap items-center">
        <div class="lg:flex lg:flex-wrap flex-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2em" height="2em" class="mr-5 mb-2 lg:mb-0" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M3.84 22H2.26a.26.26 0 0 1-.26-.21v-1.63a1 1 0 0 0-2 0V22a2 2 0 0 0 2 2h1.84a1 1 0 0 0 0-2ZM1 4.84a1 1 0 0 0 1-1V2.26A.26.26 0 0 1 2.21 2h1.63a1 1 0 0 0 0-2H2a2 2 0 0 0-2 2v1.84a1 1 0 0 0 1 1ZM22 0h-1.84a1 1 0 0 0 0 2h1.58a.26.26 0 0 1 .26.25v1.59a1 1 0 0 0 2 0V2a2 2 0 0 0-2-2ZM23 19.16a1 1 0 0 0-1 1v1.58a.26.26 0 0 1-.25.26h-1.59a1 1 0 1 0 0 2H22a2 2 0 0 0 2-2v-1.84a1 1 0 0 0-1-1ZM5.5 4.5H8s.5 0 .5.5v2.5s0 .5-.5.5H5.5S5 8 5 7.5V5s0-.5.5-.5M16 4.5h2.5s.5 0 .5.5v2.5s0 .5-.5.5H16s-.5 0-.5-.5V5s0-.5.5-.5M16 16h2.5s.5 0 .5.5V19s0 .5-.5.5H16s-.5 0-.5-.5v-2.5s0-.5.5-.5M5.5 16H8s.5 0 .5.5V19s0 .5-.5.5H5.5s-.5 0-.5-.5v-2.5s0-.5.5-.5M10.5 8.26a.76.76 0 0 0 .75-.75V6.25A.25.25 0 0 1 11.5 6h1.93a.75.75 0 0 0 0-1.5H10.5a.76.76 0 0 0-.75.75v2.26a.76.76 0 0 0 .75.75ZM13.5 7.13a.76.76 0 0 0-.75.75v3.35a.75.75 0 0 0 1.5 0V7.88a.76.76 0 0 0-.75-.75ZM10.5 14.5a.76.76 0 0 0 .75-.75v-2.41a.75.75 0 0 0-1.5 0v1.41a.25.25 0 0 1-.25.25h-4a.75.75 0 0 0 0 1.5ZM13.43 18H11.5a.25.25 0 0 1-.25-.25v-1.41a.75.75 0 0 0-1.5 0v2.41a.76.76 0 0 0 .75.75h2.93a.75.75 0 0 0 0-1.5ZM5.5 11h2a.75.75 0 0 0 0-1.5h-2a.75.75 0 0 0 0 1.5ZM16 11h2.5a.75.75 0 0 0 0-1.5H16a.75.75 0 0 0 0 1.5ZM18.5 13H13a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5Z"/></g></svg>
          <p class="flex-1 text-lg">Escanear el código QR del carnet</p>
        </div>
        {{ componentButton({
          "html": 'Abrir cámara',
          "classes": "mt-sm lg:mt-0 lg:ml-auto lg:ml-base"
        })  }}
      </div>
    </div>
    {# Manual #}
    <div class="p-base mb-base bg-white border border-neutral-base">
      <div class="lg:flex lg:flex-wrap flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2em" height="2em" class="mr-5 mb-2 lg:mb-0" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M0 1.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M5 1.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M10 1.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M0 6.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M5 6.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M10 6.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M0 11.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M5 11.75a1.75 1.75 0 1 0 3.5 0 1.75 1.75 0 1 0-3.5 0M19.5 17H17v-6a2 2 0 0 0-4 0v8.44l-1.46-1.76a2 2 0 1 0-3.08 2.56l3 3.58a.49.49 0 0 0 .38.18H23.5a.5.5 0 0 0 .5-.5v-2a4.51 4.51 0 0 0-4.5-4.5Z"/></g></svg>
        <p class="flex-1 text-lg">Introducir manualmente el código de identificación del carnet</p>
      </div>
      <div class="flex flex-wrap gap-3 items-end">
        {{ componentInput({
          "formGroup": {
            "classes": "w-full md:w-80 mb-0 lg:ml-12 lg:pl-1"
          },
          "label": {
            "html": 'Código de identificación',
            "classes": "sr-only"
          },
          "id": "codigo",
          "name": "codigo",
          "value": "00000000000000000",
          "classes": "w-full"
        })  }} 
        {{ componentButton({
          "text": "Validar"
        })  }}    
      </div> 
    </div>

    <div class="pb-xl"></div><!--espaciador-->
    {# Preguntas frecuentes #}
    <h2 class="c-h3 lg:c-h2">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo encuentro el código identificador?'
          }
        })  %}
          <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Como de ofical es esto?'
          }
        })  %}
          <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Como funcionan los carnets en mía?'
          }
        })  %}
          <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
        {% endcall %}
      </li>
    </ul>

  </div>
{% endblock %}

