{% set title = "Mis tarjetas y carnets - Validación de documentos - Carnet vigente. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}


{% block contentBlock %}
  <div class="hidden lg:block lg:my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  

  <div class="grid lg:grid-cols-3 gap-xl">
    <section id="content-center" class="lg:col-span-2" aria-label="Contenido central">
      <div class="flex items-center bg-success-light p-base -mx-base lg:mx-0 mb-base lg:border-t lg:border-b border-neutral-base text-4xl font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.7em" height="1.7em" class="text-success-dark mr-5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M17.75 4a.25.25 0 0 0 .25-.25 2.5 2.5 0 0 0-2.5-2.5h-13A2.5 2.5 0 0 0 0 3.75.25.25 0 0 0 .25 4ZM17.5 7.75h.24a.2.2 0 0 0 .18-.07.23.23 0 0 0 .08-.18V5.75a.25.25 0 0 0-.25-.25H.25a.25.25 0 0 0-.25.25v6a2.5 2.5 0 0 0 2.5 2.5H9a.26.26 0 0 0 .25-.19 8.5 8.5 0 0 1 8.25-6.31ZM3.5 10h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5Z"/><path d="M17.5 9.75a6.5 6.5 0 1 0 6.5 6.5 6.5 6.5 0 0 0-6.5-6.5Zm3.37 4.86L18 18.49a1.48 1.48 0 0 1-1.2.6 1.52 1.52 0 0 1-1.06-.44l-1.5-1.5a.77.77 0 0 1 0-1.07.75.75 0 0 1 1.06 0l1.3 1.3a.27.27 0 0 0 .19.08.32.32 0 0 0 .19-.1l2.73-3.65a.75.75 0 1 1 1.2.9Z"/></g></svg>
        <span class="sr-only">Carnet</span> Vigente
      </div>
      
      <div class="flex flex-col-reverse">
        <h1 id="page-title" class="c-h2 mb-base">Carnet colectivo de familia numerosa</h1>
        <p class="c-paragraph-base mb-0">Carnet</p>
      </div>
      
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Titular',
              "classes": "black text-sm"
            },
            "definition": {
              "html": 'Antonio Ruiz Dominguez <span class="block text-base">NIF: 73230503K</span>',
              "classes": "text-2xl"
            },
            "classes": "mb-base"
          },
          {
            "term": {
              "html": 'Emitido por'
            },
            "definition": {
              "html": '<a href="#" class="c-link">Dirección General de Igualdad y Familias</a>'
            },
            "classes": "mb-base"
          },
          {
            "term": {
              "html": 'Código de verificación'
            },
            "definition": {
              "html": 'CSV66548465187432178'
            },
            "classes": "mb-base"
          }
        ]
      }) }}

      <hr class="border-neutral-base my-lg"><!--linea separadora-->

      <h2 class="c-h3">Información adicional</h2>
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Categoría actual'
            },
            "definition": {
              "html": 'G (General)',
              "classes": "font-semibold"
            },
            "classes": "mb-base"
          },
          {
            "term": {
              "html": 'Beneficiarios',
              "classes": "black text-sm"
            },
            "definition": {
              "html": '<ul>
                        <li class="mb-sm">Francisco Javier Fernández-Carrión Barrachina <span class="block text-sm font-normal text-neutral-dark">ID: 123234545676</span></li>
                        <li class="mb-sm">Mariana Fernández-Carrión Barrachina <span class="block text-sm font-normal text-neutral-dark">ID: 123234545676</span></li>
                        <li class="mb-sm">Ana Perez Ruiz <span class="block text-sm font-normal text-neutral-dark">ID: 123234545676</span></li>
                      </ul>',
              "classes": "font-semibold"
            },
            "classes": "mb-base"
          }
        ]
      }) }}

      <hr class="border-neutral-base my-lg"><!--linea separadora-->

      <h2 class="c-h3">Documentos asociados</h2>
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Resolución'
            },
            "definition": {
              "html": '<a href="#" class="c-link">CSV66548465187432178</a>'
            },
            "classes": "mb-base"
          }
        ]
      }) }}   

      <hr class="border-neutral-base my-lg"><!--linea separadora-->   

      {# Preguntas frecuentes #}
      <h2 class="c-h3 lg:c-h2">Preguntas frecuentes</h2>
      <ul>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Cómo encuentro el código identificador?'
            }
          })  %}
            <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Como de ofical es esto?'
            }
          })  %}
            <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
          {% endcall %}
        </li>
        <li>
          {% call componentDetails({
            "summary": {
              "html": '¿Como funcionan los carnets en mía?'
            }
          })  %}
            <p class="mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et aliquam turpis. Nunc eu fermentum lacus. Mauris porta bibendum egestas. Cras tristique viverra tristique. Ut pharetra mattis turpis in eleifend. Aliquam condimentum egestas leo sit amet maximus. Vivamus scelerisque lobortis turpis eget porta. Proin massa metus, varius sed sollicitudin id, varius eu ante. Sed ut accumsan nulla. Proin vulputate enim vel pulvinar sodales.</p>
          {% endcall %}
        </li>
      </ul>
    </section>

    <aside>
      <div class="bg-neutral-lighter border-t-4 border-neutral-dark p-base mb-lg">
        <h2 class="c-h3">¿Cómo de oficial es esto?</h2>
        <p class="c-paragraph-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
        <ul>
          <li class="mb-xs">
            {{ componentButton({
              "html": '¿Cómo de oficial es esto?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "classes": "c-button--sm c-button--transparent whitespace-normal",
              "href": "/"
            })  }}   
          </li>   
          <li class="mb-xs">
            {{ componentButton({
              "html": '¿Como funcionan los carnets en mía?<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "classes": "c-button--sm c-button--transparent whitespace-normal",
              "href": "/"
            })  }}   
          </li>
          <li class="mb-xs">
            {{ componentButton({
              "html": 'Informacion adicional<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "classes": "c-button--sm c-button--transparent whitespace-normal",
              "href": "/"
            })  }}   
          </li>     
        </ul>
      </div>
    </aside>

  </div>
{% endblock %}

