{% set title = "Mis carnets, certificados y documentos - Carnets de animales - Detalle - Sin vacunar perros. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipVacuna %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "html": '<p class="mr-sm">Vacunación antirrábica</p>',
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">La fecha de vacunación puede tardar hasta 48 horas en actualizarse</p>
  {% endcall %}
{% endset %}
{% set tooltipUltimaVacuna %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "html": '<p class="mr-sm">Última vacuna</p>',
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">La fecha de vacunación puede tardar hasta 48 horas en actualizarse</p>
  {% endcall %}
{% endset %}
{% set tooltipCaducidadVacuna %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "html": '<p class="mr-sm">Caducidad de la vacuna</p>',
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">La fecha de vacunación puede tardar hasta 48 horas en actualizarse</p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mis carnets de animales",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  
  <div class="flex flex-col-reverse">
    <h1 id="page-title" class="c-h1 text-2xl lg:text-3xl mb-sm">Carnet de animal</h1>
  </div>
  <div class="pb-base"></div><!--espaciador-->



  {# DESKTOP #}
  <div class="hidden lg:block">
    {{ componentDescriptionList({
      "classes": "flex flex-wrap gap-14 mb-lg",
      "items": [
        {
          "term": {
            "html": 'Nombre del animal'
          },
          "definition": {
            "html": 'Pepillo'
          }
        },
        {
          "term": {
            "html": tooltipVacuna
          },
          "definition": {
            "html": '<span class="text-nowrap text-white bg-alert-base px-xs py-px">Sin vacunar</span>'
          }
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Dirección General de Calidad y Seguridad Alimentaria</a>'
          }
        }
      ]
    })  }}   
    <ul class="flex flex-wrap gap-4 pb-xl mb-xl border-b border-neutral-base">
      <li>
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0H9a.5.5 0 0 1 .354.146l3.5 3.5A.5.5 0 0 1 13 4v8.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2Zm0 3a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5ZM3.875 10.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625Z" clip-rule="evenodd"/></svg>Descargar para imprimir',
          "href": "/"
        })  }}
      </li>
    </ul>
    <div class="mb-xl">
      {{ componentNotification({
        "title": {
          "html": "En Aragón es obligatorio vacunar de la rabia a los perros. "
        },
        "description": {
          "html": '<p class="mb-base">Para vacunar de la rabia a tu perro, acude a <strong>tu centro veterinario</strong> o consulta el <a href="https://riaca.org/public/CentrosVeterinarios.aspx" class="c-link c-link--alert" target="_blank" title="Se abre en ventana nueva">listado de centros veterinarios en Aragón</a>. <span class="block">Los datos de vacunación pueden tardar hasta 48 horas en actualizarse.</span></p>
                   <p>Si has vacunado al animal en otra Comunidad Autónoma, debes comunicarlo a tu veterinario en Aragón para que actualice esta información.</p>'
        },
        "type": "alert",
        "id": "aviso-vacuna"
      }) }}
    </div>
    <div class="grid grid-cols-2 gap-10 items-start">
      <div>
        <h2 class="c-h3">Titular</h2>
        {{ componentDescriptionList({
          "classes": "mb-xl",
          "items": [
            {
              "term": {
                "text": "Pedro Antonio del Prado Rodriguez",
                "classes": "text-base text-black font-semibold"
              },
              "definition": {
                "text": "NIF: 73230503K85775896T",
                "classes": "text-neutral-dark"
              },
              "classes": "p-sm -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Datos del animal</h2>
        {{ componentDescriptionList({
          "classes": "w-full mb-xl",
          "items": [
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> identificación',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '962521123474055',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Nombre',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Acher',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Aptitud',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Animal de compañía',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Fecha de nacimiento',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '22 julio 2020',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Especie',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Canina',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Sexo',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Macho',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Raza',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Cruce',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Potencialmente peligroso',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'No',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> pasaporte',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'ES01356854412',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Registrado por',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'María Pérez - Z 2498',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Ubicación',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Camino Los Molinos 4, San Juan de Mozarrifar (Zaragoza)',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Vacunación antirrábica</h2>
        {{ componentDescriptionList({
          "classes": "w-full mb-xl",
          "items": [
            {
              "term": {
                "html": tooltipUltimaVacuna,
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '02 ene 2023',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Vacunado por',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'María Pérez - Z 2498',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": tooltipCaducidadVacuna,
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '<span class="text-alert-base font-semibold">05 ene 2025</span>',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Contacto de la persona titular</h2>
        {{ componentDescriptionList({
          "classes": "w-full mb-xl",
          "items": [
            {
              "term": {
                "html": 'Teléfono',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '+34000000000',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Domicilio',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Torre del Cerezo, 34',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Localidad',
                "classes": "lg:w-2/5 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'San Juan de Mozarrifar (Zaragoza)',
                "classes": "lg:w-3/5 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Contacto y ayuda</h2>
        {{ componentDescriptionList({
          "classes": "mb-xl",
          "items": [
            {
              "term": {
                "text": "Dirección General de Calidad y Seguridad Alimentaria",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<span class="block">Plaza San Pedro Nolasco, 7, 50071 Zaragoza (Zaragoza)</span> 
                        <span class="block">976 714 636</span>
                        <span class="block">dgcalidad@aragon.es</span>'
              },
              "classes": "p-sm pb-base -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Información adicional</h2>
        {% call componentDetails({
          "summary": {
            "html": "Aplicación de DataPets Aragón"
          }
          }) %}
          <p class="c-paragraph-base pl-base">Descarga la aplicación de DataPets Aragón, si necesitas más información sobre la identificación, la vacunación antirrábica y la documentación sanitaria de tu animal.</p>
          <p class="c-paragraph-base pl-base">Disponible en <a href="https://play.google.com/store/apps/details?id=es.cestel.datapetsaragon" class="c-link" target="_blank" title="Se abre en ventana nueva">Google Play</a> y <a href="https://apps.apple.com/es/app/datapets-arag%C3%B3n/id6474184570" class="c-link" target="_blank" title="Se abre en ventana nueva">App Store</a></p>
        {% endcall  %}
        {% call componentDetails({
          "summary": {
            "html": "Pérdida o fallecimiento del animal"
          }
          }) %}
          <p class="c-paragraph-base pl-base">Cuando un animal fallezca o se extravíe es necesario solicitar su baja de la Red Española de Identificación de Animales de Compañía (REIAC) acudiendo al centro veterinario habitual o a cualquier otro centro veterinario habilitado en Aragón.</p>
          <p class="c-paragraph-base pl-base"><a href="https://www.riaca.org/public/BajaCambioPropietario.aspx" class="c-link" target="_blank" title="Se abre en ventana nueva">Consulta la web de Registro de Identificación de Animales de Compañía (RIACA)</a> para más información.</p>
        {% endcall  %}
        {% call componentDetails({
          "summary": {
            "html": "Cambio de comunidad o cesión del animal a otra persona"
          }
          }) %}
          <p class="c-paragraph-base pl-base">Si el animal es trasladado a otra comunidad o si es cedido a otra persona, es necesario completar el <a href="https://www.reiac.es/docs/SolicitudBajaREIAC_form.pdf" class="c-link" target="_blank" title="Se abre en ventana nueva">formulario</a> y presentarlo en el centro veterinario.</p>
          <p class="c-paragraph-base pl-base"><a href="https://www.riaca.org/public/BajaCambioPropietario.aspx" class="c-link" target="_blank" title="Se abre en ventana nueva">Consulta la web de RIACA</a> para más información.</p>
        {% endcall  %}
      </div>
      <div class="mb-base">
        <h2 class="c-h3">QR de verificación</h2>
        <div class="p-base border-y border-neutral-base">
          <div class="flex flex-wrap">
            <div class="w-1/3">
              <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet" />
            </div>
            <div class="pt-sm pl-lg w-2/3">
              <p class="c-paragraph-base">Puedes escanear el QR para comprobar la validez del carnet. Si no puedes leer el QR, puedes verificarlo con su código a través de <a href="https://mia.aragon.es/verificacion-carnets" class="c-link" target="_blank" title="Se abre en ventana nueva">mia.aragon.es/verificacion-carnets</a></p>
              <p class="c-paragraph-base">Código: <span class="block break-all">DF989E5FFB9FAF40A6F9AA1F1B445EA25796</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# /desktop #}



  {# MOBILE #}
  <div class="lg:hidden">
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Nombre del animal'
          },
          "definition": {
            "html": 'Pepillo'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": tooltipVacuna
          },
          "definition": {
            "html": '<span class="text-nowrap text-white bg-alert-base px-xs py-px">Sin vacunar</span>'
          },
          "classes": "mb-base"
        }
      ]
    })  }}  
    <div class="mb-xl">
      {{ componentNotification({
        "title": {
          "html": "En Aragón es obligatorio vacunar de la rabia a los perros. "
        },
        "description": {
          "html": '<p class="mb-base">Para vacunar de la rabia a tu perro, acude a <strong>tu centro veterinario</strong> o consulta el <a href="https://riaca.org/public/CentrosVeterinarios.aspx" class="c-link c-link--alert" target="_blank" title="Se abre en ventana nueva">listado de centros veterinarios en Aragón</a>. <span class="block">Los datos de vacunación pueden tardar hasta 48 horas en actualizarse.</span></p>
                   <p>Si has vacunado al animal en otra Comunidad Autónoma, debes comunicarlo a tu veterinario en Aragón para que actualice esta información.</p>'
        },
        "type": "alert",
        "id": "aviso-vacuna"
      }) }}
    </div>    
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet">
    <div class="pt-sm">
      <p class="c-paragraph-sm">Puedes escanear el QR para comprobar la validez del carnet. Si no puedes leer el QR, puedes verificarlo con su código a través de <a href="https://mia.aragon.es/verificacion-carnets" class="c-link" target="_blank" title="Se abre en ventana nueva">mia.aragon.es/verificacion-carnets</a></p>
      <p class="c-paragraph-sm">Código: <span class="block break-all">DF989E5FFB9FAF40A6F9AA1F1B445EA25796</span></p>
    </div>
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Titular'
          },
          "definition": {
            "html": '<span class="block font-semibold">Pedro Antonio del Prado Rodriguez</span> 85775896T'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Dirección General de Calidad y Seguridad Alimentaria</a>'
          },
          "classes": "mb-base"
        }
      ]
    })  }}  
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Datos del animal"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "ml-base",
          "items": [
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> identificación'
              },
              "definition": {
                "html": '962521123474055'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Nombre'
              },
              "definition": {
                "html": 'Acher'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Aptitud'
              },
              "definition": {
                "html": 'Animal de compañía'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Fecha de nacimiento'
              },
              "definition": {
                "html": '22 julio 2020'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Especie'
              },
              "definition": {
                "html": 'Canina'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Sexo'
              },
              "definition": {
                "html": 'Macho'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Raza'
              },
              "definition": {
                "html": 'Cruce'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Potencialmente peligroso'
              },
              "definition": {
                "html": 'No'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": '<abbr title="Número">Nº</abbr> pasaporte'
              },
              "definition": {
                "html": 'ES01356854412'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Registrado por'
              },
              "definition": {
                "html": 'María Pérez - Z 2498'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Ubicación'
              },
              "definition": {
                "html": 'Camino Los Molinos 4, San Juan de Mozarrifar (Zaragoza)'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Vacunación antirrábica"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "ml-base",
          "items": [
            {
              "term": {
                "html": tooltipUltimaVacuna
              },
              "definition": {
                "html": '02 ene 2023'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Vacunado por'
              },
              "definition": {
                "html": 'María Pérez - Z 2498'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": tooltipCaducidadVacuna
              },
              "definition": {
                "html": '<span class="text-alert-base font-semibold">05 ene 2025</span>'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Contacto de la persona titular"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "ml-base",
          "items": [
            {
              "term": {
                "html": 'Teléfono'
              },
              "definition": {
                "html": '+34000000000'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Domicilio'
              },
              "definition": {
                "html": 'Torre del Cerezo, 34'
              },
              "classes": "mb-base"
            },
            {
              "term": {
                "html": 'Localidad'
              },
              "definition": {
                "html": 'San Juan de Mozarrifar (Zaragoza)'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Contacto y ayuda"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "ml-base",
          "items": [
            {
              "term": {
                "text": "Dirección General de Calidad y Seguridad Alimentaria",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<span class="block">Plaza San Pedro Nolasco, 7, 50071 Zaragoza (Zaragoza)</span> 
                        <span class="block">976 714 636</span>
                        <span class="block">dgcalidad@aragon.es</span>'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Información adicional"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "ml-base",
          "items": [
            {
              "term": {
                "text": "Aplicación de DataPets Aragón",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<p class="c-paragraph-sm">Descarga la aplicación de DataPets Aragón, si necesitas más información sobre la identificación, la vacunación antirrábica y la documentación sanitaria de tu animal.</p>
                         <p class="c-paragraph-sm">Disponible en <a href="https://play.google.com/store/apps/details?id=es.cestel.datapetsaragon" class="c-link" target="_blank" title="Se abre en ventana nueva">Google Play</a> y <a href="https://apps.apple.com/es/app/datapets-arag%C3%B3n/id6474184570" class="c-link" target="_blank" title="Se abre en ventana nueva">App Store</a></p>'
              },
              "classes": "mb-lg"
            },
            {
              "term": {
                "text": "Pérdida o fallecimiento del animal",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<p class="c-paragraph-sm">Cuando un animal fallezca o se extravíe es necesario solicitar su baja de la Red Española de Identificación de Animales de Compañía (REIAC) acudiendo al centro veterinario habitual o a cualquier otro centro veterinario habilitado en Aragón.</p>
                         <p class="c-paragraph-sm"><a href="https://www.riaca.org/public/BajaCambioPropietario.aspx" class="c-link" target="_blank" title="Se abre en ventana nueva">Consulta la web de Registro de Identificación de Animales de Compañía (RIACA)</a> para más información.</p>'
              },
              "classes": "mb-lg"
            },
            {
              "term": {
                "text": "Cambio de comunidad o cesión del animal a otra persona",
                "classes": "text-base text-black font-semibold mb-sm"
              },
              "definition": {
                "html": '<p class="c-paragraph-sm">Si el animal es trasladado a otra comunidad o si es cedido a otra persona, es necesario completar el <a href="https://www.reiac.es/docs/SolicitudBajaREIAC_form.pdf" class="c-link" target="_blank" title="Se abre en ventana nueva">formulario</a> y presentarlo en el centro veterinario.</p>
                         <p class="c-paragraph-sm"><a href="https://www.riaca.org/public/BajaCambioPropietario.aspx" class="c-link" target="_blank" title="Se abre en ventana nueva">Consulta la web de RIACA</a> para más información.</p>'
              },
              "classes": "mb-lg"
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    <ul class="pt-base pb-lg">
      <li class="mb-sm">
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0H9a.5.5 0 0 1 .354.146l3.5 3.5A.5.5 0 0 1 13 4v8.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2Zm0 3a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5ZM3.875 10.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625Z" clip-rule="evenodd"/></svg>Descargar para imprimir',
          "href": "/"
        })  }}
      </li>
      <li class="mb-sm">
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.5 1.75a.25.25 0 0 1 .25-.25h6.5a.25.25 0 0 1 .25.25v10.5a.25.25 0 0 1-.25.25H3.802a.753.753 0 0 1-.179-.114.53.53 0 0 1-.123-.147V1.75ZM3.75 0A1.75 1.75 0 0 0 2 1.75v10.5c0 .592.361 1.032.65 1.278.156.133.328.243.498.322.154.073.37.15.602.15h6.5A1.75 1.75 0 0 0 12 12.25V1.75A1.75 1.75 0 0 0 10.25 0h-6.5ZM6.5 9.75a.75.75 0 0 0 0 1.5h1a.75.75 0 0 0 0-1.5h-1Z" clip-rule="evenodd"/></svg>Descargar DataPets Aragón',
          "href": "/"
        })  }}
      </li>
      <li class="mb-sm">
        <img src="../../images/boton-Google-Wallet.png" class="h-12" alt="Añadir a Google Wallet" aria-label="Añadir a Google Wallet" />
      </li>
    </ul>
  </div>
  {# /mobile #}


{% endblock %}