{% set title = "Mis tarjetas y carnets - Detalle donante de sangre. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mis tarjetas y carnets",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  
  <div class="flex flex-col-reverse">
    <h1 id="page-title" class="c-h1 text-2xl lg:text-3xl mb-sm">Carnet donante de sangre</h1>
    <p class="hidden lg:block c-paragraph-base mb-0">Carnet</p>
  </div>
  <div class="pb-base"></div><!--espaciador-->



  {# DESKTOP #}
  <div class="hidden lg:block">
    {{ componentDescriptionList({
      "classes": "flex flex-wrap gap-14 mb-lg",
      "items": [
        {
          "term": {
            "html": 'Vigencia'
          },
          "definition": {
            "html": 'La edad permitida para donar es entre 18 a 65 años'
          }
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Banco de Sangre y Tejidos de Aragón</a>'
          }
        }
      ]
    })  }}   
    <ul class="flex flex-wrap gap-4 pb-xl mb-xl border-b border-neutral-base">
      <li>
        {{ componentButton({
          "html": 'Descargar para imprimir<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-3" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M4.5 12.25H6a.75.75 0 0 0 0-1.5H4.5a.75.75 0 0 0 0 1.5ZM8.75 14H4.5a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5ZM8.75 17.25H4.5a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5Z"/><path d="M23.78 5.38a1 1 0 0 0-1.4-.16L20.7 6.56a2 2 0 0 1-1.25.44h-.71a4 4 0 0 0-2.83 1.17l-2.72 2.72a.83.83 0 0 1-1.18 0 .85.85 0 0 1 0-1.18l2.6-2.6A1 1 0 0 0 13.2 5.7l-.46.46A1.86 1.86 0 0 0 12 6H7.66l1.42-1.41A2 2 0 0 1 10.49 4h4.26a1 1 0 0 0 .55-.17l3-2a1 1 0 0 0 .28-1.38A1 1 0 0 0 17.2.17L14.45 2h-4a4 4 0 0 0-2.79 1.17L4.84 6H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-9.24a3.31 3.31 0 0 0 .61-.45l2.72-2.72A2 2 0 0 1 18.74 9h.71A4 4 0 0 0 22 8.12l1.67-1.34a1 1 0 0 0 .11-1.4ZM2 22V8h8.89l-.29.3a2.83 2.83 0 0 0 0 4 3 3 0 0 0 1.4.76V22Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Descargar para dispositivos<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-2" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M7.5 9.38h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63Zm.62-2h.76v.74h-.76ZM9.5 13.12h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63Zm-.62 2h-.76v-.74h.76ZM16.5 6.12h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63Zm-.62 2h-.76v-.74h.76ZM11.5 11.12h-4a.63.63 0 0 0 0 1.26h3.38v.37a.62.62 0 1 0 1.24 0v-1a.63.63 0 0 0-.62-.63ZM16.5 12.12h-1a.63.63 0 0 0 0 1.26h.38v1.74h-1.76v-2.37a.62.62 0 1 0-1.24 0v3a.63.63 0 0 0 .62.63h3a.63.63 0 0 0 .62-.63v-3a.63.63 0 0 0-.62-.63ZM11.5 14.12a.63.63 0 0 0-.62.63v1a.62.62 0 1 0 1.24 0v-1a.63.63 0 0 0-.62-.63ZM13.12 9.75a.63.63 0 0 0-.62-.63h-.38V6.75a.62.62 0 1 0-1.24 0v3a.63.63 0 0 0 .62.63h1a.63.63 0 0 0 .62-.63ZM16.5 10.12h-2a.63.63 0 0 0 0 1.26h2a.63.63 0 0 0 0-1.26Z"/><path d="M17 0H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3Zm1 19a.5.5 0 0 1-.5.5h-11A.5.5 0 0 1 6 19V3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir al wallet<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-3" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M19.62 18.5a3.75 3.75 0 0 1 0-7.5h2.26a.25.25 0 0 0 .24-.25v-2.5a2.5 2.5 0 0 0-2.5-2.5h-17a2.51 2.51 0 0 0-2.5 2.5v13a2.51 2.51 0 0 0 2.5 2.5h17a2.5 2.5 0 0 0 2.5-2.5v-2.5a.25.25 0 0 0-.24-.25Z"/><path d="M22.62 12.5h-3a2.25 2.25 0 0 0 0 4.5h3a1.51 1.51 0 0 0 1.26-1.5V14a1.51 1.51 0 0 0-1.26-1.5ZM19.81 1.18a1.21 1.21 0 0 0-.56-.76 1.24 1.24 0 0 0-.94-.13L5.44 3.76a.24.24 0 0 0-.18.24.25.25 0 0 0 .24.22h14.77a.24.24 0 0 0 .19-.1.23.23 0 0 0 .05-.12Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
    </ul>
    <div class="grid grid-cols-2 gap-10 items-start">
      <div>
        <h2 class="c-h3">Titular</h2>
        {{ componentDescriptionList({
          "classes": "mb-xl",
          "items": [
            {
              "term": {
                "text": "María Jesús Rodriguez García",
                "classes": "text-base text-black font-semibold"
              },
              "definition": {
                "text": "NIF: 73230503K",
                "classes": "text-neutral-dark"
              },
              "classes": "p-sm -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <h2 class="c-h3">Datos adicionales</h2>
        {{ componentDescriptionList({
          "classes": "w-full mb-xl",
          "items": [
            {
              "term": {
                "html": 'Número de donante',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '25.365',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Grupo sanguineo',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '0',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'RH',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": 'Negativo',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Fecha primera donación',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '12 marzo 2022',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Fecha última donación',
                "classes": "lg:w-1/2 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
              },
              "definition": {
                "html": '15 septiembre 2023',
                "classes": "lg:w-1/2 px-base py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
      </div>
      <div class="p-base border border-neutral-base rounded-xl mb-base">
          <div class="grid grid-cols-2 gap-5 py-sm">
            <div class="p-sm justify-self-center">
              <img src="../../images/code-bar.png" alt="Código de barras" aria-label="Código de barras">
            </div>
            <div class="pt-sm">
              <p class="mb-sm">ID: 0929 3470 9546 4785 6241</p>
              <p class=""><a href="#" class="c-link">Aprende como usar el certificado impreso</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
  {# /desktop #}



  {# MOBILE #}
  <div class="lg:hidden">
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Vigencia'
          },
          "definition": {
            "html": 'La edad permitida para donar es entre 18 a 65 años'
          }
        }
      ]
    })  }}  
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    <div class="py-sm justify-self-center">
      <img src="../../images/code-bar.png" alt="Código de barras" aria-label="Código de barras">
      <p class="c-paragraph-sm mt-sm">ID: 0929 3470 9546 4785 6241</p>
      <p class="c-paragraph-sm"><a href="#" class="c-link">Aprende como usar el certificado impreso</a></p>
    </div>

    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {{ componentDescriptionList({
      "classes": "mb-lg",
      "items": [
        {
          "term": {
            "html": 'Titular'
          },
          "definition": {
            "html": '<span class="block font-semibold">María del Carmen Jarque Rodriguez</span> 73230503K'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Emitido por'
          },
          "definition": {
            "html": '<a href="#" class="c-link">Banco de Sangre y Tejidos de Aragón</a>'
          },
          "classes": "mb-base"
        }
      ]
    })  }}  
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    {% call componentDetails({
      "summary": {
        "html": "Ver datos adicionales"
      }
    })  %}
        {{ componentDescriptionList({
          "classes": "grid md:grid-cols-2 gap-base xl:w-4/5",
          "items": [
            {
              "term": {
                "html": 'Número de donante'
              },
              "definition": {
                "html": '25.365'
              }
            },
            {
              "term": {
                "html": 'Grupo sanguineo'
              },
              "definition": {
                "html": '0'
              }
            },
            {
              "term": {
                "html": 'RH'
              },
              "definition": {
                "html": 'Negativo'
              }
            },
            {
              "term": {
                "html": 'Fecha primera donación'
              },
              "definition": {
                "html": '12 marzo 2022'
              }
            },
            {
              "term": {
                "html": 'Fecha última donación'
              },
              "definition": {
                "html": '15 septiembre 2023'
              }
            }
          ]
        })  }}
    {% endcall %}
    <hr class="border-neutral-base my-base -mx-base"><!--linea separadora-->
    <ul class="pt-base pb-lg">
      <li class="mb-sm">
        {{ componentButton({
          "html": 'Descargar para imprimir<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-3" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M4.5 12.25H6a.75.75 0 0 0 0-1.5H4.5a.75.75 0 0 0 0 1.5ZM8.75 14H4.5a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5ZM8.75 17.25H4.5a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5Z"/><path d="M23.78 5.38a1 1 0 0 0-1.4-.16L20.7 6.56a2 2 0 0 1-1.25.44h-.71a4 4 0 0 0-2.83 1.17l-2.72 2.72a.83.83 0 0 1-1.18 0 .85.85 0 0 1 0-1.18l2.6-2.6A1 1 0 0 0 13.2 5.7l-.46.46A1.86 1.86 0 0 0 12 6H7.66l1.42-1.41A2 2 0 0 1 10.49 4h4.26a1 1 0 0 0 .55-.17l3-2a1 1 0 0 0 .28-1.38A1 1 0 0 0 17.2.17L14.45 2h-4a4 4 0 0 0-2.79 1.17L4.84 6H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-9.24a3.31 3.31 0 0 0 .61-.45l2.72-2.72A2 2 0 0 1 18.74 9h.71A4 4 0 0 0 22 8.12l1.67-1.34a1 1 0 0 0 .11-1.4ZM2 22V8h8.89l-.29.3a2.83 2.83 0 0 0 0 4 3 3 0 0 0 1.4.76V22Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
      <li class="mb-sm">
        {{ componentButton({
          "html": 'Descargar para dispositivos<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-2" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M7.5 9.38h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63Zm.62-2h.76v.74h-.76ZM9.5 13.12h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63Zm-.62 2h-.76v-.74h.76ZM16.5 6.12h-2a.63.63 0 0 0-.62.63v2a.63.63 0 0 0 .62.63h2a.63.63 0 0 0 .62-.63v-2a.63.63 0 0 0-.62-.63Zm-.62 2h-.76v-.74h.76ZM11.5 11.12h-4a.63.63 0 0 0 0 1.26h3.38v.37a.62.62 0 1 0 1.24 0v-1a.63.63 0 0 0-.62-.63ZM16.5 12.12h-1a.63.63 0 0 0 0 1.26h.38v1.74h-1.76v-2.37a.62.62 0 1 0-1.24 0v3a.63.63 0 0 0 .62.63h3a.63.63 0 0 0 .62-.63v-3a.63.63 0 0 0-.62-.63ZM11.5 14.12a.63.63 0 0 0-.62.63v1a.62.62 0 1 0 1.24 0v-1a.63.63 0 0 0-.62-.63ZM13.12 9.75a.63.63 0 0 0-.62-.63h-.38V6.75a.62.62 0 1 0-1.24 0v3a.63.63 0 0 0 .62.63h1a.63.63 0 0 0 .62-.63ZM16.5 10.12h-2a.63.63 0 0 0 0 1.26h2a.63.63 0 0 0 0-1.26Z"/><path d="M17 0H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3Zm1 19a.5.5 0 0 1-.5.5h-11A.5.5 0 0 1 6 19V3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
      <li class="mb-sm">
        {{ componentButton({
          "html": 'Añadir al wallet<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="self-center ml-3" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M19.62 18.5a3.75 3.75 0 0 1 0-7.5h2.26a.25.25 0 0 0 .24-.25v-2.5a2.5 2.5 0 0 0-2.5-2.5h-17a2.51 2.51 0 0 0-2.5 2.5v13a2.51 2.51 0 0 0 2.5 2.5h17a2.5 2.5 0 0 0 2.5-2.5v-2.5a.25.25 0 0 0-.24-.25Z"/><path d="M22.62 12.5h-3a2.25 2.25 0 0 0 0 4.5h3a1.51 1.51 0 0 0 1.26-1.5V14a1.51 1.51 0 0 0-1.26-1.5ZM19.81 1.18a1.21 1.21 0 0 0-.56-.76 1.24 1.24 0 0 0-.94-.13L5.44 3.76a.24.24 0 0 0-.18.24.25.25 0 0 0 .24.22h14.77a.24.24 0 0 0 .19-.1.23.23 0 0 0 .05-.12Z"/></g></svg>',
          "href": "/"
        })  }}
      </li>
    </ul>
  </div>
  {# /mobile #}


{% endblock %}