{% set title = "Mis tarjetas y carnets - Caza. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <h1 id="page-title" class="c-h1 leading-7 pt-base">
    <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mb-lg w-32"/>
    Licencia de caza
  </h1>
  
  <div class="pb-xl">

    <!-- Instrucciones -->
    <div class="mb-xl">
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Qué es este documento
          </dt>
          <dd class="text-xs">
            Este documento es un carnet emitido por el Gobierno de Aragón.   
            <span class="block">Manténgalo en buen estado y renuévelo cuando sea necesario. Es personal e intransferible.</span>
          </dd>
        </div>
      </dl>
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Cómo se valida este documento
          </dt>
          <dd class="text-xs">
            <ul class="c-ol">
              <li>Lleva contigo tu Documento de Identidad oficial.</li>
              <li class="-mt-3">Muestra este documento y tu Documento de Identidad para validar su autenticidad.</li>
              <li class="-mt-3">En caso de que alguna entidad quiera verificar el documento puede escanear el QR, y accederá a una página del Gobierno de Aragón donde podrá comprobar su validez.</li>
            </ul>
          </dd>
        </div>
      </dl>
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Recortar y doblar este documento
          </dt>
          <dd class="text-xs">
            <ul class="c-ol">
              <li>Recorta cuidadosamente el carnet siguiendo la línea discontinua impresa en el documento.</li>
              <li class="-mt-3">Dobla el documento por la mitad, siguiendo la línea de puntos indicada, para tener el carnet en formato tarjeta.</li>
              <li class="-mt-3">Opcionalmente, puedes plastificar el carnet para facilitar su mantenimiento.</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div> 
    <!-- /instrucciones -->
    
    <div class="bg-neutral-light px-lg py-xl border-t-2 border-b-2 border-neutral-dark relative">
      <div class="absolute left-7 top-3 text-xs font-bold">
        <img src="../../images/flecha-abajo.png" alt="flecha abajo" aria-label="flecha abajo" class="w-1.5 float-left mr-1"/>
        1º Recortar siguiendo la línea discontinua
      </div>
      <img src="../../images/tijeras.png" alt="tijeras" aria-label="tijeras" class="w-5 absolute top-8 left-4"/>
      
      <!-- Carnet -->
      <div class="bg-white border-2 border-neutral-base border-dashed overflow-hidden" style="width: 170mm; height: 54mm;">
        <!-- Anverso -->
        <div class="float-left w-6/12 h-full align-top">
          <img src="../../images/carnet-caza-header.png" alt="Licencia de caza Instituto Aragonés de Gestión Ambiental (INAGA)" aria-label="Licencia de caza Instituto Aragonés de Gestión Ambiental (INAGA)" class="float-left mb-xs"/>
          <div class="float-left p-base w-full">
            <div class="float-left w-2/5">
              <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet" class="w-24"/>
              <p class="w-24 text-xs text-center" style="font-size:9px;">3c0a8aed5152e4e37</p>
            </div>
            <div class="float-left w-3/5">
              <p class="text-sm text-black font-bold leading-tight" style="font-size:12px;">
                Pedro Antonio
                <span class="block">del Prado Rodriguez</span>
              </p>
              <p class="text-sm font-normal text-black" style="font-size:12px;">73230503K</p>
              <dl class="text-xs mt-base pt-xs leading-tight" style="font-size:10px;">
                <dt class="text-neutral-dark">
                  Fecha de caducidad
                </dt>
                <dd class="text-black font-semibold">
                  30 septiembre 2025
                </dd>
              </dl>              
            </div>
          </div>
        </div>
        <!-- /anverso -->
        <!-- Reverso -->
        <div class="float-left w-6/12 h-full align-top p-base border-l border-neutral-base border-dotted">
          <dl class="w-full inline-block text-xs pb-2.5" style="font-size:11px;">
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-1/2 p-xs text-neutral-dark">
                Modalidad de licencia
              </dt>
              <dd class="float-right w-1/2 p-xs text-right font-semibold">
                Ordinaria
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-1/2 p-xs text-neutral-dark">
                Tipo de licencia
              </dt>
              <dd class="float-right w-1/2 p-xs text-right font-semibold">
                Interautonómica
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-1/2 p-xs text-neutral-dark">
                Número de licencia
              </dt>
              <dd class="float-right w-1/2 p-xs text-right font-semibold">
                ARA1601220146315
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-1/2 p-xs text-neutral-dark">
                Fecha de emisión
              </dt>
              <dd class="float-right w-1/2 p-xs text-right font-semibold">
                15 septiembre 2023
              </dd>
            </div>
          </dl>
          <p class="text-xs leading-tight" style="font-size:8px;">
            Este documento es personal e intransferible y sirve de documento sustitutivo, a todos los efectos, de la resolución. Válido acompañado de tu Documento de Identidad Oficial. 
            <span class="block">Emitido por el <strong>Instituto Aragonés de Gestión Ambiental (INAGA)</strong></span>
            <span class="block">Avda. Ranillas, nº 3C - 3ª planta, 50018 Zaragoza </span>
            <span class="block">976 716 633 | 976 715 181 | inaga@aragon.es</span>
          </p>
          </div>
        <!-- /reverso -->
      </div>
      <!-- /carnet -->

      <div class="absolute bottom-3 text-xs font-bold" style="left: 21.65rem;">
        <img src="../../images/flecha-arriba.png" alt="flecha arriba" aria-label="flecha arriba" class="w-1.5 float-left mr-1"/>
        2º Doblar por esta línea
      </div>
    </div>
 
   </div>

{% endblock %}