{% set title = "Mis tarjetas y carnets - Portada vacía. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Mis tarjetas y carnets
  </h1>
  <p class="c-paragraph-base lg:c-paragraph-lg">
    Consultar tus carnets y tarjetas asi como otros datos relacionados.
  </p>
  <div class="pb-base"></div><!--espaciador-->

  <div class="w-full lg:w-3/4">

    <h2 class="c-h3 mb-base">Carnets emitidos por el Gobierno de Aragón</h2>
    <p class="c-paragraph-base italic border px-base py-sm border-neutral-light bg-neutral-lighter">No se han encontrado ningún carnet en este momento.</p>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h3 mb-base">Otros datos y carnets</h2>
    {# DNI #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <div class="border-b border-neutral-base mb-sm pb-3 items-center">
        <p class="pt-xs mb-0">
          <span class="table md:inline mb-sm mr-lg text-lg font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 inline-flex -mt-1.5 mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M24 6.25a2 2 0 0 0-2-2h-6a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 1-1 0v-2.5a3 3 0 0 0-6 0v2.5a.5.5 0 0 1-1 0v-1.5a.5.5 0 0 0-.5-.5H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm-8 17.75a.5.5 0 0 1-.5-.5v-10.5a.5.5 0 0 1 .5-.5h19a.5.5 0 0 1 .5.5v10.5a.5.5 0 0 1-.5.5Z"/><path d="M19.25 13.5H14.5a.75.75 0 0 0 0 1.5h4.75a.75.75 0 0 0 0-1.5ZM18 16.5h-3.5a.75.75 0 0 0 0 1.5H18a.75.75 0 0 0 0-1.5ZM9.46 16.62a.89.89 0 0 1 0-.39 4 4 0 0 0 .86-2.77 2.29 2.29 0 1 0-4.58 0 4 4 0 0 0 .83 2.73c0 .09 0 .35.07.38-1.54.58-2.39 1-2.73 1.71a4.08 4.08 0 0 0-.37 1.15.47.47 0 0 0 .11.41A.49.49 0 0 0 4 20h8a.49.49 0 0 0 .38-.18.47.47 0 0 0 .11-.41 4.08 4.08 0 0 0-.37-1.15c-.34-.69-1.19-1.11-2.66-1.64Z"/></g></svg>DNI - 72988332A</span>
          <span class="font-semibold bg-success-light px-xs">Vigente</span>
          <span class="lg:mr-base pt-xs md:pt-0">hasta 10 septiembre 2026 <strong class="block lg:inline text-alert-base">(Quedan 6 meses)</strong></span>
        </p>
      </div>
      {% call componentDetails({
        "summary": {
          "html": "Mostrar datos"
        }
      })  %}
          {{ componentDescriptionList({
            "classes": "grid md:grid-cols-3 gap-base xl:w-4/5",
            "items": [
              {
                "term": {
                  "text": "Nombre"
                },
                "definition": {
                  "text": "Francisco Javier del Carmen"
                }
              },
              {
                "term": {
                  "text": "Primer apellido"
                },
                "definition": {
                  "text": "Pérez"
                }
              },
              {
                "term": {
                  "text": "Segundo apellido"
                },
                "definition": {
                  "text": "Silvestre"
                }
              },
              {
                "term": {
                  "text": "NIF"
                },
                "definition": {
                  "text": "72988332A"
                }
              },
              {
                "term": {
                  "text": "Sexo"
                },
                "definition": {
                  "text": "M"
                },
                "classes": "md:col-span-2"
              },
              {
                "term": {
                  "text": "Provincia de nacimiento"
                },
                "definition": {
                  "text": "Teruel"
                }
              },
              {
                "term": {
                  "text": "Ciudad de nacimiento"
                },
                "definition": {
                  "text": "Alcañiz"
                }
              },
              {
                "term": {
                  "text": "Fecha de nacimiento"
                },
                "definition": {
                  "text": "3 febrero 1996"
                }
              },
              {
                "term": {
                  "text": "Hijo o hija de"
                },
                "definition": {
                  "text": "Rafael y Rosa"
                }
              },
              {
                "term": {
                  "text": "Nacionalidad"
                },
                "definition": {
                  "text": "España - ESP"
                }
              }
            ]
          })  }}
      {% endcall %}
    </div>
    {# Permisos conducir #}
    <div class="xl:flex items-center px-base border border-neutral-base rounded mb-base">
      <p class="flex-1 flex items-center text-lg mt-base mb-0 pb-sm lg:pb-base font-semibold">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 -mt-0.5 mr-base mb-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5.062 4c-.572 0-1.073.39-1.213.95l-.39 1.562h7.081l-.389-1.562c-.14-.56-.64-.95-1.213-.95H5.062Zm-2.668.588a2.751 2.751 0 0 1 2.668-2.089h3.876c1.264 0 2.363.863 2.668 2.089l.622 2.493a.97.97 0 0 1 .006.029A2.501 2.501 0 0 1 14 9.5v1a1.5 1.5 0 0 1-1.5 1.5v1a1 1 0 1 1-2 0v-1h-7v1a1 1 0 1 1-2 0v-1A1.5 1.5 0 0 1 0 10.5v-1c0-1.125.743-2.077 1.766-2.39a.732.732 0 0 1 .006-.03l.622-2.492ZM2.375 9.5c0-.345.28-.625.625-.625h1a.625.625 0 1 1 0 1.25H3a.625.625 0 0 1-.625-.625ZM10 8.875a.625.625 0 1 0 0 1.25h1a.625.625 0 1 0 0-1.25h-1Z" clip-rule="evenodd"/></svg>
        <span class="flex-1">Permisos de conducción</span>
      </p>
      <div>
        {{ componentButton({
          "text": "Ver detalles",
          "classes": "c-button--transparent mb-base lg:mb-0",
          "href": "/"
        })  }}
      </div>
    </div>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h3 mb-base">Quizá te pueda interesar</h2>
    <ul>
      <li class="mb-sm"><a href="#" class="c-link">Carnet de familia numerosa</a></li>
      <li class="mb-sm"><a href="#" class="c-link">Carnet de banco de sangre</a></li>
    </ul>

  </div>
{% endblock %}