{% set title = "Mis carnets, certificados y documentos - Carnets de animales - Listado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTablaSinVacunar %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "html": '<p class="mr-sm">Sin vacunar</p>',
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">Los datos de vacunación puede tardar hasta 48 horas en actualizarse</p>
  {% endcall %}
{% endset %}
{% set tooltipTablaSinVacunarRojo %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "html": '<p class="mr-sm text-nowrap text-white bg-alert-base px-xs"><span class="">Sin vacunar</span></p>',
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">Los datos de vacunación puede tardar hasta 48 horas en actualizarse</p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Mis carnets, certificados y documentos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Carnets de animales
  </h1>
  <p class="c-paragraph-base">
    Los datos de vacunación pueden <strong>tardar hasta 48 horas</strong> en actualizarse.
  </p>
  <div class="pb-xs"></div><!--espaciador-->

  {# Listado mobile #}
  <div class="lg:hidden -mx-base border-t border-neutral-base">
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Acher</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '00953621223'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Compañía'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Canina'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vacunado</span> hasta 22 ene 2025'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Pepillo</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '06385122525'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Caza'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Canina'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": tooltipTablaSinVacunarRojo
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Croqueta</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '12598542001'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Compañía'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Felina'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": tooltipTablaSinVacunar
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Copito</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '52103589954'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Compañía'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Mustélido'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": tooltipTablaSinVacunar
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Lasy</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '52235820149'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Servicios sociales'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Canina'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-neutral-light px-xs py-px">Baja administrativa</span>'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
    {# registro #}
    <div class="p-base lg:py-xs border-b border-neutral-base">
      <h3 class="flex font-semibold mb-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
        <a href="#" class="c-link">Otis</a>
      </h3>      
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> identificación',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '65214032874'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Aptitud',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Compañía'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}  
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Especie',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": 'Canina'
            },
            "classes": "pr-xl mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark"
            },
            "definition": {
              "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vacunado</span> hasta 10 oct 2025'
            },
            "classes": "mb-sm"
          }
        ]
      })  }}                        
    </div>
  </div>
  {# fin Listado mobile #}
  {# Listado desktop #}
  <div class="hidden lg:block">
    {{ componentTableAdvanced({
      "idPrefix": "listado-carnets",
      "caption": "Listado de carnets y licencias",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "html": 'Nombre del animal',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Número">Nº</abbr> identificación',
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "html": 'Aptitud',
          "orderBy": "none",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "select-aptitud",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Compañía"
              },
              {
                "value": 2,
                "text": "Caza"
              },
              {
                "value": 3,
                "text": "Servicios sociales"
              }
            ]
          }
        },
        {
          "html": 'Especie',
          "orderBy": "none",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "select-especie",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Canina"
              },
              {
                "value": 2,
                "text": "Felina"
              },
              {
                "value": 3,
                "text": "Mustélido"
              }
            ]
          }
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "select-estado",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Vacunado"
              },
              {
                "value": 2,
                "text": "Sin vacunar"
              },
              {
                "value": 3,
                "text": "Baja administrativa"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Acher</a>
                    </div>'
          },
          {
            "html": '00953621223',
            "classes": "text-right"
          },
          {
            "html": 'Compañía',
            "classes": "text-right"
          },
          {
            "html": 'Canina',
            "classes": "text-right"
          },
          {
            "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vacunado</span> hasta 22 ene 2025',
            "classes": "text-right"
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Pepillo</a>
                    </div>'
          },
          {
            "html": '06385122525',
            "classes": "text-right"
          },
          {
            "html": 'Caza',
            "classes": "text-right"
          },
          {
            "html": 'Canina',
            "classes": "text-right"
          },
          {
            "html": tooltipTablaSinVacunarRojo,
            "classes": "text-right"
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Croqueta</a>
                    </div>'
          },
          {
            "html": '12598542001	',
            "classes": "text-right"
          },
          {
            "html": 'Compañía',
            "classes": "text-right"
          },
          {
            "html": 'Felina',
            "classes": "text-right"
          },
          {
            "html": tooltipTablaSinVacunar,
            "classes": "text-right"
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Copito</a>
                    </div>'
          },
          {
            "html": '52103589954	',
            "classes": "text-right"
          },
          {
            "html": 'Compañía',
            "classes": "text-right"
          },
          {
            "html": 'Mustélido',
            "classes": "text-right"
          },
          {
            "html": tooltipTablaSinVacunar,
            "classes": "text-right"
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Lasy</a>
                    </div>'
          },
          {
            "html": '52235820149',
            "classes": "text-right"
          },
          {
            "html": 'Servicios sociales',
            "classes": "text-right"
          },
          {
            "html": 'Canina',
            "classes": "text-right"
          },
          {
            "html": '<span class="text-nowrap bg-neutral-light px-xs py-px">Baja administrativa</span>',
            "classes": "text-right"
          }
        ],
        [
          {
            "html": '<div class="flex py-sm lg:py-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mt-0.5 mr-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.5 1.5C.648 1.5 0 2.22 0 3.053v1.322h14V3.053c0-.833-.648-1.553-1.5-1.553h-11ZM0 10.947V5.625h14v5.322c0 .833-.648 1.553-1.5 1.553h-11c-.852 0-1.5-.72-1.5-1.553ZM9.5 8.25a.75.75 0 0 0 0 1.5H11a.75.75 0 0 0 0-1.5H9.5Z" clip-rule="evenodd"/></svg>
                      <a href="#" class="c-link">Otis</a>
                    </div>'
          },
          {
            "html": '65214032874',
            "classes": "text-right"
          },
          {
            "html": 'Compañía',
            "classes": "text-right"
          },
          {
            "html": 'Canina',
            "classes": "text-right"
          },
          {
            "html": '<span class="text-nowrap bg-success-light px-xs py-px">Vacunado</span> hasta 10 oct 2025',
            "classes": "text-right"
          }
        ]
      ],
      "classes": "w-full mt-base"
    })  }}
  </div>
  {# fin Listado desktop #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado",
      "idPrefix": "paginador",
      "hasSelect": true,
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": "1",
          "selected": true
        },
        {
          "value": "2",
          "text": "2"
        },
        {
          "value": "3",
          "text": "3"
        },
        {
          "value": "4",
          "text": "4"
        },
        {
          "value": "5",
          "text": "5"
        },
        {
          "value": "6",
          "text": "6"
        },
        {
          "value": "7",
          "text": "7"
        },
        {
          "value": "8",
          "text": "8"
        },
        {
          "value": "9",
          "text": "9"
        },
        {
          "value": "10",
          "text": "10"
        },
        {
          "value": "11",
          "text": "11"
        },
        {
          "value": "12",
          "text": "12"
        },
        {
          "value": "13",
          "text": "13"
        },
        {
          "value": "14",
          "text": "14"
        }
      ],
      "hasPrevious": false,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "showFirst": true,
      "showLast": true,
      "hasFirst": false,
      "firstText": "Primera",
      "lastText": "Última",
      "attributes": {
        "aria-label": "Paginación"
      }
    }) }}
  </div>

{% endblock %}