{% set title = "Mis tarjetas y carnets - Carnet A4. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}

  <div class="py-base">
    <h1 id="page-title" class="c-h2 leading-7">
      <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mb-base w-40"/>
      Carnet de discapacidad
      <span class="block pt-xs text-base font-normal leading-tight">Instituto Aragonés de Servicios Sociales</span>
    </h1>
    <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet" class="m-auto"/>
    <p class="text-xs mt-sm px-base text-center">Si no puedes leer el QR, puedes verificar el carnet con su código <strong>c469952480941bfb</strong> a través de <a href="https://mia.aragon.es/validar-qr" class="c-link block">mia.aragon.es/validar-qr</a></p>
  </div>

  <div class="py-base">
    <h2 class="text-sm font-bold leading-none mb-xs">Titular</h2>
    <dl class="w-full">
      <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
        <dt class="text-black font-semibold">
          María Jesús Rodriguez García
        </dt>
        <dd class="text-black">
          NIF: 73230503K
        </dd>
      </div>
    </dl>
    <div class="mb-lg"></div><!--espaciador-->
    <h2 class="text-sm font-bold leading-none mb-xs">Datos adicionales</h2>
    <dl class="w-full inline-block">
      <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
        <dt class="float-left w-2/4 p-xs text-sm">
          Fecha de caducidad
        </dt>
        <dd class="float-right w-2/4 p-xs text-sm text-right font-semibold">
          30 septiembre 2026
        </dd>
      </div>
      <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
        <dt class="float-left w-5/6 p-xs text-sm">
          Grado de discapacidad
        </dt>
        <dd class="float-right w-1/6 p-xs text-sm text-right font-semibold">
          33%
        </dd>
      </div>
      <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
        <dt class="float-left w-11/12 p-xs text-sm">
          Dificultades de movilidad
        </dt>
        <dd class="float-right w-1/12 p-xs text-sm text-right font-semibold">
          Sí
        </dd>
      </div>
      <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
        <dt class="float-left w-11/12 p-xs text-sm">
          Necesidad de asistencia de otra persona
        </dt>
        <dd class="float-right w-1/12 p-xs text-sm text-right font-semibold">
          Sí
        </dd>
      </div>
    </dl>
    <div class="mb-lg"></div><!--espaciador-->
    <h2 class="text-sm font-bold leading-none mb-xs">Datos de contacto de entidad emisora</h2>
    <dl class="w-full">
      <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
        <dt class="text-sm text-black font-semibold">
          Instituto Aragonés de Servicios Sociales
        </dt>
        <dd class="text-sm text-black">
          <span class="block">Plaza del Pilar, 3, 50003 Zaragoza (Zaragoza)</span> 
          <span class="block">976 701 705</span>
          <span class="block"><a href="mailto:iass@aragon.es" class="c-link">iass@aragon.es</a></span>
        </dd>
      </div>
    </dl>
  </div>

  <div class="py-base">
    <h2 class="text-sm font-bold leading-none mb-xs pb-xs border-b border-neutral-base">Instrucciones de uso</h2>
    <dl class="mt-base">
      <div>
        <dt class="mb-xs text-xs text-black font-bold">
          Qué es este documento
        </dt>
        <dd class="text-xs">
          Este documento es un carnet emitido por el Gobierno de Aragón y es personal e intransferible.
        </dd>
      </div>
    </dl>
    <dl class="mt-base">
      <div>
        <dt class="mb-xs text-xs text-black font-bold">
          Qué validez tienen
        </dt>
        <dd class="text-xs">
          Verifique la fecha de caducidad del documento para validar su vigencia. Después de esa fecha, el documento no será válido y requerirá renovación.
        </dd>
      </div>
    </dl>
    <dl class="mt-base">
      <div>
        <dt class="mb-xs text-xs text-black font-bold">
          Validación de este documento
        </dt>
        <dd class="text-xs">
          <ul class="c-ol">
            <li>Lleva contigo tu Documento de Identidad oficial.</li>
            <li class="-mt-3">Muestra este documento  y tu Documento de Identidad para validar su autenticidad.</li>
            <li class="-mt-3">En caso de de que alguna entidad quiera verificar el documento puede escanear el QR, y accederá a una página del Gobierno de Aragón donde podrá comprobar su validez.</li>
          </ul>
        </dd>
      </div>
    </dl>
      <p class="text-xs font-bold"><a href="#" class="c-link">Más información</a></p>      
  </div>

{% endblock %}