{% set title = "Mis tarjetas y carnets - Discapacidad tamaño carnet. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <h1 id="page-title" class="c-h1 leading-7 pt-base">
    <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mb-lg w-32"/>
    Carnet de discapacidad
  </h1>
  
  <div class="pb-xl">

    <!-- Instrucciones -->
    <div class="mb-xl">
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Qué es este documento
          </dt>
          <dd class="text-xs">
            Este documento es un carnet emitido por el Gobierno de Aragón. 
            <span class="block">Manténgalo en buen estado y renuévelo cuando sea necesario. Es personal e intransferible.</span>
          </dd>
        </div>
      </dl>
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Cómo se valida de este documento
          </dt>
          <dd class="text-xs">
            <ul class="c-ol">
              <li>Lleva contigo tu Documento de Identidad oficial.</li>
              <li class="-mt-3">Muestra este documento y tu Documento de Identidad para validar su autenticidad.</li>
              <li class="-mt-3">En caso de que alguna entidad quiera verificar el documento puede escanear el QR, y accederá a una página del Gobierno de Aragón donde podrá comprobar su validez.</li>
            </ul>
          </dd>
        </div>
      </dl>
      <dl class="mt-base">
        <div>
          <dt class="mb-xs text-xs text-black font-bold">
            Recortar y doblar este documento
          </dt>
          <dd class="text-xs">
            <ul class="c-ol">
              <li>Recorta cuidadosamente el carnet siguiendo la línea discontinua impresa en el documento.</li>
              <li class="-mt-3">Dobla el documento por la mitad, siguiendo la línea de puntos indicada, para tener el carnet en formato tarjeta.</li>
              <li class="-mt-3">Opcionalmente, puedes plastificar el carnet para facilitar su mantenimiento.</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div> 
    <!-- /instrucciones -->
    
    <div class="bg-neutral-light px-lg py-xl border-t-2 border-b-2 border-neutral-dark relative">
      <div class="absolute left-7 top-3 text-xs font-bold">
        <img src="../../images/flecha-abajo.png" alt="flecha abajo" aria-label="flecha abajo" class="w-1.5 float-left mr-1"/>
        1º Recortar siguiendo la línea discontinua
      </div>
      <img src="../../images/tijeras.png" alt="tijeras" aria-label="tijeras" class="w-5 absolute top-8 left-4"/>
      
      <!-- Carnet -->
      <div class="bg-white border-2 border-neutral-base border-dashed overflow-hidden" style="width: 170mm; height: 54mm;">
        <!-- Anverso -->
        <div class="float-left w-6/12 h-full align-top p-base" style="border-bottom-width: 16px; border-bottom-color: #00607A;">
          <h1 id="page-title" class="c-h4 -mt-px text-sm leading-4">
            <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mt-xs mb-base mr-8 w-20 float-left"/>
            Carnet de discapacidad 
            <span class="block font-normal pt-px leading-tight" style="font-size:9px;">Instituto Aragonés de Servicios Sociales</span>
          </h1>
          <div class="float-left pt-xs">
            <div class="float-left w-2/5">
              <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet" class="w-24"/>
              <p class="w-24 text-xs text-center" style="font-size:9px;">c469952480941bfb</p>
            </div>
            <div class="float-left w-3/5">
              <h2 class="text-sm text-black font-semibold leading-4">
                María del Carmen Fernández Rodríguez
                <span class="text-sm font-normal text-black block">73230503K</span>
              </h2>
              <dl class="mt-base">
                <dt class="text-xs text-neutral-dark">
                  Fecha de caducidad
                </dt>
                <dd class="text-xs text-black font-semibold">
                  12 diciembre 2026
                </dd>
              </dl>              
            </div>
          </div>
        </div>
        <!-- /anverso -->
        <!-- Reverso -->
        <div class="float-left w-6/12 h-full align-top p-base border-l border-neutral-base border-dotted">
          <dl class="w-full inline-block text-xs pb-6">
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-5/6 p-xs text-neutral-dark">
                Grado de discapacidad
              </dt>
              <dd class="float-right w-1/6 p-xs text-right font-semibold">
                33%
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-11/12 p-xs text-neutral-dark">
                Dificultades de movilidad
              </dt>
              <dd class="float-right w-1/12 p-xs text-right font-semibold">
                Sí
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-11/12 p-xs text-neutral-dark">
                Necesidad de asistencia de otra persona
              </dt>
              <dd class="float-right w-1/12 p-xs text-right font-semibold">
                No
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-1/2 p-xs text-neutral-dark">
                CSV resolución
              </dt>
              <dd class="float-right w-1/2 p-xs text-right font-semibold">
                CSV2134134123546365
              </dd>
            </div>
          </dl>
          <p class="text-xs leading-tight" style="font-size:8px;">Este es un documento personal e intransferible, válido acompañado de tu Documento de Identidad Oficial. Emitido por el <strong>Instituto Aragonés de Servicios Sociales del Gobierno de Aragón</strong> (Plaza del Pilar, 3, 50003 Zaragoza | 976 701 705 | iass@aragon.es).</p>
          </div>
        <!-- /reverso -->
      </div>
      <!-- /carnet -->

      <div class="absolute bottom-3 text-xs font-bold" style="left: 21.65rem;">
        <img src="../../images/flecha-arriba.png" alt="flecha arriba" aria-label="flecha arriba" class="w-1.5 float-left mr-1"/>
        2º Doblar por esta línea
      </div>
    </div>
 
   </div>

{% endblock %}