{% set title = "Mis tarjetas y carnets - Discapacidad carnet impresión a color. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank-position-absolute.njk" %}


{% block contentBlock %}
  
  <div class="absolute" style="left: 29px; top: 82px;">
    <div class="float-left">
      <div style="width: 87.842mm; height: 54.681mm;">
        <img src="../../images/carnet-discapacidad.png" style="width: 87.842mm;"/>
        <div class="absolute" style="width:300px; left:15px; top:60px;">
          <div class="float-left" style="width:108px;">
            <img src="../../images/qr-mia.png" style="width:95px;"/>
            <p class="text-center break-words" style="width:95px; font-size:10px;">c469952480941bfb</p>
          </div>
          <div class="float-left" style="width:192px;">
            <p class="font-semibold mb-sm" style="font-size:13.5px; line-height:1.2;">
              María del Carmen <br>
              Fernández Rodríguez
              <span class="font-normal block pt-px">73230503K</span>
            </p>
            <dl class="w-full inline-block" style="font-size:9.5px;">
              <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
                <dt class="float-left w-1/2 py-px text-neutral-dark">
                  Fecha de caducidad
                </dt>
                <dd class="float-right w-1/2 py-px text-right font-semibold">
                  22 septiembre 2026
                </dd>
              </div>
              <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
                <dt class="float-left w-5/6 py-px text-neutral-dark">
                  Grado de discapacidad
                </dt>
                <dd class="float-right w-1/6 py-px text-right font-semibold">
                  33%
                </dd>
              </div>
              <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
                <dt class="float-left w-5/6 py-px text-neutral-dark">
                  Dificultades de movilidad
                </dt>
                <dd class="float-right w-1/6 py-px text-right font-semibold">
                  Sí
                </dd>
              </div>
              <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
                <dt class="float-left w-5/6 py-px text-neutral-dark">
                  Asistencia de otra persona
                </dt>
                <dd class="float-right w-1/6 py-px text-right font-semibold">
                  No
                </dd>
              </div>
            </dl>             
          </div>          
        </div>
      </div>
    </div>
    <div class="float-left" style="font-size:12px; line-height:1.3; padding-top:24mm; padding-left:16mm;">
      <strong>DPSS_116012 00F9 DPSS</strong>
      <span class="block">Alba Martínez Sueiro</span>
      <span class="block">Pª Sagasta Nº 45, Pl. 6, Pta. C </span>
      <span class="block">50007 Zaragoza, Zaragoza</span>
    </div>
  </div>


{% endblock %}