{% set title = "Mis tarjetas y carnets - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Mis tarjetas y carnets
  </h1>
  <p class="c-paragraph-base lg:c-paragraph-lg">
    Consultar tus carnets y tarjetas asi como otros datos relacionados.
  </p>
  <div class="pb-base"></div><!--espaciador-->

  <div class="w-full lg:w-3/4">

    <h2 class="c-h3 mb-base">Carnets emitidos por el Gobierno de Aragón</h2>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-lg mb-base">
      {# Carnet Familia numerosa #}
      <div class="border border-black rounded-xl max-w-xs">
        <div class="h-9 border-t border-warning-base rounded-t-xl bg-warning-base"></div>
        <div class="px-base py-sm relative">
          <p class="font-bold">Familia numerosa</p>
          <div class="h-12 mt-base"></div>
          <div class="flex items-center mb-sm">
            <div class="flex-1">
              {{ componentButton({
                "html": "Ver<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
                "classes": "c-button--sm",
                "href": "/"
              }) }}
            </div>
            <svg width="92" height="22" viewBox="0 0 92 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Carnet Familia numerosa" aria-label="Carnet Familia numerosa">
              <path d="M21.4668 5.1408L16.7496 6.08117C15.081 6.33307 13.3751 6.11417 11.8242 5.44912C10.873 4.88899 9.82854 4.50514 8.74101 4.31605C8.01015 4.20814 7.2674 4.20814 6.53653 4.31605L3.39169 4.87873L1.8501 5.14851V1.57202C2.63503 1.32437 3.47387 1.303 4.2704 1.51036C4.72521 1.65615 5.16217 1.85265 5.57304 2.09616C6.39966 2.6236 7.2943 3.03592 8.23228 3.32173C9.58167 3.65324 10.9912 3.65324 12.3406 3.32173L15.2928 2.78217L18.376 2.2272L21.4591 1.59514L21.4668 5.1408Z" fill="black"/>
              <path d="M5.9433 16.4715C7.94407 16.0081 10.0425 16.2307 11.9016 17.1036C13.4579 18.0249 15.2926 18.3585 17.0736 18.044L21.4671 17.2732V20.8111C20.8577 20.9779 20.2226 21.0301 19.5941 20.9653C19.2437 20.9206 18.9012 20.8272 18.5766 20.6878L16.2643 19.4931C14.8767 18.8835 13.3383 18.7036 11.8476 18.9766L2.47472 20.7032L1.83496 20.8111V17.25L2.60576 17.0959L4.70232 16.7105L5.96642 16.4715" fill="black"/>
              <path d="M1.83496 10.7671V8.03081L9.94373 6.55088C11.8975 6.30549 13.8797 6.66319 15.6245 7.57604C17.2643 8.37533 19.1317 8.57707 20.9044 8.14643L21.4671 8.03081V10.7671L19.6712 9.74968C18.3432 9.13409 16.8659 8.91463 15.4164 9.11763L10.4293 10.0272L8.63338 10.3509L4.09339 11.1757C3.31406 11.3212 2.50846 11.17 1.83496 10.7517" fill="black"/>
              <path d="M21.4671 11.7074V14.4051L13.42 15.8851C11.4814 16.1219 9.51651 15.7644 7.7855 14.8599C6.1383 14.0411 4.25543 13.8282 2.46701 14.2587L1.83496 14.382V11.6842L3.69258 12.7171C5.02331 13.3325 6.50303 13.5519 7.95508 13.3492L12.9421 12.4396L14.7227 12.085L19.2704 11.2449C20.032 11.1277 20.8103 11.2921 21.4594 11.7074" fill="black"/>
              <path d="M23.4253 12.0469V21.0035H26.4237C29.4529 21.0035 31.2412 19.3386 31.2412 16.5175C31.2412 13.6964 29.4144 12.0469 26.3158 12.0469H23.4253ZM25.4525 19.1921V13.8351H26.3235C28.1426 13.8351 29.1292 14.7832 29.1292 16.5175C29.1292 18.2518 28.1811 19.1921 26.2849 19.1921H25.4525Z" fill="black"/>
              <path d="M31.9731 12.0469V21.0035H37.9083V19.1921H33.9695V17.1495H37.862V15.3382H33.9695V13.8428H37.9083V12.0469H31.9731Z" fill="black"/>
              <path d="M45.6008 12.0469L42.3403 21.0035H44.46L45.4235 18.2749H48.1675L49.1156 21.0035H51.2816L47.9517 12.0469H45.6008ZM47.628 16.5714H45.9477L46.1635 15.9471C46.2779 15.647 46.3757 15.3408 46.4564 15.0299C46.4564 14.9528 46.5412 14.7909 46.6105 14.5443L46.703 14.2128C46.703 14.1743 46.703 14.0741 46.7801 13.9199C46.8726 14.2899 46.942 14.5597 47.0884 15.0067L47.2503 15.5L47.3967 15.9394L47.628 16.5714Z" fill="black"/>
              <path d="M51.6284 21.0035H53.6787V17.3422H53.9331C55.228 17.3422 55.3591 17.4733 56.2455 19.6932C56.338 19.9321 56.3919 20.0786 56.4305 20.1479L56.6078 20.5642C56.6663 20.7218 56.7385 20.8739 56.8236 21.0189H59.2747C58.5479 20.0706 57.9732 19.0148 57.5713 17.8895C57.486 17.5929 57.3299 17.3214 57.1164 17.0985C56.9029 16.8756 56.6384 16.7079 56.3457 16.61C56.8249 16.495 57.2499 16.2183 57.5489 15.8266C57.848 15.4349 58.0029 14.9521 57.9875 14.4595C57.9875 12.8562 56.9238 12.0469 54.7887 12.0469H51.6284V21.0035ZM53.6787 15.6079V13.7503H54.596C55.467 13.7503 55.8601 14.0355 55.8601 14.6753C55.8601 15.315 55.4284 15.6311 54.5652 15.6311L53.6787 15.6079Z" fill="black"/>
              <path d="M60.8474 12.0469L57.5869 21.0035H59.7066L60.6701 18.2749H63.4141L64.3622 21.0035H66.5281L63.1983 12.0469H60.8474ZM62.8746 16.5714H61.1942L61.4101 15.9471C61.5873 15.4307 61.649 15.2534 61.703 15.0376C61.7617 14.8788 61.8106 14.7167 61.8494 14.552L61.9496 14.2205C61.9496 14.182 61.9496 14.0818 62.0267 13.9276C62.1192 14.2976 62.1886 14.5674 62.335 15.0144L62.4969 15.5077L62.6433 15.9471L62.8746 16.5714Z" fill="black"/>
              <path d="M73.3032 16.425H71.3146V19.2461C70.9016 19.3701 70.4652 19.3947 70.0409 19.318C69.6167 19.2413 69.2165 19.0654 68.8731 18.8046C68.5297 18.5439 68.2528 18.2057 68.0649 17.8176C67.8771 17.4295 67.7836 17.0025 67.7921 16.5714C67.7726 16.1791 67.8366 15.787 67.9796 15.4211C68.1226 15.0552 68.3415 14.7237 68.6218 14.4485C68.9021 14.1732 69.2376 13.9605 69.606 13.8242C69.9745 13.6879 70.3677 13.6312 70.7596 13.6578C71.6673 13.6588 72.5546 13.9269 73.3109 14.4286V12.3706C72.4474 12.0166 71.5234 11.8334 70.59 11.8311C67.6919 11.8311 65.6724 13.7812 65.6724 16.5714C65.6724 19.3617 67.6456 21.1962 70.59 21.1962C71.5151 21.1928 72.4327 21.0312 73.3032 20.7183V16.425Z" fill="black"/>
              <path d="M83.4236 16.5023C83.4236 15.2686 82.9335 14.0854 82.0612 13.2131C81.1888 12.3407 80.0056 11.8506 78.7719 11.8506C77.5381 11.8506 76.355 12.3407 75.4826 13.2131C74.6102 14.0854 74.1201 15.2686 74.1201 16.5023C74.1201 17.7361 74.6102 18.9192 75.4826 19.7916C76.355 20.664 77.5381 21.1541 78.7719 21.1541C80.0056 21.1541 81.1888 20.664 82.0612 19.7916C82.9335 18.9192 83.4236 17.7361 83.4236 16.5023ZM81.2885 16.5023C81.2885 18.1904 80.2942 19.3234 78.7911 19.3234C77.2881 19.3234 76.2398 18.2058 76.2398 16.5717C76.2398 14.9376 77.2495 13.7506 78.7526 13.7506C80.2557 13.7506 81.2885 14.876 81.2885 16.5717" fill="black"/>
              <path d="M84.1943 12.0469V21.0035H86.2369V16.8798V16.4096V15.9009C86.2448 15.7571 86.2448 15.613 86.2369 15.4692V15.1378C86.3063 15.2688 86.3449 15.3613 86.3834 15.4307C86.4746 15.5639 86.557 15.7029 86.6301 15.8469L86.9923 16.4635L87.3777 17.0648L87.7323 17.6351L89.9136 21.0035H91.8098V12.0469H89.7672V15.3613C89.7672 16.1938 89.7672 16.8412 89.8366 17.3808C89.8366 17.4424 89.8366 17.5504 89.8366 17.6968C89.5078 17.0285 89.1317 16.3845 88.7112 15.7698L86.2832 12.0469H84.1943Z" fill="black"/>
              <path d="M30.9097 5.73383H28.921V8.55494C28.6447 8.64354 28.3555 8.68523 28.0654 8.67826C27.7022 8.67894 27.3426 8.60518 27.009 8.46153C26.6753 8.31788 26.3746 8.1074 26.1255 7.84306C25.8763 7.57872 25.6839 7.26613 25.5602 6.92458C25.4365 6.58302 25.3841 6.21975 25.4062 5.85715C25.3868 5.46477 25.4507 5.07272 25.5937 4.70681C25.7367 4.34091 25.9556 4.00943 26.2359 3.73419C26.5163 3.45895 26.8517 3.2462 27.2202 3.10993C27.5887 2.97365 27.9818 2.91695 28.3738 2.94355C29.2788 2.94606 30.1632 3.21406 30.9174 3.71434V1.67944C30.0528 1.33075 29.1288 1.15276 28.1965 1.1553C25.2983 1.1553 23.2788 3.09 23.2788 5.88028C23.2788 8.67056 25.2598 10.505 28.1965 10.505C29.1215 10.5017 30.0392 10.34 30.9097 10.0272V5.73383Z" fill="black"/>
              <path d="M41.0223 5.78066C41.0223 4.54694 40.5322 3.36374 39.6598 2.49137C38.7874 1.619 37.6042 1.12891 36.3705 1.12891C35.1368 1.12891 33.9536 1.619 33.0812 2.49137C32.2088 3.36374 31.7188 4.54694 31.7188 5.78066C31.7188 7.01438 32.2088 8.19757 33.0812 9.06994C33.9536 9.94231 35.1368 10.4324 36.3705 10.4324C37.6042 10.4324 38.7874 9.94231 39.6598 9.06994C40.5322 8.19757 41.0223 7.01438 41.0223 5.78066ZM38.8871 5.78066C38.8871 7.47641 37.8928 8.60177 36.3898 8.60177C34.8867 8.60177 33.8384 7.52265 33.8384 5.84232C33.8384 4.16199 34.8405 3.02121 36.3435 3.02121C37.8466 3.02121 38.8871 4.14657 38.8871 5.84232" fill="black"/>
              <path d="M41.7007 1.35634V10.313H45.4005C47.3737 10.313 48.5299 9.33407 48.5299 7.65374C48.5402 7.11059 48.3588 6.58118 48.0178 6.15835C47.6767 5.73553 47.1976 5.44628 46.6646 5.34135C47.0309 5.18728 47.3418 4.92582 47.5565 4.59144C47.7712 4.25706 47.8794 3.86548 47.867 3.46832C47.867 2.05006 46.9113 1.34863 44.9766 1.34863L41.7007 1.35634ZM43.7279 4.70159V3.0598H44.5989C45.5547 3.0598 45.8938 3.27562 45.8938 3.83059C45.8938 4.38557 45.5547 4.70159 44.6682 4.70159H43.7279ZM43.7279 8.4862V6.40505H44.8609C45.9169 6.40505 46.364 6.69795 46.364 7.45333C46.364 8.20871 45.9324 8.4862 44.938 8.4862H43.7279Z" fill="black"/>
              <path d="M50.9426 1.35645H48.9463V10.3131H50.9426V1.35645Z" fill="black"/>
              <path d="M51.8135 1.35645V10.3131H57.7486V8.50172H53.8175V6.45911H57.7101V4.64774H53.8175V3.16011H57.7486V1.35645H51.8135Z" fill="black"/>
              <path d="M58.6582 10.3131H60.7085V6.63639H60.9629C62.2578 6.63639 62.3889 6.76743 63.2753 8.94878C63.3755 9.19543 63.4294 9.34189 63.468 9.41126L63.6453 9.82749C63.7053 9.98316 63.7748 10.135 63.8534 10.2823H66.3122C65.5854 9.33387 65.0107 8.27808 64.6087 7.15283C64.5226 6.86321 64.3697 6.5979 64.1621 6.37831C63.9546 6.15872 63.6983 5.99101 63.414 5.88872C63.8737 5.76285 64.2778 5.48626 64.5616 5.10329C64.8453 4.72032 64.9922 4.25317 64.9787 3.77674C64.9787 2.16578 63.9227 1.35645 61.7876 1.35645H58.6582V10.3131ZM60.7085 4.91752V3.0599H61.5872C62.4582 3.0599 62.8513 3.3451 62.8513 3.98486C62.8513 4.62462 62.4197 4.94064 61.5564 4.94064L60.7085 4.91752Z" fill="black"/>
              <path d="M65.7803 1.35645V10.3131H67.8152V5.68832V5.17959C67.8256 5.0359 67.8256 4.89164 67.8152 4.74795V4.44734C67.8768 4.57837 67.9231 4.67087 67.9616 4.74024C68.0483 4.87485 68.128 5.01377 68.2006 5.15647L68.5628 5.7731L68.956 6.38203L69.3028 6.94471L71.4919 10.3131H73.3032V1.35645H71.2838V4.67087C71.2838 5.50332 71.2838 6.15079 71.3454 6.69035C71.3454 6.75201 71.3454 6.85992 71.3454 7.00638C71.0107 6.34126 70.6349 5.69768 70.2201 5.07939L67.8152 1.35645H65.7803Z" fill="black"/>
              <path d="M83.4392 5.78066C83.4392 4.54694 82.9492 3.36374 82.0768 2.49137C81.2044 1.619 80.0212 1.12891 78.7875 1.12891C77.5538 1.12891 76.3706 1.619 75.4982 2.49137C74.6258 3.36374 74.1357 4.54694 74.1357 5.78066C74.1357 7.01438 74.6258 8.19757 75.4982 9.06994C76.3706 9.94231 77.5538 10.4324 78.7875 10.4324C80.0212 10.4324 81.2044 9.94231 82.0768 9.06994C82.9492 8.19757 83.4392 7.01438 83.4392 5.78066ZM81.3041 5.78066C81.3041 7.47641 80.3098 8.60177 78.8068 8.60177C77.3037 8.60177 76.2554 7.46099 76.2554 5.78066C76.2554 4.10032 77.2575 2.95955 78.7682 2.95955C80.279 2.95955 81.3041 4.08491 81.3041 5.78066Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
      {# Carnet Donante #}
      <div class="border border-black rounded-xl max-w-xs">
        <div class="h-9 border-t border-alert-dark rounded-t-xl bg-alert-dark"></div>
        <div class="px-base py-sm relative">
          <p class="font-bold">Donante de sangre</p>
          <div class="h-12 mt-base"></div>
          <div class="flex items-center mb-sm">
            <div class="flex-1">
              {{ componentButton({
                "html": "Ver<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
                "classes": "c-button--sm",
                "href": "/"
              }) }}
            </div>
            <svg width="92" height="22" viewBox="0 0 92 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Carnet Donante de sangre" aria-label="Carnet Donante de sangre">
              <path d="M21.4668 5.1408L16.7496 6.08117C15.081 6.33307 13.3751 6.11417 11.8242 5.44912C10.873 4.88899 9.82854 4.50514 8.74101 4.31605C8.01015 4.20814 7.2674 4.20814 6.53653 4.31605L3.39169 4.87873L1.8501 5.14851V1.57202C2.63503 1.32437 3.47387 1.303 4.2704 1.51036C4.72521 1.65615 5.16217 1.85265 5.57304 2.09616C6.39966 2.6236 7.2943 3.03592 8.23228 3.32173C9.58167 3.65324 10.9912 3.65324 12.3406 3.32173L15.2928 2.78217L18.376 2.2272L21.4591 1.59514L21.4668 5.1408Z" fill="black"/>
              <path d="M5.9433 16.4715C7.94407 16.0081 10.0425 16.2307 11.9016 17.1036C13.4579 18.0249 15.2926 18.3585 17.0736 18.044L21.4671 17.2732V20.8111C20.8577 20.9779 20.2226 21.0301 19.5941 20.9653C19.2437 20.9206 18.9012 20.8272 18.5766 20.6878L16.2643 19.4931C14.8767 18.8835 13.3383 18.7036 11.8476 18.9766L2.47472 20.7032L1.83496 20.8111V17.25L2.60576 17.0959L4.70232 16.7105L5.96642 16.4715" fill="black"/>
              <path d="M1.83496 10.7671V8.03081L9.94373 6.55088C11.8975 6.30549 13.8797 6.66319 15.6245 7.57604C17.2643 8.37533 19.1317 8.57707 20.9044 8.14643L21.4671 8.03081V10.7671L19.6712 9.74968C18.3432 9.13409 16.8659 8.91463 15.4164 9.11763L10.4293 10.0272L8.63338 10.3509L4.09339 11.1757C3.31406 11.3212 2.50846 11.17 1.83496 10.7517" fill="black"/>
              <path d="M21.4671 11.7074V14.4051L13.42 15.8851C11.4814 16.1219 9.51651 15.7644 7.7855 14.8599C6.1383 14.0411 4.25543 13.8282 2.46701 14.2587L1.83496 14.382V11.6842L3.69258 12.7171C5.02331 13.3325 6.50303 13.5519 7.95508 13.3492L12.9421 12.4396L14.7227 12.085L19.2704 11.2449C20.032 11.1277 20.8103 11.2921 21.4594 11.7074" fill="black"/>
              <path d="M23.4253 12.0469V21.0035H26.4237C29.4529 21.0035 31.2412 19.3386 31.2412 16.5175C31.2412 13.6964 29.4144 12.0469 26.3158 12.0469H23.4253ZM25.4525 19.1921V13.8351H26.3235C28.1426 13.8351 29.1292 14.7832 29.1292 16.5175C29.1292 18.2518 28.1811 19.1921 26.2849 19.1921H25.4525Z" fill="black"/>
              <path d="M31.9731 12.0469V21.0035H37.9083V19.1921H33.9695V17.1495H37.862V15.3382H33.9695V13.8428H37.9083V12.0469H31.9731Z" fill="black"/>
              <path d="M45.6008 12.0469L42.3403 21.0035H44.46L45.4235 18.2749H48.1675L49.1156 21.0035H51.2816L47.9517 12.0469H45.6008ZM47.628 16.5714H45.9477L46.1635 15.9471C46.2779 15.647 46.3757 15.3408 46.4564 15.0299C46.4564 14.9528 46.5412 14.7909 46.6105 14.5443L46.703 14.2128C46.703 14.1743 46.703 14.0741 46.7801 13.9199C46.8726 14.2899 46.942 14.5597 47.0884 15.0067L47.2503 15.5L47.3967 15.9394L47.628 16.5714Z" fill="black"/>
              <path d="M51.6284 21.0035H53.6787V17.3422H53.9331C55.228 17.3422 55.3591 17.4733 56.2455 19.6932C56.338 19.9321 56.3919 20.0786 56.4305 20.1479L56.6078 20.5642C56.6663 20.7218 56.7385 20.8739 56.8236 21.0189H59.2747C58.5479 20.0706 57.9732 19.0148 57.5713 17.8895C57.486 17.5929 57.3299 17.3214 57.1164 17.0985C56.9029 16.8756 56.6384 16.7079 56.3457 16.61C56.8249 16.495 57.2499 16.2183 57.5489 15.8266C57.848 15.4349 58.0029 14.9521 57.9875 14.4595C57.9875 12.8562 56.9238 12.0469 54.7887 12.0469H51.6284V21.0035ZM53.6787 15.6079V13.7503H54.596C55.467 13.7503 55.8601 14.0355 55.8601 14.6753C55.8601 15.315 55.4284 15.6311 54.5652 15.6311L53.6787 15.6079Z" fill="black"/>
              <path d="M60.8474 12.0469L57.5869 21.0035H59.7066L60.6701 18.2749H63.4141L64.3622 21.0035H66.5281L63.1983 12.0469H60.8474ZM62.8746 16.5714H61.1942L61.4101 15.9471C61.5873 15.4307 61.649 15.2534 61.703 15.0376C61.7617 14.8788 61.8106 14.7167 61.8494 14.552L61.9496 14.2205C61.9496 14.182 61.9496 14.0818 62.0267 13.9276C62.1192 14.2976 62.1886 14.5674 62.335 15.0144L62.4969 15.5077L62.6433 15.9471L62.8746 16.5714Z" fill="black"/>
              <path d="M73.3032 16.425H71.3146V19.2461C70.9016 19.3701 70.4652 19.3947 70.0409 19.318C69.6167 19.2413 69.2165 19.0654 68.8731 18.8046C68.5297 18.5439 68.2528 18.2057 68.0649 17.8176C67.8771 17.4295 67.7836 17.0025 67.7921 16.5714C67.7726 16.1791 67.8366 15.787 67.9796 15.4211C68.1226 15.0552 68.3415 14.7237 68.6218 14.4485C68.9021 14.1732 69.2376 13.9605 69.606 13.8242C69.9745 13.6879 70.3677 13.6312 70.7596 13.6578C71.6673 13.6588 72.5546 13.9269 73.3109 14.4286V12.3706C72.4474 12.0166 71.5234 11.8334 70.59 11.8311C67.6919 11.8311 65.6724 13.7812 65.6724 16.5714C65.6724 19.3617 67.6456 21.1962 70.59 21.1962C71.5151 21.1928 72.4327 21.0312 73.3032 20.7183V16.425Z" fill="black"/>
              <path d="M83.4236 16.5023C83.4236 15.2686 82.9335 14.0854 82.0612 13.2131C81.1888 12.3407 80.0056 11.8506 78.7719 11.8506C77.5381 11.8506 76.355 12.3407 75.4826 13.2131C74.6102 14.0854 74.1201 15.2686 74.1201 16.5023C74.1201 17.7361 74.6102 18.9192 75.4826 19.7916C76.355 20.664 77.5381 21.1541 78.7719 21.1541C80.0056 21.1541 81.1888 20.664 82.0612 19.7916C82.9335 18.9192 83.4236 17.7361 83.4236 16.5023ZM81.2885 16.5023C81.2885 18.1904 80.2942 19.3234 78.7911 19.3234C77.2881 19.3234 76.2398 18.2058 76.2398 16.5717C76.2398 14.9376 77.2495 13.7506 78.7526 13.7506C80.2557 13.7506 81.2885 14.876 81.2885 16.5717" fill="black"/>
              <path d="M84.1943 12.0469V21.0035H86.2369V16.8798V16.4096V15.9009C86.2448 15.7571 86.2448 15.613 86.2369 15.4692V15.1378C86.3063 15.2688 86.3449 15.3613 86.3834 15.4307C86.4746 15.5639 86.557 15.7029 86.6301 15.8469L86.9923 16.4635L87.3777 17.0648L87.7323 17.6351L89.9136 21.0035H91.8098V12.0469H89.7672V15.3613C89.7672 16.1938 89.7672 16.8412 89.8366 17.3808C89.8366 17.4424 89.8366 17.5504 89.8366 17.6968C89.5078 17.0285 89.1317 16.3845 88.7112 15.7698L86.2832 12.0469H84.1943Z" fill="black"/>
              <path d="M30.9097 5.73383H28.921V8.55494C28.6447 8.64354 28.3555 8.68523 28.0654 8.67826C27.7022 8.67894 27.3426 8.60518 27.009 8.46153C26.6753 8.31788 26.3746 8.1074 26.1255 7.84306C25.8763 7.57872 25.6839 7.26613 25.5602 6.92458C25.4365 6.58302 25.3841 6.21975 25.4062 5.85715C25.3868 5.46477 25.4507 5.07272 25.5937 4.70681C25.7367 4.34091 25.9556 4.00943 26.2359 3.73419C26.5163 3.45895 26.8517 3.2462 27.2202 3.10993C27.5887 2.97365 27.9818 2.91695 28.3738 2.94355C29.2788 2.94606 30.1632 3.21406 30.9174 3.71434V1.67944C30.0528 1.33075 29.1288 1.15276 28.1965 1.1553C25.2983 1.1553 23.2788 3.09 23.2788 5.88028C23.2788 8.67056 25.2598 10.505 28.1965 10.505C29.1215 10.5017 30.0392 10.34 30.9097 10.0272V5.73383Z" fill="black"/>
              <path d="M41.0223 5.78066C41.0223 4.54694 40.5322 3.36374 39.6598 2.49137C38.7874 1.619 37.6042 1.12891 36.3705 1.12891C35.1368 1.12891 33.9536 1.619 33.0812 2.49137C32.2088 3.36374 31.7188 4.54694 31.7188 5.78066C31.7188 7.01438 32.2088 8.19757 33.0812 9.06994C33.9536 9.94231 35.1368 10.4324 36.3705 10.4324C37.6042 10.4324 38.7874 9.94231 39.6598 9.06994C40.5322 8.19757 41.0223 7.01438 41.0223 5.78066ZM38.8871 5.78066C38.8871 7.47641 37.8928 8.60177 36.3898 8.60177C34.8867 8.60177 33.8384 7.52265 33.8384 5.84232C33.8384 4.16199 34.8405 3.02121 36.3435 3.02121C37.8466 3.02121 38.8871 4.14657 38.8871 5.84232" fill="black"/>
              <path d="M41.7007 1.35634V10.313H45.4005C47.3737 10.313 48.5299 9.33407 48.5299 7.65374C48.5402 7.11059 48.3588 6.58118 48.0178 6.15835C47.6767 5.73553 47.1976 5.44628 46.6646 5.34135C47.0309 5.18728 47.3418 4.92582 47.5565 4.59144C47.7712 4.25706 47.8794 3.86548 47.867 3.46832C47.867 2.05006 46.9113 1.34863 44.9766 1.34863L41.7007 1.35634ZM43.7279 4.70159V3.0598H44.5989C45.5547 3.0598 45.8938 3.27562 45.8938 3.83059C45.8938 4.38557 45.5547 4.70159 44.6682 4.70159H43.7279ZM43.7279 8.4862V6.40505H44.8609C45.9169 6.40505 46.364 6.69795 46.364 7.45333C46.364 8.20871 45.9324 8.4862 44.938 8.4862H43.7279Z" fill="black"/>
              <path d="M50.9426 1.35645H48.9463V10.3131H50.9426V1.35645Z" fill="black"/>
              <path d="M51.8135 1.35645V10.3131H57.7486V8.50172H53.8175V6.45911H57.7101V4.64774H53.8175V3.16011H57.7486V1.35645H51.8135Z" fill="black"/>
              <path d="M58.6582 10.3131H60.7085V6.63639H60.9629C62.2578 6.63639 62.3889 6.76743 63.2753 8.94878C63.3755 9.19543 63.4294 9.34189 63.468 9.41126L63.6453 9.82749C63.7053 9.98316 63.7748 10.135 63.8534 10.2823H66.3122C65.5854 9.33387 65.0107 8.27808 64.6087 7.15283C64.5226 6.86321 64.3697 6.5979 64.1621 6.37831C63.9546 6.15872 63.6983 5.99101 63.414 5.88872C63.8737 5.76285 64.2778 5.48626 64.5616 5.10329C64.8453 4.72032 64.9922 4.25317 64.9787 3.77674C64.9787 2.16578 63.9227 1.35645 61.7876 1.35645H58.6582V10.3131ZM60.7085 4.91752V3.0599H61.5872C62.4582 3.0599 62.8513 3.3451 62.8513 3.98486C62.8513 4.62462 62.4197 4.94064 61.5564 4.94064L60.7085 4.91752Z" fill="black"/>
              <path d="M65.7803 1.35645V10.3131H67.8152V5.68832V5.17959C67.8256 5.0359 67.8256 4.89164 67.8152 4.74795V4.44734C67.8768 4.57837 67.9231 4.67087 67.9616 4.74024C68.0483 4.87485 68.128 5.01377 68.2006 5.15647L68.5628 5.7731L68.956 6.38203L69.3028 6.94471L71.4919 10.3131H73.3032V1.35645H71.2838V4.67087C71.2838 5.50332 71.2838 6.15079 71.3454 6.69035C71.3454 6.75201 71.3454 6.85992 71.3454 7.00638C71.0107 6.34126 70.6349 5.69768 70.2201 5.07939L67.8152 1.35645H65.7803Z" fill="black"/>
              <path d="M83.4392 5.78066C83.4392 4.54694 82.9492 3.36374 82.0768 2.49137C81.2044 1.619 80.0212 1.12891 78.7875 1.12891C77.5538 1.12891 76.3706 1.619 75.4982 2.49137C74.6258 3.36374 74.1357 4.54694 74.1357 5.78066C74.1357 7.01438 74.6258 8.19757 75.4982 9.06994C76.3706 9.94231 77.5538 10.4324 78.7875 10.4324C80.0212 10.4324 81.2044 9.94231 82.0768 9.06994C82.9492 8.19757 83.4392 7.01438 83.4392 5.78066ZM81.3041 5.78066C81.3041 7.47641 80.3098 8.60177 78.8068 8.60177C77.3037 8.60177 76.2554 7.46099 76.2554 5.78066C76.2554 4.10032 77.2575 2.95955 78.7682 2.95955C80.279 2.95955 81.3041 4.08491 81.3041 5.78066Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
      {# Carnet Joven #}
      <div class="border border-black rounded-xl max-w-xs">
        <div class="h-9 border-t border-info-base rounded-t-xl bg-info-base"></div>
        <div class="px-base py-sm relative">
          <p class="font-bold">Joven</p>
          <div class="h-12 mt-base">
            <span class="text-sm font-semibold text-white bg-alert-base px-xs py-sm">Caducado</span>
          </div>
          <div class="flex items-center mb-sm">
            <div class="flex-1">
              {{ componentButton({
                "html": "Ver<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
                "classes": "c-button--sm",
                "href": "/"
              }) }}
            </div>
            <svg width="92" height="22" viewBox="0 0 92 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Carnet Joven" aria-label="Carnet Joven">
              <path d="M21.4668 5.1408L16.7496 6.08117C15.081 6.33307 13.3751 6.11417 11.8242 5.44912C10.873 4.88899 9.82854 4.50514 8.74101 4.31605C8.01015 4.20814 7.2674 4.20814 6.53653 4.31605L3.39169 4.87873L1.8501 5.14851V1.57202C2.63503 1.32437 3.47387 1.303 4.2704 1.51036C4.72521 1.65615 5.16217 1.85265 5.57304 2.09616C6.39966 2.6236 7.2943 3.03592 8.23228 3.32173C9.58167 3.65324 10.9912 3.65324 12.3406 3.32173L15.2928 2.78217L18.376 2.2272L21.4591 1.59514L21.4668 5.1408Z" fill="black"/>
              <path d="M5.9433 16.4715C7.94407 16.0081 10.0425 16.2307 11.9016 17.1036C13.4579 18.0249 15.2926 18.3585 17.0736 18.044L21.4671 17.2732V20.8111C20.8577 20.9779 20.2226 21.0301 19.5941 20.9653C19.2437 20.9206 18.9012 20.8272 18.5766 20.6878L16.2643 19.4931C14.8767 18.8835 13.3383 18.7036 11.8476 18.9766L2.47472 20.7032L1.83496 20.8111V17.25L2.60576 17.0959L4.70232 16.7105L5.96642 16.4715" fill="black"/>
              <path d="M1.83496 10.7671V8.03081L9.94373 6.55088C11.8975 6.30549 13.8797 6.66319 15.6245 7.57604C17.2643 8.37533 19.1317 8.57707 20.9044 8.14643L21.4671 8.03081V10.7671L19.6712 9.74968C18.3432 9.13409 16.8659 8.91463 15.4164 9.11763L10.4293 10.0272L8.63338 10.3509L4.09339 11.1757C3.31406 11.3212 2.50846 11.17 1.83496 10.7517" fill="black"/>
              <path d="M21.4671 11.7074V14.4051L13.42 15.8851C11.4814 16.1219 9.51651 15.7644 7.7855 14.8599C6.1383 14.0411 4.25543 13.8282 2.46701 14.2587L1.83496 14.382V11.6842L3.69258 12.7171C5.02331 13.3325 6.50303 13.5519 7.95508 13.3492L12.9421 12.4396L14.7227 12.085L19.2704 11.2449C20.032 11.1277 20.8103 11.2921 21.4594 11.7074" fill="black"/>
              <path d="M23.4253 12.0469V21.0035H26.4237C29.4529 21.0035 31.2412 19.3386 31.2412 16.5175C31.2412 13.6964 29.4144 12.0469 26.3158 12.0469H23.4253ZM25.4525 19.1921V13.8351H26.3235C28.1426 13.8351 29.1292 14.7832 29.1292 16.5175C29.1292 18.2518 28.1811 19.1921 26.2849 19.1921H25.4525Z" fill="black"/>
              <path d="M31.9731 12.0469V21.0035H37.9083V19.1921H33.9695V17.1495H37.862V15.3382H33.9695V13.8428H37.9083V12.0469H31.9731Z" fill="black"/>
              <path d="M45.6008 12.0469L42.3403 21.0035H44.46L45.4235 18.2749H48.1675L49.1156 21.0035H51.2816L47.9517 12.0469H45.6008ZM47.628 16.5714H45.9477L46.1635 15.9471C46.2779 15.647 46.3757 15.3408 46.4564 15.0299C46.4564 14.9528 46.5412 14.7909 46.6105 14.5443L46.703 14.2128C46.703 14.1743 46.703 14.0741 46.7801 13.9199C46.8726 14.2899 46.942 14.5597 47.0884 15.0067L47.2503 15.5L47.3967 15.9394L47.628 16.5714Z" fill="black"/>
              <path d="M51.6284 21.0035H53.6787V17.3422H53.9331C55.228 17.3422 55.3591 17.4733 56.2455 19.6932C56.338 19.9321 56.3919 20.0786 56.4305 20.1479L56.6078 20.5642C56.6663 20.7218 56.7385 20.8739 56.8236 21.0189H59.2747C58.5479 20.0706 57.9732 19.0148 57.5713 17.8895C57.486 17.5929 57.3299 17.3214 57.1164 17.0985C56.9029 16.8756 56.6384 16.7079 56.3457 16.61C56.8249 16.495 57.2499 16.2183 57.5489 15.8266C57.848 15.4349 58.0029 14.9521 57.9875 14.4595C57.9875 12.8562 56.9238 12.0469 54.7887 12.0469H51.6284V21.0035ZM53.6787 15.6079V13.7503H54.596C55.467 13.7503 55.8601 14.0355 55.8601 14.6753C55.8601 15.315 55.4284 15.6311 54.5652 15.6311L53.6787 15.6079Z" fill="black"/>
              <path d="M60.8474 12.0469L57.5869 21.0035H59.7066L60.6701 18.2749H63.4141L64.3622 21.0035H66.5281L63.1983 12.0469H60.8474ZM62.8746 16.5714H61.1942L61.4101 15.9471C61.5873 15.4307 61.649 15.2534 61.703 15.0376C61.7617 14.8788 61.8106 14.7167 61.8494 14.552L61.9496 14.2205C61.9496 14.182 61.9496 14.0818 62.0267 13.9276C62.1192 14.2976 62.1886 14.5674 62.335 15.0144L62.4969 15.5077L62.6433 15.9471L62.8746 16.5714Z" fill="black"/>
              <path d="M73.3032 16.425H71.3146V19.2461C70.9016 19.3701 70.4652 19.3947 70.0409 19.318C69.6167 19.2413 69.2165 19.0654 68.8731 18.8046C68.5297 18.5439 68.2528 18.2057 68.0649 17.8176C67.8771 17.4295 67.7836 17.0025 67.7921 16.5714C67.7726 16.1791 67.8366 15.787 67.9796 15.4211C68.1226 15.0552 68.3415 14.7237 68.6218 14.4485C68.9021 14.1732 69.2376 13.9605 69.606 13.8242C69.9745 13.6879 70.3677 13.6312 70.7596 13.6578C71.6673 13.6588 72.5546 13.9269 73.3109 14.4286V12.3706C72.4474 12.0166 71.5234 11.8334 70.59 11.8311C67.6919 11.8311 65.6724 13.7812 65.6724 16.5714C65.6724 19.3617 67.6456 21.1962 70.59 21.1962C71.5151 21.1928 72.4327 21.0312 73.3032 20.7183V16.425Z" fill="black"/>
              <path d="M83.4236 16.5023C83.4236 15.2686 82.9335 14.0854 82.0612 13.2131C81.1888 12.3407 80.0056 11.8506 78.7719 11.8506C77.5381 11.8506 76.355 12.3407 75.4826 13.2131C74.6102 14.0854 74.1201 15.2686 74.1201 16.5023C74.1201 17.7361 74.6102 18.9192 75.4826 19.7916C76.355 20.664 77.5381 21.1541 78.7719 21.1541C80.0056 21.1541 81.1888 20.664 82.0612 19.7916C82.9335 18.9192 83.4236 17.7361 83.4236 16.5023ZM81.2885 16.5023C81.2885 18.1904 80.2942 19.3234 78.7911 19.3234C77.2881 19.3234 76.2398 18.2058 76.2398 16.5717C76.2398 14.9376 77.2495 13.7506 78.7526 13.7506C80.2557 13.7506 81.2885 14.876 81.2885 16.5717" fill="black"/>
              <path d="M84.1943 12.0469V21.0035H86.2369V16.8798V16.4096V15.9009C86.2448 15.7571 86.2448 15.613 86.2369 15.4692V15.1378C86.3063 15.2688 86.3449 15.3613 86.3834 15.4307C86.4746 15.5639 86.557 15.7029 86.6301 15.8469L86.9923 16.4635L87.3777 17.0648L87.7323 17.6351L89.9136 21.0035H91.8098V12.0469H89.7672V15.3613C89.7672 16.1938 89.7672 16.8412 89.8366 17.3808C89.8366 17.4424 89.8366 17.5504 89.8366 17.6968C89.5078 17.0285 89.1317 16.3845 88.7112 15.7698L86.2832 12.0469H84.1943Z" fill="black"/>
              <path d="M30.9097 5.73383H28.921V8.55494C28.6447 8.64354 28.3555 8.68523 28.0654 8.67826C27.7022 8.67894 27.3426 8.60518 27.009 8.46153C26.6753 8.31788 26.3746 8.1074 26.1255 7.84306C25.8763 7.57872 25.6839 7.26613 25.5602 6.92458C25.4365 6.58302 25.3841 6.21975 25.4062 5.85715C25.3868 5.46477 25.4507 5.07272 25.5937 4.70681C25.7367 4.34091 25.9556 4.00943 26.2359 3.73419C26.5163 3.45895 26.8517 3.2462 27.2202 3.10993C27.5887 2.97365 27.9818 2.91695 28.3738 2.94355C29.2788 2.94606 30.1632 3.21406 30.9174 3.71434V1.67944C30.0528 1.33075 29.1288 1.15276 28.1965 1.1553C25.2983 1.1553 23.2788 3.09 23.2788 5.88028C23.2788 8.67056 25.2598 10.505 28.1965 10.505C29.1215 10.5017 30.0392 10.34 30.9097 10.0272V5.73383Z" fill="black"/>
              <path d="M41.0223 5.78066C41.0223 4.54694 40.5322 3.36374 39.6598 2.49137C38.7874 1.619 37.6042 1.12891 36.3705 1.12891C35.1368 1.12891 33.9536 1.619 33.0812 2.49137C32.2088 3.36374 31.7188 4.54694 31.7188 5.78066C31.7188 7.01438 32.2088 8.19757 33.0812 9.06994C33.9536 9.94231 35.1368 10.4324 36.3705 10.4324C37.6042 10.4324 38.7874 9.94231 39.6598 9.06994C40.5322 8.19757 41.0223 7.01438 41.0223 5.78066ZM38.8871 5.78066C38.8871 7.47641 37.8928 8.60177 36.3898 8.60177C34.8867 8.60177 33.8384 7.52265 33.8384 5.84232C33.8384 4.16199 34.8405 3.02121 36.3435 3.02121C37.8466 3.02121 38.8871 4.14657 38.8871 5.84232" fill="black"/>
              <path d="M41.7007 1.35634V10.313H45.4005C47.3737 10.313 48.5299 9.33407 48.5299 7.65374C48.5402 7.11059 48.3588 6.58118 48.0178 6.15835C47.6767 5.73553 47.1976 5.44628 46.6646 5.34135C47.0309 5.18728 47.3418 4.92582 47.5565 4.59144C47.7712 4.25706 47.8794 3.86548 47.867 3.46832C47.867 2.05006 46.9113 1.34863 44.9766 1.34863L41.7007 1.35634ZM43.7279 4.70159V3.0598H44.5989C45.5547 3.0598 45.8938 3.27562 45.8938 3.83059C45.8938 4.38557 45.5547 4.70159 44.6682 4.70159H43.7279ZM43.7279 8.4862V6.40505H44.8609C45.9169 6.40505 46.364 6.69795 46.364 7.45333C46.364 8.20871 45.9324 8.4862 44.938 8.4862H43.7279Z" fill="black"/>
              <path d="M50.9426 1.35645H48.9463V10.3131H50.9426V1.35645Z" fill="black"/>
              <path d="M51.8135 1.35645V10.3131H57.7486V8.50172H53.8175V6.45911H57.7101V4.64774H53.8175V3.16011H57.7486V1.35645H51.8135Z" fill="black"/>
              <path d="M58.6582 10.3131H60.7085V6.63639H60.9629C62.2578 6.63639 62.3889 6.76743 63.2753 8.94878C63.3755 9.19543 63.4294 9.34189 63.468 9.41126L63.6453 9.82749C63.7053 9.98316 63.7748 10.135 63.8534 10.2823H66.3122C65.5854 9.33387 65.0107 8.27808 64.6087 7.15283C64.5226 6.86321 64.3697 6.5979 64.1621 6.37831C63.9546 6.15872 63.6983 5.99101 63.414 5.88872C63.8737 5.76285 64.2778 5.48626 64.5616 5.10329C64.8453 4.72032 64.9922 4.25317 64.9787 3.77674C64.9787 2.16578 63.9227 1.35645 61.7876 1.35645H58.6582V10.3131ZM60.7085 4.91752V3.0599H61.5872C62.4582 3.0599 62.8513 3.3451 62.8513 3.98486C62.8513 4.62462 62.4197 4.94064 61.5564 4.94064L60.7085 4.91752Z" fill="black"/>
              <path d="M65.7803 1.35645V10.3131H67.8152V5.68832V5.17959C67.8256 5.0359 67.8256 4.89164 67.8152 4.74795V4.44734C67.8768 4.57837 67.9231 4.67087 67.9616 4.74024C68.0483 4.87485 68.128 5.01377 68.2006 5.15647L68.5628 5.7731L68.956 6.38203L69.3028 6.94471L71.4919 10.3131H73.3032V1.35645H71.2838V4.67087C71.2838 5.50332 71.2838 6.15079 71.3454 6.69035C71.3454 6.75201 71.3454 6.85992 71.3454 7.00638C71.0107 6.34126 70.6349 5.69768 70.2201 5.07939L67.8152 1.35645H65.7803Z" fill="black"/>
              <path d="M83.4392 5.78066C83.4392 4.54694 82.9492 3.36374 82.0768 2.49137C81.2044 1.619 80.0212 1.12891 78.7875 1.12891C77.5538 1.12891 76.3706 1.619 75.4982 2.49137C74.6258 3.36374 74.1357 4.54694 74.1357 5.78066C74.1357 7.01438 74.6258 8.19757 75.4982 9.06994C76.3706 9.94231 77.5538 10.4324 78.7875 10.4324C80.0212 10.4324 81.2044 9.94231 82.0768 9.06994C82.9492 8.19757 83.4392 7.01438 83.4392 5.78066ZM81.3041 5.78066C81.3041 7.47641 80.3098 8.60177 78.8068 8.60177C77.3037 8.60177 76.2554 7.46099 76.2554 5.78066C76.2554 4.10032 77.2575 2.95955 78.7682 2.95955C80.279 2.95955 81.3041 4.08491 81.3041 5.78066Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h3 mb-base">Otros datos y carnets</h2>
    {# DNI #}
    <div class="xl:flex items-center px-base border border-neutral-base rounded mb-base">
      <p class="flex-1 lg:flex items-center mt-base mb-0 pb-sm xl:pb-base">
        <span class="mr-lg text-lg font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-6 h-6 inline-flex -mt-1.5 mr-base mb-0.5" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M24 6.25a2 2 0 0 0-2-2h-6a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 1-1 0v-2.5a3 3 0 0 0-6 0v2.5a.5.5 0 0 1-1 0v-1.5a.5.5 0 0 0-.5-.5H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm-8 17.75a.5.5 0 0 1-.5-.5v-10.5a.5.5 0 0 1 .5-.5h19a.5.5 0 0 1 .5.5v10.5a.5.5 0 0 1-.5.5Z"/><path d="M19.25 13.5H14.5a.75.75 0 0 0 0 1.5h4.75a.75.75 0 0 0 0-1.5ZM18 16.5h-3.5a.75.75 0 0 0 0 1.5H18a.75.75 0 0 0 0-1.5ZM9.46 16.62a.89.89 0 0 1 0-.39 4 4 0 0 0 .86-2.77 2.29 2.29 0 1 0-4.58 0 4 4 0 0 0 .83 2.73c0 .09 0 .35.07.38-1.54.58-2.39 1-2.73 1.71a4.08 4.08 0 0 0-.37 1.15.47.47 0 0 0 .11.41A.49.49 0 0 0 4 20h8a.49.49 0 0 0 .38-.18.47.47 0 0 0 .11-.41 4.08 4.08 0 0 0-.37-1.15c-.34-.69-1.19-1.11-2.66-1.64Z"/></g></svg>DNI - 72988332A</span>
        <span class="table pt-sm lg:pt-0 mr-xs"><strong class="font-semibold bg-success-light px-xs">Vigente</strong> hasta 10 septiembre 2026</span>
        <strong class="block lg:inline text-alert-base lg:mr-base pt-xs md:pt-0"">(Quedan 6 meses)</strong>
      </p>
      <div>
        {{ componentButton({
          "text": "Ver detalles",
          "classes": "c-button--transparent mb-base xl:mb-0",
          "href": "/"
        })  }}
      </div>
    </div>
    {# Permisos conducir #}
    <div class="xl:flex items-center px-base border border-neutral-base rounded mb-base">
      <p class="flex-1 lg:flex items-center mt-base mb-0 pb-sm xl:pb-base">
        <span class="mr-lg text-lg font-semibold"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 inline-flex -mt-1.5 mr-base mb-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M5.062 4c-.572 0-1.073.39-1.213.95l-.39 1.562h7.081l-.389-1.562c-.14-.56-.64-.95-1.213-.95H5.062Zm-2.668.588a2.751 2.751 0 0 1 2.668-2.089h3.876c1.264 0 2.363.863 2.668 2.089l.622 2.493a.97.97 0 0 1 .006.029A2.501 2.501 0 0 1 14 9.5v1a1.5 1.5 0 0 1-1.5 1.5v1a1 1 0 1 1-2 0v-1h-7v1a1 1 0 1 1-2 0v-1A1.5 1.5 0 0 1 0 10.5v-1c0-1.125.743-2.077 1.766-2.39a.732.732 0 0 1 .006-.03l.622-2.492ZM2.375 9.5c0-.345.28-.625.625-.625h1a.625.625 0 1 1 0 1.25H3a.625.625 0 0 1-.625-.625ZM10 8.875a.625.625 0 1 0 0 1.25h1a.625.625 0 1 0 0-1.25h-1Z" clip-rule="evenodd"/></svg>Permisos de conducción</span>
      </p>
      <div>
        {{ componentButton({
          "text": "Ver detalles",
          "classes": "c-button--transparent mb-base xl:mb-0",
          "href": "/"
        })  }}
      </div>
    </div>

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h3 mb-base">Quizá te pueda interesar</h2>
    <ul>
      <li class="mb-sm"><a href="#" class="c-link">Carnet de familia numerosa</a></li>
      <li class="mb-sm"><a href="#" class="c-link">Carnet de banco de sangre</a></li>
    </ul>

  </div>
{% endblock %}