{% set title = "Mis tarjetas y carnets - Carnet A4. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.A4.njk" %}


{% block contentBlock %}
  <div class="float-left">
      <div class="float-left border-b border-neutral-base border-dashed" style="height: 136mm;">
        <!-- Primer cuadrante -->
        <div class="float-left w-6/12 h-full align-top py-lg pl-base pr-lg border-r border-neutral-base border-dashed">
          <h1 id="page-title" class="c-h3">
            <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mb-base w-36"/>
            Carnet de discapacidad
            <span class="block text-sm font-normal leading-tight">Instituto Aragonés de Servicios Sociales</span>
          </h1>
          <div class="p-base pb-0 border-t border-neutral-base">
            <img src="../../images/qr-mia.png" alt="QR carnet" aria-label="QR carnet" class="m-auto w-36"/>
            <p class="text-xs mt-sm text-center">Si no puedes leer el QR, puedes verificar el carnet con su código 0929347095464785624 a través de <a href="https://mia.aragon.es/validarQR" class="c-link">mia.aragon.es/validarQR</a></p>
          </div>
          <dl class="w-full mt-base">
            <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
              <dt class="text-sm">
                Titular
              </dt>
              <dd class="text-sm text-black font-semibold">
                María Jesús Rodriguez García
              </dd>
            </div>
            <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
              <dt class="text-sm">
                Fecha de caducidad
              </dt>
              <dd class="text-sm text-black font-semibold">
                12 diciembre 2026
              </dd>
            </div>
          </dl>
        </div>
        <!-- /primer cuadrante -->
        <!-- Segundo cuadrante -->
        <div class="float-left w-6/12 h-full align-top py-lg pl-lg pr-base">
          <h2 class="text-sm font-bold leading-none mb-xs">Titular</h2>
          <dl class="w-full">
            <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
              <dt class="text-sm text-black font-semibold">
                María Jesús Rodriguez García
              </dt>
              <dd class="text-sm text-black">
                NIF: 73230503K
              </dd>
            </div>
          </dl>
          <div class="mb-lg"></div><!--espaciador-->
          <h2 class="text-sm font-bold leading-none mb-xs">Datos adicionales</h2>
          <dl class="w-full inline-block">
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-2/4 p-xs text-sm">
                Fecha de caducidad
              </dt>
              <dd class="float-right w-2/4 p-xs text-sm text-right font-semibold">
                30 septiembre 2026
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-5/6 p-xs text-sm">
                Grado de discapacidad
              </dt>
              <dd class="float-right w-1/6 p-xs text-sm text-right font-semibold">
                33%
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-11/12 p-xs text-sm">
                Dificultades de movilidad
              </dt>
              <dd class="float-right w-1/12 p-xs text-sm text-right font-semibold">
                Sí
              </dd>
            </div>
            <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
              <dt class="float-left w-11/12 p-xs text-sm">
                Necesidad de asistencia de otra persona
              </dt>
              <dd class="float-right w-1/12 p-xs text-sm text-right font-semibold">
                Sí
              </dd>
            </div>
          </dl>
          <div class="mb-lg"></div><!--espaciador-->
          <h2 class="text-sm font-bold leading-none mb-xs">Datos de contacto de entidad emisora</h2>
          <dl class="w-full">
            <div class="py-sm px-xs -mb-px border-t border-b border-neutral-base">
              <dt class="text-sm text-black font-semibold">
                Instituto Aragonés de Servicios Sociales
              </dt>
              <dd class="text-sm text-black">
                <span class="block">Plaza del Pilar, 3, 50003 Zaragoza (Zaragoza)</span> 
                <span class="block">976 701 705</span>
                <span class="block"><a href="mailto:iass@aragon.es" class="c-link">iass@aragon.es</a></span>
              </dd>
            </div>
          </dl>
        </div>
        <!-- /segundo cuadrante -->
      </div>

      <div class="block" style="height: 136mm;">
        <!-- Tercer cuadrante vacio -->
        <div class="float-left w-6/12 h-full align-top py-lg pl-base pr-lg border-r border-neutral-base border-dashed">
        </div>
        <!-- /tercer cuadrante -->
        <!-- Cuarto cuadrante -->
        <div class="float-left w-6/12 h-full align-top py-lg pl-lg pr-base">
          <h2 class="text-sm font-bold leading-none mb-xs">Instrucciones de uso</h2>
          <dl class="mt-base">
            <div>
              <dt class="text-xs text-black font-bold">
                Qué es este documento
              </dt>
              <dd class="text-xs">
                Este documento es un carnet emitido por el Gobierno de Aragón. Manténgalo en buen estado y renuévelo cuando sea necesario. Es personal e intransferible.
              </dd>
            </div>
          </dl>
          <dl class="mt-base">
            <div>
              <dt class="text-xs text-black font-bold">
                Qué validez tienen
              </dt>
              <dd class="text-xs">
                Verifique la fecha de caducidad del documento para validar su vigencia. Después de esa fecha, el documento no será válido y requerirá renovación e impresión nuevamente.
              </dd>
            </div>
          </dl>
          <dl class="mt-base">
            <div>
              <dt class="text-xs text-black font-bold">
                Plegar este documento
              </dt>
              <dd class="text-xs">
                <ul class="c-ol">
                  <li>Sigue las líneas de puntos para doblar el certificado.</li>
                  <li class="-mt-3">Dobla por la mitad y luego hacia adentro.</li>
                </ul>
              </dd>
            </div>
          </dl>
          <dl class="mt-base">
            <div>
              <dt class="text-xs text-black font-bold">
                Validación de este documento
              </dt>
              <dd class="text-xs">
                <ul class="c-ol">
                  <li>Lleva contigo tu Documento de Identidad oficial.</li>
                  <li class="-mt-3">Muestra este documento  y tu Documento de Identidad para validar su autenticidad.</li>
                  <li class="-mt-3">En caso de de que alguna entidad quiera verificar el documento puede escanear el QR, y accederá a una página del Gobierno de Aragón donde podrá comprobar su validez.</li>
                </ul>
              </dd>
            </div>
          </dl>
           <p class="text-xs font-bold">Para más información visita: <a href="#" class="c-link">mía.aragon.es/validarQR</a></p>      
        </div>
        <!-- /cuarto cuadrante -->
      </div>
  </div>
{% endblock %}