{% set title = "Estructura de página con subheader y menú horizontal. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base mt-sm">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Section",
                "href": "/section"
              },
              {
                "text": "Sub-section",
                "href": "/section/sub-section"
              },
              {
                "text": "Sub Sub-section",
                "href": "/section/sub-section/sub-sub-section"
              }
            ]
          })  }}
        </div>
        <div class="lg:w-full mb-base lg:mb-lg">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="c-h2 mb-xs">
                <span class="block text-base font-semibold">Trámite</span> Título del item (h3)
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-lg w-full mb-sm">
          <div>
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Estado',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": 'En tramitación'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Fecha de inicio',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": '18 de noviembre'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Fecha de última actualización',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": '15 de diciembre'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
          </div>
          <div class="col-span-2">
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Responsable del procedimiento',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Departemento de Innovación, Investigación y Universidad<br><a href="#" class="c-link font-semibold">Contactar</a>'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Interesado',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": 'Tomás Pérez Pérez (tú)'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
          </div>
          <div>
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Número de registro',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": 'REG000012340000'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Número de expediente',
                    "classes": "text-sm text-neutral-dark"
                  },
                  "definition": {
                    "html": '3392834SD'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
          </div>
        </div>
        <div class="lg:w-full mb-base lg:mb-xl">
          {{ componentButton({
            "text": "Aportar documentación",
            "href": "#",
            "classes": "c-button"
          })  }}        
        </div>
        <div class="order-4 w-full mb-base lg:mb-0">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="mt-lg text-sm uppercase lg:sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs",
              "items": [
                {
                  "href": "http://www.google.com",
                  "text": "Subsección 1"
                },
                {
                  "href": "http://www.google.com",
                  "text": "Subsección 2",
                  "active": true
                },
                {
                  "href": "http://www.google.com",
                  "text": "Subsección 3"
                },
                {
                  "href": "http://www.google.com",
                  "text": "Subsección 4"
                }
              ],
              "attributes": {
                "aria-labelledby": "cabecera-menu"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Título de página (h1)</h1>
  <p class="c-paragraph-base">
    Aqui un ejemplo de párrafo explicativo de la página. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, nobis quae amet esse! Accusamus, enim. Corrupti expedita officia perferendis quas dicta earum placeat voluptates, laudantium at, optio minus consequuntur pariatur.
  </p>
  <p class="c-paragraph-base">
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> /
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a>
  </p>
{% endblock %}