{% set title = "Estructura de página con aside. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <div class="pb-lg"></div>
    <h1 class="c-h1">Título de página (h1)</h1>
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl">
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <h2 id="datos-generales" class="c-h2 c-anchor-scroll">Datos generales (h2)</h2>
        <p class="c-paragraph-base">
          Aqui un ejemplo de párrafo explicativo de la página. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, nobis quae amet esse! Accusamus, enim. Corrupti expedita officia perferendis quas dicta earum placeat voluptates, laudantium at, optio minus consequuntur pariatur.
        </p>
        <p class="c-paragraph-base">
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-inner-content-container').removeAttribute('aria-hidden'); openAlert('notification-inner-content', this);">Notification inner-content (sólo en páginas con barra lateral)</a>
        </p>
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <div class="mb-base">Aside</div>
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
  </div>
{% endblock %}

