{% set title = "Notificaciones No pendientes. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{# Definiciones #}
{% set contentTable1Row1Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>Notificación</p>
        <p><span class="sr-only">Recibida</span> 18 septiembre 2021</p>
      </div>
      <!-- /para mobile -->

      <p><a href="#" class="c-link"><span class="hidden lg:inline">Notificación -</span> Subsanación - Depósito de fianzas de contrato de arrendamiento en Régimen General</a></p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Servicio provincial de transportes</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm">
        <span class="sr-only">Estado</span> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg><strong>Aceptada</strong> <span class="text-neutral-dark">22 septiembre 2022</span>
      </p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}
{% set contentTable1Row2Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"/></svg>Comunicación</p>
        <p><span class="sr-only">Recibida</span> 11 septiembre 2021</p>
      </div>
      <!-- /para mobile -->

      <p><a href="#" class="c-link"><span class="hidden lg:inline">Comunicación -</span> Depósito de fianzas de contrato de arrendamiento en Régimen General</a></p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Servicio de Contratación y Régimen Jurídico</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm">
        <span class="sr-only">Estado</span> 
        <strong>Leída</strong> <span class="text-neutral-dark">27 septiembre 2022</span>
      </p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}
{% set contentTable1Row3Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>Notificación</p>
        <p><span class="sr-only">Recibida</span> 10 noviembre 2020</p>
      </div>
      <!-- /para mobile -->

      <p><span class="hidden lg:inline">Notificación -</span> Subsanación - Depósito de fianzas de contrato de arrendamiento en Régimen General</p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Instituto de Seguridad Laboral</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm">
        <span class="sr-only">Estado</span> 
        <strong>Rechazada - Plazo expirado</strong> <span class="text-neutral-dark">19 diciembre 2021</span>
      </p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h2">Notificaciones y comunicaciones</h1>
  
  {# Buscador #}
  <div class="mb-base lg:w-1/2">
    {{ componentSearchbar({
      "id": "buscador-resultados",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "placeholder": "Buscar un documento o dato que necesites"
    })  }}
  </div>

  {# Filtros #}
  {% include "includes/_filtros-busqueda-notificaciones.njk" %}

  <p class="c-paragraph-base lg:w-3/4 mb-0">Aquí se muestra las notificaciones y comunicaciones enviadas por los organismos del Gobierno de Aragón. <a href="https://dehu.redsara.es/" class="c-link" target="_blsnk" title="Este enlace se abre en pestaña nueva">Consulta las notificaciones de otras administraciones.</a></p>
 
  {# Pendientes #}
  <div class="pb-xl"></div><!--espaciador-->
  <h2 class="c-h3"><span class="sr-only">Notificaciones y comunicaciones</span> Pendientes</h2>
  <p class="c-paragraph-base text-neutral-dark">Actualmente no tienes notificaciones pendientes de aceptar.</p>
  
  {# Historial #}
  <div class="pb-lg"></div><!--espaciador-->
  <h2 class="c-h3">Historial <span class="sr-only">de notificaciones y comunicaciones</span></h2>
  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "head": [
        {
          "text": "Asunto y organismo",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Recibida",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Estado",
          "classes": "hidden lg:table-cell"
        }
      ],
      "rows": [
        [
          {
            "html": contentTable1Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": '18 septiembre 2021',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg><strong>Aceptada</strong></p>
                    <p class="text-sm text-neutral-dark">22 septiembre 2022</p>',
            "classes": "align-top hidden lg:table-cell"
          }
        ],
        [
          {
            "html": contentTable1Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": '11 septiembre 2021',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '<p><strong>Leída</strong></p>
                    <p class="text-sm text-neutral-dark">27 septiembre 2022</p>',
            "classes": "align-top hidden lg:table-cell"
          }
        ],
        [
          {
            "html": contentTable1Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": '10 noviembre 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '<p><strong>Rechazada - Plazo expirado</strong></p>
                    <p class="text-sm text-neutral-dark">19 diciembre 2021</p>',
            "classes": "align-top hidden lg:table-cell"
          }
        ]
      ],
      "classes": "w-full mt-base"
    })  }}
  </div>

  {# Paginacion #}  
  <div class="pb-sm"></div><!--espaciador-->
  {{ componentPagination({
    "id": "page-table-notificaciones",
    "hasSelect": true,
    "idPrefix": "pagination-results",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "attributes": {
      "aria-label": "Paginación"
    }
  })  }}

{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-rango-fecha.njk" %}
{% endblock %}
<!-- /modalBlock -->