{% set title = "Notificación Visualizar documento. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{# fin Dependencias #}


{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div class="flex flex-col-reverse lg:w-2/3">
      <h1 id="page-title" class="c-h2 mb-lg">Notificación - Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional</h1>
      <p class="c-paragraph-base mb-0">Documento</p>
    </div>
    <section class="mb-lg" aria-labelledby="acciones-sobre-documento">
      <h2 id="acciones-sobre-documento" class="sr-only">Acciones sobre el documento</h2>
      <ul class="flex flex-wrap gap-3">
        <li>
          {{ componentButton({
            "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="1em" width="1em" class="self-center mr-2" aria-hidden="true" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M7 0a1 1 0 0 1 1 1v5.5h1.5a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 4.5 6.5H6V1a1 1 0 0 1 1-1ZM2.5 11a1 1 0 1 0-2 0 3 3 0 0 0 3 3h7a3 3 0 0 0 3-3 1 1 0 1 0-2 0 1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1Z" clip-rule="evenodd"/></svg>Descargar archivo'
          })  }}
        </li>
        <li>
          {{ componentButton({
            "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="1em" width="1em" class="self-center mr-2" aria-hidden="true" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M3 1.25a.375.375 0 0 0-.375.375v10.55l4.017-2.812a.625.625 0 0 1 .716 0l4.017 2.812V1.625A.375.375 0 0 0 11 1.25H3Zm-1.625.375C1.375.728 2.103 0 3 0h8c.897 0 1.625.728 1.625 1.625v11.75a.625.625 0 0 1-.983.512L7 10.637l-4.642 3.25a.625.625 0 0 1-.983-.512V1.625Z" clip-rule="evenodd"/></svg>Hacer favorito'
          })  }}
        </li>
        <li>
          {% call componentDropdown({
            "html": 'Más opciones'
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "mas-opciones",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-mas-opciones",
                "aria-label": "Más opciones del documento"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Volver a generar"
                },
                {
                  "href": "#",
                  "text": "Enviar"
                },
                {
                  "href": "#",
                  "text": "Guardar en wallet"
                }
              ]
            })  }}
          {% endcall %}
        </li>
      </ul>
    </section>


  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-base lg:gap-xl">
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <!-- documento pdf -->
        <embed src="../../files/doc_prueba.pdf" type="application/pdf" class="w-full h-screen pb-base" title="Visor de PDF" />
        <!-- /documento pdf -->
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>

    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <div class="mb-base">
          {{ componentDescriptionList({
            "items": [
              {
                "term": {
                  "text": "Creado"
                },
                "definition": {
                  "html": '15 diciembre 2021'
                },
                "classes": "mb-base"
              },
              {
                "term": {
                  "text": "Emisor"
                },
                "definition": {
                  "html": 'Departamento de Innovación, Investigación y Universidad'
                },
                "classes": "mb-base"
              },
              {
                "term": {
                  "text": "Código de verificación (CSV)"
                },
                "definition": {
                  "html": '332658444774496615489494 <br><a href="#" class="c-link">¿Para qué sirve este número?</a>'
                },
                "classes": "mb-base"
              }
            ]
          })  }}
        </div>
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>    
  </div>
{% endblock %}

