{% set title = "Notificación aceptar - Generando justificante. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>

  <div class="w-full lg:w-3/4">
    {# Titulo #}
    <h1 id="page-title" class="c-h2 mb-sm">Acceso a la notificación</h1>
    <p class="c-paragraph-base mb-lg">
      Para poder ver esta notificación debes aceptarla. Esta acción generará un justifcante de aceptación con los datos que se muestran a continuación.
      <a href="#aceptarNotificacion" class="c-link block">¿Por qué tengo que aceptar la notificación?</a>
    </p>

    {{ componentDescriptionList({
      "classes": "flex flex-wrap w-full mb-base",
      "items": [
        {
          "term": {
            "html": 'Asunto de la notificación'
          },
          "definition": {
            "html": 'Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional'
          },
          "classes": "w-full mb-base"
        },
        {
          "term": {
            "html": 'Enviada desde'
          },
          "definition": {
            "html": 'Departamento de Innovación, Investigación y Universidad'
          },
          "classes": "w-full mb-base"
        },
        {
          "term": {
            "html": 'Disponible desde'
          },
          "definition": {
            "html": '15 diciembre 2021, 10:35'
          },
          "classes": "w-full mb-base"
        },
        {
          "term": {
            "html": 'Fecha de caducidad'
          },
          "definition": {
            "html": '25 diciembre 2021, 10:35 (Quedan 9 días)'
          },
          "classes": "w-full mb-base"
        }
      ]
    })  }}

    <p class="c-paragraph-base mb-xl"><a href="#" class="c-link font-semibold">Ver justificante de aceptación (PDF)</a></p>
    
    <!--spinner-->
    {{ componentSpinner({
      "classes": "lg:inline-block align-middle ml-base mr-lg pb-2xl lg:pb-0 text-4xl lg:text-2xl",
      "attributes": {
        "aria-hidden": true
      }
    })  }}
    <h2 class="lg:inline-block font-bold text-lg text-center lg:text-left">GENERANDO JUSTIFICANTE DE ACEPTACIÓN...</h2>
    <p class="c-paragraph-base lg:ml-12 mb-xl pb-lg text-neutral-dark text-center lg:text-left">
      Este proceso puede tardar varios segundos.
    </p>     
    <!--/spinner-->      

    <hr class="border-neutral-base my-xl"><!--linea separadora-->
    <h2 class="font-bold mb-base" id="aceptarNotificacion">¿Por qué tengo que aceptar la notificación?</h2>
    <p class="c-paragraph-base">
      Cuando aceptas la notificación puedes leer su contenido. En los trámites con la Administración es importante saber cuándo la persona destinataria lee la notificación, ya que determinados plazos y procesos de la tramitación dependen de ese momento exacto. Al aceptarla se deja constancia firme del día y la hora en el que se ha recibido y leído la notificación y se genera un justificante de aceptación que podrás descargar.
    </p>
    <p class="c-paragraph-base">
      Hay un plazo para aceptar las notificaciones. Una vez pasado ese plazo sin aceptarla, la notificación se considera automáticamente rechazada por fuera de plazo.
    </p>
    <p class="c-paragraph-base">
      En caso de rechazar una notificación, el trámite seguirá su curso.
    </p>

  </div>
{% endblock %}

