{% set title = "Notificación detalle Rechazada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>

  <div class="w-full lg:w-3/4">
    {# Titulo #}
    <div class="flex flex-col-reverse">
      <h1 id="page-title" class="c-h2 mb-lg">Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional</h1>
      <p class="c-paragraph-base mb-0">Notificación</p>
    </div>

    {# Estado #}
    <p class="c-paragraph-base flex mb-lg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="mr-base text-alert-dark" aria-hidden="true" focusable="false"><path d="M8.71 7.19a.28.28 0 0 1 0-.38l5-5a1.06 1.06 0 0 0 0-1.52 1.06 1.06 0 0 0-1.52 0l-5 5a.28.28 0 0 1-.38 0l-5-5A1.06 1.06 0 0 0 .32.32a1.06 1.06 0 0 0 0 1.52l5 5a.28.28 0 0 1 0 .38l-5 5a1.06 1.06 0 0 0 0 1.52 1.06 1.06 0 0 0 1.52 0l5-5a.28.28 0 0 1 .38 0l5 5a1.07 1.07 0 0 0 1.52-1.52Z" fill="currentColor" transform="scale(3.42857)"/></svg>
      <span class="flex-1">Notificación <strong>rechazada</strong> por Tomás Perez el 15 de dicimebre de 2021 a las 12:30.</span>
    </p>

    {# Contenido #}
    <h2 class="font-bold mb-sm">Contenido</h2>
    <p class="text-neutral-dark">Al rechazar la notificación no tienes acceso a su contenido</p>

    {# Detalles #}
    {% call componentDetails({
      "summary": {
        "html": "Mostrar detalles"
      },
      "classes": "mt-lg text-sm"
    })  %}
      {# Detalles DescriptionList #}
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Enviada desde'
            },
            "definition": {
              "html": 'Departamento de Innovación, Investigación y Universidad'
            },
            "classes": "w-full mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Asunto de la notificación'
            },
            "definition": {
              "html": 'Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional'
            },
            "classes": "w-full mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Disponible desde'
            },
            "definition": {
              "html": '15 diciembre 2020, 10:35'
            },
            "classes": "w-full mb-base lg:pr-base"
          },
          {
            "term": {
              "html": 'Rechazada'
            },
            "definition": {
              "html": '15 diciembre 2021, 12:30 por Tomás Pérez'
            },
            "classes": "w-full mb-base lg:pr-base"
          }
        ]
      })  }}
      {# Detalles Justificantes #}
      <div class="text-base mt-base">
        <h2 class="font-bold mb-sm">Justificantes de la notificación</h2>
        {% call componentItem({
          "title": {
            "text": "Justificante de puesta a disposición",
            "attributes": {
              "id": "justificante-1"
            }
          },
          "description": {
            "html": "CSV91238912373182",
            "classes": "text-sm text-neutral-dark"
          },
          "icon": {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
          },
          "classes": "mb-base"
        })  %}
            <ul class="flex flex-wrap gap-sm">
              <li>
                {% call componentDropdown({
                  "text": "Más",
                  "classes": "c-dropdown--transparent"
                })  %}
                  {{ componentNav({
                    "hasNav": false,
                    "idPrefix": "mas-acciones-justificante-1",
                    "items": [
                      {
                        "href": "#",
                        "text": "Acción 1"
                      },
                      {
                        "href": "#",
                        "text": "Acción 2"
                      },
                      {
                        "href": "#",
                        "text": "Acción 3"
                      }
                    ],
                    "classes": "w-max max-w-64",
                    "attributes": {
                      "aria-label": "Más acciones"
                    }
                  })  }}
                {% endcall %}                
              </li>
              <li><button id="btn-justificante-1" class=" c-button c-button--transparent " aria-labelledby="btn-justificante-1 justificante-1">Descargar</button></li>
            </ul>
        {% endcall %} 
        {% call componentItem({
          "title": {
            "text": "Justificante de acceso",
            "attributes": {
              "id": "justificante-2"
            }
          },
          "description": {
            "html": "CSV91238912373182",
            "classes": "text-sm text-neutral-dark"
          },
          "icon": {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
          },
          "classes": "mb-base"
        })  %}
            <ul class="flex flex-wrap gap-sm">
              <li>
                {% call componentDropdown({
                  "text": "Más",
                  "classes": "c-dropdown--transparent"
                })  %}
                  {{ componentNav({
                    "hasNav": false,
                    "idPrefix": "mas-acciones-justificante-2",
                    "items": [
                      {
                        "href": "#",
                        "text": "Acción 1"
                      },
                      {
                        "href": "#",
                        "text": "Acción 2"
                      },
                      {
                        "href": "#",
                        "text": "Acción 3"
                      }
                    ],
                    "classes": "w-max max-w-64",
                    "attributes": {
                      "aria-label": "Más acciones"
                    }
                  })  }}
                {% endcall %}                
              </li>
              <li><button id="btn-justificante-2" class=" c-button c-button--transparent " aria-labelledby="btn-justificante-2 justificante-2">Descargar</button></li>
            </ul>
        {% endcall %} 
      </div>
    {% endcall %}        

  </div>
{% endblock %}

