{% set title = "Notificaciones vacía. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h2">Notificaciones y comunicaciones</h1>
  
  {# Buscador #}
  <div class="mb-base lg:w-1/2">
    {{ componentSearchbar({
      "id": "buscador-resultados",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "placeholder": "Buscar un documento o dato que necesites"
    })  }}
  </div>

  {# Filtros #}
  {% include "includes/_filtros-busqueda-notificaciones.njk" %}

  <p class="c-paragraph-base lg:w-3/4 mb-0">Aquí se muestra las notificaciones y comunicaciones enviadas por los organismos del Gobierno de Aragón. <a href="https://dehu.redsara.es/" class="c-link" target="_blsnk" title="Este enlace se abre en pestaña nueva">Consulta las notificaciones de otras administraciones.</a></p>
 
  {# Pendientes #}
  <div class="pb-xl"></div><!--espaciador-->
  <h2 class="c-h3"><span class="sr-only">Notificaciones y comunicaciones</span> Pendientes</h2>
  <p class="c-paragraph-base text-neutral-dark">Actualmente no tienes notificaciones pendientes de aceptar.</p>
  
  {# Historial #}
  <div class="pb-lg"></div><!--espaciador-->
  <h2 class="c-h3">Historial <span class="sr-only">de notificaciones y comunicaciones</span></h2>
  <p class="c-paragraph-base text-neutral-dark">No has recibido ninguna comunicación.</p>

{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-rango-fecha.njk" %}
{% endblock %}
<!-- /modalBlock -->