{% set title = "Oposiciones - Info - Plazo abierto - Pendiente de presentar. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{# Definiciones #}
{% set iconClip %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
{% endset %}
{% set titleSolicitud %}
  <span class="font-bold pointer-events-none">Solicitud - Plazo abierto</span>
  <span class="block my-sm pointer-events-none">
    <span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Pendiente de presentar</span> quedan <span class="font-semibold text-alert-base">5 días</span>
  </span>
{% endset %}
{% set contentSolicitud %}
  <ul>
    <li class="flex my-sm">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Solicitud cumplimentada</span>
    </li>
    <li class="flex my-sm">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Pago efectuado.</span>
    </li>
    <li class="flex my-sm">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Pendiente de presentación. Debes presentarlo antes del 22 septiembre 2022. Necesitas firma digital.</span>
    </li>
  </ul>
  {{ componentButton({
    "html": 'Continuar inscripción',
    "classes": "mt-base"
  })  }}   
  <p class="text-neutral-dark mt-base">Documentos publicados</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de pago (51,5 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Solicitud cumplimentada (51,5 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>
            <h1 class="c-h1 mb-xs">14/0090 - Auxiliares de laboratorio</h1>
            <p class="text-neutral-dark">Plazo de solicitud abierta</p>
            <p class="c-paragraph-lg mb-0"><span class="font-semibold uppercase">Plazo de inscripción abierta</span> hasta el 22 septiembre 2022.</p>
            {{ componentButton({
              "text": "Continuar inscripción",
              "classes": "c-button--primary mt-lg"
            })  }} 
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
        <!-- mas detalles -->
        {% call componentDetails({
          "summary": {
            "html": "Ver detalles"
          },
          "classes": "w-full lg:w-3/4 my-lg"
        })  %}
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Publicación de la convocatoria',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '15 Agosto 2022 - Publicada en el <a href="#" class="c-link">Boletín Oficial del Estado (BOA) <abbr title="Número">Nº</abbr> 121</a>.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Especialidad',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Ayudantes y auxiliares de laboratorio.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Plazas ofertadas',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Total de 5 plazas de Turno libre de Grupo D. De las cuales 2 reservadas: 1 para violencia de género y 1 para personas trans.'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
        {% endcall %}
        <!-- /mas detalles -->
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Seguimiento</h2>
  <div class="w-full lg:w-3/4">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-5",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleSolicitud,
          "html": contentSolicitud,
          "disabled": true,
          "status": "current",
          "open": true
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Lista de Admitidos</span> <span class="block font-normal pointer-events-none">Pendiente de publicar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 1</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 2</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 3</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Fase de oposición</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Fase de concurso</span> <span class="block font-normal pointer-events-none">Pendiente</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Resolución final</span> <span class="block font-normal pointer-events-none">Pendiente</span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}
  </div> 

{% endblock %}