{% set title = "Oposiciones - Mis opsiciones listado múltiple. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>  
            <h1 class="c-h1 mb-sm">Oposiciones</h1>
            <p class="c-paragraph-lg">Infórmate de las oposiciones publicadas, inscríbete y haz seguimiento de tus oposiciones.</p>
            <div class="w-full lg:w-3/4 mb-xl">
              {{ componentNotification({
                "title": {
                  "text": "Si has realizado una solicitud para una oposición, puede tardar unas horas en aparecer. "
                },
                "type": "info",
                "id": "type-info"
              }) }}
            </div>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M23 23.71a1 1 0 0 0 0-1.42L20.61 20a.5.5 0 0 1-.07-.61 5.46 5.46 0 0 0 .77-2.81 5.53 5.53 0 1 0-5.53 5.53 5.46 5.46 0 0 0 2.81-.77.5.5 0 0 1 .61.07l2.34 2.35a1 1 0 0 0 1.46-.05Zm-7.18-3.65a3.53 3.53 0 1 1 3.53-3.53 3.54 3.54 0 0 1-3.57 3.53Z" fill="currentColor"/><path d="M15.25 23.7a.25.25 0 0 0-.22-.24 7 7 0 0 1 .72-14 6.93 6.93 0 0 1 4.1 1.33.25.25 0 0 0 .26 0 .24.24 0 0 0 .14-.22V6a2 2 0 0 0-1.6-2 .5.5 0 0 1-.4-.49V2a2 2 0 0 0-2-2H3.75a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3H15a.25.25 0 0 0 .25-.25ZM2.75 3a1 1 0 0 1 1-1H16a.25.25 0 0 1 .25.25v1.5A.25.25 0 0 1 16 4H3.75a1 1 0 0 1-1-1Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Búsqueda</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M22.82 4.1a.51.51 0 0 1-.34-.47 2 2 0 0 0-2-2.13H15a4.21 4.21 0 0 0-2.69.81.5.5 0 0 1-.63 0A4.2 4.2 0 0 0 9 1.5H3.52a2 2 0 0 0-2 2.13.51.51 0 0 1-.34.47A1.75 1.75 0 0 0 0 5.75v13a1.76 1.76 0 0 0 1.75 1.75H8c1.62 0 3 .43 3 1a1 1 0 0 0 2 0c0-.57 1.39-1 3-1h6.22A1.76 1.76 0 0 0 24 18.75v-13a1.75 1.75 0 0 0-1.18-1.65ZM11 5.68v11.51a.51.51 0 0 1-.63.49A4.79 4.79 0 0 0 9 17.5H4a.5.5 0 0 1-.5-.5V4a.5.5 0 0 1 .5-.5h5c2 0 2 1.18 2 2.18Zm4-2.18h5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-5a4.91 4.91 0 0 0-1.38.18.53.53 0 0 1-.44-.08.49.49 0 0 1-.2-.4V5.68C13 4.63 13.11 3.5 15 3.5Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Mis oposiciones</span></span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <h2 class="sr-only">Mis oposiciones</h2>
  
  {# Filtro #}
  <div class="mb-base">
    {{ componentToggle({
      "classes": "c-button c-button--sm",
      "offState": {
        "classes": "",
        "html": '<span class="c-button--is-not-pressed pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm6.5-3.25a.75.75 0 0 1 .75.75v1.75H9a.75.75 0 0 1 0 1.5H7.25V9a.75.75 0 0 1-1.5 0V7.25H4a.75.75 0 0 1 0-1.5h1.75V4a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>'
      },
      "onState": {
        "classes": "c-button--has-selection",
        "html": '<span class="c-button--is-pressed hidden pointer-events-none"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentcolor" fill-rule="evenodd" d="M6.5 1.5a5 5 0 1 0 0 10 5 5 0 0 0 0-10ZM0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5Zm4-.75a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 0-1.5H4Z" clip-rule="evenodd"/></svg>Buscar y filtrar</span></span>'
      },
      "attributes": {
        "aria-controls": "panel-filtros",
        "onclick": "toggleFilter()"
      }
    }) }}
        <script>
          function toggleFilter() {
            var elements = document.querySelectorAll('[data-module="hint-filtro"]');
            for (var i = 0; i < elements.length; i++) {
              elements[i].classList.toggle('hidden')
            }
          }
        </script>
        <div class="hidden" data-module="hint-filtro" id="panel-filtros">
          <div class="lg:w-2/5 my-base ">
            {{ componentSearchbar({
              "id": "buscador-resultados",
              "label": {
                "text": "Buscar"
              },
              "button": {
                "text": "Buscar",
                "type": "submit",
                "classes": "c-button--primary ml-sm"
              },
              "classes": "flex-1 pr-2",
              "placeholder": "Introduce un término de búsqueda"
            })  }}
          </div>
          {{ componentMenubar({
            "id": "menu-filtros",
            "idPrefix": "filter-menu",
            "ariaLabel": "Menú de filtros",
            "items": [
              {
                "text": "Estado",
                "ariaLabel": "Estado",
                "id": "menu-estado",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Estado de la oposición",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Todos los estados",
                          "checked": true
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 1"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 2"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Estado 3"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Fecha",
                "ariaLabel": "Fecha",
                "id": "menu-fecha",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [          
                    {
                      "role": "group",
                      "ariaLabel": "Fechas",          
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Último mes"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Último año"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Rango de fechas...",
                          "checked": true
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Eliminar filtros",
                "ariaLabel": "Eliminar filtros",
                "id": "menu-eliminar-filtros",
                "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
                "href": "#"
              }
            ]
          })  }}              
        </div>   
  </div>

  <div class="w-full lg:w-3/4">
    {# oposicion PENDIENTE DE PAGAR Y PRESENTAR #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p><a href="#" class="c-link font-semibold">14/0087 - Ingenieros informáticos</a></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="c-paragraph-base"><span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Pendiente de pagar y presentar</span> quedan <span class="font-semibold text-alert-base">5 días</span></p>
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Solicitud cumplimentada</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pago pendiente</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.2em" height="1.2em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pendiente de presentación</span>
          </li>
        </ul>
        {{ componentButton({
          "html": 'Continuar inscripción',
          "classes": "c-button--sm mt-base"
        })  }}        
      </div>
    </div> 

    {# oposicion SOLICITUD PRESENTADA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p><a href="#" class="c-link font-semibold">14/0091 - Auxiliares de asistencia en materia de registro</a></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p><span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud presentada</span></p>
      </div>
    </div> 

    {# oposicion SOLICITUDES MULTIPLES #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="px-base py-sm">
        {% call componentDetails({
          "summary": {
            "html": '8 solicitudes iniciadas - 2 presentadas',
            "classes": "text-sm font-semibold c-link"
          }
        }) %}
          {# listado #}
          <div class="lg:table w-full border-t border-neutral-base">
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484739</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="bg-success-light px-xs py-px uppercase font-semibold">Solicitud presentada</span> 
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484740</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="bg-success-light px-xs py-px uppercase font-semibold">Solicitud presentada</span> 
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484742</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>pagar y presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484743</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>pagar y presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484739</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="bg-success-light px-xs py-px uppercase font-semibold">Pagada</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484745</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>pagar y presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484746</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>pagar y presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
            <div class="lg:table-row py-sm border-b border-neutral-base">
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle">
                <div class="lg:flex self-center py-sm">
                  <span class="block lg:inline">Solicitud 3903484739</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="bg-success-light px-xs py-px uppercase font-semibold">Pagada</span> 
                  <span class="hidden lg:inline mx-sm text-neutral-dark leading-tight">|</span> 
                  <span class="block lg:inline text-alert-dark uppercase">Pendiente de <strong>presentar</strong></span>
                </div>
              </div>
              <div class="lg:table-cell lg:py-sm px-sm lg:border-b border-neutral-base align-middle lg:text-right">
                {{ componentButton({
                  "text": "Continuar inscripción",
                  "classes": "c-button--transparent"
                }) }}
              </div>
            </div>
          </div>
        {% endcall  %}
      </div>
    </div>

  </div> 

{% endblock %}