{% set title = "Oposiciones - Detalle plazo abierto. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <h1 class="c-h1 mb-xs">14/0090 - Auxiliares de laboratorio</h1>
    <p class="text-neutral-dark">Plazo de solicitud abierta</p>
    <p class="c-paragraph-lg">
      <span class="font-semibold uppercase">Plazo de inscripción abierta</span> hasta el 22 septiembre 2022.
    </p>
    {{ componentButton({
      "text": "Inscribirse",
      "classes": "c-button--primary"
    })  }} 

    <div class="pb-lg"></div>
    
    {{ componentDescriptionList({
      "items": [
        {
          "term": {
            "html": 'Publicación de la convocatoria',
            "classes": "font-semibold"
          },
          "definition": {
            "html": '15 Agosto 2022 - Publicada en el <a href="#" class="c-link">Boletín Oficial del Estado (BOA) <abbr title="Número">Nº</abbr> 121</a>.'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Especialidad',
            "classes": "font-semibold"
          },
          "definition": {
            "html": 'Ayudantes y auxiliares de laboratorio.'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Plazas ofertadas',
            "classes": "font-semibold"
          },
          "definition": {
            "html": 'Total de 5 plazas de Turno libre de Grupo D. De las cuales 2 reservadas: 1 para violencia de género y 1 para personas trans.'
          },
          "classes": "mb-base"
        },
        {
          "term": {
            "html": 'Fases de la oposición',
            "classes": "font-semibold"
          },
          "definition": {
            "html": 'Consta de tres exámenes y de una fase de concurso.'
          },
          "classes": "mb-base"
        }
      ]
    })  }}
  </div>
{% endblock %}

