{% set title = "Oposiciones - Mis opsiciones - Login vacía. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>  
            <h1 class="c-h1 mb-sm">Oposiciones</h1>
            <p class="c-paragraph-lg">Infórmate de las oposiciones publicadas, inscríbete y haz seguimiento de tus oposiciones.</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M23 23.71a1 1 0 0 0 0-1.42L20.61 20a.5.5 0 0 1-.07-.61 5.46 5.46 0 0 0 .77-2.81 5.53 5.53 0 1 0-5.53 5.53 5.46 5.46 0 0 0 2.81-.77.5.5 0 0 1 .61.07l2.34 2.35a1 1 0 0 0 1.46-.05Zm-7.18-3.65a3.53 3.53 0 1 1 3.53-3.53 3.54 3.54 0 0 1-3.57 3.53Z" fill="currentColor"/><path d="M15.25 23.7a.25.25 0 0 0-.22-.24 7 7 0 0 1 .72-14 6.93 6.93 0 0 1 4.1 1.33.25.25 0 0 0 .26 0 .24.24 0 0 0 .14-.22V6a2 2 0 0 0-1.6-2 .5.5 0 0 1-.4-.49V2a2 2 0 0 0-2-2H3.75a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3H15a.25.25 0 0 0 .25-.25ZM2.75 3a1 1 0 0 1 1-1H16a.25.25 0 0 1 .25.25v1.5A.25.25 0 0 1 16 4H3.75a1 1 0 0 1-1-1Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Búsqueda</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M22.82 4.1a.51.51 0 0 1-.34-.47 2 2 0 0 0-2-2.13H15a4.21 4.21 0 0 0-2.69.81.5.5 0 0 1-.63 0A4.2 4.2 0 0 0 9 1.5H3.52a2 2 0 0 0-2 2.13.51.51 0 0 1-.34.47A1.75 1.75 0 0 0 0 5.75v13a1.76 1.76 0 0 0 1.75 1.75H8c1.62 0 3 .43 3 1a1 1 0 0 0 2 0c0-.57 1.39-1 3-1h6.22A1.76 1.76 0 0 0 24 18.75v-13a1.75 1.75 0 0 0-1.18-1.65ZM11 5.68v11.51a.51.51 0 0 1-.63.49A4.79 4.79 0 0 0 9 17.5H4a.5.5 0 0 1-.5-.5V4a.5.5 0 0 1 .5-.5h5c2 0 2 1.18 2 2.18Zm4-2.18h5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-5a4.91 4.91 0 0 0-1.38.18.53.53 0 0 1-.44-.08.49.49 0 0 1-.2-.4V5.68C13 4.63 13.11 3.5 15 3.5Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Mis oposiciones</span></span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>

  <h2 id="resultados-busqueda" class="c-h3 mt-sm">Mis oposiciones</h2>
  <p class="c-paragraph-lg">Actualmente no estás inscrito en ninguna oposición.</p>

{% endblock %}