{% set title = "Oposiciones - Info - En proceso Resolución final aprobados - aprobado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{# Definiciones #}
{% set iconClip %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
{% endset %}
{% set titleSolicitud %}
  <span class="font-bold pointer-events-none">Solicitud - Plazo cerrado</span> 
  <span class="block font-normal pointer-events-none">Solicitud presentada</span>
{% endset %}
{% set contentSolicitud %}
  <p class="block my-sm pointer-events-none">
    <span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud presentada</span> el 15 septiembre 2022
  </p>
  <p class="text-neutral-dark mt-base">Documentos publicados</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (51,5 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de pago (51,5 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Solicitud cumplimentada (51,5 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set titleListaAdmitidos %}
  <span class="font-bold pointer-events-none">Lista de admitidos - Definitiva</span>
  <span class="block font-normal pointer-events-none">Solicitud admitida</span>
{% endset %}
{% set contentListaAdmitidos %}
  <p class="block my-sm pointer-events-none">
    <span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud admitida</span>
  </p>
  <p>Se ha publicado la lista de admitidos definitiva.</p>
  <p class="c-paragraph-base">En total han sido admitidas 1200 solicitudes.</p>
  <p class="text-neutral-dark">Documentos publicados</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Lista de admitidos definitiva (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Lista de admitidos provisional (PDF 53 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set titleExamen %}
  <span class="font-bold pointer-events-none">Examen 1 - Relación de aprobados</span> 
  <span class="block font-normal pointer-events-none">Examen aprobado</span>
{% endset %}
{% set contentExamen %}
  <p class="my-sm">
    <span class="bg-success-light px-xs py-xs uppercase font-semibold">Has aprobado el examen</span>
  </p>
  <p class="c-paragraph-base">Se han publicado la relación de aprobados.</p>
  <p><strong>200</strong> personas han superado este examen.</p>
  <p><strong>Nota de corte:</strong> 12,5 sobre 20.</p>
  <p class="c-paragraph-base"><strong>Tu nota:</strong> 13,5.</p>
  <p class="text-neutral-dark">Documentos publicados</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Relación de aprobados (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Apertura de plicas (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nota del examen (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Convocatoria lectura del examen (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Plantilla de respuestas (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Documento de la convocatoria (PDF 53 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set titleFaseOposicion %}
  <span class="font-bold pointer-events-none">Fase de oposición - Relación de aprobados</span> 
  <span class="block font-normal pointer-events-none">Oposición aprobada. 38 puntos obtenidos</span>
{% endset %}
{% set contentFaseOposicion %}
  <p class="my-sm">
    <span class="bg-success-light px-xs py-xs uppercase font-semibold">Has aprobado la fase de oposición con 38 puntos</span>
  </p>
  <p class="text-neutral-dark mt-base">Documentos publicados</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Relación de aprobados - Oposición (PDF 53 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set titleFaseConcurso %}
  <span class="font-bold pointer-events-none">Fase de concurso - Puntuación fase de concurso</span> 
  <span class="block font-normal pointer-events-none">40 puntos obtenidos</span>
{% endset %}
{% set contentFaseConcurso %}
  <p class="my-sm">
    <span class="bg-primary-light px-xs py-xs uppercase font-semibold">Has obtenido 40 puntos</span>
  </p>
  <p class="c-paragraph-base">Se ha publicado la puntuación de la fase de concurso.</p>
  <p class="text-neutral-dark mt-base">Documentos publicados</p>  
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Puntuación fase de concurso (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Apertura de plazo - Aportación de méritos (PDF 53 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set titleFaseResolucion %}
  <span class="font-bold pointer-events-none">Resolución final - Resolución final de aprobados</span> 
{% endset %}
{% set contentFaseResolucion %}
  <p class="mb-base">
    <span class="bg-success-light px-xs py-xs uppercase font-semibold">Has superado el proceso selectivo con 78 puntos</span>
  </p>
  <p class="c-paragraph-base">Para ser nombrado como funcionario <strong class="text-alert-base">debes aportar los documentos</strong> acreditativos de los requisitos de admisibilidad <strong class="text-alert-base">antes del 2 octubre 2022</strong>.</p>
  <ul>
    <li class="flex mt-xs mb-xs">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Proceso selectivo superado con una puntuación de 78.</span>
    </li>
    <li class="flex mt-xs mb-xs">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Aportar documentación antes del 2 octubre 2022, <strong class="text-alert-base">quedan 5 días</strong>.</span>
    </li>
    <li class="flex mt-xs mb-xs">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Nombramiento funcionarios en prácticas pendiente (Promoción interna no).</span>
    </li>
    <li class="flex mt-xs mb-xs">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
      <span class="flex-1">Nombramiento funcionarios de carrera pendiente.</span>
    </li>
  </ul>
  {{ componentButton({
    "html": 'Aportar documnetación',
    "classes": "mt-base"
  })  }} 
  <p class="text-neutral-dark mt-base">Documentos publicados</p>  
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Resolución final de aprobados BOA (PDF 53 Kb)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Notas finales (PDF 53 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>
            <h1 class="c-h1 mb-xs">14/0090 - Técnicos e inspectores de calidad alimentaria</h1>
            <p class="text-neutral-dark">En proceso</p>
            <p class="c-paragraph-lg mb-0 mt-xs"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Resolución final de aprobados</span> publicada el 22 septiembre 2022</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
        <!-- mas detalles -->
        {% call componentDetails({
          "summary": {
            "html": "Ver detalles"
          },
          "classes": "w-full lg:w-3/4 my-lg"
        })  %}
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Publicación de la convocatoria',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '15 Agosto 2022 - Publicada en el <a href="#" class="c-link">Boletín Oficial del Estado (BOA) <abbr title="Número">Nº</abbr> 121</a>.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Especialidad',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Ayudantes y auxiliares de laboratorio.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Plazas ofertadas',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Total de 5 plazas de Turno libre de Grupo D. De las cuales 2 reservadas: 1 para violencia de género y 1 para personas trans.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Tribunal',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<a href="#" class="c-link">Tribunal constituido (PDF 53 kb)</a>'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Lista de admitidos',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<ul><li><a href="#" class="c-link">Lista de admitidos definitiva (PDF 53 kb)</a></li><li><a href="#" class="c-link">Lista de admitidos provisional (PDF 53 kb)</a></li></ul>'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Relación de aprobados fase oposición',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<a href="#" class="c-link">Relación de aprobados (PDF 53 kb)</a>'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
        {% endcall %}
        <!-- /mas detalles -->
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Seguimiento</h2>
  <div class="w-full lg:w-3/4">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-5",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleSolicitud,
          "html": contentSolicitud,
          "status": "past"
        },
        {
          "headerHtml": titleListaAdmitidos,
          "html": contentListaAdmitidos,
          "status": "past"
        },
        {
          "headerHtml": titleExamen,
          "html": contentExamen,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 2 - Relación de aprobados</span> <span class="block font-normal pointer-events-none">Examen aprobado</span>',
          "html": contentExamen,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 3 - Relación de aprobados</span> <span class="block font-normal pointer-events-none">Examen aprobado</span>',
          "html": contentExamen,
          "status": "past"
        },
        {
          "headerHtml": titleFaseOposicion,
          "html": contentFaseOposicion,
          "status": "past"
        },
        {
          "headerHtml": titleFaseConcurso,
          "html": contentFaseConcurso,
          "status": "past"
        },
        {
          "headerHtml": titleFaseResolucion,
          "html": contentFaseResolucion,
          "disabled": true,
          "status": "current",
          "open": true
        }
      ]
    })  }}
  </div> 

{% endblock %}