{% set title = "Oposiciones - Info - Plazo cerrado Pública. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>
            <h1 class="c-h1 mb-xs">14/0090 - Auxiliares de laboratorio</h1>
            <p class="text-neutral-dark">Plazo de solicitud cerrado</p>
            <p class="c-paragraph-lg mb-0"><span class="font-semibold uppercase">Plazo de inscripción cerrado</span> el 22 septiembre 2022.</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
        <!-- mas detalles -->
        {% call componentDetails({
          "summary": {
            "html": "Ver detalles"
          },
          "classes": "w-full lg:w-3/4 my-lg"
        })  %}
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Publicación de la convocatoria',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '15 Agosto 2022 - Publicada en el <a href="#" class="c-link">Boletín Oficial del Estado (BOA) <abbr title="Número">Nº</abbr> 121</a>.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Especialidad',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Ayudantes y auxiliares de laboratorio.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Plazas ofertadas',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Total de 5 plazas de Turno libre de Grupo D. De las cuales 2 reservadas: 1 para violencia de género y 1 para personas trans.'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
        {% endcall %}
        <!-- /mas detalles -->
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Seguimiento</h2>
  <div class="w-full lg:w-3/4">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-5",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Solicitud - Plazo cerrado</span> <span class="block font-normal pointer-events-none">Cerrado el 22 septiembre 2022</span>',
          "disabled": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Lista de Admitidos</span> <span class="block font-normal pointer-events-none">Pendiente de publicar</span>',
          "disabled": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 1</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 2</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Examen 3</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Fase de oposición</span> <span class="block font-normal pointer-events-none">Pendiente de convocar</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Fase de concurso</span> <span class="block font-normal pointer-events-none">Pendiente</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Resolución final</span> <span class="block font-normal pointer-events-none">Pendiente</span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}
  </div> 

{% endblock %}