{% set title = "Oposiciones - Búsqueda resultados. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>  
            <h1 class="c-h1 mb-sm">Oposiciones</h1>
            <p class="c-paragraph-lg">Infórmate de las oposiciones publicadas, inscríbete y haz seguimiento de tus oposiciones</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M23 23.71a1 1 0 0 0 0-1.42L20.61 20a.5.5 0 0 1-.07-.61 5.46 5.46 0 0 0 .77-2.81 5.53 5.53 0 1 0-5.53 5.53 5.46 5.46 0 0 0 2.81-.77.5.5 0 0 1 .61.07l2.34 2.35a1 1 0 0 0 1.46-.05Zm-7.18-3.65a3.53 3.53 0 1 1 3.53-3.53 3.54 3.54 0 0 1-3.57 3.53Z" fill="currentColor"/><path d="M15.25 23.7a.25.25 0 0 0-.22-.24 7 7 0 0 1 .72-14 6.93 6.93 0 0 1 4.1 1.33.25.25 0 0 0 .26 0 .24.24 0 0 0 .14-.22V6a2 2 0 0 0-1.6-2 .5.5 0 0 1-.4-.49V2a2 2 0 0 0-2-2H3.75a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3H15a.25.25 0 0 0 .25-.25ZM2.75 3a1 1 0 0 1 1-1H16a.25.25 0 0 1 .25.25v1.5A.25.25 0 0 1 16 4H3.75a1 1 0 0 1-1-1Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Búsqueda</span></span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M22.82 4.1a.51.51 0 0 1-.34-.47 2 2 0 0 0-2-2.13H15a4.21 4.21 0 0 0-2.69.81.5.5 0 0 1-.63 0A4.2 4.2 0 0 0 9 1.5H3.52a2 2 0 0 0-2 2.13.51.51 0 0 1-.34.47A1.75 1.75 0 0 0 0 5.75v13a1.76 1.76 0 0 0 1.75 1.75H8c1.62 0 3 .43 3 1a1 1 0 0 0 2 0c0-.57 1.39-1 3-1h6.22A1.76 1.76 0 0 0 24 18.75v-13a1.75 1.75 0 0 0-1.18-1.65ZM11 5.68v11.51a.51.51 0 0 1-.63.49A4.79 4.79 0 0 0 9 17.5H4a.5.5 0 0 1-.5-.5V4a.5.5 0 0 1 .5-.5h5c2 0 2 1.18 2 2.18Zm4-2.18h5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-5a4.91 4.91 0 0 0-1.38.18.53.53 0 0 1-.44-.08.49.49 0 0 1-.2-.4V5.68C13 4.63 13.11 3.5 15 3.5Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Mis oposiciones</span></span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>

  {# Buscador #}
  <section class="w-full mb-base lg:mb-xl mt-sm" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    <div class="mb-base lg:w-1/2">
      {{ componentSearchbar({
        "id": "buscador-resultados",
        "label": {
          "text": "Búsqueda de convocatorias",
          "classes": "not-sr-only mb-sm text-lg font-bold"
        },
        "placeholder": "Buscar por nombre..."
      })  }}
    </div>
    {{ componentMenubar({
      "id": "menu-filtros",
      "idPrefix": "filter-menu",
      "ariaLabel": "Menú de filtros",
      "items": [
        {
          "id": "filtro-busqueda-oposiciones-1",
          "text": "Estado (1)",
          "ariaLabel": "Estado",
          "classes": "c-menubar__button--sm c-menubar__button--has-selection mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de estado",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "En plazo"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Plazo cerrado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "En proceso"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Finalizada",
                    "checked": true
                  }
                ]
              }
            ]
          }
        },
        {
          "id": "filtro-busqueda-oposiciones-2",
          "text": "Tipo de personal",
          "ariaLabel": "Tipo de personal",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de personal",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Personal funcionario"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Personal laboral"
                  }
                ]
              }
            ]
          }
        },
        {
          "id": "filtro-busqueda-oposiciones-3",
          "text": "Grupo",
          "ariaLabel": "Grupo",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de grupo",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Grupo A1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Grupo A2"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Grupo C1",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Grupo C2"
                  }
                ]
              }
            ]
          }
        },
        {
          "id": "filtro-busqueda-oposiciones-4",
          "text": "Categoría (1)",
          "ariaLabel": "Categoría",
          "classes": "c-menubar__button--sm c-menubar__button--has-selection mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de categoría",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "ATS/DUE de empresa"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "ATS de Atención Primaria"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Adminsitradores superiores (con opciones)",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Administrativos"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Agentes de apoyo y formación"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Agentes de extensión agraria"
                  }
                ]
              }
            ]
          }
        },
        {
          "id": "filtro-busqueda-oposiciones-5",
          "text": "Turno",
          "ariaLabel": "Turno",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de turno",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Libre ordinario"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Libre estabilización"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Promoción interna"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Personas con discapacidad",
                    "checked": true
                  }
                ]
              }
            ]
          }
        },
        {
          "id": "menu-eliminar-filtros",
          "text": "Eliminar filtros",
          "ariaLabel": "Eliminar filtros",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
  </section>
  
  {# listado resultados #}
  <section class="w-full" aria-labelledby="resultados-busqueda">
    <h2 id="resultados-busqueda" class="c-h3">Resultado de la búsqueda (6)</h2>
    <div class="bg-white border border-neutral-base">
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-1" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0060 - Técnicos e Inspectores de Calidad Alimentaria</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-success-base border border-success-base"></span><span class="font-semibold uppercase">Plazo de solicitud abierto</span> hasta 11 abril 2023 <span class="font-semibold text-alert-base">(Quedan 5 días)</span></li>
                <li class="lg:inline-block px-sm">7 plazas turno libre (3 en reserva)</li>
            </ul>
          </div>
          {# boton inscripcion #}
          <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
            <ul class="flex flex-wrap gap-sm">
              <li><button id="btn-oposicion-1" class="c-button" aria-labelledby="btn-oposicion-1 oposicion-1">Inscribirse</button></li>
            </ul>
          </div>
        </div>
      </div>
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-2" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0066 - Facultativos Técnicos de Patrimonio Cultural, Blibiotecas</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-success-base border border-success-base"></span><span class="font-semibold uppercase">Plazo de solicitud abierto</span> hasta 30 julio 2023</li>
                <li class="lg:inline-block px-sm">1 plaza de promoción interna</li>
            </ul>
          </div>
          {# boton inscripcion #}
          <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
            <ul class="flex flex-wrap gap-sm">
              <li><button id="btn-oposicion-2" class="c-button" aria-labelledby="btn-oposicion-2 oposicion-2">Inscribirse</button></li>
            </ul>
          </div>
        </div>
      </div>
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-3" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0088 - Auxiliar administrativo</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-success-base border border-success-base"></span><span class="font-semibold uppercase">Plazo de solicitud abierto</span> hasta 13 febrero 2023</li>
                <li class="lg:inline-block px-sm">3 plazas de estabilización</li>
            </ul>
          </div>
          {# boton inscripcion #}
          <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
            <ul class="flex flex-wrap gap-sm">
              <li><button id="btn-oposicion-3" class="c-button" aria-labelledby="btn-oposicion-3 oposicion-3">Inscribirse</button></li>
            </ul>
          </div>
        </div>
      </div>
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-4" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0090 - Auxiliares de laboratorio</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-black border border-neutral-base"></span><span class="font-semibold uppercase">Plazo de solicitud cerrado</span> el 31 julio 2023</li>
                <li class="lg:inline-block px-sm">6 plazas turno libre</li>
            </ul>
          </div>
        </div>
      </div>
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-5" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0090 - Auxiliares de laboratorio</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-warning-base border border-neutral-base"></span><span class="font-semibold uppercase">En proceso</span></li>
                <li class="lg:inline-block px-sm">1 plaza de personas con discapacidad</li>
            </ul>
          </div>
        </div>
      </div>
      {# item #}
      <div class="flex flex-wrap p-base -mb-px border-b border-neutral-base">
        <div class="lg:flex flex-1 self-center">
          <div class="lg:flex-1 lg:self-center">
            <p id="oposicion-6" class="lg:text-lg mb-sm"><a href="#" class="c-link">14/0090 - Auxiliares de laboratorio</a></p>
            <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
                <li class="lg:inline-block px-sm"><span class="inline-block w-4 h-4 rounded-full mr-sm -mb-px bg-neutral-light border border-neutral-base"></span><span class="font-semibold uppercase">Finalizada</span></li>
                <li class="lg:inline-block px-sm">6 plazas turno libre</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {# Paginacion #}  
    <div class="pb-sm"></div><!--espaciador-->
    {{ componentPagination({
      "id": "page-table-notificaciones",
      "hasSelect": true,
      "idPrefix": "pagination-results",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}  
  </section>

{% endblock %}