{% set title = "Oposiciones - Mis opsiciones listado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>  
            <h1 class="c-h1 mb-sm">Oposiciones</h1>
            <p class="c-paragraph-lg">Infórmate de las oposiciones publicadas, inscríbete y haz seguimiento de tus oposiciones.</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M23 23.71a1 1 0 0 0 0-1.42L20.61 20a.5.5 0 0 1-.07-.61 5.46 5.46 0 0 0 .77-2.81 5.53 5.53 0 1 0-5.53 5.53 5.46 5.46 0 0 0 2.81-.77.5.5 0 0 1 .61.07l2.34 2.35a1 1 0 0 0 1.46-.05Zm-7.18-3.65a3.53 3.53 0 1 1 3.53-3.53 3.54 3.54 0 0 1-3.57 3.53Z" fill="currentColor"/><path d="M15.25 23.7a.25.25 0 0 0-.22-.24 7 7 0 0 1 .72-14 6.93 6.93 0 0 1 4.1 1.33.25.25 0 0 0 .26 0 .24.24 0 0 0 .14-.22V6a2 2 0 0 0-1.6-2 .5.5 0 0 1-.4-.49V2a2 2 0 0 0-2-2H3.75a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3H15a.25.25 0 0 0 .25-.25ZM2.75 3a1 1 0 0 1 1-1H16a.25.25 0 0 1 .25.25v1.5A.25.25 0 0 1 16 4H3.75a1 1 0 0 1-1-1Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Búsqueda</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mb-xs" aria-hidden="true" focusable="false"><path d="M22.82 4.1a.51.51 0 0 1-.34-.47 2 2 0 0 0-2-2.13H15a4.21 4.21 0 0 0-2.69.81.5.5 0 0 1-.63 0A4.2 4.2 0 0 0 9 1.5H3.52a2 2 0 0 0-2 2.13.51.51 0 0 1-.34.47A1.75 1.75 0 0 0 0 5.75v13a1.76 1.76 0 0 0 1.75 1.75H8c1.62 0 3 .43 3 1a1 1 0 0 0 2 0c0-.57 1.39-1 3-1h6.22A1.76 1.76 0 0 0 24 18.75v-13a1.75 1.75 0 0 0-1.18-1.65ZM11 5.68v11.51a.51.51 0 0 1-.63.49A4.79 4.79 0 0 0 9 17.5H4a.5.5 0 0 1-.5-.5V4a.5.5 0 0 1 .5-.5h5c2 0 2 1.18 2 2.18Zm4-2.18h5a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-5a4.91 4.91 0 0 0-1.38.18.53.53 0 0 1-.44-.08.49.49 0 0 1-.2-.4V5.68C13 4.63 13.11 3.5 15 3.5Z" fill="currentColor"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Mis oposiciones</span></span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Mis oposiciones</h2>
  <div class="w-full lg:w-3/4">
    
    {# oposicion PENDIENTE DE PAGAR Y PRESENTAR #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Plazo de inscripción abierta</span> hasta el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="c-paragraph-base"><span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Pendiente de pagar y presentar</span> quedan <span class="font-semibold text-alert-base">5 días</span></p>
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Solicitud cumplimentada</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pago pendiente</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pendiente de presentación</span>
          </li>
        </ul>
        {{ componentButton({
          "html": 'Continuar inscripción',
          "classes": "mt-base"
        })  }}        
      </div>
    </div> 

    {# oposicion PENDIENTE DE PRESENTAR #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Plazo de inscripción abierta</span> hasta el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="c-paragraph-base"><span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Pendiente de presentar</span> quedan <span class="font-semibold text-alert-base">5 días</span></p>
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Solicitud cumplimentada</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pago efectuado</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Pendiente de presentación</span>
          </li>
        </ul>
        {{ componentButton({
          "html": 'Continuar inscripción',
          "classes": "mt-base"
        })  }}           
      </div>
    </div> 

    {# oposicion SOLICITUD PRESENTADA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Plazo de inscripción cerrado</span> el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p><span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud presentada</span></p>
      </div>
    </div> 

    {# oposicion SOLICITUD NO FINALIZADA A TIEMPO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Plazo de inscripción cerrado</span> el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p><span class="bg-alert-light px-xs py-xs uppercase font-semibold">Solicitud no finalizada a tiempo</span></p>
      </div>
    </div> 

    {# oposicion TRIBUNAL CONSTITUIDO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Tribunal constituido</span> el 22 septiembre 2022</p>
      </div>
    </div> 

    {# oposicion SOLICITUD ADMITIDA PROVISIONALMENTE #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Lista de admitidos provisional</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p><span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud admitida provisionalmente</span></p>
      </div>
    </div> 

    {# oposicion SOLICITUD EXCLUIDA PROVISIONALMENTE #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Lista de admitidos provisional</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="c-paragraph-base"><span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Solicitud excluida provisionalmente</span> tienes <span class="font-semibold text-alert-base">10 días hábiles para subsanar</span></p>
        <p class="c-paragraph-base mb-xs">Motivos de exclusión:</p>
        <ul class="list-disc ml-lg mb-xs">
          <li>G: falta el requisito de edad</li>
          <li>N: no justifica le exención del pago</li>
        </ul>
        {{ componentButton({
          "html": 'Subsanar',
          "classes": "mt-base"
        })  }}             
      </div>
    </div> 

    {# oposicion SOLICITUD ADMITIDA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Lista de admitidos definitiva</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p><span class="bg-success-light px-xs py-xs uppercase font-semibold">Solicitud admitida</span></p>
      </div>
    </div>

    {# oposicion SOLICITUD EXCLUIDA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Lista de admitidos definitiva</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="c-paragraph-base"><span class="bg-alert-base text-white px-xs py-xs uppercase font-semibold">Solicitud excluida</span></p>
        <p class="c-paragraph-base mb-xs">Motivos de exclusión:</p>
        <ul class="list-disc ml-lg mb-xs">
          <li>G: falta el requisito de edad</li>
          <li>N: no justifica le exención del pago</li>
        </ul>
      </div>
    </div>

    {# oposicion EXAMEN CONVOCADO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-base px-xs py-xs uppercase font-semibold">Examen 1 - Convocado</span> para el 22 septiembre 2022 a las 12:30</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver fechas y lugares de convocatoria',
          "classes": "c-button--transparent -my-base"
        })  }}        
      </div>
    </div>

    {# oposicion EXAMEN FINALIZADO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-light px-xs py-xs uppercase font-semibold">Examen 1 - Finalizado</span> el 22 septiembre 2022</p>
      </div>
    </div>

    {# oposicion EXAMEN FINALIZADO PLANTILLA RESPUESTAS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-light px-xs py-xs uppercase font-semibold">Examen 1 - Finalizado</span> el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver plantilla de respuestas',
          "classes": "c-button--transparent -my-base"
        })  }}        
      </div>
    </div>

    {# oposicion EXAMEN LECTURA CONVOCADA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-base px-xs py-xs uppercase font-semibold">Examen 1 - Lectura convocada</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver documento de la convocatoria',
          "classes": "c-button--transparent -my-base"
        })  }}        
      </div>
    </div>

    {# oposicion EXAMEN APROBADO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Examen 1 - Notas publicadas</span> el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-sm"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Has aprobado el examen</span></p>
        <p>200 de 1200 personas lo han superado.</p>       
        <p><strong>Nota de corte:</strong> 12,5 sobre 20.</p> 
        <p><strong>Tu nota:</strong> 13,5.</p> 
      </div>
    </div>

    {# oposicion EXAMEN NOTAS PUBLICADAS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-light px-xs py-xs uppercase font-semibold">Examen 1 - Notas publicadas</span> el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="text-lg mb-xs">
          <strong>Comprueba la nota del examen.</strong>
        </p>
        <p>200 de 1200 personas lo han superado.</p>       
        <p><strong>Nota de corte:</strong> 12,5 sobre 20.</p> 
      </div>
    </div>

    {# oposicion EXAMEN APERTURA DE PLICAS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-light px-xs py-xs uppercase font-semibold">Examen 1 - Apertura de plicas</span> para el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver fecha y lugar del acto público',
          "classes": "c-button--transparent -my-base"
        })  }}  
      </div>
    </div>

    {# oposicion EXAMEN RELACION DE APROBADOS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-light px-xs py-xs uppercase font-semibold">Examen 1 - Relación de aprobados</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver relación de aprobados',
          "classes": "c-button--transparent -my-base"
        })  }}  
      </div>
    </div>

    {# oposicion APROBADO FASE OPOSICION #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Relación de aprobados fase oposición</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-sm"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Has aprobado la fase de oposición con 38 puntos</span></p>
        {{ componentButton({
          "html": 'Ver resolución',
          "classes": "c-button--transparent mt-xs"
        })  }}
      </div>
    </div>

    {# oposicion PLAZO APORTACION DE MERITOS ABIERTO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-warning-base px-xs py-xs uppercase font-semibold">Plazo aportación de méritos abierto</span> hasta el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        {{ componentButton({
          "html": 'Ver resolución',
          "classes": "c-button--transparent -mt-base mb-xs"
        })  }}  
        <p class="c-paragraph-base">Debes aportar documentación antes del 2 octubre 2022.</p>
        {{ componentButton({
          "html": 'Aportar documentación'
        })  }}  
      </div>
    </div>

    {# oposicion PLAZO APORTACION DE MERITOS FINALIZADO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p class="mt-xs"><span class="bg-neutral-light px-xs py-xs uppercase font-semibold">Plazo aportación de méritos finalizado</span> el 22 septiembre 2022</p>
      </div>
    </div>

    {# oposicion PUNTUACION FASE DE CONCURSO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Puntuación fase de concurso</span> pubicado el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-sm"><span class="bg-primary-light px-xs py-xs uppercase font-semibold">Has obtenido 40 puntos</span></p>
        {{ componentButton({
          "html": 'Ver puntuación fase concurso',
          "classes": "c-button--transparent mt-xs"
        })  }}  
      </div>
    </div>

    {# oposicion PUNTUACION FINAL #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Técnicos e inspectores de calidad alimentaria</a></p>
        <p><span class="uppercase font-semibold">Puntuación final</span> publicada el 22 septiembre 2022</p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-sm"><span class="bg-primary-light px-xs py-xs uppercase font-semibold">Tu puntuación final es de 78 puntos</span></p>
        {{ componentDescriptionList({
          "classes": "w-full",
          "items": [
            {
              "term": {
                "text": "Tu puntuación oposición:",
                "classes": "w-52 mr-xs"
              },
              "definition": {
                "text": "38",
                "classes": "w-6 text-right"
              },
              "classes": "flex"
            },
            {
              "term": {
                "text": "Tu puntuación concurso:",
                "classes": "w-52 mr-xs"
              },
              "definition": {
                "text": "40",
                "classes": "w-6 text-right"
              },
              "classes": "flex"
            },
            {
              "term": {
                "text": "Tu puntuación final:",
                "classes": "w-52 mr-xs font-semibold"
              },
              "definition": {
                "text": "78",
                "classes": "w-6 text-right font-semibold"
              },
              "classes": "flex"
            }
          ]
        })  }}  
        {{ componentButton({
          "html": 'Ver puntuación final',
          "classes": "c-button--transparent mt-xs"
        })  }}  
      </div>
    </div>

    {# oposicion RESOLUCION FINAL DE APROBADOS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p class="mt-xs"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Resolución final de aprobados</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="text-lg mb-xs"><strong>Comprueba si has superado el preceso selectivo.</strong></p>
        {{ componentDescriptionList({
          "classes": "w-full",
          "items": [
            {
              "term": {
                "text": "Tu puntuación oposición:",
                "classes": "w-52 mr-xs"
              },
              "definition": {
                "text": "38",
                "classes": "w-6 text-right"
              },
              "classes": "flex"
            },
            {
              "term": {
                "text": "Tu puntuación concurso:",
                "classes": "w-52 mr-xs"
              },
              "definition": {
                "text": "2",
                "classes": "w-6 text-right"
              },
              "classes": "flex"
            },
            {
              "term": {
                "text": "Tu puntuación final:",
                "classes": "w-52 mr-xs font-semibold"
              },
              "definition": {
                "text": "40",
                "classes": "w-6 text-right font-semibold"
              },
              "classes": "flex"
            }
          ]
        })  }}  
      </div>
    </div>

    {# oposicion RESOLUCION FINAL DE APROBADOS SUPERADO PROCESO SELECTIVO #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Resolución final de aprobados</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-base"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Has superado el proceso selectivo con 78 puntos</span></p>
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Proceso selectivo superado con una puntuación de 78.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px text-alert-base" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 7A7 7 0 1 1 0 7a7 7 0 0 1 14 0ZM7 2.875c.345 0 .625.28.625.625v3a.625.625 0 1 1-1.25 0v-3c0-.345.28-.625.625-.625ZM7 10.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Aportar documentación antes del 2 octubre 2022, <strong class="text-alert-base">quedan 5 días</strong>.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios en prácticas y primer destino pendiente.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios de carrera pendiente.</span>
          </li>
        </ul>
        {{ componentButton({
          "html": 'Aportar documnetación',
          "classes": "mt-base"
        })  }} 
      </div>
    </div>

    {# oposicion PLAZO DE PRESENTACION DOCUMENTACION FINALIZADA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p><span class="uppercase font-semibold">Plazo de presentación de documentación finalizada</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <p class="mb-base"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Has superado el proceso selectivo con 78 puntos</span></p>
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Proceso selectivo superado con una puntuación de 78.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Plazo de aportación de documentación finalizado.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios en prácticas y primer destino pendiente.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios de carrera pendiente.</span>
          </li>
        </ul>
      </div>
    </div>

    {# oposicion NOMBRAMIENTO FUNCIONARIOS EN PRACTICAS #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p class="mt-xs"><span class="bg-success-light px-xs py-xs uppercase font-semibold">Nombramiento de funcionarios en prácticas</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
         <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Proceso selectivo superado con una puntuación de 78.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Plazo de aportación de documentación finalizado.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios en prácticas y primer destino publicado.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm mt-px" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M5.738.114a7.036 7.036 0 0 1 2.524 0 .75.75 0 0 1-.27 1.475 5.537 5.537 0 0 0-1.985 0A.75.75 0 1 1 5.738.114ZM4.066 1.429a.75.75 0 0 1-.19 1.044 5.535 5.535 0 0 0-1.403 1.403.75.75 0 1 1-1.234-.853 7.035 7.035 0 0 1 1.784-1.784.75.75 0 0 1 1.043.19Zm5.868 0a.75.75 0 0 1 1.043-.19 7.036 7.036 0 0 1 1.784 1.784.75.75 0 0 1-1.234.853 5.535 5.535 0 0 0-1.403-1.403.75.75 0 0 1-.19-1.044ZM.986 5.135a.75.75 0 0 1 .603.872 5.537 5.537 0 0 0 0 1.986.75.75 0 1 1-1.475.269 7.036 7.036 0 0 1 0-2.524.75.75 0 0 1 .872-.603Zm12.028 0a.75.75 0 0 1 .873.603 7.04 7.04 0 0 1 0 2.524.75.75 0 0 1-1.476-.27 5.541 5.541 0 0 0 0-1.985.75.75 0 0 1 .603-.872ZM1.43 9.934a.75.75 0 0 1 1.044.19 5.535 5.535 0 0 0 1.403 1.403.75.75 0 1 1-.853 1.234 7.036 7.036 0 0 1-1.784-1.784.75.75 0 0 1 .19-1.043Zm11.142 0a.75.75 0 0 1 .19 1.043 7.036 7.036 0 0 1-1.784 1.784.75.75 0 0 1-.853-1.234 5.534 5.534 0 0 0 1.403-1.403.75.75 0 0 1 1.044-.19Zm-7.436 3.08a.75.75 0 0 1 .872-.603 5.541 5.541 0 0 0 1.986 0 .75.75 0 1 1 .269 1.476 7.04 7.04 0 0 1-2.524 0 .75.75 0 0 1-.603-.873Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios de carrera pendiente.</span>
          </li>
        </ul> 
        <p class="mt-sm">La <a href="#" class="c-link"> resolución final de aprobados ha sido publicada</a> en el BOA el 30 septiembre 2022.</p>
      </div>
    </div>

    {# oposicion NOMBRAMIENTO FUNCIONARIOS DE CARRERA #}
    <div class="mb-base bg-white border border-neutral-base">
      <div class="p-base">
        <p class="text-lg"><a href="#" class="c-link font-semibold">14/0090 - Auxiliares de laboratorio</a></p>
        <p class="mt-xs"><span class="bg-success-base px-xs py-xs uppercase font-semibold">Nombramiento de funcionarios de carrera</span></p>
      </div>
      <hr class="border-neutral-base"><!--linea separadora-->
      <div class="p-base">
        <ul>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Proceso selectivo superado con una puntuación de 78.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Plazo de aportación de documentación finalizado.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios en prácticas y primer destino publicado.</span>
          </li>
          <li class="flex mt-xs mb-xs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.3em" height="1.3em" class="mr-sm" aria-hidden="true" focusable="false"><path  fill="currentColor" fill-rule="evenodd" d="M13.637 1.198a1 1 0 0 1 .134 1.408l-8.04 9.729-.003.003a1.924 1.924 0 0 1-1.5.692 1.923 1.923 0 0 1-1.499-.747l-.001-.003L.21 9.044a1 1 0 0 1 1.578-1.228l2.464 3.168 7.976-9.652a1 1 0 0 1 1.408-.134Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Nombramiento funcionarios de carrera publicado.</span>
          </li>
        </ul> 
        <p class="mt-sm">La <a href="#" class="c-link"> resolución final de aprobados ha sido publicada</a> en el BOA el 30 septiembre 2022.</p>     
      </div>
    </div>

  </div> 

{% endblock %}