{% set title = "Oposiciones - Info - Finalizada Documentos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>
            <h1 class="c-h1 mb-xs">14/0090 - Técnicos e inspectores de calidad alimentaria</h1>
            <p class="text-neutral-dark">Finalizada</p>
            <p class="c-paragraph-lg mb-0 mt-xs"><span class="bg-success-base px-xs py-xs uppercase font-semibold">Nombramiento funcionarios de carrera</span> el 22 septiembre 2022</p>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
        <!-- mas detalles -->
        {% call componentDetails({
          "summary": {
            "html": "Ver detalles"
          },
          "classes": "w-full lg:w-3/4 my-lg"
        })  %}
            {{ componentDescriptionList({
              "items": [
                {
                  "term": {
                    "html": 'Publicación de la convocatoria',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '15 Agosto 2022 - Publicada en el <a href="#" class="c-link">Boletín Oficial del Estado (BOA) <abbr title="Número">Nº</abbr> 121</a>.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Especialidad',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Ayudantes y auxiliares de laboratorio.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Plazas ofertadas',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": 'Total de 5 plazas de Turno libre de Grupo D. De las cuales 2 reservadas: 1 para violencia de género y 1 para personas trans.'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Tribunal',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<a href="#" class="c-link">Tribunal constituido (PDF 53 kb)</a>'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Lista de admitidos',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<ul><li><a href="#" class="c-link">Lista de admitidos definitiva (PDF 53 kb)</a></li><li><a href="#" class="c-link">Lista de admitidos provisional (PDF 53 kb)</a></li></ul>'
                  },
                  "classes": "mb-base"
                },
                {
                  "term": {
                    "html": 'Relación de aprobados fase oposición',
                    "classes": "font-semibold"
                  },
                  "definition": {
                    "html": '<a href="#" class="c-link">Relación de aprobados (PDF 53 kb)</a>'
                  },
                  "classes": "mb-base"
                }
              ]
            })  }}
        {% endcall %}
        <!-- /mas detalles -->
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span>'
                },
                {
                  "href": "#",
                  "html": '<span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>

  <h2 class="c-h3 mb-base">Documentos de la oposición</h2>
  <div class="w-full lg:w-3/4">
    {% call componentItem({
      "title": {
        "text": "Nombramiento de funcionarios de carrera (PDF 53Kb)",
        "attributes": {
          "id": "docs-18"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "20 abril 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 align-top text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-18" class="c-button c-button--transparent" aria-labelledby="btn-docs-18 docs-18">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Nombramiento de funcionarios en prácticas (PDF 53Kb)",
        "attributes": {
          "id": "docs-17"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "12 abril 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-17" class=" c-button c-button--transparent" aria-labelledby="btn-docs-17 docs-17">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Resolución final de aprobados BOA (PDF 53Kb)",
        "attributes": {
          "id": "docs-16"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "4 abril 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-16" class=" c-button c-button--transparent" aria-labelledby="btn-docs-16 docs-16">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Notas finales (PDF 53Kb)",
        "attributes": {
          "id": "docs-15"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "26 marzo 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-15" class=" c-button c-button--transparent" aria-labelledby="btn-docs-15 docs-15">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Puntuación fase de concurso (PDF 53Kb)",
        "attributes": {
          "id": "docs-14"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "18 marzo 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-14" class=" c-button c-button--transparent" aria-labelledby="btn-docs-14 docs-14">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Apertura de plazo - Aportación de méritos (PDF 53Kb)",
        "attributes": {
          "id": "docs-13"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "10 marzo 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-13" class=" c-button c-button--transparent" aria-labelledby="btn-docs-13 docs-13">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Relación de aprobados - Oposición (PDF 53Kb)",
        "attributes": {
          "id": "docs-12"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "2 marzo 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-12" class=" c-button c-button--transparent" aria-labelledby="btn-docs-12 docs-12">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Relación de aprobados (PDF 53Kb)",
        "attributes": {
          "id": "docs-11"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "22 febrero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-11" class=" c-button c-button--transparent" aria-labelledby="btn-docs-11 docs-11">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Apertura de plicas (PDF 53Kb)",
        "attributes": {
          "id": "docs-10"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "11 febrero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-10" class=" c-button c-button--transparent" aria-labelledby="btn-docs-10 docs-10">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Nota del examen 1 (PDF 53Kb)",
        "attributes": {
          "id": "docs-9"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "3 febrero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-9" class=" c-button c-button--transparent" aria-labelledby="btn-docs-9 docs-9">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Convocatoria lectura del examen (PDF 53Kb)",
        "attributes": {
          "id": "docs-8"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "25 enero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-8" class=" c-button c-button--transparent" aria-labelledby="btn-docs-8 docs-8">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Plantilla de respuestas (PDF 53Kb)",
        "attributes": {
          "id": "docs-7"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "17 enero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-7" class=" c-button c-button--transparent" aria-labelledby="btn-docs-7 docs-7">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Documento de la convocatoria (PDF 53Kb)",
        "attributes": {
          "id": "docs-6"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "10 enero 2021"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-6" class=" c-button c-button--transparent" aria-labelledby="btn-docs-6 docs-6">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Lista de admitidos definitiva (PDF 53Kb)",
        "attributes": {
          "id": "docs-5"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "21 diciembre 2020"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-5" class=" c-button c-button--transparent" aria-labelledby="btn-docs-5 docs-5">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Lista de admitidos provisional (PDF 53Kb)",
        "attributes": {
          "id": "docs-4"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "12 diciembre 2020"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-4" class=" c-button c-button--transparent" aria-labelledby="btn-docs-4 docs-4">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Convocatoria lectura del examen (PDF 53Kb)",
        "attributes": {
          "id": "docs-3"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "3 diciembre 2020"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-3" class=" c-button c-button--transparent" aria-labelledby="btn-docs-3 docs-3">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Plantilla de respuestas (PDF 53Kb)",
        "attributes": {
          "id": "docs-2"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "30 noviembre 2020"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-2" class=" c-button c-button--transparent" aria-labelledby="btn-docs-2 docs-2">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Documento de convocatoria (PDF 53Kb)",
        "attributes": {
          "id": "docs-1"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        },
        {
          "text": "18 noviembre 2020"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 lg:w-8 lg:h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>'
      },
      "classes": "mb-base"
    })  %}
        <ul class="flex flex-wrap gap-sm"><li><button id="btn-docs-1" class=" c-button c-button--transparent" aria-labelledby="btn-docs-1 docs-1">Descargar</button></li></ul>
    {% endcall %}
  </div>

{% endblock %}