{% set title = "Certificado de Retenciones e ingresos - firmado manualmente - PDF. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <!--Cabecera-->
  <div class="float-left w-full pt-base mb-base">
    <img src="../../images/logo-aragob.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="w-32"/>
  </div>
  <!--/cabecera-->


  <!--Contenidos-->
  <div class="float-left pb-sm">
    <h1 id="page-title" class="c-h2 mb-sm leading-tight" style="font-size:16pt;">
      Certificado de retenciones del Impuesto sobre la Renta de las Personas Físicas correspondiente al año 2023
    </h1>

    {# Datos personales #}
    <hr class="float-left w-full border my-sm"><!--linea separadora-->
    <div class="float-left w-full">
      <dl class="float-left w-4/6 pr-base">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Persona receptora
        </dt>
        <dd class="text-black leading-tight" style="font-size:9.5pt;">
          <span class="font-bold">Francisco Tomás Hernández de la Hoz Barrachina</span>
          <span class="block font-bold">NIF: 5011001D</span>
          <span class="block pt-px" style="font-size:8pt;">Avenida de la constitución nº31 9ºB, 50005, Villanueva del Rebollar de la Sierra. Zaragoza</span>
        </dd>
      </dl>
      <dl class="float-left w-2/6">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Entidad pagadora
        </dt>
        <dd class="text-black leading-tight" style="font-size:9.5pt;">
          Centro Investigación y Tecnología Agroalimentaria
          <span class="block pt-px" style="font-size:8pt;">NIF: S5011001D</span>
        </dd>
      </dl>
    </div>
    <hr class="float-left w-full border my-sm"><!--linea separadora-->
    {# fin Datos personales #}


    {# Rendimientos del trabajo #}
    <h2 class="float-left mt-sm mb-xs" style="font-size:10.5pt;">
      <span class="font-bold">Rendimientos del trabajo:</span> Detalle de las percepciones y de las retenciones e ingresos a cuenta
    </h2> 
    <div class="float-left w-full mb-base">
      <h3 class="c-h4 mb-0" style="font-size:8.5pt;">Rendimientos correspondientes al ejercicio</h3>
      <hr class="float-left w-full border-neutral-base my-0.5"><!--linea separadora-->
      <p class="float-left pr-lg" style="font-size:8pt;">Retribuciones dinerarias</p>
      <dl class="float-right text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Retenciones practicadas
        </dt>
        <dd class="text-black" style="font-size:11pt;">
          12.916,94
        </dd>
      </dl>
      <dl class="float-right pr-lg text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Importe íntegro satisfecho
        </dt>
        <dd class="text-black" style="font-size:11pt;">
          53.271,30 
        </dd>
      </dl>
      <hr class="float-left w-full border-neutral-base my-0.5"><!--linea separadora-->
      <p class="float-left pr-lg" style="font-size:8pt;">Retribuciones en especie</p>
      <dl class="float-right text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Ingresos a cuenta repercutidos
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-right pr-lg text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Ingresos a cuenta efectuados
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-right pr-lg text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Valoración
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <hr class="float-left w-full border-neutral-base my-0.5"><!--linea separadora-->
      <p class="float-left pr-lg" style="font-size:8pt;">Prestaciones derivadas de incapacidad laboral (ILT)</p>
      <dl class="float-right text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Ingresos a cuenta repercutidos
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-right pr-lg text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Ingresos a cuenta efectuados
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-right pr-lg text-right">
        <dt class="text-neutral-dark" style="font-size:7pt;">
          Valoración
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <hr class="float-left w-full border-neutral-base my-0.5"><!--linea separadora-->
      <dl class="float-left pr-xl text-right">
        <dt style="font-size:8pt;">
          Pensiones compensatorias
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-left pr-xl text-right">
        <dt style="font-size:8pt;">
          Anualidades de alimentos
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-left pr-xl text-right">
        <dt style="font-size:8pt;">
          Importes de las reducciones<sup>1</sup>
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <dl class="float-right text-right">
        <dt style="font-size:8pt;">
          Gastos fiscalmente deducibles<sup>2</sup>
        </dt>
        <dd class="text-black" style="font-size:9pt;">
          0,00
        </dd>
      </dl>
      <hr class="float-left w-full border-neutral-base my-0.5"><!--linea separadora-->
    </div>
    <div class="float-left w-full mb-base">
      <h3 class=" w-full c-h4 mb-0" style="font-size:8.5pt;">Rendimientos satisfechos en el ejercicio correspondientes a ejercicios anteriores<sup>3</sup> (atrasos) </h3>
      <p class="mb-sm leading-tight" style="font-size:8.5pt;">Percibir cantidades en concepto de atrasos, dará lugar a la presentación de una declaración complementaria del I.R.P.F. por cada uno de los ejercicios correspondientes. Estas declaraciones complementarias no conllevan intereses de demora ni recargos.</p>
      <table class="c-table w-full">
        <caption class="sr-only">Listado de rendimientos satisfechos en el ejercicio correspondientes a ejercicios anteriores</caption>
        <thead>
          <tr style="font-size:7pt;">
            <th scope="col" class="pb-xs text-left font-normal text-neutral-dark">Ejercicio de devengo</th>
            <th scope="col" class="w-32 pb-xs text-right font-normal text-neutral-dark">Importe íntegro satisfecho</th>
            <th scope="col" class="w-32 pb-xs text-right font-normal text-neutral-dark">Retenciones practicadas</th>
            <th scope="col" class="w-20 pb-xs text-right font-normal text-neutral-dark">Reducciones</th>
            <th scope="col" class="w-24 pb-xs text-right font-normal text-neutral-dark">Gastos deducibles</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2018</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2019</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2020</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2021</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2022</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2023</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">2024</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
        </tbody>
      </table>
    </div>
    {# fin Rendimientos del trabajo #}


    {# Dietas #}
    <div class="float-left w-full mb-base">
      <table class="c-table w-full">
        <caption class="sr-only">Listado de dietas exceptuadas de gravamen</caption>
        <thead>
          <tr style="font-size:7pt;">
            <th scope="col" class="pb-xs text-left" style="font-size:10.5pt;">Dietas exceptuadas de gravamen y rentas exentas de impuesto</th>
            <th scope="col" class="w-32 pb-xs text-right font-normal text-neutral-dark">Importe satisfecho</th>
            <th scope="col" class="w-24 pb-xs text-right font-normal text-neutral-dark">Gastos deducibles</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Deudas y asignaciones para gastos de viaje, en las cuantías de gravamen del IRPF</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Rentas exentas de IRPF inlcuidas por la empresa o entidad pagadora en el resumen anual de retenciones e ingresos a cuenta (mod. 190)</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
        </tbody>
      </table>    
    </div>
    {# fin Dietas #}


    {# Rendimientos de Actividades Economicas #}
    <div class="float-left w-full mb-base">
      <table class="c-table w-full">
        <caption class="sr-only">Listado de rendimientos de actividades económicas</caption>
        <thead>
          <tr style="font-size:7pt;">
            <th scope="col" class="pb-xs text-left" style="font-size:10.5pt;">Rendimientos de Actividades Económicas</th>
            <th scope="col" class="w-32 pb-xs text-right font-normal text-neutral-dark">Importe satisfecho</th>
            <th scope="col" class="w-24 pb-xs text-right font-normal text-neutral-dark">Gastos deducibles</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Rendimientos de actividades profesionales</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Rendimientos de actividades agrícolas</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Rendimientos de actividades económicas (art. 75.2, letra b) del Reglamento de impuestos</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
          <tr class="text-left border-t border-b border-neutral-base" style="font-size:8.5pt;">
            <td class="text-left">Rendimiento de las actividades empresariales en estimación objetiva previstas en el art. 95.6 del Reglamento de IRPF</td>
            <td class="text-right align-top">0,0</td>
            <td class="text-right align-top">0,0</td>
          </tr>
        </tbody>
      </table>   
    </div>
    {# fin Rendimientos de Actividades Economicas #}
    

    {# Firma #}
    <hr class="float-left w-full border my-sm"><!--linea separadora-->
    <div class="float-left w-full">
      <div class="float-left">
        <p class=" leading-tight" style="font-size:10.5pt;">
          Para que conste y sirva de justificante al interesado se expide este certificado
          <span class="block font-bold">Zaragoza a 11 de marzo de 2024</span>
          <span class="block font-bold">Ana Gómez Barrionuevo, Interventora General</span>
        </p>
      </div>
      <div class="float-right  mr-base"><img src="../../images/firma-manual.png" alt="Firmado ok" aria-label="Firmado ok" class="h-14 inline"/></div>
    </div>
    <hr class="float-left w-full border my-sm"><!--linea separadora-->
    {# fin Firma #}

  </div>
  <!--/contenidos-->


  <!--Pie-->
  <div class="float-left w-full">
    <ol class="c-ol" style="font-size:7pt;">
      <li style="margin-bottom:0px; padding-left:1rem">Referidas en el artículo 18, apartados 2 y 3, y/o disposiciones Transitorias 11ª y 12ª de la Ley del Impuesto</li>
      <li style="margin-bottom:0px; padding-left:1rem">Referidos en el artículo 19.2 de la Ley del impuesto. Cotizaciones a la Seguridad Social o a mutualidades generales obligatorias de funcionarios, detracciones de Derechos pasivos y cotizaciones a colegios de Huérfanos o entidades similares, y cuotas sindicales.</li>
      <li style="margin-bottom:0px; padding-left:1rem">A efectos de los dispuesto en el art. 14.2 b) de la Ley del Impuesto</li>
    </ol>
  </div>
  <!--pie-->
    
{% endblock %}