{% set title = "Certificado de datos de dependencia - PDF. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <!--Cabecera de impresion-->
  <div class="float-left w-full pt-base mb-lg text-xs">
    <div class="float-left w-1/2">
      <img src="../../images/logo-aragob.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="w-32"/>
    </div>
    <div class="float-right text-right w-1/2" style="font-size:10.5px;">
      <p>
        <span class="block">Código del documento</span>
        CSV3000092248/2023
      </p>
    </div>
  </div>
  <!--/cabecera de impresion-->


  <!--Contenidos-->
  <div class="float-left pb-lg">
    <h1 id="page-title" class="c-h2 mb-0 leading-7">
      Información sobre el grado de dependencia
    </h1>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora-->

    <div class="float-left w-full text-xs">
      <h2 class="c-h4">Datos de la solicitud de la información</h2>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Persona solicitante de la información
        </dt>
        <dd class="text-sm text-black">
          00000000X - María del Carmen Martínez González 
        </dd>
      </dl>
      <dl class="float-left">
        <dt class="text-xs text-neutral-dark">
          Fecha y hora de la solicitud
        </dt>
        <dd class="text-sm text-black">
          10 diciembre 2024, 12:34 
        </dd>
      </dl>
    </div>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora-->

    <p class="float-left text-base">
      Estos datos son suministrados a MiA por el <strong>Instituto Aragonés de Servicios Sociales</strong> de forma automatizada con un periodo de actualización diario.
    </p> 

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora-->  

    <div class="float-left w-full text-xs">
      <h2 class="c-h4">Datos de la persona interesada</h2>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          NIF
        </dt>
        <dd class="text-sm text-black">
          00000000X 
        </dd>
      </dl>
      <dl class="float-left">
        <dt class="text-xs text-neutral-dark">
          Nombre y apellidos
        </dt>
        <dd class="text-sm text-black">
          María del Carmen Martínez González 
        </dd>
      </dl>
    </div>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora--> 

    <div class="float-left w-full text-xs">
      <h2 class="c-h4">Datos de dependencia</h2>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Reconocimiento
        </dt>
        <dd class="text-sm text-black">
          Grado I - Dependencia moderada 
        </dd>
      </dl>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Puntos
        </dt>
        <dd class="text-sm text-black">
          65
        </dd>
      </dl>
      <dl class="float-left">
        <dt class="text-xs text-neutral-dark">
          Carácter
        </dt>
        <dd class="text-sm text-black">
          Provisional
        </dd>
      </dl>
    </div>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora--> 

    <div class="float-left w-full text-xs">
      <h2 class="c-h4">Datos adicionales</h2>
      <dl class="w-full inline-block text-xs pb-6">
        <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
          <dt class="float-left w-2/6 p-xs text-neutral-dark">
            Número de expediente
          </dt>
          <dd class="float-right w-4/6 p-xs font-semibold">
            DPSS 123456
          </dd>
        </div>
        <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
          <dt class="float-left w-2/6 p-xs text-neutral-dark">
            Fecha estimada de próxima revisión
          </dt>
          <dd class="float-right w-4/6 p-xs font-semibold">
            10 diciembre 2023
          </dd>
        </div>
        <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
          <dt class="float-left w-2/6 p-xs text-neutral-dark">
            Dirección principal
          </dt>
          <dd class="float-right w-4/6 p-xs font-semibold">
            Calle Andrés Vicente, s/n, 50018 - Zaragoza
          </dd>
        </div>
        <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
          <dt class="float-left w-2/6 p-xs text-neutral-dark">
            Dirección para notificaciones
          </dt>
          <dd class="float-right w-4/6 p-xs font-semibold">
            Calle Andrés Vicente, s/n, 50018 - Zaragoza
          </dd>
        </div>
        <div class="float-left w-full -mb-px border-t border-b border-neutral-base">
          <dt class="float-left w-2/6 p-xs text-neutral-dark">
            Datos de contacto
          </dt>
          <dd class="float-right w-4/6 p-xs font-semibold">
            <span class="block">978 87 89 48</span>
            <span class="block">978 87 89 48</span>
            <span class="block">correo@gmail.com</span>
          </dd>
        </div>
      </dl>
    </div>
    
    <div class="float-left w-full p-base my-base border-4 border-primary-base">
      <div class="float-left  mr-base"><img src="../../images/tic-firma.png" alt="Firmado ok" aria-label="Firmado ok" class="w-9 inline"/></div>
      <div class="float-left">
        <p class="font-bold">Firmado electrónicamente con sello del órgano.</p>
        <p class="text-xs">
          Autenticidad verificable mediante el Código Seguro de Verificación CSVDD1X36L2V6A200SRT
        </p>
      </div>
    </div>

  </div>
  <!--/contenidos-->


  <!--Pie de impresion-->
  <div class="float-left w-full pt-base border-t border-primary-base" style="font-size:9px;">
    <div class="float-left w-11/12">
      <p class="leading-tight">
        <span class="block">Firmado electrónicamente por sello de órgano.</span>
        Documento verificado en el momento de la firma y verificable en: https://mia.aragon.es/documentos  | CSV: CSVDD1X36L2V6A200SRT
      </p>
    </div>
    <div class="float-right text-right w-1/12">
      <img src="../../images/qr-mia.png" alt="Código QR" aria-label="Código QR" class="w-9 inline"/>
    </div>
  </div>
  <div class="float-left w-full py-base" style="font-size:9px;">
    <div class="float-left w-10/12">
      <p class="leading-tight">Becas Complementarias del programa Erasmus+ y a las de otros programas de movilidad internacional</p>
    </div>
    <div class="float-right text-right w-2/12">
      <p>Página 1 de 1</p>
    </div>
  </div>
  <!--pie de impresion-->
    
{% endblock %}