{% set title = "Certificado de antecedentes penales - PDF. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <!--Cabecera de impresion-->
  <div class="float-left w-full pt-base mb-lg text-xs">
    <div class="float-left w-1/2">
      <img src="../../images/logo-aragob.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="w-32"/>
    </div>
    <div class="float-right text-right w-1/2" style="font-size:10.5px;">
      <p>
        <span class="block">Código del documento</span>
        CSV3000092248/2023
      </p>
    </div>
  </div>
  <!--/cabecera de impresion-->


  <!--Contenidos-->
  <div class="float-left pb-lg">
    <h1 id="page-title" class="c-h2 mb-0 leading-7" style="font-size:27px;">
      Certificado de antecedentes penales
    </h1>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora-->

    <div class="float-left w-full text-xs">
      <h2 class="c-h4">Datos de la solicitud de la información</h2>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Persona solicitante de la información
        </dt>
        <dd class="text-sm text-black">
          00000000X - María del Carmen Martínez González 
        </dd>
      </dl>
      <dl class="float-left">
        <dt class="text-xs text-neutral-dark">
          Fecha y hora de la solicitud
        </dt>
        <dd class="text-sm text-black">
          10 diciembre 2024, 12:34 
        </dd>
      </dl>
    </div>

    <dl class="float-left mt-sm">
      <dt class="text-xs text-neutral-dark">
        Origen de los datos
      </dt>
      <dd class="text-sm text-black">
        Estos datos son suministrados a MiA por el Registro Central de Penados de forma automatizada con un periodo de actualización diario.
      </dd>
    </dl>

    <hr class="float-left w-full border-primary-base my-base"><!--linea separadora-->

    <p class="float-left text-lg leading-6 mb-base">
      A petición de la persona solicitante, se certifica que a 10 diciembre 2024 a las 12:34, consultada la Base de Datos del Registro Central de Penados <strong>NO CONSTAN ANTECEDENTES</strong> penales relativos a <strong>María del Carmen Martínez González</strong> con NIF: <strong>00000000X</strong>, con nacimiento en Zaragoza el 9 febrero 1995 y cuyo país de nacionalidad es España.
    </p> 

    <p class="float-left" style="font-size:13px;">Conforme a lo dispuesto en la Decisión Marco 2009/315/JAI del Consejo de 26 de febrero, relativa a la organización y al contenido del intercambio de información de los registros de antecedentes penales entre los Estados miembros, tratándose de ciudadanos que ostenten exclusivamente la nacionalidad española, el presente certificado incluye, en su caso, las condenas impuestas por otros Estados miembros de la Unión Europea, en los mismos términos en que tales condenas hayan sido notificadas, sin que exista necesariamente una equiparación entre los tipos delictivos del Estado de condena y los tipos delictivos nacionales.</p>
    

    <div class="float-left w-full p-base mt-xl mb-base border-4 border-primary-base">
      <div class="float-left  mr-base"><img src="../../images/tic-firma.png" alt="Firmado ok" aria-label="Firmado ok" class="w-9 inline"/></div>
      <div class="float-left">
        <p class="font-bold">Firmado electrónicamente con sello del órgano.</p>
        <p class="text-xs">
          Autenticidad verificable mediante el Código Seguro de Verificación CSVDD1X36L2V6A200SRT
        </p>
      </div>
    </div>

  </div>
  <!--/contenidos-->


  <!--Pie de impresion-->
  <div class="float-left w-full pt-base border-t border-primary-base" style="font-size:9px;">
    <div class="float-left w-11/12">
      <p class="leading-tight">
        <span class="block">Firmado electrónicamente por sello de órgano.</span>
        Documento verificado en el momento de la firma y verificable en: https://mia.aragon.es/documentos  | CSV: CSVDD1X36L2V6A200SRT
      </p>
    </div>
    <div class="float-right text-right w-1/12">
      <img src="../../images/qr-mia.png" alt="Código QR" aria-label="Código QR" class="w-9 inline"/>
    </div>
  </div>
  <div class="float-left w-full py-base" style="font-size:9px;">
    <div class="float-left w-10/12">
      <p class="leading-tight">Becas Complementarias del programa Erasmus+ y a las de otros programas de movilidad internacional</p>
    </div>
    <div class="float-right text-right w-2/12">
      <p>Página 1 de 1</p>
    </div>
  </div>
  <!--pie de impresion-->
    
{% endblock %}