{% set title = "Perfil de usuario. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Ir a inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>
  <h1 class="c-h1">Tu perfil en MiA</h1>
  <div class="w-full lg:w-3/4">
    <fieldset class="pb-base">
      <legend class="sr-only">Datos de Identidad</legend>
      {{ componentInput({
        "label": {
          "text": "Nombre"
        },
        "id": "input-nombre",
        "name": "nombre",
        "classes": "w-full lg:w-2/5",
        "value": "Tomás Pérez Palacios",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "text": "NIF o NIE"
        },
        "id": "input-nif",
        "name": "nif",
        "attributes": {
            "size": "19"
        },
        "value": "234556789N",
        "disabled": true
      })  }}
    </fieldset>
    <fieldset class="pb-base">
      <legend class="sr-only">Contacto</legend>
      <h2 id="datos-contacto" class="c-h2">Datos de contacto</h2>
      <p class="c-paragraph-base lg:c-paragraph-lg">
        Necesitamos estos datos para enviarte avisos puntuales sobre tus trámites y notificaciones.
      </p>
      {{ componentInput({
        "label": {
          "text": "Correo electrónico (Obligatorio)"
        },
        "id": "input-email",
        "name": "email",
        "classes": "w-full lg:w-2/5",
        "value": "tomasperez@gmail.com"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Teléfono móvil (Obligatorio)"
        },
        "id": "input-movil",
        "name": "movil",
        "attributes": {
            "size": "19"
        },
        "value": "652 000 000"
      })  }}
    </fieldset>
    <fieldset class="pb-base">
      <legend class="sr-only">Dirección</legend>
      <h2 id="dir-postal" class="c-h2">Dirección postal</h2>
      <p class="c-paragraph-base lg:c-paragraph-lg">
        Si lo deseas, indica tu dirección habitual para que no te preguntemos por ella cada vez que la necesitemos.
      </p>
      {% include "includes/_campos-direccion-postal.njk" %}
    </fieldset>
    <ul class="flex flex-wrap gap-sm">
      <li>
        {{ componentButton({
          "text": "Guardar",
          "classes": "c-button--primary"
        })  }}  
      </li>
      <li>  
        {{ componentButton({
          "text": "Cancelar",
          "classes": "c-button--transparent"
        })  }}
      </li>
    </ul>
  </div>
{% endblock %}

