{% set title = "Prueba de pasos verticales. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{# Definiciones #}
{% set contentCollapsible1 %}
  <p>Esta solicitud fue presentada en registro el día <strong>18 de septiembre a las 21:12</strong> con el número <strong>REG000012340000</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-base">
    <li class="my-sm">
      <a href="#" class="c-link flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
        <span class="flex-1">Nombre del archivo (JPG)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
        <span class="flex-1">Nombre del archivo (CSV)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set contentCollapsible2 %}
  <p>Se han detectado <strong>problemas</strong> con la información aportada. <strong>Se ha enviado una notificación con más detalles</strong>.</p>
  <ul class="flex flex-wrap gap-base mt-base mb-sm">
    <li>
      {{ componentButton({
        "text": "Ir a notificaciones"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Iniciar subsanación"
      })  }}  
    </li>
  </ul>
{% endset %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Prueba de pasos verticales</h1>

  <h2 class="c-h2">Con Collapsibles</h2>
  <!-- stepper Collapsible -->
  <div id="stepper" class="lg:w-2/3 lg:px-sm pt-lg pb-base border-t border-b border-neutral-base">
    {# paso 1 #}
    <div id="step1">
      <div class="rounded-full h-4 w-4 py-1 border-2 bg-primary-base border-primary-base"></div>
      <div class="ml-1.5 pt-5 border-l-4 border-primary-base">
        <div class="-mt-xl ml-base lg:ml-xl pb-lg">
          {{ componentCollapsible({
            "id": "paso-presentacion",
            "classes": "-mt-12 pb-base border-t-0 border-b border-neutral-base",
            "headerHtml": '<strong class="pointer-events-none">Presentado</strong><span class="block font-normal pointer-events-none">18 septiembre 2022</span>',
            "html": contentCollapsible1,
            "open": true
          })  }}
        </div>
      </div>
    </div>
    {# paso 2 #}
    <div id="step2">
      <div class="rounded-full h-4 w-4 py-1 border-2 border-primary-base"></div>
      <div class="ml-1.5 pt-5 border-l-4 border-neutral-base border-dashed">
        <div class="-mt-xl ml-base lg:ml-xl pb-lg">
          {{ componentCollapsible({
            "id": "paso-subsanacion",
            "classes": "-mt-12 pb-base border-t-0 border-b border-neutral-base",
            "headerHtml": '<strong class="text-alert-base pointer-events-none">Requiere subsanación</strong><span class="block font-normal pointer-events-none">20 diciembre 2022</span>',
            "html": contentCollapsible2,
            "open": true
          })  }}
        </div>
      </div>
    </div>
    {# paso 3 #}
    <div id="step3">
      <div class="rounded-full h-4 w-4 py-1 border-2 border-neutral-base"></div>
      <div class="ml-1.5 pt-5 border-l-4 border-transparent">
        <div class="-mt-xl ml-base lg:ml-xl">
          <p class="">Pendiente de finalización</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /stepper Collapsible -->


{% endblock %}