{% set title = "Donación de sangre - Portada sin datos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


<!-- notificationHeaderBlock -->
{% block notificationHeaderBlock %}
<section id="notification-header-container" aria-labelledby="notification-header-heading" class="sticky z-10 top-base w-full">
  <h2 id="notification-header-heading" class="sr-only">Avisos importantes</h2>
  <div class="mt-lg">
    {{ componentNotification({
      "title": {
        "html": 'Aviso'
      },
      "description": {
        "html": '<strong>Si eres donante y no aparece tu carnet de donante</strong>, es posible que tus <strong>datos</strong> estén <strong>incompletos</strong>. Por favor, comunícate con el banco de sangre y tejidos de Aragón en la manera que prefieras para verificar y actualizar tu información. ',
        "classes": "mb-base"
      },
      "items": [
        {
          "html": 'Teléfono: <a class="c-link" href="#">876 764 300</a>'
        },
        {
          "html": 'Correo electrónico: <a class="c-link" href="mailto:bsta@aragon.es">bsta@aragon.es</a>'
        },
        {
          "html": 'Presencial: Calle Ramón Salanova, 1, 50017 Zaragoza'
        }
      ],
      "type": "info",
      "id": "aviso",
      "isDismissible": true
    })  }}
  </div>
</section>
{% endblock %}
<!-- /notificationHeaderBlock -->

{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  
  {# Titulo + botones de acciones #}
  <div class="lg:flex lg:flex-wrap w-full">
    <div class="flex-1">
      <h1 id="page-title" class="c-h2 mb-sm lg:c-h1 lg:mb-base">Donación de sangre</h1>
      <p class="c-paragraph-base xl:w-5/6">
        En este espacio, puedes llevar a cabo el proceso para realizar tu donación de sangre y también acceder a tu historial de donaciones previas. 
      </p>
    </div>
    <section class="mt-lg mb-lg lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
        <li>
          {{ componentButton({
            "text": "Rellenar encuesta",
            "classes": "c-button--primary"
          })  }}
        </li>
      </ul>      
    </section>
  </div>
  
  {# De interes #}
  <section aria-labelledby="interes">
    <h2 id="interes" class="c-h3 lg:c-h2">Quizás te pueda interesar</h2> 
    <ul>
      <li class="mb-sm"><a class="c-link lg:text-lg" href="#">Página oficial del Banco de Sangre y Tejidos de Aragón</a></li>
      <li class="mb-sm"><a class="c-link lg:text-lg" href="#">Página oficial del Banco de Sangre y Tejidos de Aragón - Puntos de donación</a></li>
      <li class="mb-sm"><a class="c-link lg:text-lg" href="#">Autotest de aptitud para la donación de sangre</a></li>
      <li class="mb-sm"><a class="c-link lg:text-lg" href="#">Donación de médula - Fundación Josep Carreras</a></li>
    </ul>
  </section>

  <div class="pb-lg"></div><!--espaciador-->

  {# Requisitos #}
  <section aria-labelledby="requisitos" class="lg:w-3/4">
    <h2 id="requisitos" class="c-h3 mb-lg">¿Has pensado en el impacto que podrías tener en cientos de personas? Tu generosidad salva vidas. ¡Hazte donante de sangre!</h2> 
    <p class="c-paragraph-base">Requisitos para ser donante:</p>
    <ul class="c-ul mb-lg ml-sm">
      <li>Edad: Debes tener entre <strong>18 y 65 años</strong> (60 si es tu primera vez donando).</li>
      <li>Peso: Debes pesar al menos <strong>50 kg</strong>.</li>
      <li>Salud: Debes estar en <strong>buen estado</strong> de salud.</li>
      <li>Estilo de vida saludable: <strong>Evita</strong> prácticas de riesgo como la drogadicción, relaciones sexuales múltiples, y el alcoholismo crónico.</li>
      <li>Recuperación: Debes haber pasado al menos <strong>cuatro meses</strong> desde una cirugía, tatuaje, piercing o cualquier otra perforación en la piel. Consulta con el personal calificado del centro para obtener más información.</li>
    </ul>
    <p class="c-paragraph-base">Si quieres ser donante, haz clic en el botón "Rellenar encuesta" y dirígete al punto de donación más cercano. ¡Tu contribución puede marcar la diferencia!</p>
  </section>  

{% endblock %}
