{% set title = "Trámite detalle - Seguimiento - Tramitación iniciada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{# Definiciones #}
{% set iconClip %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
{% endset %}
{% set contentAccordionPresentado %}
  <p>Esta solicitud fue presentada en registro el día <strong>18 de septiembre a las 21:12</strong> con el número <strong>REG000012340000</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (JPG)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (CSV)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set contentAccordionTramitacionIniciada %}
  <p>Se ha asignado el <strong>expediente</strong> número <strong>3392834SD y se está tramitando</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Informe de valoración (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Propuesta de resolución (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set contentAccordionPendienteDeFinalizacion %}
  <p class="c-paragraph-base mb-lg">
    El trámite todavía no tiene fecha de finalización
  </p>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base mt-sm">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Mis trámites",
                "href": "#"
              },
              {
                "text": "Inscripción en el Registro de solicitantes de vivienda protegida de Aragón",
                "href": "#"
              }
            ]
          })  }}
        </div>
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="c-h2 mb-xs lg:w-2/3">
                <span class="block text-base font-semibold">Trámite</span> Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <!-- detalles -->
        {% call componentDetails({
          "summary": {
            "html": 'Mostrar detalles'
          },
          "classes": "w-full"
        })  %}
          <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-lg w-full mb-sm">
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Estado',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Finalizado'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de inicio',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '18 noviembre 2020'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de última actualización',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '15 diciembre 2020'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div class="col-span-2">
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Responsable del procedimiento',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Departamento de Innovación, Investigación y Universidad'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Persona interesada',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Tomás Pérez Pérez (tú)'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Número de registro',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'REG000012340000'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Número de expediente',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '3392834SD'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
          </div>
        {% endcall %}
        <!-- /detalles -->
        <div class="lg:w-full mb-xl mt-base">
          {{ componentButton({
            "text": "Aportar documentación",
            "href": "#",
            "classes": "c-button"
          })  }}        
        </div>        
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><g transform="scale(2)"><circle cx="2.5" cy="4" r="2.5" fill="currentColor"/><path d="M8.5 5H23a1 1 0 0 0 0-2H8.5a1 1 0 0 0 0 2Z" fill="currentColor"/><circle cx="2.5" cy="12" r="2.5" fill="currentColor"/><path d="M23 11H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor"/><circle cx="2.5" cy="20" r="2.5" fill="currentColor"/><path d="M23 19H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor"/></g></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span></span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M11 8h3.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2ZM11 12h7.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2Z" fill="currentColor" transform="scale(2)"/><path d="M23.71 5.71 18.29.29a1 1 0 0 0-.7-.29H8a2 2 0 0 0-2 2v11.17c0 .19.1.33.25.33h1.5a.25.25 0 0 0 .25-.25v-11A.25.25 0 0 1 8.25 2h8.82a.31.31 0 0 1 .18.07l4.68 4.68a.31.31 0 0 1 .07.18v12.82a.25.25 0 0 1-.25.25h-6a.25.25 0 0 0-.25.25v1.5a.25.25 0 0 0 .25.25H22a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7Z" fill="currentColor" transform="scale(2)"/><path d="M13 15H6a1 1 0 0 1-.8-.4l-.9-1.2a1 1 0 0 0-.8-.4H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(2)"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM19.5 22h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h1.75a.25.25 0 0 1 .25.25V13a.5.5 0 0 0 .31.46.47.47 0 0 0 .54-.11l2-2a.27.27 0 0 1 .36 0l2 2a.47.47 0 0 0 .35.15.43.43 0 0 0 .19 0 .5.5 0 0 0 .25-.5V2.25a.25.25 0 0 1 .25-.25H15a.49.49 0 0 1 .36.15l4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Notificaciones</span></span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="sr-only">Seguimiento</h1>
  <div class="pb-base"></div>
  <div class="w-full lg:w-3/4">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-1",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentado</span> <span class="block font-normal pointer-events-none">18 junio 2022</span>',
          "html": contentAccordionPresentado,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Tramitación iniciada</span> <span class="block font-normal pointer-events-none">16 diciembre 2022</span>',
          "html": contentAccordionTramitacionIniciada,
          "open": true,
          "status": "current",
          "disabled": true
        },
        {
          "headerHtml": '<span class="font-normal pointer-events-none">Pendiente de finalización</span>',
          "html": contentAccordionPendienteDeFinalizacion,
          "status": "pending",
          "disabled": true
        }
      ]
    })  }}    
  </div>
{% endblock %}