{% set title = "Trámite detalle - Mis registros. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}

{# Definiciones #}
{% set botonModalNota %}
  {{ componentPill({
    "text": "Vecinos Paseo Calanda",
    "classes": "text-sm mr-xs"
  }) }}  
  {{ componentButton({
    "text": "Eliminar",
    "classes": "c-button--sm c-button--transparent"
  }) }}
  {{ componentButton({
    "text": "Editar",
    "classes": "c-button--sm c-button--transparent",
    "attributes": {
      "onclick": "openDialog('modal-nota', this, 'anadir-nota')"
    }
  }) }}
{% endset %}
{% set iconClip %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
{% endset %}
{% set presentacion %}
  <p class="text-neutral-dark mt-sm">Documentos asociados</p>
  <ul class="mb-lg">
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Formulario del trámite (PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Solicitud de beca complementaria (PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Certificado colectivo empadronamiento (PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Anexo 1 (JPG)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Anexo 2 (CSV)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set subsanacion %}
  <p class="text-neutral-dark mt-sm">Documentos asociados</p>
  <ul class="mb-lg">
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Docs del ciudadano presentados(PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set aportaciondoc %}
  <p class="text-neutral-dark mt-sm">Documentos asociados</p>
  <ul class="mb-lg">
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Docs del ciudadano presentados(PDF)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base mt-sm">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Trámites",
                "href": "#"
              },
              {
                "text": "Becas complementarias a las del programa Erasmus + y a las de otros programas de movilidad internacional - Convocatoria 2022",
                "href": "#"
              }
            ]
          })  }}
        </div>
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="mb-xs lg:w-2/3">
                <span class="block text-base font-semibold">Trámite</span> <span class="text-lg font-bold leading-none lg:c-h2">Becas complementarias a las del programa Erasmus + y a las de otros programas de movilidad internacional - Convocatoria 2022</span>
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <!-- detalles -->
        {% call componentDetails({
          "summary": {
            "html": 'Mostrar detalles'
          },
          "classes": "w-full mb-base"
        })  %}
          <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-lg w-full mb-sm">
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Trámite',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'En tramitación'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de inicio',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '18 noviembre 2020'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de última actualización',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '15 diciembre 2020'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div class="col-span-2">
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Persona interesada',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Tomás Pérez Pérez (tú)'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Responsable del procedimiento',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Departamento de Innovación, Investigación y Universidad'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Notas del trámite',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": botonModalNota
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Número de expediente',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '3392834SD'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
          </div>
        {% endcall %}
        <!-- /detalles -->
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M10.5 3.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM.32 13.4a7.003 7.003 0 0 1 13.36 0c.095.304-.143.6-.462.6H.782c-.32 0-.557-.296-.462-.6Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Mis registros</span></span>',
                  "active": true
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M7 .066a1.21 1.21 0 0 0-.634.18l-5.91 3.87H.455c-.42.277-.547.754-.385 1.161.156.392.55.657 1.02.657h11.82c.47 0 .864-.265 1.02-.657.162-.407.034-.884-.385-1.16l-.001-.001-5.91-3.87A1.21 1.21 0 0 0 7 .066ZM0 11.877c0-.6.572-.889 1-.889h.055a.506.506 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.509.509 0 0 1-.003.054h1.958a.509.509 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.506.506 0 0 1-.003.054h1.958a.509.509 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.509.509 0 0 1-.003.054H13c.428 0 1 .289 1 .89v1.167c0 .6-.572.889-1 .889H1c-.428 0-1-.289-1-.89v-1.167Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Documentos</span></span>'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h3 mb-xs lg:sr-only">Mis registros</h1>
  <p class="c-paragraph-base">Consulta las acciones que has realizado en este trámite.</p>
  <div class="w-full lg:w-3/4">
    {{ componentAccordion({
      "idPrefix": "accordion-1",
      "headingLevel": 1,
      "allowMultiple": true,
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentación de la solicitud</span> <span class="block font-normal pointer-events-none">Registrada el 18 junio 21:12 con el número REG000012340000.</span>',
          "html": presentacion,
          "open": true
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Subsanación enviada</span> <span class="block font-normal pointer-events-none">Registrada el 18 junio 21:12 con el número REG000012340000.</span>',
          "html": subsanacion,
          "open": true
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Subsanación enviada</span> <span class="block font-normal pointer-events-none">Registrada el 18 junio 21:12 con el número REG000012340000.</span>',
          "html": subsanacion,
          "open": true
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Aportación de documentos</span> <span class="block font-normal pointer-events-none">Registrada el 18 junio 21:12 con el número REG000012340000.</span>',
          "html": aportaciondoc,
          "open": true
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Aportación de documentos</span> <span class="block font-normal pointer-events-none">Registrada el 18 junio 21:12 con el número REG000012340000.</span>',
          "html": aportaciondoc,
          "open": true
        }
      ]
    })  }}
    <div class="mt-xl pb-base lg:pb-0">
      {{ componentButton({
        "text": "Aportar documentación",
        "href": "#",
        "classes": "c-button"
      })  }}    
    </div>         
  </div>
{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-anadir-nota.njk" %}
{% endblock %}
<!-- /modalBlock -->