{% set title = "Trámite detalle - Notificaciones. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}

{# Definiciones #}
{% set contentTable1Row1Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>Notificación</p>
        <p><span class="sr-only">Recibida</span> 18 agosto 2022</p>
      </div>
      <!-- /para mobile -->

      <p class="font-bold" id="reg2"><span class="hidden lg:inline">Notificación -</span> Resolución - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional</p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Departamento de Innovación, Investigación y Universidad</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm font-bold">
        <span class="sr-only">Estado</span> 
        Pendiente <span class="text-alert-base">Caduca en 3 días</span>
      </p>
      <p class="lg:hidden mb-sm mt-base">
        <a href="#" role="button" draggable="false" class="c-link font-semibold" aria-labelledby="aceptarMob2 reg2"><span id="aceptarMob2">Aceptar</span></a>
      <p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}
{% set contentTable1Row2Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>Notificación</p>
        <p><span class="sr-only">Recibida</span> 15 diciembre 2020</p>
      </div>
      <!-- /para mobile -->

      <p><a href="#" class="c-link"><span class="hidden lg:inline">Notificación -</span> Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional</a></p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Departamento de Innovación, Investigación y Universidad</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm">
        <span class="sr-only">Estado</span> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Aceptada <span class="text-neutral-dark">20 diciembre 2020</span>
      </p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}
{% set contentTable1Row3Cell1 %}
  <div class="flex flex-wrap gap-3">
    <div class="w-6 hidden lg:table-cell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.2em" height="1.2em" class="mt-xs m-auto" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    </div>
    <div class="flex-1 py-sm lg:py-0">
      <!-- para mobile -->
      <div class="lg:hidden flex flex-wrap text-sm my-sm">
        <p class="flex-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.3em" height="1.3em" class="inline-flex align-middle mr-sm" aria-hidden="true" focusable="false"><path d="M12.78 4 9 .22A.75.75 0 0 0 8.5 0H2.75A1.76 1.76 0 0 0 1 1.75v10.5A1.76 1.76 0 0 0 2.75 14h8.5A1.76 1.76 0 0 0 13 12.25V4.5a.75.75 0 0 0-.22-.5Zm-1.28 8.25a.25.25 0 0 1-.25.25h-8.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h1a.25.25 0 0 1 .25.25v4.54a.48.48 0 0 0 .31.46.49.49 0 0 0 .54-.1l1-1a.25.25 0 0 1 .36 0l1 1a.49.49 0 0 0 .54.1.48.48 0 0 0 .25-.46V1.63a.13.13 0 0 1 .13-.13.13.13 0 0 1 .1 0l3.2 3.2a.26.26 0 0 1 .07.17Z" fill="currentColor" transform="scale(3.42857)"/></svg>Notificación</p>
        <p><span class="sr-only">Recibida</span> 15 diciembre 2020</p>
      </div>
      <!-- /para mobile -->

      <p><a href="#" class="c-link"><span class="hidden lg:inline">Notificación -</span> Subsanación - Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional</a></p>
      <p class="text-sm text-neutral-dark mt-sm lg:mt-0">Departamento de Innovación, Investigación y Universidad</p>
      
      <!-- para mobile -->
      <p class="lg:hidden text-sm my-sm">
        <span class="sr-only">Estado</span> 
        Rechazada <span class="text-neutral-dark">20 diciembre 2020</span>
      </p>
      <!-- /para mobile -->
    </div>
  </div>
{% endset %}

{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base mt-sm">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Mis trámites",
                "href": "#"
              },
              {
                "text": "Inscripción en el Registro de solicitantes de vivienda protegida de Aragón",
                "href": "#"
              }
            ]
          })  }}
        </div>
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="c-h2 mb-xs lg:w-2/3">
                <span class="block text-base font-semibold">Trámite</span> Beca complementaria a la beca Erasmus+ y otras becas de movilidad internacional
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <!-- detalles -->
        {% call componentDetails({
          "summary": {
            "html": 'Mostrar detalles'
          },
          "classes": "w-full"
        })  %}
          <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-lg w-full mb-sm">
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Estado',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Finalizado'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de inicio',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '18 noviembre 2020'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de última actualización',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '15 diciembre 2020'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div class="col-span-2">
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Responsable del procedimiento',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Departamento de Innovación, Investigación y Universidad'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Persona interesada',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Tomás Pérez Pérez (tú)'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Número de registro',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'REG000012340000'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Número de expediente',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '3392834SD'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
          </div>
        {% endcall %}
        <!-- /detalles -->
        <div class="lg:w-full mb-xl mt-base">
          {{ componentButton({
            "text": "Aportar documentación",
            "href": "#",
            "classes": "c-button"
          })  }}        
        </div>    
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><g transform="scale(2)"><circle cx="2.5" cy="4" r="2.5" fill="currentColor"/><path d="M8.5 5H23a1 1 0 0 0 0-2H8.5a1 1 0 0 0 0 2Z" fill="currentColor"/><circle cx="2.5" cy="12" r="2.5" fill="currentColor"/><path d="M23 11H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor"/><circle cx="2.5" cy="20" r="2.5" fill="currentColor"/><path d="M23 19H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor"/></g></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M11 8h3.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2ZM11 12h7.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2Z" fill="currentColor" transform="scale(2)"/><path d="M23.71 5.71 18.29.29a1 1 0 0 0-.7-.29H8a2 2 0 0 0-2 2v11.17c0 .19.1.33.25.33h1.5a.25.25 0 0 0 .25-.25v-11A.25.25 0 0 1 8.25 2h8.82a.31.31 0 0 1 .18.07l4.68 4.68a.31.31 0 0 1 .07.18v12.82a.25.25 0 0 1-.25.25h-6a.25.25 0 0 0-.25.25v1.5a.25.25 0 0 0 .25.25H22a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7Z" fill="currentColor" transform="scale(2)"/><path d="M13 15H6a1 1 0 0 1-.8-.4l-.9-1.2a1 1 0 0 0-.8-.4H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(2)"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Documentos</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM19.5 22h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h1.75a.25.25 0 0 1 .25.25V13a.5.5 0 0 0 .31.46.47.47 0 0 0 .54-.11l2-2a.27.27 0 0 1 .36 0l2 2a.47.47 0 0 0 .35.15.43.43 0 0 0 .19 0 .5.5 0 0 0 .25-.5V2.25a.25.25 0 0 1 .25-.25H15a.49.49 0 0 1 .36.15l4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)"/></svg></span><span class="block text-sm lg:text-base lg:px-sm lg:mx-xs">Notificaciones</span></span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h3 mt-base mb-lg">Notificaciones relativas a este trámite</h1>
  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "head": [
        {
          "text": "Asunto y organismo",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Recibida",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Estado",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Acciones",
          "classes": "hidden lg:sr-only"
        }
      ],
      "rows": [
        [
          {
            "html": contentTable1Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": '18 agosto 2022',
            "classes": "align-top hidden lg:table-cell font-bold"
          },
          {
            "html": '<p>Pendiente</p>
                    <p class="text-sm text-alert-base">Caduca en 3 días</p>',
            "classes": "align-top hidden lg:table-cell font-bold"
          },
          {
            "html": '<a href="#" role="button" draggable="false" class="c-link font-semibold" aria-labelledby="aceptar2 reg2"><span id="aceptar2">Aceptar</span></a>',
            "classes": "align-top hidden lg:table-cell font-bold text-right"
          }
        ],
        [
          {
            "html": contentTable1Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": '15 diciembre 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-xs" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Aceptada</p>
                    <p class="text-sm text-neutral-dark">20 diciembre 2020</p>',
            "classes": "align-top hidden lg:table-cell"
          }
        ],
        [
          {
            "html": contentTable1Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": '15 diciembre 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '<p>Rechazada</p>
                    <p class="text-sm text-neutral-dark">20 diciembre 2020</p>',
            "classes": "align-top hidden lg:table-cell"
          }
        ]
      ],
      "classes": "w-full mt-base mb-lg"
    })  }}   
  </div>   
{% endblock %}