{% set title = "Trámites. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{# Definiciones #}

{% set iconClip %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mt-0.5 mr-xs" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"></path></svg>
{% endset %}

{% set titleAccordionPresentado %}
  <span class="font-bold pointer-events-none">Presentado</span> <span class="block font-normal pointer-events-none">18 junio 2022</span>
{% endset %}

{% set titleAccordionTramitacionIniciada %}
  <span class="font-bold pointer-events-none">Tramitación iniciada</span> <span class="block font-normal pointer-events-none">16 diciembre 2022</span>
{% endset %}

{% set titleAccordionEnTramitacion %}
  <span class="font-bold pointer-events-none">En tramitación</span> <span class="block font-normal pointer-events-none">16 diciembre 2022</span>
{% endset %}

{% set titleAccordionAportacionDeDocumentacion %}
  <span class="font-bold pointer-events-none">Aportación de documentación</span> <span class="block font-normal pointer-events-none">17 diciembre 2022</span>
{% endset %}

{% set titleAccordionTramitacionFinalizada %}
  <span class="font-bold pointer-events-none">Tramitación finalizada</span> <span class="block font-normal pointer-events-none">16 diciembre 2022</span>
{% endset %}

{% set titleAccordionAccionesPosteriores %}
  <span class="font-bold pointer-events-none">Acciones posteriores</span>
{% endset %}

{% set titleAccordionRequiereSubsanacion %}
  <span class="text-alert-base pointer-events-none">Requiere subsanación</span><span class="block font-normal pointer-events-none">20 diciembre 2022</span>
{% endset %}

{% set titleAccordionSubsanacionEnviada %}
  <span class="font-bold pointer-events-none">Subsanación enviada</span> <span class="block font-normal pointer-events-none">16 diciembre 2022</span>
{% endset %}

{% set titleAccordionPendienteDeFinalizacion %}
  <span class="font-normal pointer-events-none">Pendiente de finalización</span>
{% endset %}

{% set contentAccordionPresentado %}
  <p>Esta solicitud fue presentada en registro el día <strong>18 de septiembre a las 21:12</strong> con el número <strong>REG000012340000</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (JPG)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Nombre del archivo (CSV)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionTramitacionIniciada %}
  <p>Se ha asignado el <strong>expediente</strong> número <strong>3392834SD y se está tramitando</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Informe de valoración (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Propuesta de resolución (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionAccionesPosteriores %}
  <p><strong class="font-bold">Ingreso realizado</strong></p>
  <p class="text-neutral-dark">21 enero 2021</p>
  <p class="c-paragraph-base mb-lg">Se ha completado el ingreso del dinero correspondiente a la subvención.</p>
  <p><strong class="font-bold">Justificación enviada</strong></p>
  <p class="text-neutral-dark">22 enero 2021</p>
  <p class="c-paragraph-base mb-lg">Justificación presentada en registro el día 22 de enero a las 21:12 con el número REG000012340033.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificación de gastos (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionEnTramitacion %}
  <p>El expediente <strong>se está tramitando</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Informe de valoración (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Propuesta de resolución (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionTramitacionFinalizada %}
  <p>Se <strong>ha publicado la resolución</strong> de este proceso.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Resolución (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionRequiereSubsanacion %}
  <p>Se han detectado <strong>problemas</strong> con la información aportada. <strong>Se ha enviado una notificación con más detalles</strong>.</p>
  <ul class="flex flex-wrap gap-base mt-base mb-lg">
    <li>
      {{ componentButton({
        "text": "Ir a notificaciones"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Iniciar subsanación"
      })  }}
    </li>
  </ul>
{% endset %}

{% set contentAccordionSubsanacionEnviada %}
  <p>Subsanación presentada en registro el día <strong>15 de diciembre a las 21:12</strong> con el número <strong>REG00001234033</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Notificación de subsanación (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionAportacionDeDocumentacion %}
  <p>La aportación de documentos fue presentada el día <strong>15 de diciembre a las 21:12</strong> con el número <strong>REG00001234033</strong>.</p>
  <p class="text-neutral-dark mt-base">Documentos</p>
  <ul class="mb-lg">
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Certificado de estar al corriente de pago (PDF)</span>
      </a>
    </li>
    <li class="my-sm">
      <a href="#" class="c-link inline-flex">
        {{ iconClip | safe }}
        <span class="flex-1">Justificante de registro (PDF)</span>
      </a>
    </li>
  </ul>
{% endset %}

{% set contentAccordionPendienteDeFinalizacion %}
  <p class="c-paragraph-base mb-lg">
    El trámite todavía no tiene fecha de finalización
  </p>
{% endset %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Prueba de pasos verticales con accordion history</h1>

  <div class="pb-2xl"></div>
  <h2 class="c-h2">2.1/ Tramite - Tramitación iniada</h2>
  <div class="lg:w-2/3">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-1",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleAccordionPresentado,
          "html": contentAccordionPresentado,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionTramitacionIniciada,
          "html": contentAccordionTramitacionIniciada,
          "open": true,
          "status": "current",
          "disabled": true
        },
        {
          "headerHtml": titleAccordionPendienteDeFinalizacion,
          "html": contentAccordionPendienteDeFinalizacion,
          "status": "pending",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div class="py-2xl"></div>
  <h2 class="c-h2">2.1/ Tramite - Requiere subsanación</h2>
  <div class="lg:w-2/3">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-2",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleAccordionPresentado,
          "html": contentAccordionPresentado,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionRequiereSubsanacion,
          "html": contentAccordionRequiereSubsanacion,
          "open": true,
          "status": "current",
          "disabled": true
        },
        {
          "headerHtml": titleAccordionPendienteDeFinalizacion,
          "html": contentAccordionPendienteDeFinalizacion,
          "status": "pending",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div class="py-2xl"></div>
  <h2 class="c-h2">2.1/ Tramite - Subsanación enviada</h2>
  <div class="lg:w-2/3">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-3",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleAccordionPresentado,
          "html": contentAccordionPresentado,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionSubsanacionEnviada,
          "html": contentAccordionSubsanacionEnviada,
          "open": true
        },
        {
          "headerHtml": titleAccordionTramitacionIniciada,
          "html": contentAccordionTramitacionIniciada,
          "open": true,
          "status": "current",
          "disabled": true
        },
        {
          "headerHtml": titleAccordionPendienteDeFinalizacion,
          "html": contentAccordionPendienteDeFinalizacion,
          "status": "pending",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div class="py-2xl"></div>
  <h2 class="c-h2">2.1/ Tramite - Subsanado + en tramitación</h2>
  <div class="lg:w-2/3">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-4",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleAccordionPresentado,
          "html": contentAccordionPresentado,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionSubsanacionEnviada,
          "html": contentAccordionSubsanacionEnviada,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionTramitacionIniciada,
          "html": contentAccordionTramitacionIniciada,
          "status": "past"
        },
        {
          "headerHtml": titleAccordionEnTramitacion,
          "html": contentAccordionEnTramitacion,
          "open": true,
          "status": "current",
          "disabled": true
        },
        {
          "headerHtml": titleAccordionPendienteDeFinalizacion,
          "html": contentAccordionPendienteDeFinalizacion,
          "status": "pending",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div class="py-2xl"></div>
  <h2 class="c-h2">2.1/ Tramite - Finalizado - Acciones posteriores - 2</h2>
  <div class="lg:w-2/3">
    {{ componentAccordionHistory({
      "idPrefix": "accordion-5",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titleAccordionPresentado,
          "html": contentAccordionPresentado,
          "status": "muted"
        },
        {
          "headerHtml": titleAccordionSubsanacionEnviada,
          "html": contentAccordionSubsanacionEnviada,
          "status": "muted"
        },
        {
          "headerHtml": titleAccordionTramitacionIniciada,
          "html": contentAccordionTramitacionIniciada,
          "status": "muted"
        },
        {
          "headerHtml": titleAccordionAportacionDeDocumentacion,
          "html": contentAccordionAportacionDeDocumentacion,
          "status": "muted"
        },
        {
          "headerHtml": titleAccordionTramitacionFinalizada,
          "html": contentAccordionTramitacionFinalizada,
          "status": "currentmuted",
          "open": true
        },
        {
          "headerHtml": titleAccordionAccionesPosteriores,
          "html": contentAccordionAccionesPosteriores,
          "status": "pending",
          "open": true,
          "disabled": true
        }
      ]
    })  }}
  </div>












{% endblock %}