{% set title = "Trámites - Consentimiento persona habilitada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}

{# Dependencias #}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  
      <div class="py-lg">
        <h1 id="page-title" class="c-h2">
          <img src="../../images/logo-aragob-bn.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="mb-xl w-36 md:w-44">
          Consentimiento para la realización de un trámite electrónico por persona habilitada
        </h1>
        <p class="c-paragraph-lg mb-base">Este documento le permite habilitar a una persona del Gobierno de Aragón para hacer un trámite electrónico en su nombre.</p>
        <p class="c-paragraph-sm mb-lg">La persona habilitada puede hacer en su nombre la solicitud, subsanación o aportación para este trámite, consultar el estado del expediente y acceder al contenido de las notificaciones relacionadas con este trámite.</p>

        {{ componentDescriptionList({
          "classes": "mb-lg",
          "items": [
            {
              "term": {
                "text": "Datos de la persona habilitada",
                "classes": "text-sm text-black font-bold mb-sm"
              },
              "definition": {
                "html": 'Identificación RPT (Relación del puesto de trabajo): ${numeroRpt}',
                "classes": "text-sm text-black"
              },
              "classes": "py-base px-sm -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "text": "Trámite o servicio para el que se habilita",
                "classes": "text-sm text-black font-bold mb-sm"
              },
              "definition": {
                "html": '${numeroServicio} - ${nombreServicio}',
                "classes": "text-sm text-black"
              },
              "classes": "py-base px-sm -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "text": "Datos de la persona solicitante",
                "classes": "text-sm text-black font-bold mb-sm"
              },
              "definition": {
                "html": '<span class="block">Nombre y apellidos: ${nombreInteresado}</span> 
                        <span class="block">Documento: ${docIdentificacion} - ${numIdentificacion}</span>',
                "classes": "text-sm text-black"
              },
              "classes": "py-base px-sm -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}

        <p class="c-paragraph-sm">Declaro de forma responsable que no tengo los medios necesarios para identificarme y firmar de manera electrónica.  Por ello, autorizo a esta persona habilitada del Gobierno de Aragón a identificarse y firmar en mi nombre.</p>
        <div class="grid sm:grid-cols-2">
          <p class="c-paragraph-sm">En: ${lugar} </p>
          <p class="c-paragraph-sm">A fecha de: ${fecha} </p>
        </div>
        <p class="c-paragraph-sm">Firma:</p>

        <p class="c-paragraph-sm text-xs text-neutral-dark mt-2xl">En cumplimiento del Reglamento General de Protección de Datos y de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, los datos personales se recaban con la finalidad de habilitar al personal de la Administración para la realización del trámite o actuación electrónica que sea solicitada por el mismo, todo ello en los términos establecidos por la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>      
        <p class="c-paragraph-sm text-xs text-neutral-dark">El tratamiento de los datos personales recogidos en este acto declarativo corresponderá al órgano que instruya el procedimiento y al que va dirigido el trámite correspondiente, y ante la que podrá ejercer los derechos de protección de datos a través de la sede electrónica de la Administración de la Comunidad Autónoma de Aragón en: <a href="https://www.aragon.es/tramitador/-/tramite/gestion-de-proteccion-de-datos" class="c-link">https://www.aragon.es/tramitador/-/tramite/gestion-de-proteccion-de-datos</a>. Existe información adicional y detallada en la actividad de tratamiento del trámite o actuación administrativa de que se trate en: <a href="https://protecciondatos.aragon.es/registro-actividades/" class="c-link">https://protecciondatos.aragon.es/registro-actividades/</a>.</p>  

      </div>
    
{% endblock %}