{% set title = "Trámite detalle - Documentos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}

{# Definiciones #}
{% set botonModalNota %}
  {{ componentPill({
    "text": "Vecinos Paseo Calanda",
    "classes": "text-sm mr-xs"
  }) }}  
  {{ componentButton({
    "text": "Eliminar",
    "classes": "c-button--sm c-button--transparent"
  }) }}
  {{ componentButton({
    "text": "Editar",
    "classes": "c-button--sm c-button--transparent",
    "attributes": {
      "onclick": "openDialog('modal-nota', this, 'anadir-nota')"
    }
  }) }}
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base mt-sm">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Trámites",
                "href": "#"
              },
              {
                "text": "Becas complementarias a las del programa Erasmus + y a las de otros programas de movilidad internacional - Convocatoria 2022",
                "href": "#"
              }
            ]
          })  }}
        </div>
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="mb-xs lg:w-2/3">
                <span class="block text-base font-semibold">Trámite</span> <span class="text-lg font-bold leading-none lg:c-h2">Becas complementarias a las del programa Erasmus + y a las de otros programas de movilidad internacional - Convocatoria 2022</span>
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <!-- detalles -->
        {% call componentDetails({
          "summary": {
            "html": 'Mostrar detalles'
          },
          "classes": "w-full mb-base"
        })  %}
          <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-lg w-full mb-sm">
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Trámite',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'En tramitación'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de inicio',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '18 noviembre 2020'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Fecha de última actualización',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '15 diciembre 2020'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div class="col-span-2">
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Persona interesada',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Tomás Pérez Pérez (tú)'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Responsable del procedimiento',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": 'Departamento de Innovación, Investigación y Universidad'
                    },
                    "classes": "mb-base"
                  },
                  {
                    "term": {
                      "html": 'Notas del trámite',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": botonModalNota
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
            <div>
              {{ componentDescriptionList({
                "items": [
                  {
                    "term": {
                      "html": 'Número de expediente',
                      "classes": "text-sm text-neutral-dark"
                    },
                    "definition": {
                      "html": '3392834SD'
                    },
                    "classes": "mb-base"
                  }
                ]
              })  }}
            </div>
          </div>
        {% endcall %}
        <!-- /detalles -->
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs-mobile",
              "items": [
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M10.5 3.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM.32 13.4a7.003 7.003 0 0 1 13.36 0c.095.304-.143.6-.462.6H.782c-.32 0-.557-.296-.462-.6Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Mis registros</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M7 .066a1.21 1.21 0 0 0-.634.18l-5.91 3.87H.455c-.42.277-.547.754-.385 1.161.156.392.55.657 1.02.657h11.82c.47 0 .864-.265 1.02-.657.162-.407.034-.884-.385-1.16l-.001-.001-5.91-3.87A1.21 1.21 0 0 0 7 .066ZM0 11.877c0-.6.572-.889 1-.889h.055a.506.506 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.509.509 0 0 1-.003.054h1.958a.509.509 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.506.506 0 0 1-.003.054h1.958a.509.509 0 0 1-.003-.054V7.723a.5.5 0 0 1 .5-.5h1.664a.5.5 0 0 1 .5.5v3.211a.509.509 0 0 1-.003.054H13c.428 0 1 .289 1 .89v1.167c0 .6-.572.889-1 .889H1c-.428 0-1-.289-1-.89v-1.167Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Seguimiento</span></span>'
                },
                {
                  "href": "#",
                  "html": '<span class="flex flex-col items-center"><span class="block lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-6 h-6 mx-sm my-xs" aria-hidden="true" focusable="false" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></span><span class="hidden lg:block lg:text-base lg:px-sm lg:mx-xs">Documentos</span></span>',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h3 mb-xs lg:sr-only">Documentos</h1>
  <p>Documentos que la administración ha añadido al expediente de este trámite.</p>
  <p class="c-paragraph-base"><abbr title="Número">Nº</abbr> de expediente: 3392834SD - <a href="#" class="c-link font-semibold">Ver índice</a></p>
  <div class="w-full lg:w-3/4">
    {% call componentItem({
      "title": {
        "text": "Formulario de solicitud",
        "attributes": {
          "id": "docs-1"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-1" class="c-button c-button--transparent" aria-labelledby="btn-docs-1 docs-1">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Titulo universitario",
        "attributes": {
          "id": "docs-2"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-2" class=" c-button c-button--transparent" aria-labelledby="btn-docs-2 docs-2">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Certificado colectivo empadronamiento (PDF)",
        "attributes": {
          "id": "docs-3"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-3" class=" c-button c-button--transparent" aria-labelledby="btn-docs-3 docs-3">Descargar</button></li></ul>
    {% endcall %}    
    {% call componentItem({
      "title": {
        "text": "Anexo 1",
        "attributes": {
          "id": "docs-4"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-4" class="c-button c-button--transparent" aria-labelledby="btn-docs-4 docs-4">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Informe de solicitud",
        "attributes": {
          "id": "docs-5"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-5" class="c-button c-button--transparent" aria-labelledby="btn-docs-5 docs-5">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Informe de requisitos",
        "attributes": {
          "id": "docs-6"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-6" class=" c-button c-button--transparent" aria-labelledby="btn-docs-6 docs-6">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Notificación",
        "attributes": {
          "id": "docs-7"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-7" class=" c-button c-button--transparent" aria-labelledby="btn-docs-7 docs-7">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Justificante de notificación",
        "attributes": {
          "id": "docs-8"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-8" class="c-button c-button--transparent" aria-labelledby="btn-docs-8 docs-8">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Formulario de solicitud",
        "attributes": {
          "id": "docs-9"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-9" class=" c-button c-button--transparent" aria-labelledby="btn-docs-9 docs-9">Descargar</button></li></ul>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Titulo universitario",
        "attributes": {
          "id": "docs-10"
        }
      },
      "items": [
        {
          "text": "CSV91238912373182"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>'
      },
      "classes": "mb-xs py-sm leading-tight"
    })  %}
        <ul class="flex flex-wrap gap-sm -mt-base lg:mt-0"><li><button id="btn-docs-10" class=" c-button c-button--transparent" aria-labelledby="btn-docs-10 docs-10">Descargar</button></li></ul>
    {% endcall %}
  </div>
{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-anadir-nota.njk" %}
{% endblock %}
<!-- /modalBlock -->