{% set title = "Listado de Trámites. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{# Definiciones #}
{% set contentTable1Row1Cell1 %}
  <div class="py-sm lg:py-xs">
    <!-- para mobile -->
    <p class="lg:hidden text-sm text-neutral-dark mb-sm">
      Iniciado 18 noviembre 2021
    </p>
    <!-- /para mobile -->
    <p><a href="#" class="c-link">Beca complementaria a la Beca Erasmus+ y otras becas de movilidad internacional</a></p>
    <!-- para mobile -->
    <p class="flex lg:hidden text-sm text-alert-base mt-sm">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path d="M7 0a7 7 0 1 0 7 7 7 7 0 0 0-7-7Zm-.75 3.5a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0ZM7 11a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(3.42857)"/></svg>
      <strong>Requiere subsanación</strong>
    </p>
    <p class="lg:hidden text-sm mt-xs mb-sm">
      Actualizado 15 diciembre 2021
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row1Cell2 %}
  <div class="flex py-sm lg:py-xs text-alert-base">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-1 mr-3" aria-hidden="true" focusable="false"><path d="M7 0a7 7 0 1 0 7 7 7 7 0 0 0-7-7Zm-.75 3.5a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0ZM7 11a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <strong>Requiere subsanación</strong>
  </div>
{% endset %}
{% set contentTable1Row2Cell1 %}
  <div class="py-sm lg:py-xs">
    <!-- para mobile -->
    <p class="lg:hidden text-sm text-neutral-dark mb-sm">
      Iniciado 18 diciembre 2021
    </p>
    <!-- /para mobile -->
    <p><a href="#" class="c-link">Beca para transporte escolar de Educación Primaria</a></p>
    <!-- para mobile -->
    <p class="flex lg:hidden text-sm mt-sm">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path d="m14 10.18-.5-1.92a.76.76 0 0 0-.91-.55l-1.93.49a.75.75 0 0 0-.56.61.77.77 0 0 0 .36.76l.36.21a.28.28 0 0 1 .12.18.25.25 0 0 1-.07.2A5.47 5.47 0 0 1 7 12a5.05 5.05 0 0 1-4.72-3.29.74.74 0 0 0-1-.44.74.74 0 0 0-.44 1A6.56 6.56 0 0 0 7 13.52a7 7 0 0 0 5.24-2.64.25.25 0 0 1 .32-.05l.3.18a.79.79 0 0 0 .39.11.75.75 0 0 0 .73-.94ZM1.41 6.29l1.93-.49a.75.75 0 0 0 .56-.61.77.77 0 0 0-.36-.76l-.31-.18a.28.28 0 0 1-.12-.18.27.27 0 0 1 .07-.21A5.47 5.47 0 0 1 7 2a5.05 5.05 0 0 1 4.72 3.31.75.75 0 1 0 1.4-.52A6.56 6.56 0 0 0 7 .48a7.07 7.07 0 0 0-5.19 2.67.25.25 0 0 1-.32.05L1.14 3A.76.76 0 0 0 .3 3a.77.77 0 0 0-.3.82l.5 1.92a.76.76 0 0 0 .73.57Z" fill="currentColor" transform="scale(3.42857)"/></svg>
      <strong>En tramitación</strong>
    </p>
    <p class="lg:hidden text-sm mt-xs mb-sm">
      Actualizado 20 mayo 2021
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row2Cell2 %}
  <div class="flex py-sm lg:py-xs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-1 mr-3" aria-hidden="true" focusable="false"><path d="m14 10.18-.5-1.92a.76.76 0 0 0-.91-.55l-1.93.49a.75.75 0 0 0-.56.61.77.77 0 0 0 .36.76l.36.21a.28.28 0 0 1 .12.18.25.25 0 0 1-.07.2A5.47 5.47 0 0 1 7 12a5.05 5.05 0 0 1-4.72-3.29.74.74 0 0 0-1-.44.74.74 0 0 0-.44 1A6.56 6.56 0 0 0 7 13.52a7 7 0 0 0 5.24-2.64.25.25 0 0 1 .32-.05l.3.18a.79.79 0 0 0 .39.11.75.75 0 0 0 .73-.94ZM1.41 6.29l1.93-.49a.75.75 0 0 0 .56-.61.77.77 0 0 0-.36-.76l-.31-.18a.28.28 0 0 1-.12-.18.27.27 0 0 1 .07-.21A5.47 5.47 0 0 1 7 2a5.05 5.05 0 0 1 4.72 3.31.75.75 0 1 0 1.4-.52A6.56 6.56 0 0 0 7 .48a7.07 7.07 0 0 0-5.19 2.67.25.25 0 0 1-.32.05L1.14 3A.76.76 0 0 0 .3 3a.77.77 0 0 0-.3.82l.5 1.92a.76.76 0 0 0 .73.57Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <strong>En tramitación</strong>
  </div>
{% endset %}
{% set contentTable1Row3Cell1 %}
  <div class="py-sm lg:py-xs">
    <!-- para mobile -->
    <p class="lg:hidden text-sm text-neutral-dark mb-sm">
      Iniciado 9 mayo 2021
    </p>
    <!-- /para mobile -->
    <p><a href="#" class="c-link">Autorización de botiquines farmaceúticos</a></p>
    <!-- para mobile -->
    <p class="flex lg:hidden text-sm mt-sm">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-0.5 mr-sm" aria-hidden="true" focusable="false"><path d="M4 3.78a.75.75 0 0 0 1 0L5.82 3a.26.26 0 0 1 .28-.06.25.25 0 0 1 .15.23v5.08a.75.75 0 0 0 1.5 0V3.16a.25.25 0 0 1 .15-.23.26.26 0 0 1 .28.07l.82.78a.75.75 0 0 0 1.06 0 .75.75 0 0 0 0-1.06L7.53.22a.75.75 0 0 0-1.06 0L4 2.72a.75.75 0 0 0 0 1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>
      <strong>Presentado</strong>
    </p>
    <p class="lg:hidden text-sm mt-xs mb-sm">
      Actualizado 13 mayo 2021
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row3Cell2 %}
  <div class="flex py-sm lg:py-xs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="mt-1 mr-3" aria-hidden="true" focusable="false"><path d="M4 3.78a.75.75 0 0 0 1 0L5.82 3a.26.26 0 0 1 .28-.06.25.25 0 0 1 .15.23v5.08a.75.75 0 0 0 1.5 0V3.16a.25.25 0 0 1 .15-.23.26.26 0 0 1 .28.07l.82.78a.75.75 0 0 0 1.06 0 .75.75 0 0 0 0-1.06L7.53.22a.75.75 0 0 0-1.06 0L4 2.72a.75.75 0 0 0 0 1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <strong>Presentado</strong>
  </div>
{% endset %}
{% set contentTable2Row1Cell1 %}
  <div class="py-sm lg:py-xs">
    <p><a href="#" class="underline">Actualización de datos de localización en la base de datos de usuarios</a></p>
    <!-- para mobile -->
    <p class="lg:hidden text-sm my-sm pt-xs">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 10 enero 2021
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable2Row2Cell1 %}
  <div class="py-sm lg:py-xs">
    <p><a href="#" class="underline">Autorización de botiquines farmaceúticos</a></p>
    <!-- para mobile -->
    <p class="lg:hidden text-sm my-sm pt-xs">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 22 diciembre 2020
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable2Row3Cell1 %}
  <div class="py-sm lg:py-xs">
    <p><a href="#" class="underline">Beca complementaria a la Beca Erasmus+ y otras becas de movilidad internacional</a></p>
    <!-- para mobile -->
    <p class="lg:hidden text-sm my-sm pt-xs">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 16 septiembre 2020
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable2Row4Cell1 %}
  <div class="py-sm lg:py-xs">
    <p><a href="#" class="underline">Actualización de datos de localización en la base de datos de usuarios</a></p>
    <!-- para mobile -->
    <p class="lg:hidden text-sm my-sm pt-xs">
      <span class="sr-only">Estado</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 30 abril 2019
    </p>
    <!-- /para mobile -->
  </div>
{% endset %}


{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>  
  <h1 class="c-h2">Trámites</h1>
  
  {# Buscador #}
  <div class="mb-base lg:w-1/2">
    {{ componentSearchbar({
      "id": "buscador-resultados",
      "label": {
        "text": "Buscar"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1 pr-2",
      "placeholder": "Buscar trámite por nombre, estado, interesado..."
    })  }}
  </div>

  {# Filtros #}
  {% include "includes/_filtros-busqueda-tramites.njk" %}

  <p class="c-paragraph-base lg:w-3/4 mb-0">Aquí se muestran tus trámites con el Gobierno de Aragón. Puede que algunos trámites no se muestren porque no están conectados con MiA. Estamos trabajando para añadir más trámites. <a href="#" class="c-link">¿Porqué pasa esto?</a></p>
  
  {# Tramites Activos #}
  <div class="pb-xl"></div><!--espaciador-->
  <h2 class="c-h3">Trámites activos</h2>
  {# para cuando no haya tramites  #}
  <!--<p class="c-paragraph-base text-neutral-dark">No tienes ningún trámite</p>--> 
  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "head": [
        {
          "text": "Trámite",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Estado",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Actualizado",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Iniciado",
          "classes": "hidden lg:table-cell"
        }
      ],
      "rows": [
        [
          {
            "html": contentTable1Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": contentTable1Row1Cell2,
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '15 diciembre 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          },
          {
            "html": '18 noviembre 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          }
        ],
        [
          {
            "html": contentTable1Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": contentTable1Row2Cell2,
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '20 mayo 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          },
          {
            "html": '18 diciembre 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          }
        ],
        [
          {
            "html": contentTable1Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": contentTable1Row3Cell2,
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '13 mayo 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          },
          {
            "html": '9 mayo 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-3.5"
          }
        ]
      ],
      "classes": "w-full mt-base"
    })  }}
  </div>

  {# Historico #}
  <div class="pb-2xl"></div><!--espaciador-->
  <h2 class="c-h3">Histórico de trámites</h2>
  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "head": [
        {
          "text": "Trámite",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Estado",
          "classes": "hidden lg:table-cell"
        }
      ],
      "rows": [
        [
          {
            "html": contentTable2Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 10 enero 2021',
            "classes": "align-top hidden lg:table-cell text-sm pt-base"
          }
        ],
        [
          {
            "html": contentTable2Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 22 diciembre 2020',
            "classes": "align-top hidden lg:table-cell text-sm pt-base"
          }
        ],
        [
          {
            "html": contentTable2Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 16 septiembre 2020',
            "classes": "align-top hidden lg:table-cell text-sm pt-base"
          }
        ],
        [
          {
            "html": contentTable2Row4Cell1,
            "classes": "align-top"
          },
          {
            "html": '<p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex align-baseline mr-sm" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>Finalizado - 30 abril 2019',
            "classes": "align-top hidden lg:table-cell text-sm pt-base"
          }
        ]
      ],
      "classes": "w-full mt-base"
    })  }}
  </div>

  {# Paginacion #}  
  <div class="pb-sm"></div><!--espaciador-->
  {{ componentPagination({
    "id": "page-table-notificaciones",
    "hasSelect": true,
    "idPrefix": "pagination-results",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "attributes": {
      "aria-label": "Paginación"
    }
  })  }}

{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-rango-fecha-tramites.njk" %}
{% endblock %}
<!-- /modalBlock -->