{% set title = "Valoraciones de inmuebles vacío - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="w-full lg:w-2/3">
    
    <div class="my-base">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>  
    <h1 class="c-h1">Valoraciones de inmuebles</h1>
    <p class="c-paragraph-base">Las valoraciones previas son nformes que se pueden solicitar a la Administración Tributaria de Aragón para conocer el valor a efectos legales de los bienes inmuebles situados en nuestra Comunidad Autónoma que vayan a adquirise o transmitirse.</p>
    {{ componentButton({
      "text": "Solicitar valoración previa",
      "href": "/"
    })  }}

    <div class="pb-xl"></div>
    <h2 class="c-h3 mb-base">Tus valoraciones previas</h2>

    <p class="c-paragraph-base mb-xl">Actualmente no tienes ningún expediente de valoración</p>
    
    <!--soporte técnico-->
    <div class="pb-base"></div>
    {% include "includes/_servicio-ayuda-valoraciones.njk" %}
    <!--/soporte técnico-->

  </div>
{% endblock %}

