{% set title = "Historial de pagos - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{# Definiciones #}
{% set contentTable1Row1Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre la contaminación del agua (ICA) 2022</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">REC - 2022</span>
      <span class="block lg:inline-block px-1">1 Julio 2022 - 31 Diciembre 2022</span>
      <span class="block lg:inline-block px-1">Calle José María, 6, Zaragoza</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> Cargo en cuenta - 12 Junio 2022 <span class="table-cell bg-primary-light font-semibold px-xs py-px uppercase">Domiciliado</span></p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>17,86 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>
{% endset %}
{% set contentTable1Row2Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre transmisiones patrimoniales - Liquidación</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">Z - 2021 - 8442</span>
      <span class="block lg:inline-block px-1">Compraventa vivienda - subconcepto</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 12 Mayo 2022</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>1.054,21 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row3Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre la contaminación del agua (ICA) 2021</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">REC - 2021</span>
      <span class="block lg:inline-block px-1">1 Julio 2021 - 31 Diciembre 2021</span>
      <span class="block lg:inline-block px-1">Calle José María, 6, Zaragoza</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 2 Junio 2021</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>17,86 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row4Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre la contaminación del agua (ICA) 2020</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">REC - 2020</span>
      <span class="block lg:inline-block px-1">1 Julio 2020 - 31 Diciembre 2020</span>
      <span class="block lg:inline-block px-1">Calle José María, 6, Zaragoza</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 15 Junio 2020</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>17,86 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row5Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Sanción de transportes</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">Z2018X7446</span>
      <span class="block lg:inline-block px-1">Infracción artículo 42 - subconcepto</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 3 Abril 2020</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>458,32 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row6Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre transmisiones patrimoniales - Liquidación</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">Z - 2021 - 8442</span>
      <span class="block lg:inline-block px-1">Compraventa vivienda - subconcepto</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 12 Febrero 2020</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>1.054,21 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row7Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre la contaminación del agua (ICA) 2019</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">REC - 2019</span>
      <span class="block lg:inline-block px-1">1 Julio 2019 - 31 Diciembre 2019</span>
      <span class="block lg:inline-block px-1">Calle José María, 6, Zaragoza</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 2 Junio 2019</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>17,86 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row8Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre la contaminación del agua (ICA) 2018</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">REC - 2018</span>
      <span class="block lg:inline-block px-1">1 Julio 2018 - 31 Diciembre 2018</span>
      <span class="block lg:inline-block px-1">Calle José María, 6, Zaragoza</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 15 Junio 2018</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>17,86 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row9Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Sanción de transportes</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">Z2018X7446</span>
      <span class="block lg:inline-block px-1">Infracción artículo 42 - subconcepto</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 3 Marzo 2018</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>458,32 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}
{% set contentTable1Row10Cell1 %}
  <div class="py-sm lg:py-0">
    <p><a href="#" class="c-link font-semibold lg:font-normal">Impuesto sobre transmisiones patrimoniales - Liquidación</a></p>
    <p class="lg:text-neutral-dark mt-sm lg:mt-xs -ml-1 lg:divide-x lg:divide-neutral-base">
      <span class="block lg:inline-block px-1">Z - 2021 - 8442</span>
      <span class="block lg:inline-block px-1">Compraventa vivienda - subconcepto</span>
    </p>
    <!-- para mobile -->
    <div class="lg:hidden pt-sm">
      <p class="mb-sm"><span class="sr-only">Estado</span> <span class="uppercase">Pagado</span> - 12 Enero 2018</p>
      <p class="pt-xs"><span class="sr-only">Importe actual</span> <strong>1.054,21 €</strong></p>
    </div>
    <!-- /para mobile -->
  </div>  
{% endset %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Ir a tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1 mb-sm">Pagos realizados</h1>
  <p class="c-paragraph-base">La información sobre pagos se actualiza periódicamente. Puedes haber realizado un pago y que aún no se muestre.</p>
  
  <div class="pb-base"></div><!--espaciador-->
  {# Filtros #}
  {% include "includes/_filtros-historial-pagos.njk" %}


  {# Listado de pagos #}
  <div class="-mx-base lg:mx-0">
    {{ componentTable({
      "caption": "Listado de pagos histórico",
      "captionClasses": "sr-only",
      "head": [
        {
          "text": "Pagos realizados",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Estado",
          "classes": "hidden lg:table-cell"
        },
        {
          "text": "Importe total",
          "classes": "hidden lg:table-cell text-right "
        }
      ],
      "rows": [
        [
          {
            "html": contentTable1Row1Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Cargo en cuenta</span> el 12 Junio 2022 <span class="table-cell bg-primary-light font-semibold px-xs py-px uppercase">Domiciliado</span>',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '17,86 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row2Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 12 Mayo 2022',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '1.054,21 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row3Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 2 Junio 2021',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '17,86 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row4Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 15 Junio 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '17,86 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row5Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 3 Abril 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '458,32 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row6Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 12 Febrero 2020',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '1.054,21 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row7Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 2 Junio 2019',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '17,86 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row8Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 15 Junio 2018',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '17,86 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row9Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 3 Marzo 2018',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '458,32 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ],
        [
          {
            "html": contentTable1Row10Cell1,
            "classes": "align-top"
          },
          {
            "html": '<span class="uppercase">Pagado</span> 12 Enero 2018',
            "classes": "align-top hidden lg:table-cell"
          },
          {
            "html": '1.054,21 €',
            "classes": "align-top hidden lg:table-cell text-right font-semibold"
          }
        ]
      ],
      "classes": "w-full mt-xs lg:text-sm"
    })  }}
  </div>
{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-rango-fecha.njk" %}
{% endblock %}
<!-- /modalBlock -->