{% set title = "Tributos - Valoraciones de inmuebles. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="my-base">
          {{ componentButton({
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        </div> 
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="c-h1 mb-xs lg:w-2/3">
              Tributos 
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs pb-base lg:pb-0",
              "items": [
                {
                  "href": "#",
                  "html": 'Deudas'
                },
                {
                  "href": "#",
                  "html": 'Historial de pagos'
                },
                {
                  "href": "#",
                  "html": 'Certificado corriente de pago'
                },
                {
                  "href": "#",
                  "html": 'Valoraciones de inmuebles',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="w-full lg:w-3/4">
    <h1 class="sr-only">Valoraciones de inmuebles</h1>
    <p class="c-paragraph-lg">Consulta el valor de un inmueble y el estado de tus solicitudes de valoración previa.</p>
    {{ componentButton({
      "text": "Consultar valor de inmuebles",
      "href": "/",
      "classes": "mt-sm"
    })  }}
    <div class="pb-xl"></div>
    <h2 class="c-h3 mb-base">Valoraciones solicitadas</h2>  

    <!-- bloque valoracion finalizada -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-1">
      <h3 id="valoracion-1" class="c-h3 mb-base">Valoración | DPSS_138423</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-success-light font-semibold px-xs py-px uppercase">Finalizado</span></p>
                      <p>Presentaste una solicitud de valoración previa el 10 enero 2021, y la Administración Tributaria de Aragón, informó del valor.</p>'
            },
            "classes": "w-full mb-base"
          },
          {
            "term": {
              "html": 'Fecha de valoración'
            },
            "definition": {
              "html": '10 enero 2020'
            },
            "classes": "w-full mb-base"
          },
          {
            "term": {
              "html": 'Efectos'
            },
            "definition": {
              "html": 'Esta valoración vincula a la administración durante tres meses desde la recepción de la notificación. Si al presentar el impuesto dentro del plazo establecido se declara este valor, la administración no lo volverá a comprobar.'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Informe de valoracion #}
      {% call componentItem({
        "title": {
          "text": "Informe de valoración (PDF, 300 Kb)",
          "attributes": {
            "id": "informe-1"
          }
        },
        "description": {
          "html": "CSV91238912373182",
          "classes": "text-sm text-neutral-dark"
        },
        "icon": {
          "type": "document",
          "containerClasses": "self-start h-full mr-base mt-xs"
        },
        "classes": "mb-base"
      })  %}
          <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0"><li><button id="btn-informe-1" class=" c-button c-button--transparent " aria-labelledby="btn-informe-1 informe-1">Descargar</button></li></ul>
      {% endcall %}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda <a href="#" class="c-link--alert">ver en TTO</a></p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion finalizada -->

    <!-- bloque valoracion en tramitacion -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-2">
      <h3 id="valoracion-2" class="c-h3 mb-base">Valoración | DPSS_138434</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-warning-light font-semibold px-xs py-px uppercase">En tramitación</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>
                      <p>Has presentado la solicitud el 10 enero 2021, la Administración Tributaria de Aragón lo está tramitando.</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda <a href="#" class="c-link--alert">ver en TTO</a></p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion en tramitacion -->    

    <!-- bloque valoracion no admitida -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-3">
      <h3 id="valoracion-3" class="c-h3 mb-base">Valoración | DPSS_13429</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-alert-light font-semibold px-xs py-px uppercase">No admitida</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda <a href="#" class="c-link--alert">ver en TTO</a></p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion no admitida -->   

    <!-- bloque valoracion desistido -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-4">
      <h3 id="valoracion-4" class="c-h3 mb-base">Valoración | DPSS_13429</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-neutral-light font-semibold px-xs py-px uppercase">Desistido</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda <a href="#" class="c-link--alert">ver en TTO</a></p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion desistido -->   

    <!--soporte técnico-->
    <div class="pb-base"></div>
    {% include "includes/_servicio-ayuda-valoraciones.njk" %}
    <!--/soporte técnico-->      

  </div>
{% endblock %}