{% set title = "Tributos - Valoraciones de inmuebles vacío. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="my-base">
          {{ componentButton({
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Inicio",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        </div> 
        <div class="lg:w-full mb-base ">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h3 class="c-h1 mb-xs lg:w-2/3">
              Tributos 
            </h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="order-4 w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs pb-base lg:pb-0",
              "items": [
                {
                  "href": "#",
                  "html": 'Deudas'
                },
                {
                  "href": "#",
                  "html": 'Historial de pagos'
                },
                {
                  "href": "#",
                  "html": 'Certificado corriente de pago'
                },
                {
                  "href": "#",
                  "html": 'Valoraciones de inmuebles',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="w-full lg:w-3/4">
    <h1 class="sr-only">Valoraciones de inmuebles</h1>
    <p class="c-paragraph-lg">Consulta el valor de un inmueble y el estado de tus solicitudes de valoración previa.</p>
    {{ componentButton({
      "text": "Consultar valor de inmuebles",
      "href": "/",
      "classes": "mt-sm"
    })  }}
    <div class="pb-xl"></div>
    <h2 class="c-h3 mb-base">Valoraciones previas solicitadas</h2>  

    {% call componentDetails({
      "summary": {
        "html": "¿Que es una valoración previa?"
      }
    })  %}
      <p class="c-paragraph-lg">Las valoraciones previas son informes que se pueden solicitar a la Administración Tributaria de Aragón para conocer el valor a efectos fiscales de los bienes inmuebles situados en nuestra Comunidad Autónoma que vayan a adquirirse o transmitirse. </p>
    {% endcall %}

    <div class="p-base bg-neutral-lighter mb-lg">
      <p class="italic">No se ha encontrado ningún expediente de valoración previa en este momento.</p>
    </div>

    <!--soporte técnico-->
    <div class="pb-base"></div>
    {% include "includes/_servicio-ayuda-valoraciones.njk" %}
    <!--/soporte técnico-->      

  </div>
{% endblock %}