{% set title = "Certificado corriente de pago - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Ir a tributos',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  
  
  <div class="w-full lg:w-3/4">

    <h1 class="c-h1 mb-sm">Certificado de estar al corriente de pago</h1>
    <p class="c-paragraph-base lg:text-lg">Documento que acredita no tener ninguna deuda pendiente con la Administración de la Comunidad Autónoma de Aragón, pudiendo tener carácter positivo (estar al corriente de pago) o negativo (existencia de deudas). <a href="#" class="c-link">Más información</a></p>
    {{ componentButton({
      "text": "Solicitar certificado corriente de pago",
      "href": "/",
      "classes": "mt-sm"
    })  }}

    <div class="pb-xl"></div>
    <h2 class="c-h3 mb-base">Tus certificados</h2>
    
    <!-- bloque certificado EN TRAMITACION -->
    <section class="p-base pb-0 bg-white border border-neutral-base rounded mb-base" aria-labelledby="certificado-1">
      <h3 id="certificado-1" class="c-h3 mb-base">Certificado | TTO2056</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> solicitud'
            },
            "definition": {
              "html": '<span class="block">TTO2056</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="font-semibold uppercase">En tramitación</span> desde el 10 enero 2022</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Ver detalles",
        "href": "/",
        "classes": "mb-base"
      })  }}      
    </section>

    <!-- bloque certificado EMITIDO -->
    <section class="p-base pb-0 bg-white border border-neutral-base rounded mb-base" aria-labelledby="certificado-2">
      <h3 id="certificado-2" class="c-h3 mb-base">Certificado | TTO2059</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> solicitud'
            },
            "definition": {
              "html": '<span class="block">TTO2059</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-neutral-light font-semibold px-xs py-px uppercase">Emitido</span> - Pendiente de aceptar notificación</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Ir a notificaciones",
        "href": "/",
        "classes": "mb-base"
      })  }}      
    </section>

    <!-- bloque certificado EMITIDO POSITIVO -->
    <section class="p-base pb-0 bg-white border border-neutral-base rounded mb-base" aria-labelledby="certificado-3">
      <h3 id="certificado-3" class="c-h3 mb-base">Certificado | TTO2057</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> solicitud'
            },
            "definition": {
              "html": '<span class="block">TTO2057</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-success-light font-semibold px-xs py-px uppercase">Emitido positivo</span> el 10 enero 2022</p>
                      <p>Certificado emitido con carácter positivo, es decir, no existen deudas.</p>'
            },
            "classes": "w-full mb-base"
          },
          {
            "term": {
              "html": 'Efectos'
            },
            "definition": {
              "html": 'La vigencia de este certificado es de 6 meses desde la fecha de emisión. Este certificado no genera derechos frente a otros procedimientos distintos del solicitado.'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Descargar certificado (PDF, 300 Kb)",
        "href": "/",
        "classes": "mb-base"
      })  }}      
    </section>

    <!-- bloque certificado EMITIDO NEGATIVO -->
    <section class="p-base pb-0 bg-white border border-neutral-base rounded mb-base" aria-labelledby="certificado-4">
      <h3 id="certificado-4" class="c-h3 mb-base">Certificado | TTO2058</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> solicitud'
            },
            "definition": {
              "html": '<span class="block">TTO2058</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-alert-light font-semibold px-xs py-px uppercase">Emitido negativo</span> el 10 enero 2022</p>
                      <p>Certificado emitido con carácter negativo, es decir, existen deudas. Descargar certificado para más información.</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Descargar certificado (PDF, 300 Kb)",
        "href": "/",
        "classes": "mb-base"
      })  }}      
      <p class="c-paragraph-base mb-xs">PDF con las cartas de pago para que pagues</p>
      {# Cartas de pago #}
      {% call componentItem({
        "title": {
          "text": "Cartas de pago (PDF, 300 Kb)",
          "attributes": {
            "id": "cartas-pago-1"
          }
        },
        "description": {
          "html": "6012001548231",
          "classes": "text-sm text-neutral-dark"
        },
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Archivo adjunto" focusable="false" role="img"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"/><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"/></g></svg>',
          "containerClasses": "self-start h-full mr-sm mt-xs"
        },
        "classes": "mb-base"
      })  %}
          <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0"><li><button id="btn-cartas-pago-1" class=" c-button c-button--transparent " aria-labelledby="btn-cartas-pago-1 cartas-pago-1">Descargar</button></li></ul>
      {% endcall %}
    </section>

    <!-- bloque certificado EMITIDO NEGATIVO sin cartas de pago -->
    <section class="p-base pb-0 bg-white border border-neutral-base rounded mb-base" aria-labelledby="certificado-5">
      <h3 id="certificado-5" class="c-h3 mb-base">Certificado | TTO2058</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> solicitud'
            },
            "definition": {
              "html": '<span class="block">TTO2058</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="bg-alert-light font-semibold px-xs py-px uppercase">Emitido negativo</span> el 10 enero 2022</p>
                      <p>Certificado emitido con carácter negativo, es decir, existen deudas. Descargar certificado para más información.</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Descargar certificado (PDF, 300 Kb)",
        "href": "/",
        "classes": "mb-base"
      })  }}      
      <p class="c-paragraph-base mt-sm">Tus deudas están en la AEAT - <a href="#" class="c-link">Más información</a></p>
    </section>
    
    <!--soporte técnico-->
    <div class="pb-base"></div>
    {% include "includes/_servicio-ayuda-certificado-corriente-pago.njk" %}


  </div>
{% endblock %}

