{% set title = "Tributos - Valoraciones de inmuebles - Iniciar trámite. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Volver",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1 text-2xl lg:text-3xl">¿Deseas iniciar el trámite?</h1>

  <div class="w-full lg:w-1/2">
      <p class="c-paragraph-base lg:c-paragraph-lg">
      Te vamos a <strong>redirigir al Tramitador online del Gobierno de Aragón</strong> para iniciar el trámite.
    </p>
    {{ componentButton({
      "html": 'Iniciar trámite<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
      "classes": "c-button--primary"
    })  }}  

    <div class="pb-lg"></div>   
    <h2 class="c-h4">Datos del trámite</h2>
    {{ componentDescriptionList({
      "classes": "mb-base py-sm border-t border-b border-neutral-base",
      "items": [
        {
          "term": {
            "text": "Trámite"
          },
          "definition": {
            "html": 'Solicitud de valoración de inmueble.'
          },
          "classes": "py-sm"
        },
        {
          "term": {
            "text": "Persona interesada"
          },
          "definition": {
            "html": 'Pedro Gomez - 73230607'
          },
          "classes": "py-sm"
        },
        {
          "term": {
            "text": "Inmueble"
          },
          "definition": {
            "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS<button class="c-button c-button--sm c-button--transparent align-bottom" title="Copiar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" width="1.1em" height="1.1em" role="img" aria-label="Copiar"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></button></p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>'
          },
          "classes": "py-sm"
        },
        {
          "term": {
            "text": "Inmueble"
          },
          "definition": {
            "html": '<p><span class="underline">Referencia catastral:</span> 789654139480239840NFS<button class="c-button c-button--sm c-button--transparent align-bottom" title="Copiar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" width="1.1em" height="1.1em" role="img" aria-label="Copiar"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></button></p>
                        <p><span class="underline">Ubicación:</span> Paseo Sagasta 80 2ºD 50006 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>'
          },
          "classes": "py-sm"
        },
        {
          "term": {
            "text": "Inmueble"
          },
          "definition": {
            "html": '<p><span class="underline">Referencia catastral:</span> 321654039480239840NFS<button class="c-button c-button--sm c-button--transparent align-bottom" title="Copiar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" width="1.1em" height="1.1em" role="img" aria-label="Copiar"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></button></p>
                        <p><span class="underline">Ubicación:</span> San Juan de la Cruz local 50006 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Local</p>'
          },
          "classes": "py-sm"
        }
      ]
    }) }}    
    
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Una vez presentada la solicitud podrás consultar el estado de tramitación en Mia.
    </p>
  </div>
{% endblock %}

