{% set title = "Solicitud de valoración previa - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}


{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <div class="my-base">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>  
    <h1 class="c-h1 mb-base">Solicitud de valoración previa</h1>
    <p class="c-paragraph-lg">Para realizar una solicitud de valoración previa de uno de tus <strong>bienes inmuebles que se encuentren en Aragón</strong>, primero vamos a consultar si tus inmuebles ya disponen de un valor de referencia.</p>

    <div class="pb-base"></div>
    <h2 class="c-h2 mb-base">Selecciona los inmuebles sobre los que deseas realizar la consulta</h2>
    
    {{ componentCheckboxes({
      "idPrefix": "inmuebles-urbanos",
      "name": "inmuebles-urbanos",
      "fieldset": {
        "legend": {
          "text": "Mis inmuebles urbanos en Aragón"
        }
      },
      "items": [
        {
          "value": "inmueble-urbano-1",
          "text": "Luis Buñuel 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-urbano-2",
          "text": "Luis Buñuel 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-urbano-3",
          "text": "Luis Buñuel 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB"
        }
      ]
    })  }}

    {{ componentCheckboxes({
      "idPrefix": "inmuebles-rusticos",
      "name": "inmuebles-rusticos",
      "fieldset": {
        "legend": {
          "text": "Mis inmuebles rústicos en Aragón"
        }
      },
      "items": [
        {
          "value": "inmueble-rustico-1",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-rustico-2",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-rustico-3",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-rustico-4",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-rustico-5",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        },
        {
          "value": "inmueble-rustico-6",
          "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB"
        }
      ]
    })  }}

    {{ componentButton({
      "text": "Consultar",
      "href": "#",
      "classes": "c-button--primary"
    })  }}    
  </div>
{% endblock %}

