{% set title = "Tributos - Valoraciones de inmuebles - Consulta - Resultado. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Volver",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1 text-2xl lg:text-3xl">
    Consulta el valor de varios inmuebles
  </h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Primero vamos a consultar si los inmuebles ya disponen de un valor de referencia, en caso que no lo tengan podrás hacer una solicitud de valoración previa de los <strong>inmuebles si se encuentran en Aragón</strong>. 
    </p>

    {{ componentDateInput({
      "id": "fecha-valor",
      "namePrefix": "fecha-valor",
      "fieldset": {
        "legend": {
          "text": "Indica la fecha en la que quieres consultar el valor"
        }
      },
      "items": [
        {
          "name": "día",
          "id": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "12"
        },
        {
          "name": "mes",
          "id": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "2"
        },
        {
          "name": "año",
          "id": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          },
          "value": "2021",
          "hasErrors": true
        }
      ]
    }) }}

    {{ componentCharacterCount({
      "name": "ref-catastro",
      "id": "ref-catastro",
      "maxlength": 1000,
      "value": "7563957R45000AC, 4784538963850UP, 4784538963850UP, 7545664R45000BT",
      "label": {
        "text": "Indica las referencias catastrales separadas por comas"
      },
      "rows": 3,
      "classes": "w-full md:w-4/5 xl:w-2/3"
    }) }}

    {{ componentButton({
      "text": "Consultar",
      "classes": "c-button--primary mt-lg",
      "href": "#"
    }) }}

    <div class="pb-xl"></div>    
    <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Resultado de la consulta para el 12 febrero 2021</h2>

    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3">1234567AB1234A0000AB - Luis Buñuel 6, 6ºB, Tarazona (Zaragoza)</h3>
      <p class="font-semibold">Tiene valor de referencia</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-4 gap-base mt-base",
        "items": [
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Urbano'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Residencial'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": '<strong>300.000€ a 12 febrero 2021</strong>'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      <ul class="mt-base">
        <li class="my-xs">
          <a href="#" class="c-link inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
            <span class="flex-1">Certificado de valor de referencia (PDF 332 Kb)</span>
          </a>
        </li>
      </ul>
    </div>  

    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3">1234567AB1234A0000AB - Luis Buñuel 6, 6ºB, Tarazona (Zaragoza)</h3>
      <p class="font-semibold"><span class="bg-alert-light px-xs">No tiene</span> valor de referencia</p>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-4 gap-base mt-base",
        "items": [
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Urbano'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Residencial'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": 'No tiene'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
    </div>  

    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3">1234567AB1234A0000AB</h3>
      <p class="font-semibold"><span class="bg-info-light px-xs">No hay datos.</span> Esta referencia no tiene datos asociados o no existe.</p>
    </div>  

    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-sm">
      <h3 class="c-h3">1234567AB1234A0000AB</h3>
      <p class="font-semibold"><span class="bg-info-light px-xs">Formato incorrecto,</span> el número indicado no tiene formato de referencia catastral.</p>
    </div> 

    <p class="c-paragraph-base font-semibold mt-base"><a href="#" class="c-link">Iniciar solicitud de valoración previa para todos los inmuebles que sin valor de referencia</a></p>

  </div>
{% endblock %}
