{% set title = "Tributos - Valoraciones de inmuebles - Consulta - Errores. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Volver",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1 text-2xl lg:text-3xl">
    Consulta el valor de varios inmuebles
  </h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Primero vamos a consultar si los inmuebles ya disponen de un valor de referencia, en caso que no lo tengan podrás hacer una solicitud de valoración previa de los <strong>inmuebles si se encuentran en Aragón</strong>. 
    </p>

    {{ componentDateInput({
      "id": "fecha-valor",
      "namePrefix": "fecha-valor",
      "fieldset": {
        "legend": {
          "text": "Indica la fecha en la que quieres consultar el valor"
        }
      },
      "items": [
        {
          "name": "día",
          "id": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "15"
        },
        {
          "name": "mes",
          "id": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "11"
        },
        {
          "name": "año",
          "id": "año",
          "classes": "w-20  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          },
          "value": "2025",
          "hasErrors": true
        }
      ],
      "errorMessage": {
        "text": "Error: No puede ser un día en el futuro"
      }
    }) }}

    {{ componentCharacterCount({
      "name": "ref-catastro",
      "id": "ref-catastro",
      "maxlength": 1000,
      "label": {
        "text": "Indica las referencias catastrales separadas por comas"
      },
      "rows": 3,
      "errorMessage": {
        "text": "Error: Es necesario indicar al menos una referencia.",
        "classes": "order-1 w-full pt-sm"
      },
      "classes": "w-full md:w-4/5 xl:w-2/3"
    }) }}

    {{ componentButton({
      "text": "Consultar",
      "classes": "c-button--primary mt-lg",
      "href": "#"
    }) }}

    <div class="pb-xl"></div>    
    {{ componentNotification({
      "title": {
        "text": "Problemas encontrados"
      },
      "description": {
        "text": "Por favor, revisa los siguientes campos."
      },
      "items": [
        {
          "text": "Es necesario indicar al menos una referencia catastral.",
          "href": "#ref-catastro"
        },
        {
          "text": "La fecha debe ser hoy o un día anterior, no puede ser un día futuro.",
          "href": "#año"
        }
      ],
      "type": "alert",
      "id": "type-alert"
    }) }}

  </div>
{% endblock %}
