{% set title = "Tributos Redirección TTO. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged-without-menu.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="w-full lg:w-1/2">
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <h1 class="c-h2 mb-lg">Redirigiendo al Tramitador Online...</h1>
    <p class="c-paragraph-base mb-lg">
      Te vamos a <strong>redirigir al Tramitador online del Gobierno de Aragón</strong> para que puedas iniciar y completar el trámite de valoración previa.
    </p>
    {{ componentButton({
      "text": "Continuar",
      "classes": "c-button--primary"
    })  }}  
  </div>
{% endblock %}

