{% set title = "Valoraciones de inmuebles - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="w-full lg:w-2/3">
    
    <div class="my-base">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>  
    <h1 class="c-h1">Valoraciones de inmuebles</h1>
    <p class="c-paragraph-base">Las valoraciones previas son informes que se pueden solicitar a la Administración Tributaria de Aragón para conocer el valor a efectos fiscales de los bienes inmuebles situados en nuestra Comunidad Autónoma que vayan a adquirise o transmitirse.</p>
    <p class="c-paragraph-base">Si el inmueble dispone de valor de referencia de catastrato no se podrá solicitar la valoración previa. Puede consultarlo en la <a href="#" class="c-link">Sede Electrónica de Catastrato</a></p>
    {{ componentButton({
      "text": "Solicitar valoración previa",
      "href": "/",
      "classes": "mt-sm"
    })  }}

    <div class="pb-xl"></div>
    <h2 class="c-h3 mb-base">Tus valoraciones previas</h2>
    
    <!-- bloque valoracion finalizada -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-1">
      <h3 id="valoracion-1" class="c-h3 mb-base">Valoración | DPSS_138423</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="font-semibold uppercase">Finalizado</span></p>
                      <p>Presentaste una solicitud de valoración previa el 10 enero 2021, y la Administración Tributaria de Aragón, informó del valor.</p>'
            },
            "classes": "w-full mb-base"
          },
          {
            "term": {
              "html": 'Fecha de valoración'
            },
            "definition": {
              "html": '10 enero 2020'
            },
            "classes": "w-full mb-base"
          },
          {
            "term": {
              "html": 'Efectos'
            },
            "definition": {
              "html": 'Esta valoración vincula a la administración durante tres meses desde la recepción de la notificación. Si al presentar el impuesto dentro del plazo establecido se declara este valor, la administración no lo volverá a comprobar.'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Informe de valoracion #}
      {% call componentItem({
        "title": {
          "text": "Informe de valoración (PDF, 300 Kb)",
          "attributes": {
            "id": "informe-1"
          }
        },
        "description": {
          "html": "CSV91238912373182",
          "classes": "text-sm text-neutral-dark"
        },
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Archivo adjunto" focusable="false" role="img"><path d="M12 0a7 7 0 0 0-7 7v11.87a5.13 5.13 0 1 0 10.25 0V9.71a3.29 3.29 0 1 0-6.58 0v7.79a1 1 0 0 0 2 0V9.71a1.29 1.29 0 1 1 2.58 0v9.16a3.13 3.13 0 1 1-6.25 0V7a5 5 0 0 1 10 0v7.5a1 1 0 0 0 2 0V7a7 7 0 0 0-7-7Z" style="fill:currentColor" transform="scale(2)"/></svg>',
          "containerClasses": "self-start h-full mr-base mt-xs"
        },
        "classes": "mb-base"
      })  %}
          <ul class="flex flex-wrap gap-sm -mt-sm lg:mt-0"><li><button id="btn-informe-1" class=" c-button c-button--transparent " aria-labelledby="btn-informe-1 informe-1">Descargar</button></li></ul>
      {% endcall %}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion finalizada -->

    <!-- bloque valoracion en tramitacion -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-2">
      <h3 id="valoracion-2" class="c-h3 mb-base">Valoración | DPSS_138434</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="font-semibold uppercase">En tramitación</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>
                      <p>Has presentado la solicitud el 10 enero 2021, la Administración Tributaria de Aragón lo está tramitando.</p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion en tramitacion -->

    <!-- bloque valoracion no admitida -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-3">
      <h3 id="valoracion-3" class="c-h3 mb-base">Valoración | DPSS_13429</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="font-semibold uppercase">No admitida</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion no admitida -->

    <!-- bloque valoracion desistido -->
    <section class="p-base bg-white border border-neutral-base rounded mb-base" aria-labelledby="valoracion-3">
      <h3 id="valoracion-3" class="c-h3 mb-base">Valoración | DPSS_13429</h3>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "html": 'Interesado'
            },
            "definition": {
              "html": '<span class="block">729838838Q</span> Tomás Pérez Ruiz'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Representante'
            },
            "definition": {
              "html": '<span class="block">ES-9994823-C</span> Gestoría Papeles S.L.'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": '<abbr title="Número">Nº</abbr> expediente'
            },
            "definition": {
              "html": '<span class="block">DPSS_138423</span>'
            },
            "classes": "w-full lg:w-1/3 mb-base pr-base"
          },
          {
            "term": {
              "html": 'Estado'
            },
            "definition": {
              "html": '<p><span class="font-semibold uppercase">Desistido</span> - <a href="" class="c-link font-semibold">Ver detalles</a></p>'
            },
            "classes": "w-full mb-base"
          }
        ]
      })  }}
      {# Detalles #}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalles de los inmuebles"
        }
      })  %}
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Inmueble 1'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Vivienda</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 2'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Garaje</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            },
            {
              "term": {
                "html": 'Inmueble 3'
              },
              "definition": {
                "html": '<p><span class="underline">Referencia catastral:</span> 930292039480239840NFS</p>
                        <p><span class="underline">Ubicación:</span> Baltasar Gracián 6 entresuelo D 50005 Zaragoza</p>
                        <p><span class="underline">Tipo:</span> Trastero</p>
                        <p><span class="underline">Valor:</span> 10.000€</p>'
              },
              "classes": "w-full mb-base"
            }
          ]
        })  }}
      {% endcall %}
    </section>
    <!-- /bloque valoracion desistido -->
    
    <!--soporte técnico-->
    <div class="pb-base"></div>
    {% include "includes/_servicio-ayuda-valoraciones.njk" %}
    <!--/soporte técnico-->

  </div>
{% endblock %}

