{% set title = "Consulta - Solicitud de valoración previa - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item/_macro.item.njk" import componentItem %}


{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <div class="my-base">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>  
    <h1 class="c-h1 mb-base">Solicitud de valoración previa</h1>
    <p class="c-paragraph-lg">Para realizar una solicitud de valoración previa de uno de tus <strong>bienes inmuebles que se encuentren en Aragón</strong>, primero debes consultar si ya dispones de un valor de referencia.</p>
    {{ componentButton({
      "text": "Realizar otra consulta",
      "href": "/"
    })  }}

    <div class="pb-lg"></div>
    <h2 class="c-h2 mb-base">Resultado de la consulta</h2>
    <p class="c-paragraph-lg mb-0">Fecha de consulta <strong>20 enero 2010</strong>.</p>
    <p class="c-paragraph-lg">8 inmuebles consultados de los cuales <strong class="bg-success-light font-semibold px-xs py-px">5 tienen valor</strong> de referencia y <strong class="bg-alert-light font-semibold px-xs py-px">3 no tienen valor</strong> de referencia.</p>
    
    <h3 class="c-h3 mb-0">3 inmuebles sin valor de referencia</h3>
    <p class="c-paragraph-base mb-sm">Estos inmuebles NO tienen un valor de referencia para la fecha indicada, pero puede solicitar su valoración previa.</p>
    {{ componentItem({
      "title": {
        "text": "Luis Buñuel 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-alert-light px-xs py-px">Sin valor de referencia</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Elvira Hidalgo 9, 14ºB, Huesca (Huesca) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-alert-light px-xs py-px">Sin valor de referencia</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Baltasar Gracián 10, 6ºH, Alcañiz (Teruel) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-alert-light px-xs py-px">Sin valor de referencia</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentButton({
      "text": "Solicitar valoración previa de estos inmuebles",
      "href": "#",
      "classes": "c-button--primary"
    })  }}    

    <div class="pb-xl"></div>
    <h3 class="c-h3 mb-0">5 inmuebles con valor de referencia</h3>
    <p class="c-paragraph-base mb-sm">Estos inmuebles ya tienen un valor de referencia para la fecha indicada. Al estar ya valorados por otra entidad, no puede solicitar una valoración previa de los mismos.</p>
    {{ componentItem({
      "title": {
        "text": "Gloria Fuertes 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-success-light px-xs py-px">Valor de referencia 100.010€</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Emilia Pardo, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-success-light px-xs py-px">Valor de referencia 100.010€</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Calle del Carmen 6, 6ºB, Tarazona (Zaragoza) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-success-light px-xs py-px">Valor de referencia 100.010€</span></li>
                  <li class="lg:inline-block px-sm">Urbano</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Polígono: 10, Parcela: 145, Paraje: Valdemontegil, Cadrete (Zaragoza) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-success-light px-xs py-px">Valor de referencia 100.010€</span></li>
                  <li class="lg:inline-block px-sm">Rústico</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
    {{ componentItem({
      "title": {
        "text": "Polígono: 14, Parcela: 27, Paraje: Villaconejos, Calanda (Teruel) - 1234567 AB1234A 0000 AB",
        "classes": "font-bold"
      },
      "content": {
        "html": '<ul class="-ml-sm lg:divide-x lg:divide-neutral-base">
                  <li class="lg:inline-block px-sm"><span class="bg-success-light px-xs py-px">Valor de referencia 100.010€</span></li>
                  <li class="lg:inline-block px-sm">Rústico</li>
                  <li class="lg:inline-block px-sm"><a href="#" class="c-link font-semibold">Ver detalles</a></li>
                </ul>'
      },
      "classes": "mb-sm"
    })  }}
  </div>
{% endblock %}

