{% set title = "Historial Pagos ICA detalle Domiciliado - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Ir a pagos realizados',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>   
  
  <div class="w-full lg:w-3/4">
    <h1 class="c-h2 lg:c-h1">Impuesto Medioambiental sobre las Aguas Residuales (IMAR) <span class="block font-normal text-base pt-xs lg:pt-0">REC-2017</span></h1>

    {# desglose #}
    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full border-t border-b border-neutral-base pt-base mb-lg",
      "items": [
        {
          "term": {
            "html": 'Importe total',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": '<strong>30€</strong>',
            "classes": "text-2xl"
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Pago',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": 'Domiciliado',
            "classes": "text-2xl bg-primary-light px-xs py-px"
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Fecha de pago',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": 'Cargo en cuenta 31 diciembre 2021',
            "classes": "text-2xl"
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Estado'
          },
          "definition": {
            "html": '<span class="bg-success-light font-semibold px-xs py-px uppercase">Pagado</span>'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Periodo de liquidación'
          },
          "definition": {
            "html": '1 julio 2021 - 31 diciembre 2021'
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Dirección del suministro'
          },
          "definition": {
            "html": 'Calle Baltasar gracia 6 entresuelo Derecha, nave 3,  50005 - Zaragoza'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Órgano gestor'
          },
          "definition": {
            "html": '<a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Instituto Aragonés del Agua</a>'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}
 
    <hr class="border-neutral-base my-base"><!--linea separadora-->

    {# info #}
    <div class="pb-base"></div>
    <h2 class="c-h3">Justificante de pago</h2> 
    <p class="c-paragraph-base mb-0"><strong>Estos datos no son válidos como justificantes del pago.</strong></p>
    <p class="c-paragraph-base">Para obtener el justificante de pago, accede a la <a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Oficina de gestión del IMAR</a>.</p>

    <div class="pb-base"></div>
    <h2 class="c-h3">Este pago está domiciliado</h2> 
    <p class="c-paragraph-base">Para obtener más información o cambiar la domiciliación consulta con el <a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Instituto Aragónes del Agua</a></p>
    {{ componentDescriptionList({
      "classes": "w-full mb-base",
      "items": [
        {
          "term": {
            "html": 'Número de cuenta',
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            'html': 'ES38 2085 0091 1238 6753 0012 (Ibercaja)',
            "classes": "lg:w-2/3 px-base pb-sm lg:pt-sm"
          },
          "classes": "lg:flex -mb-px border-t-2 border-b-2 border-neutral-base border-dashed"
        },
        {
          "term": {
            'html': 'Fecha de cargo en cuenta',
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            'html': '1 junio 2021',
            "classes": "lg:w-2/3 px-base pb-sm lg:pt-sm"
          },
          "classes": "lg:flex -mb-px border-b-2 border-neutral-base border-dashed"
        }
      ]
    })  }}
    
  </div>  
{% endblock %}