{% set title = "Fraccionamiento y aplazamientos Detalle aplazamiento - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Fraccionamiento y aplazamientos',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>   
  
  <div class="w-full lg:w-3/4">
    <h1 class="c-h2 lg:c-h1">Aplazamiento de la deuda 2023D9949000</h1>

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Código de deuda'
          },
          "definition": {
            "html": '2023D9949000'
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Expediente asociado'
          },
          "definition": {
            "html": '<a href="#" class="c-link font-semibold">Z/2019/4829</a>'
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Importe'
          },
          "definition": {
            "html": '1.000.000€'
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Fecha de notificación de la resolución'
          },
          "definition": {
            "html": '15 de diciembre de 2021'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Descripción'
          },
          "definition": {
            "html": 'Transmisiones patrimoniales y actos jurídicos documentados'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Concepto'
          },
          "definition": {
            "html": 'Liquidación por Compraventa de vivienda - subconcepto'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Órgano gestor'
          },
          "definition": {
            "html": '<a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Dirección General de Tributos del Gobierno de Aragón</a>'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}


    <div class="pb-base"></div>
    <h2 class="c-h3">Deuda aplazada</h2> 
    <p class="c-paragraph-base mb-sm">Se ha fijado un nuevo plazo de vencimiento para la deuda.</p>
    <p class="flex px-sm py-xs bg-warning-light c-paragraph-sm lg:c-paragraph-base mb-0 lg:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm ml-xs" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 3.125a.75.75 0 0 1 .75.75v3.25a.75.75 0 0 1-1.5 0v-3.25a.75.75 0 0 1 .75-.75Zm1 6.75a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>
      <span class="flex-1"><strong>IMPORTANTE:</strong> para el pago utiliza la carta de pago correspondiente a este aplazamiento.</span>
    </p>
    <div class="table w-full mb-base border-t border-neutral-base">
      <div class="lg:table-row py-sm border-b border-neutral-base">
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base"><a href="#" class="c-link"><strong>Aplazamiento 2023D9949001</strong></a></div>
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base">Fecha de vencimiento 20 Junio 2023</div>
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base font-semibold lg:text-right">1.000€</div>
      </div>
    </div>

    <div class="pb-base"></div>
    <h2 class="c-h3">Intereses del aplazamiento</h2> 
    <div class="table w-full mb-base border-t border-neutral-base">
      <div class="lg:table-row py-sm border-b border-neutral-base">
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base"><a href="#" class="c-link"><strong>Intereses - 2023D9949001</strong></a></div>
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base">Fecha de vencimiento 20 Junio 2023</div>
        <div class="lg:table-cell lg:py-base px-sm lg:border-b border-neutral-base font-semibold lg:text-right">12,50€</div>
      </div>
    </div>

    <div class="pb-lg"></div>
    <h2 class="c-h3">Pago</h2> 
    <p class="c-paragraph-base">Se deberá pagar la deuda aplazada junto con los intereses en la fecha de vencimiento indicada. Consulta los detalles para conocer la forma de pago de cada uno. De no poseer por cualquier causa los documentos para el pago ponte en contacto en el correo electrónico indicado en la notificación del aplazamiento.</p>
    <p class="c-paragraph-base">Conserva el justificante de pago emitido por el servicio de pago telemático o por la entidad colaboradora. La información sobre los pagos se actualiza periódicamente. </p>

    <div class="pb-base"></div>
    <h2 class="c-h3">Intereses</h2> 
    <p class="c-paragraph-base">El aplazamiento de una deuda genera intereses, estos intereses se deben pagar junto el aplazamiento dentro de la fecha de vencimiento indicada. <a href="https://www.aragon.es/-/aplazamiento-o-fraccionamiento-de-pago" class="c-link" target="_blank" title="Se abre en ventana nueva">Más información sobre intereses</a>.</p>

    <div class="pb-base"></div>
    <h2 class="c-h3">Información adicional y normativa</h2> 
    <p class="c-paragraph-base">Puedes consultar información adicional y la normativa aplicable en <a href="https://www.aragon.es/-/aplazamiento-o-fraccionamiento-de-pago" class="c-link" target="_blank" title="Se abre en ventana nueva">Aplazamiento o fraccionamiento de pago de deudas en Aragón</a>.</p>

  </div>
 
{% endblock %}