{% set title = "Fraccionamiento y aplazamientos listado - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Ir a tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 

  <div class="w-full lg:w-3/4">
    <h1 class="c-h2 mb-sm lg:c-h1 lg:mb-sm">Fraccionamiento y aplazamientos</h1>
    <p class="c-paragraph-base mb-0">Puedes tener otras deudas que todavía no se hayan cargado en el sistema.</p>
    <p class="c-paragraph-base">Más información en <a href="https://www.aragon.es/-/aplazamiento-o-fraccionamiento-de-pago" class="c-link font-semibold" target="_blank" title="Se abre en ventana nueva">Aplazamiento o fraccionamiento de pago de deudas en Aragón</a>.</p>
    
    {# fraccionamiento #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Deuda 2023d0049000</a></p>
        <p class="c-paragraph-base">Transmisiones patrimoniales y actos jurídicos documentados</p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Estado'
              },
              "definition": {
                "html": '<span class="bg-warning-light font-semibold px-xs py-px uppercase">Fraccionada</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },            
            {
              "term": {
                "html": 'Código de deuda'
              },
              "definition": {
                "html": '2023D9949000'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Deudas asociadas'
              },
              "definition": {
                "html": '8 deudas'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>

    {# aplazamiento #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Deuda 2023d0049000</a></p>
        <p class="c-paragraph-base">Transmisiones patrimoniales y actos jurídicos documentados</p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Estado'
              },
              "definition": {
                "html": '<span class="bg-warning-light font-semibold px-xs py-px uppercase">Aplazada</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },            
            {
              "term": {
                "html": 'Código de deuda'
              },
              "definition": {
                "html": '2023D9949000'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Deudas asociadas'
              },
              "definition": {
                "html": '2 deudas'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>

    {# fraccionamiento #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Deuda 2023D9949002</a></p>
        <p class="c-paragraph-base">Fracción de deuda 2023D9949000</p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Estado'
              },
              "definition": {
                "html": '<span class="bg-warning-light font-semibold px-xs py-px uppercase">Fraccionada</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },            
            {
              "term": {
                "html": 'Código de deuda'
              },
              "definition": {
                "html": '2023D9949000'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Deudas asociadas'
              },
              "definition": {
                "html": '4 deudas'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>

  </div>
  
{% endblock %}