{% set title = "Distribuidora - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}


{% block contentBlock %}

    <div class="w-full lg:w-3/4">
      <div class="my-base">
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Inicio',
          "classes": "c-button--transparent",
          "href": "/"
        })  }}
      </div>  
      <h1 class="c-h1 mb-xs">Tributos</h1>
      <p class="c-paragraph-base lg:c-paragraph-lg lg:mb-base">
        Deudas, pagos realizados y fraccionamientos
      </p>
      {{ componentLinksList({
        "idPrefix": "menu-tributos",
        "classes": "mb-base",
        "items": [
          {
            "href": "#",
            "text": "Deudas pendientes",
            "classes": "flex justify-between items-center py-base lg:text-lg font-bold",
            "sub": {
              "html": '<p class="text-black">Consulta tus recibos del ICA o IMAR y otras deudas tributarias.</p>'
            }
          },
          {
            "href": "#",
            "text": "Pagos realizados",
            "classes": "flex justify-between items-center py-base lg:text-lg font-bold",
            "sub": {
              "html": '<p class="text-black">Accede a los pagos de tasas y otros tributos.</p>'
            }
          },
          {
            "href": "#",
            "text": "Aplazamientos y fraccionamientos",
            "classes": "flex justify-between items-center py-base lg:text-lg font-bold",
            "sub": {
              "html": '<p class="text-black">Consulta tus aplazamientos y fraccionamientos.</p>'
            }
          },
          {
            "href": "#",
            "text": "Valoración previa de inmuebles",
            "classes": "flex justify-between items-center py-base lg:text-lg font-bold",
            "sub": {
              "html": '<p class="text-black">Consulta y solicita el valor de un inmueble para liquidar impuestos de la comunidad autónoma de Aragón.</p>'
            }
          },
          {
            "href": "#",
            "text": "Certificado de estar al corriente de pagos ",
            "classes": "flex justify-between items-center py-base lg:text-lg font-bold",
            "sub": {
              "html": '<p class="text-black">Consulta los certificados que has solicitado.</p>'
            }
          }
        ],
        "attributes": {
          "aria-label": "Menu de tributos"
        }
      }) }}

      <div class="pb-xl"></div><!--espaciador-->

      <h2 class="c-h2 mb-sm">Mi domicilio fiscal</h2>
      <p class="c-paragraph-sm lg:c-paragraph-base mb-0 lg:mb-0">
        Este es el domicilio fiscal que consta en el censo de la <abbr title="Agencia Estatal de Administración Tributaria">AEAT</abbr>. 
      </p>
      <p class="c-paragraph-sm lg:c-paragraph-base">
        Si hay algún error en los datos de tu domicilio, <a href="#" class="c-link">visita la web de la <abbr title="Agencia Estatal de Administración Tributaria">AEAT</abbr> </a>
      </p>
      {# direccion #}
      <div class="mb-sm bg-white border border-neutral-base rounded">
        <div class="p-base pb-sm">
          <p class="font-semibold c-paragraph-base lg:c-paragraph-lg mb-sm lg:mb-sm">Plaza de Nuestra Señora del Pilar, 3 </p>
          {{ componentDescriptionList({
            "classes": "lg:flex lg:flex-wrap w-full",
            "items": [
              {
                "term": {
                  "html": 'Código postal'
                },
                "definition": {
                  "html": '50071'
                },
                "classes": "mb-sm lg:pr-xl"
              },  
              {
                "term": {
                  "html": 'Municipio'
                },
                "definition": {
                  "html": 'Alagón'
                },
                "classes": "mb-sm lg:pr-xl"
              },          
              {
                "term": {
                  "html": 'Localidad'
                },
                "definition": {
                  "html": 'La Joyosa'
                },
                "classes": "mb-sm lg:pr-xl"
              },
              {
                "term": {
                  "html": 'Provincia'
                },
                "definition": {
                  "html": 'Zaragoza'
                },
                "classes": "mb-sm lg:pr-xl"
              }
            ]
          })  }}
        </div>
      </div>
      {# direccion #}
      <div class="mb-sm bg-white border border-neutral-base rounded">
        <div class="p-base pb-sm">
          <p class="font-semibold c-paragraph-base lg:c-paragraph-lg mb-sm lg:mb-sm">En el extranjero | 37 Boulevard Richard Lenoir, Bastilla - 11º distrito</p>
          {{ componentDescriptionList({
            "classes": "lg:flex lg:flex-wrap w-full",
            "items": [
              {
                "term": {
                  "html": 'Código postal'
                },
                "definition": {
                  "html": '75011'
                },
                "classes": "mb-sm lg:pr-xl"
              },            
              {
                "term": {
                  "html": 'Municipio'
                },
                "definition": {
                  "html": 'París'
                },
                "classes": "mb-sm lg:pr-xl"
              },
              {
                "term": {
                  "html": 'Provincia'
                },
                "definition": {
                  "html": 'Isla de Francia'
                },
                "classes": "mb-sm lg:pr-xl"
              },
              {
                "term": {
                  "html": 'País'
                },
                "definition": {
                  "html": 'Francia'
                },
                "classes": "mb-sm lg:pr-xl"
              }
            ]
          })  }}
        </div>
      </div>
      {# direccion #}
      <div class="mb-sm bg-white border border-neutral-base rounded">
        <div class="p-base pb-sm">
          <p class="font-semibold c-paragraph-base lg:c-paragraph-lg mb-sm lg:mb-sm">En el extranjero | 38-51 Bedford Way</p>
          {{ componentDescriptionList({
            "classes": "lg:flex lg:flex-wrap w-full",
            "items": [
              {
                "term": {
                  "html": 'Código postal'
                },
                "definition": {
                  "html": 'WC1H 0DG'
                },
                "classes": "mb-sm lg:pr-xl"
              },            
              {
                "term": {
                  "html": 'Municipio'
                },
                "definition": {
                  "html": 'Londres'
                },
                "classes": "mb-sm lg:pr-xl"
              },
              {
                "term": {
                  "html": 'Provincia'
                },
                "definition": {
                  "html": 'Gran Londres'
                },
                "classes": "mb-sm lg:pr-xl"
              },
              {
                "term": {
                  "html": 'País'
                },
                "definition": {
                  "html": 'Reino Unido'
                },
                "classes": "mb-sm lg:pr-xl"
              }
            ]
          })  }}
        </div>
      </div>

      <div class="pb-xl"></div><!--espaciador-->

      <h2 class="c-h2 mb-base">Quizá te pueda interesar</h2>
      <ul class="pb-lg lg:pb-0">
        <li class="mb-sm"><a href="#" class="c-link">Servicio de presentación telemática de Tributos</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Servicio de pago de deudas tributarias</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Cancelación de hipoteca </a></li>
        <li class="mb-sm"><a href="#" class="c-link">Servicio de ayuda y autoconfección</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Donaciones</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Transmisión de vehículos</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Herencia y transmisiones patrimoniales</a></li>
        <li class="mb-sm"><a href="#" class="c-link">Préstamos entre particulares</a></li>
      </ul>

    </div>

{% endblock %}

