{% set title = "Deudas Redirección Servicio de Pago - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="w-full lg:w-1/2">
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <h1 class="c-h2 lg:c-h1">¿Deseas ir a servicio de pago?</h1>
    <p class="c-paragraph-base lg:c-paragraph-lg">
      Te vamos a <strong>redirigir al Servicio de Pago de deudas tributarias</strong> para iniciar el trámite.
    </p>
    {{ componentButton({
      "html": 'Acceder a servicio de pago<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
      "classes": "c-button--primary"
    })  }}  

    <div class="pb-lg"></div>   
    {{ componentDescriptionList({
      "classes": "mb-base py-sm border-t border-b border-neutral-base",
      "items": [
        {
          "term": {
            "text": "Deuda"
          },
          "definition": {
            "html": 'Transmisiones patrimoniales y actos jurídicos documentados - Z/2019/4829'
          },
          "classes": "py-xs"
        },
        {
          "term": {
            "text": "Titular de la deuda"
          },
          "definition": {
            "html": 'Pedro Gomez - 73230607'
          },
          "classes": "py-xs"
        },
        {
          "term": {
            "text": "Número de justificante"
          },
          "definition": {
            "html": '6012001548231<button class="c-button c-button--sm c-button--transparent align-bottom" title="Copiar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" width="1.1em" height="1.1em" role="img" aria-label="Copiar"><path fill="currentColor" fill-rule="evenodd" d="M2.25 1.75a.25.25 0 0 1 .25-.25h5a.75.75 0 0 0 0-1.5h-5A1.75 1.75 0 0 0 .75 1.75V9.5a.75.75 0 0 0 1.5 0V1.75ZM5.5 3h2.875v3.5c0 .345.28.625.625.625h3.5V12.5A1.5 1.5 0 0 1 11 14H5.5A1.5 1.5 0 0 1 4 12.5v-8A1.5 1.5 0 0 1 5.5 3Zm4.125.125 2.75 2.75h-2.75v-2.75Z" clip-rule="evenodd"/></svg></button>'
          },
          "classes": "py-xs"
        }
      ]
    }) }}       
  </div>
{% endblock %}

