{% set title = "Deudas ICA listado - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Ir a tributos",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 

  <div class="w-full lg:w-3/4">
    <h1 class="c-h2 mb-sm lg:c-h1 lg:mb-sm">Consulta de deudas</h1>
    <p class="c-paragraph-base">La información sobre deudas y pagos se actualiza periódicamente. Puedes tener otras deudas y pagos que todavía no se hayan cargado en el sistema.  Los datos que aquí se muestran no son válidos como justificante de pago. Conserva el justificante emitido por la entidad colaboradora o la pasarela de pagos al realizar el pago.</p>

    <!-- saber mas -->
    {% call componentDetails({
      "summary": {
        "html": 'Información sobre deudas y recargos'
      },
      "classes": "mb-base"
    })  %}
    <p class="c-paragraph-base"><strong>¿Por qué estados puede pasar una deuda?</strong></p>
    <ul class="c-ul">
      <li>Una deuda se considera en <strong>periodo voluntario</strong> si aún no ha transcurrido su fecha de vencimiento (fecha límite para pagar sin recargo).</li>
      <li>
        Si la deuda no se paga totalmente durante el periodo voluntario, se inicia el <strong>periodo ejecutivo</strong>, aplicándose recargos del 5%, 10% o 20% en función del momento en que se produzca el pago.
        <ul class="mt-base"><li>Las deudas en periodo ejecutivo podrán enviarse a la Agencia Estatal de Administración Tributaria (AEAT) para su cobro por el procedimiento de apremio, en cuyo caso las verás reflejadas en periodo “<strong>ejecutivo AEAT</strong>”. Una vez iniciado el procedimiento de apremio la deuda deberá pagarse con el <a href="#" class="c-link">recargo de apremio</a>.</li></ul>
      </li>
      <li>Tanto en periodo voluntario como en periodo ejecutivo es posible que una deuda se encuentre <strong>temporalmente suspendida</strong>. En ese caso se paraliza temporalmente el procedimiento para su cobro hasta que se adopte una decisión sobre la causa que motivó la suspensión. En función de la decisión que se adopte, la Administración podrá liquidar intereses de demora, desde la fecha de vencimiento de la deuda, hasta el momento en que se produzca el pago.</li>
      <li>Durante el periodo voluntario y ejecutivo <strong>se puede solicitar el aplazamiento o fraccionamiento</strong> para el pago de la deuda en los términos que regula el Reglamento General de Recaudación (<a href="https://www.aragon.es/-/aplazamiento-o-fraccionamiento-de-pago" class="c-link" target="_blank" title="Se abre en ventana nueva">Aplazamiento o fraccionamiento de pago de deudas en Aragón. Gobierno de Aragón (aragon.es)</a>.</li>
    </ul>
    <p class="c-paragraph-base"><strong>¿Qué recargo pueden aplicarme si no pago en el periodo voluntario? </strong></p>
    <p class="c-paragraph-base">Si no realizas el pago en periodo voluntario o lo realizas una vez finalizado, se exigirá un recargo que variará según el momento en el que se pague la deuda. Los recargos del periodo ejecutivo son de tres tipos:</p>
    <ul class="c-ul">
      <li><strong>Recargo ejecutivo</strong>: es el <strong>5%</strong> del importe principal de la deuda. Se aplica cuando se paga la totalidad de la deuda no ingresada en periodo voluntario antes de la notificación de la providencia de apremio.</li>
      <li><strong>Recargo de apremio reducido</strong>: es el <strong>10%</strong> del importe principal de la deuda y se aplica cuando se paga la totalidad de la deuda no ingresada en periodo voluntario y el propio recargo del 10% en el plazo concedido en la providencia de apremio.</li>
      <li><strong>Recargo de apremio ordinario</strong>: es del <strong>20%</strong> del importe principal de la deuda. Se aplica cuando no se haya ingresado la totalidad de la deuda y del recargo de apremio reducido en el plazo concedido en la providencia de apremio. Este recargo es compatible con los intereses de demora, desde el fin del periodo voluntario hasta la fecha del pago.</li>
    </ul>
    <p class="c-paragraph-base">Consulta <a href="https://www.aragon.es/-/recaudacion" class="c-link" target="_blank" title="Se abre en ventana nueva">recaudación Tributaria en Aragón</a>, para más información sobre estado de las deudas, periodos de pago y recargos.</p>
    {% endcall %}
    <!-- /saber mas -->

    {# avisos #}
    <div class="mb-lg">
      {{ componentNotification({
        "title": {
          "html": '<span class="font-normal">Tienes <strong>2 deudas en periodo ejecutivo</strong>  por un importe de <strong>60,25€ + recargos</strong></span> <span class="block font-normal">Tienes 1 deuda en periodo voluntario por un importe de 20€</span>'
        },
        "type": "info",
        "id": "type-info"
      })  }}
    </div>

    {# Filtro #}
    {{ componentToggle({
      "classes": "c-button c-button--sm c-button--transparent no-underline mb-sm",
      "offState": {
        "classes": "",
        "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.71 2.3a1.45 1.45 0 0 0 .14-1.51A1.41 1.41 0 0 0 12.57 0H1.43A1.4 1.4 0 0 0 .15.8a1.43 1.43 0 0 0 .16 1.52l5.13 6.32a.25.25 0 0 1 .06.16v4.7a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.8a.25.25 0 0 1 .06-.16ZM7.6 6.65a.29.29 0 0 1-.2.09h-.8a.29.29 0 0 1-.2-.09L3 2.41a.26.26 0 0 1 0-.27.26.26 0 0 1 .15-.14h7.7a.26.26 0 0 1 .22.14.26.26 0 0 1 0 .27Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Mostrar filtros</span>"
      },
      "onState": {
        "classes": "c-button--has-selection",
        "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.9.8a.51.51 0 0 0 0-.52.51.51 0 0 0-.4-.28H.5a.51.51 0 0 0-.45.28A.51.51 0 0 0 .1.8l5.19 6.79a1 1 0 0 1 .21.61v5.3a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.2a1 1 0 0 1 .21-.61Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Mostrar filtros</span>"
      },
      "attributes": {
        "aria-controls": "panel-filtros",
        "onclick": "toggleFilter()"
      }
    }) }}
        <script>
          function toggleFilter() {
            var elements = document.querySelectorAll('[data-module="hint-filtro"]');
            for (var i = 0; i < elements.length; i++) {
              elements[i].classList.toggle('hidden')
            }
          }
        </script>
        <div class="hidden mb-base" data-module="hint-filtro" id="panel-filtros">
          <div class="lg:w-2/3 pb-sm">
            {{ componentSearchbar({
              "id": "buscador-resultados",
              "label": {
                "text": "Buscar"
              },
              "button": {
                "text": "Buscar",
                "type": "submit",
                "classes": "c-button--primary ml-sm"
              },
              "classes": "flex-1 pr-2",
              "placeholder": "Buscar deuda por nombre..."
            })  }}   
          </div>
          {{ componentMenubar({
            "id": "menu-filtros",
            "idPrefix": "filter-menu",
            "ariaLabel": "Menú de filtros",
            "items": [
              {
                "text": "Tipo",
                "ariaLabel": "Tipo",
                "id": "menu-tipo",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Tipos de pago",          
                      "items": [
                        {
                          "role": "menuitemradio",
                          "text": "ICA",
                          "checked": true
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Tributaria"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Sanciones"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Reintegro de subvención"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Estado",
                "ariaLabel": "Estado",
                "id": "menu-estado",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Estado de la deuda",          
                      "items": [
                        {
                          "role": "menuitemradio",
                          "text": "Periodo ejecutivo AEAT",
                          "checked": true
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Periodo ejecutivo"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Periodo voluntario"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Domiciliado"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Recibo devuelto"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Suspendida"
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Fecha",
                "ariaLabel": "Fecha",
                "id": "menu-fecha",
                "classes": "c-menubar__button--sm mb-sm mr-sm",
                "sub": {
                  "items": [          
                    {
                      "role": "group",
                      "ariaLabel": "Fecha",          
                      "items": [
                        {
                          "role": "menuitemradio",
                          "text": "2 años",
                          "checked": true
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Seleccionar fechas..."
                        }
                      ]
                    }
                  ]                
                }
              },
              {
                "text": "Eliminar filtros",
                "ariaLabel": "Eliminar filtros",
                "id": "menu-eliminar-filtros",
                "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
                "href": "#"
              }
            ]
          })  }}              
        </div> 

    {# deuda periodo ejecutivo aeat #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-black text-white px-xs py-px uppercase">Ejecutivo AEAT</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>30€ + recargos</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>
    {# deuda periodo ejecutivo #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-alert-base text-white px-xs py-px uppercase">Ejecutivo</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>30€ + recargos</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>
    {# deuda periodo voluntario #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-white font-semibold px-xs py-px uppercase">Voluntario</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>3.000.000€ + recargos</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Fecha de vencimiento'
              },
              "definition": {
                "html": '22 Septiembre 2021 (Quedan 5 días)'
              },
              "classes": " mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
    </div>
    {# deuda periodo voluntario domiciliada #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-white font-semibold px-xs py-px uppercase">Voluntario</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>30€</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Fecha de vencimiento'
              },
              "definition": {
                "html": '22 Septiembre 2021 (Quedan 5 días)'
              },
              "classes": " mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
      <!-- aviso domiciliacion -->
      <p class="flex px-sm lg:px-base py-sm bg-primary-light text-sm lg:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-center" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>
        <span class="flex-1"><strong>PAGO DOMICILIADO</strong>, se cargará en cuenta el 1 junio 2021.</span>
      </p>
      <!-- /aviso domiciliacion -->
    </div>
    {# deuda periodo voluntario recibo devuelto #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-white font-semibold px-xs py-px uppercase">Voluntario</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>30€</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Fecha de vencimiento'
              },
              "definition": {
                "html": '22 Septiembre 2021 (Quedan 5 días)'
              },
              "classes": " mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
      <!-- aviso error -->
      <p class="flex px-sm lg:px-base py-sm bg-warning-light text-sm lg:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="mr-sm self-center" aria-hidden="true" focusable="false"><path fill="currentColor" d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
        <span class="flex-1"><strong>RECIBO DEVUELTO</strong>, tienes hasta el <strong>22 septiembre 2021</strong> para solicitar el duplicado y abonar el recibo.</span>
      </p>
      <!-- /aviso error -->
    </div>
    {# deuda periodo voluntario suspendida #}
    <div class="mb-base bg-white border border-neutral-base rounded">
      <div class="p-base pb-xs">
        <p class="font-semibold"><a href="#" class="c-link">Impuesto sobre la contaminación del agua (ICA)</a></p>
        <p class="-ml-3 xl:divide-x xl:divide-neutral-dark mb-base">
          <span class="block xl:inline-block px-3">1 julio 2021 - 31 diciembre 2021</span><span class="block xl:inline-block px-3">Calle Baltasar Gracián 6, Entresuelo derecha, nave 3, 50005 Zaragoza</span>
        </p>
        {{ componentDescriptionList({
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "html": 'Período'
              },
              "definition": {
                "html": '<span class="bg-white font-semibold px-xs py-px uppercase">Voluntario</span>'
              },
              "classes": "mb-base lg:pr-2xl"
            },
            {
              "term": {
                "html": 'Importe'
              },
              "definition": {
                "html": '<strong>30€</strong>'
              },
              "classes": "mb-base lg:pr-2xl"
            }
          ]
        })  }}
      </div>
      <!-- aviso suspendida -->
      <p class="flex px-sm lg:px-base py-sm bg-neutral-light text-sm lg:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mr-sm self-center" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM5.5 9.375a.625.625 0 1 0 0 1.25h3a.625.625 0 1 0 0-1.25h-.875V6.5A.625.625 0 0 0 7 5.875H6a.625.625 0 1 0 0 1.25h.375v2.25H5.5ZM8 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>
        <span class="flex-1"><strong>DEUDA SUSPENDIDA TEMPORALMENTE</strong></span>
      </p>
      <!-- /aviso suspendida -->
    </div>

    {# Paginacion #}
    {{ componentPagination({
      "id": "listbox-style",
      "hasSelect": true,
      "idPrefix": "pagination-has-select",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        },
        {
          "href": "#",
          "text": 7
        },
        {
          "href": "#",
          "text": 8
        },
        {
          "href": "#",
          "text": 9
        },
        {
          "href": "#",
          "text": 10
        },
        {
          "href": "#",
          "text": 11
        },
        {
          "href": "#",
          "text": 12
        },
        {
          "href": "#",
          "text": 13
        },
        {
          "href": "#",
          "text": 14
        }
      ],
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "hasNext": true, 
      "attributes": {
        "aria-label": "Paginación"
      }
    }) }}

  </div>    
  
{% endblock %}