{% set title = "Deudas ICA detalle domiciliado - Tributos. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Consulta de deudas',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div>   
  
  <div class="w-full lg:w-3/4">
    <h1 class="c-h2 lg:c-h1">Impuesto sobre la contaminación del agua (ICA) <span class="block font-normal text-base pt-xs lg:pt-0">REC-2017</span></h1>

    {# desglose #}
    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full border-t border-b border-neutral-base pt-base mb-lg",
      "items": [
        {
          "term": {
            "html": 'Importe',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": '<strong>30€</strong>',
            "classes": "text-2xl"
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Pago',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": 'Domiciliado',
            "classes": "text-2xl bg-primary-light px-xs py-px"
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": '<!-- tooltip -->
                    <div id="example-info" data-module="c-tooltip">
                      <div id="example-info-button" data-module="c-tooltip-button" class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="example-info-button example-info-tooltip">
                        <p>
                          Fecha de vencimiento
                        </p>
                        <span class="inline-block w-1.5"></span>
                        <span class="inline-block">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información">
                            <path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" />
                          </svg>
                        </span>
                      </div>
                      <div id="example-default-tooltip" class="-my-xs p-sm shadow-md bg-black rounded text-white" data-module="c-tooltip-tooltip">
                        <p class="c-paragraph-base mb-0">Fecha límite para pagar durante el periodo voluntario, sin recargo</p>
                      </div>
                    </div>
                    <!-- /tooltip -->
                    ',
            "classes": "text-base text-neutral-dark"
          },
          "definition": {
            "html": '22 septiembre 2021',
            "classes": "text-2xl"
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Período'
          },
          "definition": {
            "html": '<span class="bg-white font-semibold px-xs py-px uppercase">Voluntario</span>'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Periodo de liquidación'
          },
          "definition": {
            "html": '1 julio 2021 - 31 diciembre 2021'
          },
          "classes": "mb-base lg:pr-xl"
        },
        {
          "term": {
            "html": 'Dirección del suministro'
          },
          "definition": {
            "html": 'Calle Baltasar gracia 6 entresuelo Derecha, nave 3,  50005 - Zaragoza'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}

    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "html": 'Órgano gestor'
          },
          "definition": {
            "html": '<a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Instituto Aragonés del Agua</a>'
          },
          "classes": "mb-base lg:pr-xl"
        }
      ]
    })  }}
 
    <hr class="border-neutral-base my-base"><!--linea separadora-->

    {# info #}
    <div class="pb-base"></div>
    <h2 class="c-h3">Este pago está domiciliado</h2> 
    <p class="c-paragraph-base">Para obtener más información o cambiar la domiciliación consulta con el <a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Instituto Aragónes del Agua</a></p>
    {{ componentDescriptionList({
      "classes": "w-full mb-base",
      "items": [
        {
          "term": {
            "html": 'Número de cuenta',
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            'html': 'ES38 2085 0091 1238 6753 0012 (Ibercaja)',
            "classes": "lg:w-2/3 px-base pb-sm lg:pt-sm"
          },
          "classes": "lg:flex -mb-px border-t-2 border-b-2 border-neutral-base border-dashed"
        },
        {
          "term": {
            'html': 'Fecha de cargo en cuenta',
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            'html': '1 junio 2021',
            "classes": "lg:w-2/3 px-base pb-sm lg:pt-sm"
          },
          "classes": "lg:flex -mb-px border-b-2 border-neutral-base border-dashed"
        }
      ]
    })  }}

    <div class="pb-base"></div>
    <h2 class="c-h3">Deuda en periodo voluntario</h2> 
    <p class="c-paragraph-base">Esta deuda se encuentra en periodo voluntario, es decir, aún no ha pasado su fecha de vencimiento.</p>
    <p class="c-paragraph-base">En <strong>caso de no pagar</strong> dentro del periodo voluntario, la deuda pasará a periodo ejecutivo y se podrán aplicar los recargos del periodo ejecutivo.</p>
    <!-- saber mas -->
    {% call componentDetails({
      "summary": {
        "html": 'Más información sobre estado de deudas y recargos'
      },
      "classes": "mb-base"
    })  %}
    <p class="c-paragraph-base"><strong>¿Por qué estados puede pasar una deuda?</strong></p>
    <ul class="c-ul">
      <li>Una deuda se considera en <strong>periodo voluntario</strong> si aún no ha transcurrido su fecha de vencimiento (fecha límite para pagar sin recargo).</li>
      <li>
        Si la deuda no se paga totalmente durante el periodo voluntario, se inicia el <strong>periodo ejecutivo</strong>, aplicándose recargos del 5%, 10% o 20% en función del momento en que se produzca el pago.
        <ul class="mt-base"><li>Las deudas en periodo ejecutivo podrán enviarse a la Agencia Estatal de Administración Tributaria (AEAT) para su cobro por el procedimiento de apremio, en cuyo caso las verás reflejadas en periodo “<strong>ejecutivo AEAT</strong>”. Una vez iniciado el procedimiento de apremio la deuda deberá pagarse con el <a href="#" class="c-link">recargo de apremio</a>.</li></ul>
      </li>
      <li>Tanto en periodo voluntario como en periodo ejecutivo es posible que una deuda se encuentre <strong>temporalmente suspendida</strong>. En ese caso se paraliza temporalmente el procedimiento para su cobro hasta que se adopte una decisión sobre la causa que motivó la suspensión. En función de la decisión que se adopte, la Administración podrá liquidar intereses de demora, desde la fecha de vencimiento de la deuda, hasta el momento en que se produzca el pago.</li>
      <li>Durante el periodo voluntario y ejecutivo <strong>se puede solicitar el aplazamiento o fraccionamiento</strong> para el pago de la deuda en los términos que regula el Reglamento General de Recaudación (<a href="https://www.aragon.es/-/aplazamiento-o-fraccionamiento-de-pago" class="c-link" target="_blank" title="Se abre en ventana nueva">Aplazamiento o fraccionamiento de pago de deudas en Aragón. Gobierno de Aragón (aragon.es)</a>.</li>
    </ul>
    <p class="c-paragraph-base"><strong>¿Qué recargo pueden aplicarme si no pago en el periodo voluntario? </strong></p>
    <p class="c-paragraph-base">Si no realizas el pago en periodo voluntario o lo realizas una vez finalizado, se exigirá un recargo que variará según el momento en el que se pague la deuda. Los recargos del periodo ejecutivo son de tres tipos:</p>
    <ul class="c-ul">
      <li><strong>Recargo ejecutivo</strong>: es el <strong>5%</strong> del importe principal de la deuda. Se aplica cuando se paga la totalidad de la deuda no ingresada en periodo voluntario antes de la notificación de la providencia de apremio.</li>
      <li><strong>Recargo de apremio reducido</strong>: es el <strong>10%</strong> del importe principal de la deuda y se aplica cuando se paga la totalidad de la deuda no ingresada en periodo voluntario y el propio recargo del 10% en el plazo concedido en la providencia de apremio.</li>
      <li><strong>Recargo de apremio ordinario</strong>: es del <strong>20%</strong> del importe principal de la deuda. Se aplica cuando no se haya ingresado la totalidad de la deuda y del recargo de apremio reducido en el plazo concedido en la providencia de apremio. Este recargo es compatible con los intereses de demora, desde el fin del periodo voluntario hasta la fecha del pago.</li>
    </ul>
    <p class="c-paragraph-base">Consulta <a href="https://www.aragon.es/-/recaudacion" class="c-link" target="_blank" title="Se abre en ventana nueva">recaudación Tributaria en Aragón</a>, para más información sobre estado de las deudas, periodos de pago y recargos.</p>
    {% endcall %}
    <!-- /saber mas -->

    <div class="pb-base"></div>
    <h2 class="c-h3">Gestiona tus recibos y datos del impuesto</h2> 
    <p class="c-paragraph-base">Accede a la <a href="#" class="c-link" target="_blank" title="Se abre en ventana nueva">Oficina de gestión del IMAR</a> para gestionar tus datos, recibos, justificantes de pagos, domiciliaciones, dirección de notificación o avisos de próximos recibos.</p>


  </div>
 
{% endblock %}