{% set title = "Vehículos y transportes - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}
  <div class="flex my-base">
    <div class="flex-1">
      {{ componentButton({
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div>
      {# Boton ayuda desktop #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
        "classes": "c-button--sm mt-sm hidden lg:flex",
        "href": "/"
      })  }}
      {# Boton ayuda mobile #}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
        "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
        "href": "/"
      })  }}
    </div>
  </div> 
  <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
    Vehículos y transportes
  </h1>

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg pb-base">
      Consulta servicios de vehículos y transportes que te pueden interesar y algunos datos relacionados con ellos.
    </p>
    
    <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Quizá te pueda interesar</h2>
    <ul class="mb-xl">
      <li class="mb-base">
        <a href="https://www.aragon.es/tramitador/-/tramite/obtencion-certificado-aptitud-profesional-acreditativo-cualificacion-inicial-formacion-continua-conductores-vehiculos-transporte-carretera" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Obtención del Certificado de Aptitud Profesional (CAP)</a>
      </li>
      <li class="mb-base">
        <a href="https://www.aragon.es/tramitador/-/tramite/ayudas-del-programa-moves-iii" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ayudas del programa MOVES III</a>
        <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 3 febrero 2023</div>
      </li>
      <li class="mb-base">
        <a href="https://www.aragon.es/tramitador/-/tramite/gestion-de-tarjetas-de-tacografo-digital" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Gestión de tarjetas de tacógrafo digital</a>
      </li>
      <li class="mb-base">
        <a href="https://www.aragon.es/tramitador/-/tramite/catalogacion-vehiculo-historico" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Catalogación vehículo como histórico</a>
      </li>
    </ul>

    <h2 class="c-h2 text-xl lg:text-2xl mb-sm pt-sm">Permisos de conducción</h2>
    <div class="px-base border border-neutral-base rounded mb-base">
      <div class="divide-y divide-neutral-base">
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>B: Coches y vehículos ligeros</strong></h3>
              <p><span class="bg-success-light px-xs py-px">Vigente</span></p>
            </div>
            <p>Expedido el 28 septiembre 2022</p>
          </div>
          <div>
            <p>Caduca el 28 septiembre 2026 <span class="mx-xs font-semibold text-alert-base">(Quedan 3 meses)</span></p>
            <p><a href="https://www.dgt.es/nuestros-servicios/permisos-de-conducir/ha-caducado-o-necesitas-una-copia-de-tu-permiso/renovar-un-permiso-proximo-a-caducar/" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Información sobre la renovación</a></p>
          </div>
        </div>
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>C: Camiones</strong></h3>
              <p><span class="bg-success-light px-xs py-px">Vigente</span></p>
            </div>
            <p>Expedido el 28 septiembre 2022</p>
          </div>
          <div>
            <p>Caduca el 28 septiembre 2026</p>
          </div>
        </div>
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>D: Autobuses</strong></h3>
              <p><span class="bg-success-light px-xs py-px">Vigente</span></p>
            </div>
            <p>Expedido el 28 septiembre 2022</p>
          </div>
          <div>
            <p>Caduca el 28 septiembre 2026</p>
          </div>
        </div>
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>DE: Autobuses con remolque</strong></h3>
              <p><span class="bg-success-light px-xs py-px">Vigente</span></p>
            </div>
            <p>Expedido el 28 septiembre 2022</p>
          </div>
          <div>
            <p>Caduca el 28 septiembre 2026</p>
          </div>
        </div>
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>Licencia LCM: Vehículos de movilidad reducida</strong></h3>
              <p><span class="bg-success-light px-xs py-px">Vigente</span></p>
            </div>
            <p>Expedido el 28 septiembre 2022</p>
          </div>
          <div>
            <p>Caduca el 28 septiembre 2026</p>
          </div>
        </div>
        {# permiso #}
        <div class="grid md:grid-cols-2 gap-x-base py-base">
          <div>
            <div class="flex">
              <h3 class="flex-1 mb-xs"><strong>Autorización ADR: Mercancías peligrosas</strong></h3>
              <p><span class="bg-alert-light px-xs py-px">Caducado</span></p>
            </div>
            <p>Expedido el 28 septiembre 2018</p>
          </div>
          <div>
            <p>Caducado el 28 septiembre 2022</p>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-lg"></div>
    <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Mis vehículos</h2>
    {# vehículo #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Seat Ibiza ST | 8540HVK | Gasolina</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-sm",
        "items": [
          {
            "term": {
              "html": 'Primera matriculación'
            },
            "definition": {
              "html": '29 septiembre 2014'
            }
          },
          {
            "term": {
              "html": 'ITV válida hasta'
            },
            "definition": {
              "html": '28 noviembre 2024 <span class="mx-xs font-semibold text-alert-base">(quedan 30 días)</span> <a href="https://www.aragon.es/-/itv-directorio" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Solicitar cita</a>'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {% call componentDetails({
        "summary": {
          "html": "Ver detalle de la ITV"
        }
      })  %}
          {# itv #}
          <div class="pt-base mt-base border-t border-neutral-base">
            <h4 class="mb-sm"><span class="bg-success-light px-xs py-px">ITV favorable</span> el 28 diciembre 2022</h4>
            {{ componentDescriptionList({
              "classes": "grid md:grid-cols-4 gap-base",
              "items": [
                {
                  "term": {
                    "html": 'Fecha de caducidad'
                  },
                  "definition": {
                    "html": '28 septiembre 2022'
                  }
                },
                {
                  "term": {
                    "html": 'Kilometraje'
                  },
                  "definition": {
                    "html": '900.925.399'
                  }
                },
                {
                  "term": {
                    "html": 'Motivo'
                  },
                  "definition": {
                    "html": 'Inspección periódica'
                  },
                  "classes": "md:col-span-2"
                }
              ]
            })  }}
          </div>
          {# itv #}
          <div class="pt-base mt-base border-t border-neutral-base">
            <h4 class="mb-sm"><span class="bg-alert-light px-xs py-px">ITV desfavorable</span> el 26 diciembre 2020</h4>
            {{ componentDescriptionList({
              "classes": "grid md:grid-cols-4 gap-base",
              "items": [
                {
                  "term": {
                    "html": 'Fecha de caducidad'
                  },
                  "definition": {
                    "html": '28 septiembre 2022'
                  }
                },
                {
                  "term": {
                    "html": 'Kilometraje'
                  },
                  "definition": {
                    "html": '900.925.399'
                  }
                },
                {
                  "term": {
                    "html": 'Motivo'
                  },
                  "definition": {
                    "html": 'Inspección no periódica: Voluntaria'
                  },
                  "classes": "md:col-span-2"
                }
              ]
            })  }}
          </div>
          {# itv #}
          <div class="pt-base mt-base border-t border-neutral-base">
            <h4 class="mb-sm"><span class="bg-alert-light px-xs py-px">ITV negativa</span> el 22 diciembre 2018</h4>
            {{ componentDescriptionList({
              "classes": "grid md:grid-cols-4 gap-base",
              "items": [
                {
                  "term": {
                    "html": 'Fecha de caducidad'
                  },
                  "definition": {
                    "html": '28 septiembre 2022'
                  }
                },
                {
                  "term": {
                    "html": 'Kilometraje'
                  },
                  "definition": {
                    "html": '900.925.399'
                  }
                },
                {
                  "term": {
                    "html": 'Motivo'
                  },
                  "definition": {
                    "html": 'Inspección no periódica: Accidente'
                  },
                  "classes": "md:col-span-2"
                }
              ]
            })  }}
          </div>         
      {% endcall %}
    </div>
    

  </div>
{% endblock %}
