{% set title = "Vivienda e inmuebles - Portada. Carpeta ciudadana. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{# Definiciones #}
{% set iconDoc %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-1 mr-sm" aria-label="Archivo adjunto" focusable="false" role="img"><path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h5a.5.5 0 0 1 .354.146l5 5A.5.5 0 0 1 13 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06ZM4.5 3.874a.625.625 0 1 0 0 1.25h2a.625.625 0 1 0 0-1.25h-2ZM3.875 7.5c0-.345.28-.625.625-.625h5a.625.625 0 1 1 0 1.25h-5a.625.625 0 0 1-.625-.625ZM4.5 9.875a.625.625 0 1 0 0 1.25h5a.625.625 0 1 0 0-1.25h-5Z" clip-rule="evenodd"/></svg>
{% endset %}
{% set listaDocs1 %}
  <ul>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconDoc | safe }}
        <span class="flex-1">Certificado catastral del inmueble (PDF 332 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set listaDocs2 %}
  <ul>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconDoc | safe }}
        <span class="flex-1">Certificado catastral del inmueble (PDF 332 Kb)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconDoc | safe }}
        <span class="flex-1">Certificado de valor de referencia (PDF 332 Kb)</span>
      </a>
    </li>
    <li class="my-xs">
      <a href="#" class="c-link inline-flex">
        {{ iconDoc | safe }}
        <span class="flex-1">Certificado de motivación de la solicitud de valor de referencia (PDF 332 Kb)</span>
      </a>
    </li>
  </ul>
{% endset %}
{% set linkModal1 %}
  300.000 € a <a href="#" class="c-link" onclick="openDialog('modal-valor-referencia', this, 'fecha-consulta')">10 septiembre 2022</a>
{% endset %}
{% set linkModal2 %}
  Error, <a href="#" class="c-link" onclick="openDialog('modal-valor-referencia', this, 'fecha-consulta')">volver a intentar</a>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:w-full">
        <!-- subheaderTitle -->
        {% block subheaderTitle %}
          <div class="flex my-base">
            <div class="flex-1">
              {{ componentButton({
                "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg><span class=\"sr-only\">Volver a inicio</span> Inicio",
                "classes": "c-button--transparent",
                "href": "/"
              })  }}
            </div>
            <div>
              {# Boton ayuda desktop #}
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="self-center mr-2" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>Mostrar ayuda',
                "classes": "c-button--sm mt-sm hidden lg:flex",
                "href": "/"
              })  }}
              {# Boton ayuda mobile #}
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-6 h-6 self-center" role="img" aria-label="Mostrar ayuda"><path fill="currentColor" fill-rule="evenodd" d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14ZM7 4c-.69 0-1.25.56-1.25 1.25a.75.75 0 0 1-1.5 0 2.75 2.75 0 1 1 3.5 2.646.75.75 0 1 1-1.5 0V7.25A.75.75 0 0 1 7 6.5 1.25 1.25 0 1 0 7 4Zm1 6.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"/></svg>',
                "classes": "c-button--sm c-button--transparent mt-xs lg:hidden",
                "href": "/"
              })  }}
            </div>
          </div> 
          <h1 class="c-h1 text-2xl lg:text-3xl mb-sm">
            Vivienda e inmuebles
          </h1>
        {% endblock %}
        <!-- /subheaderTitle -->
      </div>  
      <div class="w-full lg:w-3/4">
        <p class="c-paragraph-base lg:c-paragraph-lg mb-lg pb-base">
          Consulta servicios de vivienda e inmuebles que te pueden interesar y algunos datos relacionados.
        </p>
        <h2 class="c-h2 text-xl lg:text-2xl mb-sm">Quizá te pueda interesar</h2>
        <ul class="mb-xl">
          <li class="mb-sm">
            <a href="https://www.aragon.es/tramitador/-/tramite/gestion-de-fianzas-de-arrendamientos-en-regimen-general" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Gestión de fianzas de arrendamientos en régimen general</a>
          </li>
          <li class="mb-sm">
            <a href="https://www.aragon.es/tramitador/-/tramite/ayudas-en-materia-de-rehabilitacion-residencial-para-la-mejora-de-la-eficiencia-energetica-prtr" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Ayudas en materia de rehabilitación residencial para la mejora de la eficiencia energética (PRTR)</a>
          </li>
          <li class="mb-sm">
            <a href="https://www.aragon.es/tramitador/-/tramite/registro-de-solicitantes-de-vivienda-protegida" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Registro de solicitantes de vivienda protegida</a>
            <div class="text-sm mt-xs"><span class="bg-success-light p-xs">En plazo</span> hasta el 1 enero 2023</div>
          </li>
        </ul>
      </div>      
      <div class="w-full">
        <!-- subheaderMenu -->
        {% block subheaderMenu %}
          {{ componentMenuHorizontal({
            "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
            "items": [
              {
                "href": "#",
                "text": "Mis inmuebles",
                "active": true
              },
              {
                "href": "#",
                "text": "Valoraciones previas"
              }
            ],
            "attributes": {
              "aria-labelledby": "cabecera-menu"
            }
          })  }}
        {% endblock %}
        <!-- /subheaderMenu -->
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="w-full lg:w-3/4 mt-lg">
    <h2 class="sr-only">Mis inmuebles</h2>
    <p class="c-paragraph-base lg:c-paragraph-lg mb-lg">
      Si tus inmuebles no están actualizados, puedes revisar los datos en la <a href="https://www.sedecatastro.gob.es/" class="c-link" target="_blank" title="Este enlace se abre en pestaña nueva">Sede Electrónica de Catastro</a>.
    </p>
    {{ componentListbox({
      "id": "tipos-inmuebles",
      "text": "Todos los inmuebles",
      "label": {
        "text": "Tipos de inmuebles",
        "classes": "sr-only"
      },
      "doesChangeButtonText": true,
      "classes": "mb-lg",
      "items": [
        {
          "href": "#",
          "html": "Todos los inmuebles"
        },
        {
          "href": "#",
          "text": "Inmuebles urbanos"
        },
        {
          "href": "#",
          "text": "Inmuebles rústicos"
        }
      ]
    })  }}
    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Luis Buñuel 6, 6ºB, 50514 Tarazona (Zaragoza)</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Referencia catastral'
            },
            "definition": {
              "html": '1234567AB1234A0000AB'
            }
          },
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Urbano'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Derecho'
            },
            "definition": {
              "html": '100.00% de Propiedad'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Residencial'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-5 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Valor del suelo'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor de construcción'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor catastral'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": '<a href="#" class="c-link">Consultar</a>'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Documentos'
            },
            "definition": {
              "html": listaDocs1
            }
          }
        ]
      })  }}
    </div>
    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Luis Buñuel 6, 6ºB, 50514 Tarazona (Zaragoza)</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Referencia catastral'
            },
            "definition": {
              "html": '1234567AB1234A0000AB'
            }
          },
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Urbano'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Derecho'
            },
            "definition": {
              "html": '100.00% de Propiedad'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Residencial'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-5 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Valor del suelo'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor de construcción'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor catastral'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": '<span class="c-spinner inline-block align-middle ml-sm mr-base text-lg text-primary-base" data-module="c-spinner" ></span><span class="align-middle">Consultando</span>'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Documentos'
            },
            "definition": {
              "html": listaDocs1
            }
          }
        ]
      })  }}
    </div>
    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Polígono: 10, parcela: 145, paraje: Vlademontegil, Cadrete (Zaragoza)</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Referencia catastral'
            },
            "definition": {
              "html": '1234567AB1234A0000AB'
            }
          },
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Rústico'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Derecho'
            },
            "definition": {
              "html": '100.00% de Propiedad'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Agrario'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-5 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Valor del suelo'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor de construcción'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor catastral'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": linkModal1
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Documentos'
            },
            "definition": {
              "html": listaDocs2
            }
          }
        ]
      })  }}
    </div>
    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Polígono: 10, parcela: 145, paraje: Vlademontegil, Cadrete (Zaragoza)</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Referencia catastral'
            },
            "definition": {
              "html": '1234567AB1234A0000AB'
            }
          },
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Rústico'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Derecho'
            },
            "definition": {
              "html": '100.00% de Propiedad'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Agrario'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-5 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Valor del suelo'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor de construcción'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor catastral'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": linkModal2
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Documentos'
            },
            "definition": {
              "html": listaDocs2
            }
          }
        ]
      })  }}
    </div>
    {# inmueble #}
    <div class="p-base border border-neutral-base rounded mb-base">
      <h3 class="c-h3">Polígono: 10, parcela: 145, paraje: Vlademontegil, Cadrete (Zaragoza)</h3>
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-3 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Referencia catastral'
            },
            "definition": {
              "html": '1234567AB1234A0000AB'
            }
          },
          {
            "term": {
              "html": 'Tipo de inmueble'
            },
            "definition": {
              "html": 'Rústico'
            },
            "classes": "md:col-span-2"
          },
          {
            "term": {
              "html": 'Derecho'
            },
            "definition": {
              "html": '100.00% de Propiedad'
            }
          },
          {
            "term": {
              "html": 'Uso'
            },
            "definition": {
              "html": 'Agrario'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "classes": "grid md:grid-cols-5 gap-base mb-base",
        "items": [
          {
            "term": {
              "html": 'Valor del suelo'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor de construcción'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor catastral'
            },
            "definition": {
              "html": '1.000 €'
            }
          },
          {
            "term": {
              "html": 'Valor referencia'
            },
            "definition": {
              "html": 'No tiene valor'
            },
            "classes": "md:col-span-2"
          }
        ]
      })  }}
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "html": 'Documentos'
            },
            "definition": {
              "html": listaDocs2
            }
          }
        ]
      })  }}
    </div>
  </div>
{% endblock %}



<!-- modalBlock -->
{% block modalBlock %}
  {% include "includes/_modal-valor-referencia-fecha.njk" %}
{% endblock %}
<!-- /modalBlock -->