{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}


<div class="grid lg:grid-cols-4 gap-x-4">
  {{ componentSelect({
    "id": "select-tipo-via",
    "name": "tipo-via",
    "classes": "lg:w-full",
    "label": {
      "text": "Tipo de vía"
    },
    "items": [
      {
        "value": 1,
        "text": "Calle",
        "selected": true
      },
      {
        "value": 2,
        "text": "Paseo"
      },
      {
        "value": 3,
        "text": "Plaza"
      }
      ,
      {
        "value": 4,
        "text": "Avenida"
      }
    ]
  })  }}
  {{ componentInput({
    "formGroup": {
      "classes": "lg:col-span-3"
    },
    "label": {
      "text": "Vía"
    },
    "id": "input-nombre-via",
    "name": "nombre-via",
    "classes": "w-full"
  })  }} 
</div>

<div class="grid lg:grid-cols-4 gap-x-4">
  <div class="lg:col-span-2 grid grid-cols-4 gap-x-4">
    {{ componentInput({
      "label": {
        "text": "Número"
      },
      "id": "input-numero",
      "name": "numero",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "text": "Escalera"
      },
      "id": "input-escalera",
      "name": "escalera",
      "classes": "w-full"
    })  }}   
    {{ componentInput({
      "label": {
        "text": "Piso"
      },
      "id": "input-piso",
      "name": "piso",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "text": "Puerta"
      },
      "id": "input-puerta",
      "name": "puerta",
      "classes": "w-full"
    })  }} 
  </div>
  {{ componentInput({
    "formGroup": {
      "classes": "lg:col-span-2"
    },
    "label": {
      "text": "Indicaciones adicionales"
    },
    "id": "input-indicaciones",
    "name": "indicaciones",
    "classes": "w-full"
  })  }}
</div>

<div class="grid lg:grid-cols-5 gap-x-4">
  {{ componentInput({
    "label": {
      "text": "Código Postal"
    },
    "id": "input-cpostal",
    "name": "cpostal",
    "classes": "w-44 lg:w-full"
  })  }}
  {{ componentSelect({
    "formGroup": {
        "classes": "lg:col-span-2"
      },
    "id": "select-provincia",
    "name": "provincia",
    "classes": "w-full",
    "label": {
      "text": "Provincia"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona una opción",
        "selected": true,
        "disabled": true,
        "hidden": true
      },
      {
        "value": 1,
        "text": "Option 1"
      },
      {
        "value": 2,
        "text": "Option 2"
      },
      {
        "value": 3,
        "text": "Option 3"
      }
    ]
  })  }}
  {{ componentSelect({
    "formGroup": {
        "classes": "lg:col-span-2"
      },
    "id": "select-municipio",
    "name": "municipio",
    "classes": "w-full",
    "label": {
      "text": "Municipio"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona una opción",
        "selected": true,
        "disabled": true,
        "hidden": true
      },
      {
        "value": 1,
        "text": "Option 1"
      },
      {
        "value": 2,
        "text": "Option 2"
      },
      {
        "value": 3,
        "text": "Option 3"
      }
    ],
    "disabled": true
  })  }}
</div>
