{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

  {{ componentToggle({
    "classes": "c-button c-button--sm c-button--transparent no-underline mb-base",
    "offState": {
      "classes": "",
      "html": '<span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><g transform="scale(3.42857)"><circle cx="7" cy="7" r="2" fill="currentColor" /><path d="m13.47 5.65-.14-.15C12.2 4.28 10.1 2 7 2S1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15C1.8 9.72 3.9 12 7 12s5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7Zm-1.64 1.52C10.53 8.57 9 10 7 10S3.47 8.57 2.17 7.17a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4s3.51 1.41 4.83 2.83a.25.25 0 0 1 0 .34Z" fill="currentColor"/></g></svg>Mostrar filtros</span>'
    },
    "onState": {
      "classes": "",
      "html": '<span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M13.33 5.5c-.2-.21-.43-.46-.69-.72a.25.25 0 0 0-.18-.08.26.26 0 0 0-.17.07l-1.07 1.07a.24.24 0 0 0 0 .35c.21.21.41.42.61.64a.25.25 0 0 1 0 .34C10.57 8.53 9.11 9.93 7.16 10a.28.28 0 0 0-.17.07l-1.38 1.38a.25.25 0 0 0-.06.25.24.24 0 0 0 .19.17A6.4 6.4 0 0 0 7 12c3.1 0 5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7ZM13.78.22a.75.75 0 0 0-1.06 0l-2.47 2.47a.26.26 0 0 1-.29 0A6.51 6.51 0 0 0 7 2C3.9 2 1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15a18.42 18.42 0 0 0 1.71 1.67.21.21 0 0 1 .09.18.23.23 0 0 1-.07.19L.22 12.72a.75.75 0 0 0 0 1.06.75.75 0 0 0 1.06 0l12.5-12.5a.75.75 0 0 0 0-1.06Zm-11.61 7a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4a4.18 4.18 0 0 1 1.24.18.26.26 0 0 1 .17.18.27.27 0 0 1-.07.24L4.18 8.76a.26.26 0 0 1-.33 0 16 16 0 0 1-1.68-1.59Z" fill="currentColor" transform="scale(3.42857)"/></svg>Ocultar filtros</span>'
    },
    "attributes": {
      "onclick": "toggleFilter()"
    }
  })  }}
  <script>
    function toggleFilter() {
      var elements = document.querySelectorAll('[data-module="hint-filtro"]');
      for (var i = 0; i < elements.length; i++) {
        elements[i].classList.toggle('hidden')
      }
    }
  </script>
  <div class="hidden pb-base" data-module="hint-filtro">
    {{ componentMenubar({
      "id": "menu-filtros",
      "idPrefix": "filter-menu",
      "ariaLabel": "Menú de filtros",
      "items": [
        {
          "text": "Tipo",
          "ariaLabel": "Tipo",
          "id": "menu-tipo",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Todos",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Notificaciones"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Comunicaciones"
              }
            ]
          }
        },
        {
          "text": "Estados",
          "ariaLabel": "Estados",
          "id": "menu-estados",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Todos los estados",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Aceptadas"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Pendientes"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Rechazadas"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Fuera de plazo"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Leídas"
              },
              {
                "role": "menuitemcheckbox",
                "text": "No leídas"
              }
            ]
          }
        },
        {
          "text": "Fecha",
          "ariaLabel": "Fecha",
          "id": "menu-fecha",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Recibidos último mes"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Recibidos último año"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Rango de fechas...",
                "checked": true
              }
            ]
          }
        },
        {
          "text": "Eliminar filtros",
          "ariaLabel": "Eliminar filtros",
          "id": "menu-eliminar-filtros",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
    
    <a href="#" onclick="openDialog('modal-fechas', this, 'fechas-filtro')">(--Enlace Modal de fecha--)</a> {# para borrar #}
  </div>