{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

  {{ componentToggle({
    "classes": "c-button c-button--sm c-button--transparent mb-sm",
    "offState": {
      "classes": "",
      "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.71 2.3a1.45 1.45 0 0 0 .14-1.51A1.41 1.41 0 0 0 12.57 0H1.43A1.4 1.4 0 0 0 .15.8a1.43 1.43 0 0 0 .16 1.52l5.13 6.32a.25.25 0 0 1 .06.16v4.7a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.8a.25.25 0 0 1 .06-.16ZM7.6 6.65a.29.29 0 0 1-.2.09h-.8a.29.29 0 0 1-.2-.09L3 2.41a.26.26 0 0 1 0-.27.26.26 0 0 1 .15-.14h7.7a.26.26 0 0 1 .22.14.26.26 0 0 1 0 .27Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Mostrar filtros</span>"
    },
    "onState": {
      "classes": "c-button--has-selection",
      "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.9.8a.51.51 0 0 0 0-.52.51.51 0 0 0-.4-.28H.5a.51.51 0 0 0-.45.28A.51.51 0 0 0 .1.8l5.19 6.79a1 1 0 0 1 .21.61v5.3a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.2a1 1 0 0 1 .21-.61Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Mostrar filtros</span>"
    },
    "attributes": {
      "aria-controls": "id-panel-oculto",
      "onclick": "toggleFilter()"
    }
  })  }}

  <script>
    function toggleFilter() {
      var elements = document.querySelectorAll('[data-module="hint-filtro"]');
      for (var i = 0; i < elements.length; i++) {
        elements[i].classList.toggle('hidden')
      }
    }
  </script>
  <div class="hidden mb-base" data-module="hint-filtro">
    <div class="lg:w-1/2 pb-sm" >
      {{ componentSearchbar({
        "id": "buscador-resultados",
        "label": {
          "text": "Buscar"
        },
        "button": {
          "text": "Buscar",
          "type": "submit",
          "classes": "c-button--primary ml-sm"
        },
        "classes": "flex-1 pr-2",
        "placeholder": "Buscar pago por nombre..."
      })  }}     
    </div>
    {{ componentMenubar({
      "id": "menu-filtros",
      "idPrefix": "filter-menu",
      "ariaLabel": "Menú de filtros",
      "items": [
        {
          "text": "Tipo",
          "ariaLabel": "Tipo",
          "id": "menu-tipo",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipos de pago",          
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "ICA"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tributaria"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Sanciones"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Reintegro de subvención",
                    "checked": true
                  }
                ]
              }
            ]                
          }
        },
        {
          "text": "Estado",
          "ariaLabel": "Estado",
          "id": "menu-estado",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Estado de la deuda",          
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Pagado",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Pagado domiciliado"
                  }
                ]
              }
            ]                
          }
        },        
        {
          "text": "Fecha",
          "ariaLabel": "Fecha",
          "id": "menu-fecha",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [          
              {
                "role": "group",
                "ariaLabel": "Fecha",          
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "2 años"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Seleccionar fechas...",
                    "checked": true
                  }
                ]
              }
            ]                
          }
        },
        {
          "text": "Eliminar filtros",
          "ariaLabel": "Eliminar filtros",
          "id": "menu-eliminar-filtros",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
    
    <a href="#" class="text-sm text-neutral-base" onclick="openDialog('modal-fechas', this, 'fechas-filtro')">(--Enlace Modal de fecha--)</a> {# para borrar #}
  </div>