<div class="dialog-backdrop">
  <div id="modal-rechazar-firma" class="hidden" role="dialog" aria-labelledby="label-rechazar-firma" aria-modal="true">
    {{ componentModal({
      "id": "rechazar-firma",
      "title": {
        "text": "¿Seguro que deseas rechazar la firma del documento?",
        "classes": "c-h2 pr-base text-center"
      },
      "description": {
        "html": '<p class="c-paragraph-base">Si rechazas el documento no tendrás acceso a él y volverá a la persona que lo ha preparado.</p>
                 <div data-maxlength="100">
                  <div class="c-form-group mb-0">
                    <label class="block text-left" for="motivo-rechazo">Indica el motivo del rechazo</label>
                    <textarea class="block w-full mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base js-character-count" id="motivo-rechazo" name="motivo-rechazo" rows="5" aria-describedby="motivo-rechazo-info"></textarea>
                  </div>
                  <p id="motivo-rechazo-info" class="block text-left text-neutral-dark mt-xs text-sm" aria-live="polite">Puedes escribir hasta 100 caracteres</p>
                </div>'
      },
      "itemsPrimary": [
        {
          "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
          "attributes": {
            "onclick": "closeDialog(this)"
          }
        }
      ],
      "itemsSecondary": [
        {
          "html": "Rechazar",
          "classes": "c-button--alert"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-alert-base" aria-label="Pregunta" focusable="false"><g fill="currentColor"><path d="M12 8.5h7a1 1 0 0 0 0-2h-7a1 1 0 0 0 0 2Z"/><path d="M24 4.41A2 2 0 0 0 23.41 3L21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2Z"/><path d="M17.5 12a1 1 0 0 0-1-1h-4a1 1 0 0 0-.65.26.2.2 0 0 0 0 .31A8.32 8.32 0 0 1 13 12.9a.24.24 0 0 0 .19.1h3.31a1 1 0 0 0 1-1ZM6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11Zm2.65 9.15a.75.75 0 0 1-1.06 0l-1.41-1.41a.25.25 0 0 0-.36 0l-1.41 1.41a.75.75 0 0 1-1.06-1.06l1.41-1.41a.25.25 0 0 0 0-.36l-1.41-1.41a.75.75 0 1 1 1.06-1.06l1.41 1.41a.25.25 0 0 0 .36 0l1.41-1.41a.75.75 0 1 1 1.06 1.06l-1.41 1.41a.25.25 0 0 0 0 .36l1.41 1.41a.75.75 0 0 1 0 1.06Z"/></g></svg>'
      },
      "classes": "mt-2xl"
    })  }}
  </div>
</div>