<div class="dialog-backdrop">
  <div id="modal-anular-cita" class="hidden" role="dialog" aria-labelledby="label-anular-cita" aria-modal="true">
    {{ componentModal({
      "id": "anular-cita",
      "title": {
        "text": "¿Seguro que quieres anular la cita?",
        "classes": "c-h2 pr-base text-left"
      },
      "description": {
        "text": "Si anulas la cita se eliminará y deberás solicitar una nueva cita previa, en caso de que la necesites.",
        "classes": "c-paragraph-base pb-xs text-left"
      },
      "itemsPrimary": [
        {
          "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
          "attributes": {
            "onclick": "closeDialog(this)"
          }
        }
      ],
      "itemsSecondary": [
        {
          "html": "Sí, quiero anularla",
          "classes": "c-button--alert"
        }
      ],
      "isDismissible": true,
      "classes": "mt-2xl"
    })  }}
  </div>
</div>