{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}

<div class="dialog-backdrop">
  <div id="modal-valor-referencia" class="hidden" role="dialog" aria-labelledby="consulta-valor-referencia" aria-modal="true">
    <div id="fecha-consulta" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white">
      <h2 id="consulta-valor-referencia" class="c-h2 pr-base focus:outline-none focus:underline" tabindex="-1">Consulta del valor de referencia</h2>
      {# Formulario #}
      <div class="mt-base">
        {{ componentDateInput({
          "id": "fecha-valor-referencia",
          "namePrefix": "fecha-valor-referencia",
          "fieldset": {
            "legend": {
              "text": "Indica la fecha a consultar"
            }
          },
          "hint": {
            "text": "Los valores de los inmuebles varían con el tiempo, por ello es necesario indicar una fecha para que consultemos el valor en esa fecha concreta.",
            "classes": "mb-sm"
          },
          "items": [
            {
              "name": "día",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "mes",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "año",
              "classes": "w-20",
              "attributes": {
                "maxlength": "4"
              }
            }
          ]
        })  }}
      </div>
      {# Botones de la modal #}
      <div class="flex flex-wrap gap-sm w-full justify-between">
        <div class="mt-sm">
          <!-- button -->
          <button class="c-button c-button--primary">
            Consultar valor
          </button>
          <!-- /button -->
        </div>
        <div class="mt-sm">
          <!-- button -->
          <button class="c-button" onclick="closeDialog(this)">
            Cancelar <span class="sr-only">y cerrar la ventana modal</span>
          </button>
          <!-- /button -->
        </div>
      </div>
      {# Aspa de cierre #}
      <div class="absolute top-0 right-0 p-sm lg:p-base">
        <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
        </button>
      </div>
    </div>
  </div>
</div>