{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}

  <div class="dialog-backdrop">
    <div id="modal-fechas" class="hidden" role="dialog" aria-labelledby="fases-expediente1" aria-modal="true">
      <div id="fechas-filtro" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white mt-2xl">
        <h2 id="fases-expediente1" class="c-h2 pr-base focus:outline-none focus:underline" tabindex="-1">Selecciona rango de fecha</h2>
        <p class="c-paragraph-base">Mostrar los elementos recibidos entre las siguientes fechas:</p>
        {# Formulario #}
        <div class="mt-base lg:flex lg:flex-wrap gap-lg">
          {{ componentDateInput({
            "id": "fechadesde",
            "namePrefix": "fechadesde",
            "fieldset": {
              "legend": {
                "text": "Desde"
              }
            },
            "hint": {
              "text": "Por ejemplo, 31 12 2000"
            },
            "items": [
              {
                "name": "día",
                "classes": "w-14",
                "attributes": {
                  "maxlength": "2"
                }
              },
              {
                "name": "mes",
                "classes": "w-14",
                "attributes": {
                  "maxlength": "2"
                }
              },
              {
                "name": "año",
                "classes": "w-20",
                "attributes": {
                  "maxlength": "4"
                }
              }
            ]
          })  }}
          {{ componentDateInput({
            "id": "fechahasta",
            "namePrefix": "fechahasta",
            "fieldset": {
              "legend": {
                "text": "Hasta"
              }
            },
            "hint": {
              "text": "Por ejemplo, 31 12 2001"
            },
            "items": [
              {
                "name": "día",
                "classes": "w-14",
                "attributes": {
                  "maxlength": "2"
                }
              },
              {
                "name": "mes",
                "classes": "w-14",
                "attributes": {
                  "maxlength": "2"
                }
              },
              {
                "name": "año",
                "classes": "w-20",
                "attributes": {
                  "maxlength": "4"
                }
              }
            ]
          })  }}
        </div>
        {# Botones de la modal #}
        <div class="flex flex-wrap gap-sm w-full justify-between">
          <div class="mt-sm">
            <!-- button -->
            <button class="c-button c-button--primary">
              Aplicar filtro
            </button>
            <!-- /button -->
          </div>
          <div class="mt-sm">
            <!-- button -->
            <button class="c-button" onclick="closeDialog(this)">
              Cancelar <span class="sr-only">y cerrar la ventana modal</span>
            </button>
            <!-- /button -->
          </div>
        </div>
        {# Aspa de cierre #}
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>