<div class="dialog-backdrop">
  <div id="modal-rechazar-notificacion" class="hidden" role="dialog" aria-labelledby="label-rechazar-notificacion" aria-modal="true">
    {{ componentModal({
      "id": "rechazar-notificacion",
      "title": {
        "text": "¿Seguro que quieres rechazar la notificación?",
        "classes": "c-h2 pr-base text-left"
      },
      "description": {
        "text": "Si rechazas la notificación no podrás ver su contenido.",
        "classes": "c-paragraph-base pb-xs text-left"
      },
      "itemsPrimary": [
        {
          "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
          "attributes": {
            "onclick": "closeDialog(this)"
          }
        }
      ],
      "itemsSecondary": [
        {
          "html": "Sí, quiero rechazarla",
          "classes": "c-button--alert"
        }
      ],
      "isDismissible": true,
      "classes": "mt-2xl"
    })  }}
  </div>
</div>