{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/pill/_macro.pill.njk" import componentPill %}

  <div class="dialog-backdrop">
    <div id="modal-nota" class="hidden" role="dialog" aria-labelledby="nota-tramite" aria-modal="true">
      <div id="anadir-nota" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white">
        <h2 id="nota-tramite" class="c-h2 pr-base focus:outline-none focus:underline" tabindex="-1">Nota del trámite</h2>
        <p class="c-paragraph-base">Añade una nota a tu trámite para poder identificarlo y encontrarlo más fácilmente.</p>
        {# Formulario #}
        {{ componentCharacterCount({
          "name": "contenido-nota",
          "id": "contenido-nota",
          "maxlength": 20,
          "rows": 1,
          "label": {
            "text": "Contenido de la nota"
          },
          "classes": "w-full mt-base"
        }) }}
        <div class="pb-lg"></div>
        
        <section aria-labelledby="notas-recientes" class="mb-lg">
          <h3 id="notas-recientes" class="c-h4">Notas añadidas recientemente</h3>
          <ul class="flex flex-wrap">
            <li>
              {{ componentPill({
                "text": "Farma Ruiz",
                "classes": "text-sm mr-sm mb-sm"
              }) }}          
            </li>
            <li>
              {{ componentPill({
                "text": "Cliente 83930",
                "classes": "text-sm mr-sm mb-sm"
              }) }}          
            </li>
            <li>
              {{ componentPill({
                "text": "Farmacias",
                "classes": "text-sm mr-sm mb-sm"
              }) }}          
            </li>
            <li>
              {{ componentPill({
                "text": "Vecinos Paseo Calanda",
                "classes": "text-sm mr-sm mb-sm"
              }) }}          
            </li>
            <li>
              {{ componentPill({
                "text": "Asociación de Vecinos",
                "classes": "text-sm mr-sm mb-sm"
              }) }}          
            </li>
          </ul>
          {{ componentButton({
            "text": "Eliminar sugerencias",
            "classes": "c-button--sm c-button--transparent"
          }) }}
        </section>

        {# Botones de la modal #}
        <div class="flex flex-wrap gap-sm w-full justify-between">
          <div class="mt-sm">
            <!-- button -->
            <button class="c-button c-button--primary">
              Guardar
            </button>
            <!-- /button -->
          </div>
          <div class="mt-sm">
            <!-- button -->
            <button class="c-button" onclick="closeDialog(this)">
              Cancelar <span class="sr-only">y cerrar la ventana modal</span>
            </button>
            <!-- /button -->
          </div>
        </div>
        {# Aspa de cierre #}
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>