<div class="p-base bg-primary-light mb-base">
  <h2 class="c-h3">Servicio de ayuda sobre certificados de corriente de pago</h2>
  <p class="c-paragraph-base">Si tienes dudas o quieres más información, puedes contactar con la Sección de Recaudación Ejecutiva a través de los siguientes canales:</p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M23.73 20.92a.89.89 0 0 0 0-1.28L21.1 17a.24.24 0 0 1 0-.35l1.25-1.25a.92.92 0 0 0 .23-.87.9.9 0 0 0-.63-.64l-8.84-2.52A.91.91 0 0 0 12 12.49l2.52 8.84a.92.92 0 0 0 .64.64 1 1 0 0 0 .87-.24l1.13-1.13a.24.24 0 0 1 .35 0l2.64 2.63a.89.89 0 0 0 1.28 0Z" fill="currentColor"/><path d="M8.8 17.78a.25.25 0 0 1 .2-.34 1 1 0 0 0-.33-1.94h-.4a.24.24 0 0 1-.27-.2 14.81 14.81 0 0 1-.38-3.3 15 15 0 0 1 .26-2.8.25.25 0 0 1 .24-.2h8a.25.25 0 0 1 .24.2 11.74 11.74 0 0 1 .18 1.25 1 1 0 0 0 2-.19c0-.34-.07-.66-.12-1a.24.24 0 0 1 .06-.2.22.22 0 0 1 .19-.06h2.8a.25.25 0 0 1 .24.18 9.25 9.25 0 0 1 .3 1.31 1 1 0 0 0 2-.3A12 12 0 1 0 12.12 24a1 1 0 0 0 1-.81c.26-1.52-2.31-1-4.32-5.41ZM5.92 15.2a.3.3 0 0 1 0 .21.25.25 0 0 1-.2.09H2.94a.25.25 0 0 1-.23-.17A9.92 9.92 0 0 1 2.12 12a10.07 10.07 0 0 1 .41-2.82.25.25 0 0 1 .24-.18h2.81a.25.25 0 0 1 .19.09.24.24 0 0 1 .05.2 18.94 18.94 0 0 0-.2 2.71 17.41 17.41 0 0 0 .3 3.2ZM8.85 7a.25.25 0 0 1-.21-.11.23.23 0 0 1 0-.24A10 10 0 0 1 12 2.27a.26.26 0 0 1 .29 0 10 10 0 0 1 3.36 4.38.29.29 0 0 1 0 .24.26.26 0 0 1-.25.11Zm11.68-.39a.24.24 0 0 1 0 .26.24.24 0 0 1-.22.13h-2.25a.26.26 0 0 1-.24-.17 12.7 12.7 0 0 0-1.74-3.48.27.27 0 0 1 0-.31.25.25 0 0 1 .3-.06 10 10 0 0 1 4.15 3.63ZM7.86 3a.26.26 0 0 1 .3.06.27.27 0 0 1 0 .31 13.21 13.21 0 0 0-1.74 3.46.25.25 0 0 1-.23.17H3.92a.26.26 0 0 1-.22-.13.27.27 0 0 1 0-.26A10.09 10.09 0 0 1 7.86 3Zm-3.8 14.9a.23.23 0 0 1 0-.26.24.24 0 0 1 .22-.14h2.07a.24.24 0 0 1 .23.16 13.34 13.34 0 0 0 1.58 3 .23.23 0 0 1 0 .3.24.24 0 0 1-.3.07 10.12 10.12 0 0 1-3.8-3.13Z" fill="currentColor"/></svg>
    <span class="flex-1"><span class="sr-only">Página web</span> <a href="#" class="c-link font-semibold">https://www.aragon.es/-/certificado-de-estar-al-corriente-de-pago</a></span>
  </p> 
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Escribiendo un correo electrónico a <a href="mailto:recaudacion@aragon.es" class="c-link font-semibold">recaudacion@aragon.es</a></span>
  </p> 
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M8.89 13.46a3.44 3.44 0 0 0 4.29-.46l.48-.48a1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0 1.14 1.14 0 0 1-1.62 0L5.14 5.61a1.14 1.14 0 0 1 0-1.61 1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0L1 .82a3.45 3.45 0 0 0-.46 4.29 31.29 31.29 0 0 0 8.35 8.35Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Llamando al teléfono <a href="#" class="c-link font-semibold">976 715 800</a>.</span>
  </p>
</div>