<div class="p-base bg-primary-light mb-base">
  <h2 class="c-h3">Servicio de ayuda Valoraciones</h2>
  <p class="c-paragraph-base mb-sm">Si tienes dudas o quieres más información, puedes consultar información adicional en el <a href="#" class="c-link">servicio de valoraciones inmobiliarias</a></p>
</div>