<div class="p-base bg-primary-light mb-base">
  <h2 class="c-h3">Contacto del Instituto Aragonés de Servicio Sociales (IASS)</h2>
  <p class="c-paragraph-base">Si tienes dudas o necesitas más información contacta con nosotros:</p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M8.89 13.46a3.44 3.44 0 0 0 4.29-.46l.48-.48a1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0 1.14 1.14 0 0 1-1.62 0L5.14 5.61a1.14 1.14 0 0 1 0-1.61 1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0L1 .82a3.45 3.45 0 0 0-.46 4.29 31.29 31.29 0 0 0 8.35 8.35Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Llámanos a Zaragoza: <span class="sr-only">Teléfono</span><a href="#" class="c-link font-semibold">976 701 705</a>,
      Huesca: <span class="sr-only">Teléfono</span><a href="#" class="c-link font-semibold">974 293 333</a> o
      Teruel: <span class="sr-only">Teléfono</span><a href="#" class="c-link font-semibold">978 641 313</a>
    </span>
  </p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Escribiendo un correo a <a href="mailto:iass@aragon.es" class="c-link font-semibold">iass@aragon.es</a></span>
  </p> 
</div>