<div class="p-base bg-primary-light mb-base">
  <h2 class="c-h3">Soporte Técnico</h2>
  <p class="c-paragraph-base">Si tienes dudas puedes ponerte en contacto con el Soporte Técnico de Servicios Digitales de Aragón:</p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Escribiendo un correo a <a href="mailto:soportesae@aragon.es" class="c-link font-semibold">soportesae@aragon.es</a></span>
  </p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="m5.3 9 2.54-.5a.44.44 0 0 0 .27-.14l5.6-5.59a1 1 0 0 0 0-1.42L12.65.29a1 1 0 0 0-1.42 0l-5.59 5.6a.44.44 0 0 0-.14.27l-.44 2.49a.22.22 0 0 0 .07.22.23.23 0 0 0 .17.13Z" fill="currentColor" transform="scale(3.42857)"/><path d="M9.17 9.42A1.92 1.92 0 0 1 8.1 10l-2.78.47a1.73 1.73 0 0 1-1.23-.51 1.77 1.77 0 0 1-.51-1.56L4 5.89a1.93 1.93 0 0 1 .56-1.06L6 3.43a.26.26 0 0 0 0-.28.25.25 0 0 0-.2-.15H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5V8.2a.25.25 0 0 0-.15-.2.26.26 0 0 0-.28 0Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Rellenando este <a href="#" class="c-link font-semibold">Formulario de Solicitud de Soporte Técnico</a></span>
  </p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M12 .09A12 12 0 0 0 0 12a11.73 11.73 0 0 0 2.14 6.77l-1.36 4a.51.51 0 0 0 .12.51.5.5 0 0 0 .51.12l4.19-1.33A11.94 11.94 0 1 0 12 .09Zm7.2 16.72a3.9 3.9 0 0 1-3.5 2.09 10.81 10.81 0 0 1-3.46-1 13.88 13.88 0 0 1-5.94-5.16c-1.92-2.53-2-4.9-.17-6.86a2.21 2.21 0 0 1 1.92-.56 1.53 1.53 0 0 1 1.2.88l.39.92.63 1.51a1.1 1.1 0 0 1 0 1 5.19 5.19 0 0 1-1 1.37 12.83 12.83 0 0 0 1.8 2.14 9 9 0 0 0 2.73 1.64c.28-.37.82-1 1-1.28a1 1 0 0 1 1.34-.35c.38.13 2.51 1.18 2.51 1.18a1.37 1.37 0 0 1 .68.49 2 2 0 0 1-.13 1.99Z" fill="currentColor" transform="scale(2)"/></svg>
    <span class="flex-1">Enviando un WhatsApp a <a href="#" class="c-link font-semibold">+34 973 901 905</a>. Más información sobre el <a href="#" class="c-link font-semibold">canal WhatsApp</a></span>
  </p>
  <p class="c-paragraph-base flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-5 h-5 mr-base" aria-hidden="true" focusable="false"><path d="M8.89 13.46a3.44 3.44 0 0 0 4.29-.46l.48-.48a1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0 1.14 1.14 0 0 1-1.62 0L5.14 5.61a1.14 1.14 0 0 1 0-1.61 1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0L1 .82a3.45 3.45 0 0 0-.46 4.29 31.29 31.29 0 0 0 8.35 8.35Z" fill="currentColor" transform="scale(3.42857)"/></svg>
    <span class="flex-1">Llamando al <span class="sr-only">teléfono</span> <a href="#" class="c-link font-semibold">976 289 414</a>. Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00 (excepto verano y festivos)</span>
  </p>
</div>