<!-- page.footer -->
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{{ componentFooter({
  "meta": {
    "visuallyHiddenTitle": "Enlaces a pie de página",
    "items": [
      {
        "href": "templates/pages/condiciones-uso.html",
        "text": "Condiciones de uso"
      },
      {
        "href": "templates/pages/accesibilidad.html",
        "text": "Accesibilidad"
      },
      {
        "href": "templates/pages/mapa-web.html",
        "text": "Mapa web"
      },
      {
        "href": "https://aragon.refined.site/page/mia",
        "text": "Ayuda",
        "attributes": {
          "target": "_blank",
          "title": "Este enlace se abre en pestaña nueva"
        }
      }
    ],
    "html": 'Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>'
  },
  "classes": "mt-lg lg:mt-48"
})  }}
<!-- /page.footer -->