{% set title = "Maqueta de Páginas Carpeta ciudadana" %}
{% extends "_template.logged-out.njk" %}

{% block contentBlock %}
  
<h1 class="c-h1 mt-lg">MiA / Páginas y Modelos</h1>

{# Primera fila #}
<div class="grid md:grid-cols-3 gap-7 items-start">

  <div>{# Columna izquierda #}
    <h2 class="c-h2">Páginas maquetadas</h2>
    <h3 class="c-h3">Inicio</h3>  
    <ul class="mb-lg text-sm">
      <!--<li class="mb-sm">
        <a class="c-link" href="templates/pages/test-template.html">_Test template</a>
      </li>-->
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/landing.html">Landing</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/acceso-mfe.html">Acceso con MFE</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/bienvenida-paso-1.html">Bienvenida - Paso 1</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/bienvenida-paso-1-error.html">Bienvenida - Paso 1 - Error</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/bienvenida-paso-1-advertencia.html">Bienvenida - Paso 1 - Advertencia</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/bienvenida-paso-2.html">Bienvenida - Paso 2</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/perfil-usuario.html">Perfil de usuario</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/log-out.html">Logout</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/inicio.html">Inicio</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/inicio-busqueda.html">Inicio - Búsqueda</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/inicio-busqueda-vacia.html">Inicio - Búsqueda vacía</a>
      </li>
    </ul>
    <h3 class="c-h3">Mi perfil</h3>   
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mi-perfil-portada.html">Mi perfil - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mi-perfil-historial-consulta.html">Mi perfil - Historial de consulta</a>
      </li>
    </ul>
    <h3 class="c-h3">Notificaciones</h3>   
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificaciones-no-pendientes.html">Notificaciones No pendientes</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificaciones-vacia.html">Notificaciones vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificaciones-pendientes.html">Notificaciones Pendientes</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificaciones-busqueda.html">Notificaciones - Búsqueda</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificacion-detalle.html">Notificaciones - Detalle</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificacion-detalle-rechazada.html">Notificaciones - Detalle - Rechazada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificacion-aceptar.html">Notificaciones - Aceptar</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificacion-aceptar-generando-justificante.html">Notificaciones - Aceptar - Generando justificante</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/notificacion-documento.html">Notificación - Visualizar documento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/comunicacion-detalle.html">Comunicación - Detalle</a>
      </li>
    </ul>  
    <h3 class="c-h3">Trámites</h3>    
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramites-listado.html">Trámites - Listado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramites-listado-vacio.html">Trámites - Listado vacío</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-tramitacion-iniciada.html">Trámites - Detalle de trámite - Seguimiento - Tramitación iniciada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-requiere-subsanacion.html">Trámites - Detalle de trámite - Seguimiento - Requiere subsanación</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-subsanacion-enviada.html">Trámites - Detalle de trámite - Seguimiento - Subsanación enviada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-subsanado-en-tramitacion.html">Trámites - Detalle de trámite - Seguimiento - Subsanado + en tramitación</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-subsanado-aportado-en-tramitacion.html">Trámites - Detalle de trámite - Seguimiento - Subsanado + aportado + en tramitación</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-finalizado.html">Trámites - Detalle de trámite - Seguimiento - Finalizado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-finalizado-acciones-posteriores.html">Trámites - Detalle de trámite - Seguimiento - Finalizado - Acciones posteriores</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-seguimiento-finalizado-acciones-posteriores-justificacion.html">Trámites - Detalle de trámite - Seguimiento - Finalizado - Acciones posteriores - justificación</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-documentos.html">Trámites - Detalle de trámite - Documentos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-notificaciones.html">Trámites - Detalle de trámite - Notificaciones</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-redireccion-tto.html">Trámites - Redirección TTO</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramites-consentimiento-persona-habilitada.html">Trámites - Consentimiento persona habilitada</a>
      </li>
    </ul>
    <h4 class=" -mt-base mb-sm font-bold uppercase text-sm bg-warning-light px-xs">Rediseño Listado Trámites y Detalle:</h4> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramites-listado-redis.html">Trámites - Listado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-mis-registros-vacia.html">Trámites - Detalle de trámite - Mis registros vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-mis-registros.html">Trámites - Detalle de trámite - Mis registros</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-seguimiento-vacia.html">Trámites - Detalle de trámite - Seguimiento vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-seguimiento.html">Trámites - Detalle de trámite - Seguimiento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-documentos-vacia.html">Trámites - Detalle de trámite - Documentos vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramite-detalle-redis-documentos.html">Trámites - Detalle de trámite - Documentos</a>
      </li>
    </ul>
    <h3 class="c-h3">Citas previas</h3>    
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/citas-previas-mis-citas.html">Citas previas - Mis citas</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/citas-previas-representacion-personas.html">Citas previas - Personas a las que representas</a>
      </li>
    </ul>
    <h3 class="c-h3">Tarjetas y carnets</h3>    
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-portada.html">Mis tarjetas y carnets - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-portada-vacia.html">Mis tarjetas y carnets - Portada vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-familia-numerosa.html">Mis tarjetas y carnets - Detalle familia numerosa</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-familia-numerosa-caducado.html">Mis tarjetas y carnets - Detalle familia numerosa caducado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-donante-sangre.html">Mis tarjetas y carnets - Detalle donante de sangre</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-validacion-documentos.html">Mis tarjetas y carnets - Validación de documentos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-validacion-documentos-carne-vigente.html">Mis tarjetas y carnets - Validación de documentos - Carnet vigente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-validacion-documentos-carne-caducado.html">Mis tarjetas y carnets - Validación de documentos - Carnet caducado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-validacion-documentos-carne-no-existe.html">Mis tarjetas y carnets - Validación de documentos - Carnet no existe</a>
      </li>
      <li class="mb-sm">
        <strong>Carnets de Discapacidad</strong>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-A4-plegar.html">Mis tarjetas y carnets - Carnet PDF A4 para plegar</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-mobile-carnet.html">Mis tarjetas y carnets - Carnet PDF para Móvil</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Discapacidad-carnet.html">Mis tarjetas y carnets - Carnet PDF Discapacidad tamaño carnet</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Discapacidad-carnet-impresion-color.html">Mis tarjetas y carnets - Carnet PDF Discapacidad impresión a color</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Discapacidad-carnet-impresion-color-sin-imagen.html">Mis tarjetas y carnets - Carnet PDF Discapacidad impresión a color - Sin imagen</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Discapacidad-carnet-impresion-color-sin-imagen-2.html">Mis tarjetas y carnets - Carnet PDF Discapacidad impresión a color - Sin imagen 2</a>
      </li>
      <li class="mb-sm ml-lg">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Discapacidad-carnet-definitivo.html">Mis tarjetas y carnets - Carnet PDF Discapacidad tamaño carnet</a> <span class="bg-warning-light font-semibold uppercase">definitivo</span>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Pesca-carnet.html">Mis tarjetas y carnets - Carnet PDF Pesca</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-tarjetas-carnes-detalle-Caza-carnet.html">Mis tarjetas y carnets - Carnet PDF Caza</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-portada.html">Mis carnets, certificados y documentos - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-portada-vacia.html">Mis carnets, certificados y documentos - Portada vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-representados.html">Mis carnets, certificados y documentos - Carnets de representados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-animales-lista.html">Mis carnets, certificados y documentos - Carnets de animales - Listado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-animales-detalle-carnet.html">Mis carnets, certificados y documentos - Carnets de animales - Detalle</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-animales-detalle-carnet-sin-vacunar-perros.html">Mis carnets, certificados y documentos - Carnets de animales - Detalle - Sin vacunar perros</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-animales-detalle-carnet-sin-vacunar-gatos.html">Mis carnets, certificados y documentos - Carnets de animales - Detalle - Sin vacunar gatos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/mis-carnets-ceritificados-docs-animales-detalle-carnet-baja-administrativa.html">Mis carnets, certificados y documentos - Carnets de animales - Detalle - Baja administrativa</a>
      </li>
    </ul>
    <h3 class="c-h3">CSV</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-portada.html">CSV - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-detalle-documentos.html">CSV - Detalle de documentos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-detalle-documentos-verificando-firma.html">CSV - Detalle de documentos - Verificando firma</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-detalle-documentos-firma-verificada.html">CSV - Detalle de documentos - Firma verificada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-detalle-expedientes.html">CSV - Detalle de expedientes</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-mensajes-verificacion-1.html">CSV - Mensajes verificación - No existe</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-mensajes-verificacion-2.html">CSV - Mensajes verificación - Necesario login</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-mensajes-verificacion-3.html">CSV - Mensajes verificación - No permitido</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/csv-mensajes-verificacion-4.html">CSV - Mensajes verificación - Sustituido</a>
      </li>      
    </ul>
    <h3 class="c-h3">Firma de documentos</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-listado-firmas.html">Listado de Firmas</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-listado-firmas-gestion-firmas.html">Listado de Firmas - Gestión de muchas firmas</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-listado-firmas-gestion-firmas-seleccionados.html">Listado de Firmas - Gestión de muchas firmas - documentos seleccionados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-listado-firmas-firmar-en-bloque-firmando.html">Listado de Firmas - Firmar en bloque - Firmando</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-listado-firmas-firmar-en-bloque-finalizado.html">Listado de Firmas - Firmar en bloque - Finalizado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle.html">Detalle documento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-contrafirma.html">Detalle documento - Contrafirma</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-quorum.html">Detalle documento - Quorum</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-firmado-cargando-doc.html">Detalle documento - Firmado cargando documento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-firmado-pendiente.html">Detalle documento - Firmado y pendiente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-firmado-todos.html">Detalle documento - Firmado por todos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/firma-docs-detalle-firmado-quorum.html">Detalle documento - Firmado por quorum</a>
      </li>
    </ul>
    <h3 class="c-h3">Plantillas de correo</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/_correo-firma-pendiente-dist.html">Firma pendiente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/_correo-firma-correcta-dist.html">Firma correcta</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/_correo-firma-error-dist.html">Firma error (textos a revisar)</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/_correo-firma-pendiente-v2-dist.html">Firma pendiente <span class="bg-warning-light px-xs">v.2</span></a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/_correo-firma-desde-MiA-solo-footer-SGA.html">Correo Firma desde MiA - solo footer SGA</a>
      </li>
    </ul>
    <h3 class="c-h3">Certificados</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-datos-dependencia.html">Certificado PDF de Datos de dependencia</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-grados-discapacidad.html">Certificado PDF del Grado de discapacidad</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-retenciones-ingresos-manual.html">Certificado PDF de Retenciones e ingresos - firmado manualmente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-retenciones-ingresos-digital.html">Certificado PDF de Retenciones e ingresos - firmado digitalmente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-antecedentes-sexuales.html">Certificado de antecedentes de delitos sexuales</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/pdf-certificado-antecedentes-penales.html">Certificado de antecedentes penales</a>
      </li>
    </ul>
  </div>{# /columna izquierda #}

  <div>{# Columna centro #}
    <h2 class="c-h2">&nbsp;</h2>
    <h3 class="c-h3">Tributos</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-distribuidora.html">Tributos - Distribuidora</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-deudas-listado-vacio.html">Tributos - Consulta de deudas vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-deudas-listado.html">Tributos - Consulta de deudas</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-deudas-ica-listado.html">Tributos - Consulta de deudas ICA o IMAR</a>
      </li>
      <li class="mb-sm">
        <strong>Tributos - Deudas - Detalle:</strong>
      </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-apremio.html">Tributos - Deudas - Detalle apremio</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-ejecutiva.html">Tributos - Deudas - Detalle ejecutiva</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-fraccionada.html">Tributos - Deudas - Detalle fraccionada</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-suspendida.html">Tributos - Deudas - Detalle suspendida</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-voluntaria.html">Tributos - Deudas - Detalle voluntaria</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-pendiente.html">Tributos - Deudas - Detalle pendiente confirmación</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-fraccionada-fraccionamiento.html">Tributos - Deudas - Detalle fraccionada - fraccionamiento</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-fraccionada-interes.html">Tributos - Deudas - Detalle fraccionada - interés</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-fraccionada-aplazamiento.html">Tributos - Deudas - Detalle fraccionada - aplazamiento</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-detalle-fraccionada-aplazamiento-interes.html">Tributos - Deudas - Detalle fraccionada - aplazamiento interés</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-redireccion-pago.html">Tributos - Deudas - Redirección Servicio de Pago</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-apremio.html">Tributos - Deudas ICA - Detalle apremio</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-ejecutiva.html">Tributos - Deudas ICA - Detalle ejecutiva</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-suspendida.html">Tributos - Deudas ICA - Detalle suspendida</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-voluntaria.html">Tributos - Deudas ICA - Detalle voluntaria</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-domiciliado.html">Tributos - Deudas ICA - Detalle domiciliado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-recibo-devuelto.html">Tributos - Deudas ICA - Detalle domiciliado - recibo devuelto</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-deudas-ica-detalle-domiciliado-suspendida.html">Tributos - Deudas ICA - Detalle domiciliado - suspendida</a>
          </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-historial-pagos.html">Tributos - Historial de pagos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-historial-pagos-vacio.html">Tributos - Historial de pagos vacío</a>
      </li>
      <li class="mb-sm">
        <strong>Tributos - Historial de pagos - Detalle:</strong>
      </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-detalle.html">Tributos - Historial de pagos - Detalle</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-detalle-recargos.html">Tributos - Historial de pagos - Detalle con recargos</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-detalle-recargos-liquidacion.html">Tributos - Historial de pagos - Detalle con recargos - Liquidación</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-ica-detalle.html">Tributos - Historial de pagos ICA - Detalle</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-ica-detalle-domiciliado.html">Tributos - Historial de pagos ICA - Detalle - Domiciliado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-ica-detalle-recargos.html">Tributos - Historial de pagos ICA - Detalle con recargos</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/tributos-historial-pagos-ica-detalle-recargos-domiciliado.html">Tributos - Historial de pagos ICA - Detalle con recargos - Domiciliado</a>
          </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-certificado-corriente-pago.html">Tributos - Certificado corriente de pago</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-certificado-corriente-pago-vacio.html">Tributos - Certificado corriente de pago vacío</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles.html">Tributos - Valoraciones de inmuebles</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-vacio.html">Tributos - Valoraciones de inmuebles vacío</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-solicitud-valoracion-previa.html">Tributos - Solicitud de valoración previa</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-solicitud-valoracion-previa-consulta.html">Tributos - Solicitud de valoración previa - Consulta</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-redireccion-tto.html">Tributos - Redirección TTO</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-fraccionamiento-aplazamientos.html">Tributos - Fraccionamiento y aplazamientos</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-fraccionamiento-aplazamientos-detalle-fraccionamiento.html">Tributos - Fraccionamiento y aplazamientos - Detalle fraccionamiento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-fraccionamiento-aplazamientos-detalle-aplazamiento.html">Tributos - Fraccionamiento y aplazamientos - Detalle aplazamiento</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-fraccionamiento-aplazamientos-detalle-fraccionamiento-sin-intereses.html">Tributos - Fraccionamiento y aplazamientos - Detalle fraccionamiento sin intereses</a>
      </li>
    </ul>
    <h4 class=" -mt-base mb-sm font-bold uppercase text-sm bg-warning-light px-xs">Rediseño Tributos Valoraciones de Inmuebles:</h4> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis.html">Tributos - Valoraciones de inmuebles</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-vacio.html">Tributos - Valoraciones de inmuebles vacío</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-consulta.html">Tributos - Valoraciones de inmuebles - Consulta</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-consulta-error.html">Tributos - Valoraciones de inmuebles - Consulta - Errores</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-consultando.html">Tributos - Valoraciones de inmuebles - Consultando</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-consulta-resultado.html">Tributos - Valoraciones de inmuebles - Consulta - Resultado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tributos-valoraciones-inmuebles-redis-iniciar-tramite.html">Tributos - Valoraciones de inmuebles - Iniciar trámite</a>
      </li>
    </ul>

    <h3 class="c-h3">IASS</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-portada-vacia.html">Servicios Sociales - IASS - Portada vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-portada-prestaciones.html">Servicios Sociales - IASS - Portada Prestaciones</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-id-insuficiente.html">Servicios Sociales - IASS - Nivel de identificación insuficiente</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-no-datos-no-representados.html">Dependencia y Discapacidad - Sin datos y sin representados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-no-datos-si-representados.html">Dependencia y Discapacidad - Sin datos y con representados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-no-representados-inicial.html">Dependencia y Discapacidad - Con datos y sin representados - Tramitación inicial</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-no-representados.html">Dependencia y Discapacidad - Con datos y sin representados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-no-representados-revision.html">Dependencia y Discapacidad - Con datos y sin representados - Revisión</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-no-representados-aviso.html">Dependencia y Discapacidad - Con datos y sin representados - Aviso</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-no-representados-sin-grado.html">Dependencia y Discapacidad - Con datos y sin representados - Sin grado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-si-representados.html">Dependencia y Discapacidad - Con datos y con representados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-si-representados-sin-dependencia.html">Dependencia y Discapacidad - Con datos y con representados - Sin dependencia</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-si-datos-si-representados-sin-discapacidad.html">Dependencia y Discapacidad - Con datos y con representados - Sin discapacidad</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-detalle-persona-represantada.html">Dependencia y Discapacidad - Detalle Persona representada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/iass-dependencia-discapacidad-detalle-persona-autorizada.html">Dependencia y Discapacidad - Detalle Persona autorizada</a>
      </li>
    </ul>
    <h3 class="c-h3">Vivienda e inmuebles</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/vivienda-inmuebles-portada.html">Vivienda e inmuebles - Portada</a>
      </li>
    </ul>
    <h3 class="c-h3">Educación y formación</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/educacion-formacion-portada.html">Educación y formación - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/educacion-formacion-portada-vacia.html">Educación y formación - Portada vacía</a>
      </li>
    </ul>
    <h3 class="c-h3">Vehículos y transportes</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/vehiculos-transportes-portada.html">Vehículos y transportes - Portada</a>
      </li>
    </ul>
    <h3 class="c-h3">Juventud</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/juventud-portada-carne.html">Juventud - Portada con carnet</a>
      </li>
    </ul>
    <h3 class="c-h3">Banco de sangre</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/sangre-portada.html">Donación de sangre - Portada</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/sangre-portada-sin-datos.html">Donación de sangre - Portada sin datos</a>
      </li>
    </ul>
    <h3 class="c-h3">Justicia</h3> 
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/justicia-portada.html">Justicia - Portada</a>
      </li>
    </ul>
  </div>{# /columna centro #}

  <div>{# Columna derecha #}
    <h2 class="c-h2">&nbsp;</h2>
    <h3 class="c-h3">Oposiciones</h3>  
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-busqueda-vacia.html">Oposiciones - Búsqueda vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-busqueda.html">Oposiciones - Búsqueda</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-busqueda-resultados.html">Oposiciones - Búsqueda resultados</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-detalle-plazo-abierto.html">Oposiciones - Detalle plazo abierto</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-redireccion-oep.html">Oposiciones - Redirección OEP</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-mis-oposiciones-no-login.html">Oposiciones - Mis oposiciones - No login</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-mis-oposiciones-login-vacia.html">Oposiciones - Mis oposiciones - Login vacía</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-mis-oposiciones-listado.html">Oposiciones - Mis oposiciones - Listado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/oposiciones-mis-oposiciones-listado-multiple.html">Oposiciones - Mis oposiciones - Listado <span class="bg-warning-light">Solicitud múltiple</span></a>
      </li>
      <li class="mb-sm">
        <strong>Oposiciones - Info convocatorias:</strong>
      </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazoabierto-pendiente-pagar-presentar.html">Plazo abierto - Pendiente de pagar y presentar</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazoabierto-pendiente-presentar.html">Plazo abierto - Pendiente de presentar</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazoabierto-pendiente-pagar-presentar-multiple.html">Plazo abierto - Pendiente de pagar y presentar <span class="bg-warning-light">(Solicitud múltiple)</span></a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-pub.html">Plazo cerrado (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-solicitud-presentada.html">Plazo cerrado - Solicitud presentada</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-solicitud-no-finalizada.html">Plazo cerrado - Solicitud no finalizada a tiempo</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-tribunal-constituido-pub.html">Plazo cerrado - Tribunal constituido (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-tribunal-constituido.html">Plazo cerrado - Tribunal constituido</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-admitido-provisional-pub.html">Plazo cerrado - Admitido provisional (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-admitido-provisional.html">Plazo cerrado - Admitido provisional</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link " href="templates/pages/opos-info-plazocerrado-admitido-provisional-multiple.html">Plazo cerrado - Admitido provisional <span class="bg-warning-light">(Solicitud múltiple)</span></a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-excluido-provisional.html">Plazo cerrado - Excluido provisional</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-admitido-definitivo-pub.html">Plazo cerrado - Admitido definitivo (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-admitido-definitivo.html">Plazo cerrado - Admitido definitivo</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-plazocerrado-excluido-definitivo.html">Plazo cerrado - Excluido definitivo</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-convocado-pub.html">En proceso - Examen convocado (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-convocado.html">En proceso - Examen convocado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-finalizado-pub.html">En proceso - Examen finalizado (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-finalizado.html">En proceso - Examen finalizado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-lectura-convocada-pub.html">En proceso - Examen lectura convocada (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-lectura-convocada.html">En proceso - Examen lectura convocada</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-notas-publicadas-pub.html">En proceso - Examen notas publicadas (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-notas-publicadas-aprobado.html">En proceso - Examen notas publicadas - aprobado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-notas-publicadas-suspendido.html">En proceso - Examen notas publicadas - suspendido</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-apertura-plicas-pub.html">En proceso - Examen apertura de plicas (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-apertura-plicas.html">En proceso - Examen apertura de plicas</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-relacion-aprobados-pub.html">En proceso - Examen relación de aprobados (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-relacion-aprobados-aprobado.html">En proceso - Examen relación de aprobados - aprobado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-examen-relacion-aprobados-suspendido.html">En proceso - Examen relación de aprobados - suspendido</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-oposicion-relacion-aprobados-pub.html">En proceso - Fase oposición relación de aprobados (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-oposicion-relacion-aprobados-aprobado.html">En proceso - Fase oposición relación de aprobados - aprobado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-meritos-abierto-pub.html">En proceso - Fase concurso aportación de méritos abierto (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-meritos-abierto.html">En proceso - Fase concurso aportación de méritos abierto</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-meritos-finalizado-pub.html">En proceso - Fase concurso aportación de méritos finalizado (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-meritos-finalizado.html">En proceso - Fase concurso aportación de méritos finalizado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-puntuacion-pub.html">En proceso - Fase concurso puntuación (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-concurso-puntuacion.html">En proceso - Fase concurso puntuación</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-puntuacion-pub.html">En proceso - Resolución final puntuación (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-puntuacion.html">En proceso - Resolución final puntuación</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-aprobados-pub.html">En proceso - Resolución final aprobados (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-aprobados-suspendido.html">En proceso - Resolución final aprobados - suspendido</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-aprobados-aprobado.html">En proceso - Resolución final aprobados - aprobado</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-plazo-docu-pub.html">En proceso - Resolución final documentación finalizada (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-plazo-docu.html">En proceso - Resolución final documentación finalizada</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-funcionario-practicas-pub.html">En proceso - Resolución final nombramiento funcionarios en prácticas (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-enproceso-resolucion-funcionario-practicas.html">En proceso - Resolución final nombramiento funcionarios en prácticas</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-finalizada-resolucion-funcionario-carrera-pub.html">Finalizada - Resolución final nombramiento funcionarios de carrera (pública)</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-finalizada-resolucion-funcionario-carrera.html">Finalizada - Resolución final nombramiento funcionarios de carrera</a>
          </li>
          <li class="mb-sm ml-lg">
            <a class="c-link" href="templates/pages/opos-info-finalizada-documentos.html">Finalizada - Documentos</a>
          </li>
    </ul>   
  </div>{# /columna derecha #}

</div>

<hr class="border-neutral-base my-base"><!--linea separadora-->
<div class="pb-lg"></div><!--espaciador-->

{# Segunda fila #}
<div class="grid md:grid-cols-3 gap-7 items-start">
  <div>{# Columna izquierda #}
    <h3 class="c-h3">Gestor de identidad de Gobierno de Aragón (DIGA)</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/diga-metodos-acceso.html">Métodos de acceso</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/diga-acceso-pin-salud.html">Acceso con PIN Salud</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/diga-acceso-pin-salud-doble-paso-1.html">Acceso con PIN Salud - Doble autenticación Paso 1</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/diga-acceso-pin-salud-doble-paso-2.html">Acceso con PIN Salud - Doble autenticación Paso 2</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/diga-acceso-pin-salud-doble-paso-2-boton-loader.html">Acceso con PIN Salud - Doble autenticación Paso 2 (botón loader)</a>
      </li>
    </ul>
  </div>
</div>

<hr class="border-neutral-base my-base"><!--linea separadora-->
<div class="pb-lg"></div><!--espaciador-->

{# Tercera fila #}
<div class="grid md:grid-cols-3 gap-7 items-start">

  <div>{# Columna izquierda #}
    <h2 class="c-h2">Modelos de estructura</h2>
    <h3 class="c-h3">Estructura principal</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-normal.html">Estructura normal de página</a> [100/]
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-aside.html">Estructura de página con aside</a>  [75/25]
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-subheader-menu-horizontal.html">Estructura con subheader y menú horizontal</a>
      </li>
    </ul>
    <h3 class="c-h3">Pruebas</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/prueba-pasos-collapsibles.html">[ Prueba de pasos collapsibles ]</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/tramites-accordion-history.html">[ Trámites accordion history ]</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/prueba-accordion-history-ruptura.html">[ Prueba de ruptura en accordion history ]</a>
      </li>
    </ul>
    <!--<h3 class="c-h3">Estructura de edición</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-edicion.html">Estructura de Edición normal</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-edicion-menu-lateral.html">Estructura de Edición con menú lateral</a>
      </li>
    </ul>-->   
  </div>{# /columna izquierda #}

</div>
{% endblock %}